Repository k8s-operatorhub/community-operators, pull requests merged in 2021-09, with the labels that each got.

#165 operators kubernetes-imagepuller-operator (0.0.9)
  operators/kubernetes-imagepuller-operator/0.0.9/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.9/kubernetes-imagepuller-operator.v0.0.9.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#168 operators [N] [CI] datatrucker-operator (1.3.0)
  operators/datatrucker-operator/1.3.0/bundle.Dockerfile
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.0/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.0/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.0/tests/scorecard/config.yaml
  operators/datatrucker-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#172 operators appdynamics-operator (0.6.10)
  operators/appdynamics-operator/0.6.10/appdynamics-operator.v0.6.10.clusterserviceversion.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_adams_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_clusteragents_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_clustercollectors_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_infravizs_crd.yaml
  operators/appdynamics-operator/appdynamics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#169 operators noobaa-operator (5.8.0)
  operators/noobaa-operator/5.8.0/backingstores.noobaa.io.crd.yaml
  operators/noobaa-operator/5.8.0/bucketclasses.noobaa.io.crd.yaml
  operators/noobaa-operator/5.8.0/namespacestores.noobaa.io.crd.yaml
  operators/noobaa-operator/5.8.0/noobaa-operator.v5.8.0.clusterserviceversion.yaml
  operators/noobaa-operator/5.8.0/noobaas.noobaa.io.crd.yaml
  operators/noobaa-operator/noobaa-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#177 operators ibmcloud-operator (1.0.11)
  operators/ibmcloud-operator/1.0.11/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.11/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.11/ibmcloud_operator.v1.0.11.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#166 operators t8c (8.2.0)
  operators/t8c/8.2.0/t8c-operator.v8.2.0.clusterserviceversion.yaml
  operators/t8c/8.2.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#179 operators poison-pill-operator (0.1.4)
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.4/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#178 operators redis-operator (0.8.0)
  operators/redis-operator/0.8.0/manifests/redis-operator.v0.8.0.clusterserviceversion.yaml
  operators/redis-operator/0.8.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.8.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.8.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#176 operators [N] [CI] sigstore-helm-operator (0.0.1)
  operators/sigstore-helm-operator/0.0.1/Dockerfile
  operators/sigstore-helm-operator/0.0.1/manifests/helm.sigstore.dev_rekors.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-controller-manager_v1_serviceaccount.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-manager-config_v1_configmap.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sigstore-helm-operator/0.0.1/manifests/sigstore-helm-operator.clusterserviceversion.yaml
  operators/sigstore-helm-operator/0.0.1/metadata/annotations.yaml
  operators/sigstore-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/sigstore-helm-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#174 operators ibm-spectrum-scale-csi-operator (2.3.0)
  operators/ibm-spectrum-scale-csi-operator/2.3.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.3.0/ibm-spectrum-scale-csi-operator.v2.3.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#181 operators victoriametrics-operator (0.18.2)
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.2/victoriametrics-operator.0.18.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#185 operators datatrucker-operator (1.3.1)
  operators/datatrucker-operator/1.3.1/bundle.Dockerfile
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.1/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.1/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#184 operators camel-k (1.6.0)
  operators/camel-k/1.6.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/camel-k.v1.6.0.clusterserviceversion.yaml
  operators/camel-k/1.6.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.6.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#154 operators jaeger (1.25.0)
  operators/jaeger/1.25.0/jaeger.v1.25.0.clusterserviceversion.yaml
  operators/jaeger/1.25.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#190 operators hive-operator (1.1.16)
  operators/hive-operator/1.1.16/hive-operator.v1.1.16.clusterserviceversion.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.16/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.16/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#193 operators [CI] snyk-operator
  operators/snyk-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#191 operators snyk-operator (1.66.6)
  operators/snyk-operator/1.66.6/snyk-operator.v1.66.6.clusterserviceversion.yaml
  operators/snyk-operator/1.66.6/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#194 operators kogito-operator (1.11.0)
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.11.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.11.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.11.0/metadata/annotations.yaml
  operators/kogito-operator/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#195 operators portworx (1.5.1)
  operators/portworx/1.5.1/core_v1_storagecluster_crd.yaml
  operators/portworx/1.5.1/core_v1_storagenode_crd.yaml
  operators/portworx/1.5.1/portworxoperator.v1.5.1.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#197 operators [N] [CI] aws-auth-operator (0.1.0)
  operators/aws-auth-operator/0.1.0/manifests/auth.ops42.org_awsauthsyncconfigs.crd.yaml
  operators/aws-auth-operator/0.1.0/manifests/aws-auth-operator.v0.1.0.clusterserviceversion.yaml
  operators/aws-auth-operator/0.1.0/metadata/annotations.yaml
  operators/aws-auth-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#196 operators [CI] datatrucker-operator (1.3.2)
  operators/datatrucker-operator/1.3.2/bundle.Dockerfile
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/1.3.2/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/1.3.2/metadata/annotations.yaml
  operators/datatrucker-operator/1.3.2/tests/scorecard/config.yaml
  operators/datatrucker-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#200 operators universal-crossplane (1.3.1-up.1)
  operators/universal-crossplane/1.3.1-up.1/Dockerfile
  operators/universal-crossplane/1.3.1-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane.1.3.1-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.3.1-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.3.1-up.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#198 operators hazelcast-jet-operator (0.6.0)
  operators/hazelcast-jet-operator/0.6.0/hazelcast-jet-operator.v0.6.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.6.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#199 operators hazelcast-jet-enterprise-operator (0.6.0)
  operators/hazelcast-jet-enterprise-operator/0.6.0/hazelcast-jet-enterprise-operator.v0.6.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.6.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#203 operators [R] atlasmap-operator (0.4.0 0.4.1)
  operators/atlasmap-operator/0.4.0/atlasmap-operator.clusterserviceversion.yaml
  operators/atlasmap-operator/0.4.0/atlasmap.io_atlasmaps.yaml
  operators/atlasmap-operator/0.4.1/atlasmap-operator.clusterserviceversion.yaml
  operators/atlasmap-operator/0.4.1/atlasmap.io_atlasmaps.yaml
  operators/atlasmap-operator/atlasmap-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#204 operators qserv-operator (2021.9.1-rc1)
  operators/qserv-operator/2021.9.1-rc1/manifests/qserv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/qserv-operator/2021.9.1-rc1/manifests/qserv-operator-controller-manager_v1_serviceaccount.yaml
  operators/qserv-operator/2021.9.1-rc1/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/qserv-operator/2021.9.1-rc1/manifests/qserv-operator.clusterserviceversion.yaml
  operators/qserv-operator/2021.9.1-rc1/manifests/qserv.lsst.org_qservs.yaml
  operators/qserv-operator/2021.9.1-rc1/metadata/annotations.yaml
  operators/qserv-operator/2021.9.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#206 operators cloud-native-postgresql (1.8.0)
  operators/cloud-native-postgresql/1.8.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.8.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  operators/cloud-native-postgresql/1.8.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.8.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.8.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.8.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.8.0/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#207 operators service-binding-operator (0.10.0)
  operators/service-binding-operator/0.10.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.10.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/0.10.0/manifests/service.binding_servicebindings.yaml
  operators/service-binding-operator/0.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#208 operators knative-operator (0.25.2)
  operators/knative-operator/0.25.2/knative-operator.v0.25.2.clusterserviceversion.yaml
  operators/knative-operator/0.25.2/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/0.25.2/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#209 operators flux (0.17.1)
  operators/flux/0.17.1/manifests/alert.crd.yaml
  operators/flux/0.17.1/manifests/bucket.crd.yaml
  operators/flux/0.17.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.17.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.1/manifests/flux.v0.17.1.clusterserviceversion.yaml
  operators/flux/0.17.1/manifests/gitrepository.crd.yaml
  operators/flux/0.17.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/helmchart.crd.yaml
  operators/flux/0.17.1/manifests/helmrelease.crd.yaml
  operators/flux/0.17.1/manifests/helmrepository.crd.yaml
  operators/flux/0.17.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.17.1/manifests/imagerepository.crd.yaml
  operators/flux/0.17.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.17.1/manifests/kustomization.crd.yaml
  operators/flux/0.17.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/notification-controller.service.yaml
  operators/flux/0.17.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/provider.crd.yaml
  operators/flux/0.17.1/manifests/receiver.crd.yaml
  operators/flux/0.17.1/manifests/source-controller.service.yaml
  operators/flux/0.17.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.17.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.17.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#205 operators hive-operator (1.2.3179-0756b70e6)
  operators/hive-operator/1.2.3179-0756b70e6/hive-operator.v1.2.3179-0756b70e6.clusterserviceversion.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3179-0756b70e6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#213 operators [O] universal-crossplane (1.3.1-up.1)
  operators/universal-crossplane/1.3.1-up.1/manifests/universal-crossplane.1.3.1-up.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#214 operators starboard-operator (0.12.0)
  operators/starboard-operator/0.12.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.12.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.12.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.12.0/starboard-operator.v0.12.0.clusterserviceversion.yaml
  operators/starboard-operator/0.12.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#215 operators kogito-operator (1.11.1)
  operators/kogito-operator/1.11.1/Dockerfile
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.11.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.11.1/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.11.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.11.1/metadata/annotations.yaml
  operators/kogito-operator/1.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#218 operators portworx (1.5.2)
  operators/portworx/1.5.2/core_v1_storagecluster_crd.yaml
  operators/portworx/1.5.2/core_v1_storagenode_crd.yaml
  operators/portworx/1.5.2/portworxoperator.v1.5.2.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#220 operators kiali (1.40.1)
  operators/kiali/1.40.1/bundle.Dockerfile
  operators/kiali/1.40.1/manifests/kiali.crd.yaml
  operators/kiali/1.40.1/manifests/kiali.v1.40.1.clusterserviceversion.yaml
  operators/kiali/1.40.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#221 operators cluster-impairment-operator (1.0.4)
  operators/cluster-impairment-operator/1.0.4/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.4/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.4/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#222 operators pcc-operator (0.1.1)
  operators/pcc-operator/0.1.1/bundle.Dockerfile
  operators/pcc-operator/0.1.1/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.1/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.1/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.1/manifests/pcc-operator.v0.1.1.clusterserviceversion.yaml
  operators/pcc-operator/0.1.1/metadata/annotations.yaml
  operators/pcc-operator/0.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#219 operators ditto-operator (0.3.1)
  operators/ditto-operator/0.3.1/ditto-operator.v0.3.1.clusterserviceversion.yaml
  operators/ditto-operator/0.3.1/ditto.yaml
  operators/ditto-operator/ditto-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#223 operators elastic-cloud-eck (1.8.0)
  operators/elastic-cloud-eck/1.8.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/elastic-cloud-eck.v1.8.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/1.8.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.8.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#224 operators flux (0.17.2)
  operators/flux/0.17.2/manifests/alert.crd.yaml
  operators/flux/0.17.2/manifests/bucket.crd.yaml
  operators/flux/0.17.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.17.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.17.2/manifests/flux.v0.17.2.clusterserviceversion.yaml
  operators/flux/0.17.2/manifests/gitrepository.crd.yaml
  operators/flux/0.17.2/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/helmchart.crd.yaml
  operators/flux/0.17.2/manifests/helmrelease.crd.yaml
  operators/flux/0.17.2/manifests/helmrepository.crd.yaml
  operators/flux/0.17.2/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.17.2/manifests/imagerepository.crd.yaml
  operators/flux/0.17.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.17.2/manifests/kustomization.crd.yaml
  operators/flux/0.17.2/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/notification-controller.service.yaml
  operators/flux/0.17.2/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/provider.crd.yaml
  operators/flux/0.17.2/manifests/receiver.crd.yaml
  operators/flux/0.17.2/manifests/source-controller.service.yaml
  operators/flux/0.17.2/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.17.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.17.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#225 operators [CI] openshift-qiskit-operator (0.2.1)
  operators/openshift-qiskit-operator/0.2.1/openshift-qiskit-operator.v0.2.1.clusterserviceversion.yaml
  operators/openshift-qiskit-operator/0.2.1/qiskit.ibm.com_qiskitplaygrounds.yaml
  operators/openshift-qiskit-operator/ci.yaml
  operators/openshift-qiskit-operator/openshift-qiskit-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#229 operators victoriametrics-operator (0.19.0)
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.19.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.19.0/victoriametrics-operator.0.19.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.19.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#230 operators ibm-block-csi-operator-community (1.7.0)
  operators/ibm-block-csi-operator-community/1.7.0/bundle-1.7.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.7.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.7.0/manifests/ibm-block-csi-operator.v1.7.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#227 operators [N] [CI] k8gb (0.0.1)
  operators/k8gb/0.0.1/manifests/externaldns.k8s.io_dnsendpoints.yaml
  operators/k8gb/0.0.1/manifests/hook-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/k8gb/0.0.1/manifests/hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/k8gb/0.0.1/manifests/hook-sa_v1_serviceaccount.yaml
  operators/k8gb/0.0.1/manifests/k8gb-coredns_v1_configmap.yaml
  operators/k8gb/0.0.1/manifests/k8gb-coredns_v1_service.yaml
  operators/k8gb/0.0.1/manifests/k8gb-external-dns-viewer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/k8gb/0.0.1/manifests/k8gb-external-dns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k8gb/0.0.1/manifests/k8gb-external-dns_v1_serviceaccount.yaml
  operators/k8gb/0.0.1/manifests/k8gb.absa.oss_gslbs.yaml
  operators/k8gb/0.0.1/manifests/k8gb.clusterserviceversion.yaml
  operators/k8gb/0.0.1/metadata/annotations.yaml
  operators/k8gb/0.0.1/tests/scorecard/.gitignore
  operators/k8gb/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#233 operators knative-operator (0.26.1)
  operators/knative-operator/0.26.1/knative-operator.v0.26.1.clusterserviceversion.yaml
  operators/knative-operator/0.26.1/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/0.26.1/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#234 operators [CI] hive-operator (1.2.3222-1411793)
  operators/hive-operator/1.2.3222-1411793/hive-operator.v1.2.3222-1411793.clusterserviceversion.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3222-1411793/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3222-1411793/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/ci.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#235 operators kubeturbo (8.2.0)
  operators/kubeturbo/8.2.0/kubeturbo-operator.v8.2.0.clusterserviceversion.yaml
  operators/kubeturbo/8.2.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#236 operators t8c (42.0.0)
  operators/t8c/42.0.0/t8c-operator.v42.0.0.clusterserviceversion.yaml
  operators/t8c/42.0.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#232 operators [O] openshift-qiskit-operator (0.2.1)
  operators/openshift-qiskit-operator/0.2.1/openshift-qiskit-operator.v0.2.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#239 operators t8c (42.1.0)
  operators/t8c/42.1.0/t8c-operator.v42.1.0.clusterserviceversion.yaml
  operators/t8c/42.1.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#242 operators service-binding-operator (0.11.0)
  operators/service-binding-operator/0.11.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/0.11.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.11.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/0.11.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/0.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#240 operators dell-csi-operator (1.5.0)
  operators/dell-csi-operator/1.5.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.5.0/dell-csi-operator.v1.5.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#243 operators [O] service-binding-operator (0.11.0)
  operators/service-binding-operator/0.11.0/manifests/service-binding-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#244 operators victoriametrics-operator (0.19.1)
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.19.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.19.1/victoriametrics-operator.0.19.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.19.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#238 operators kubeturbo (8.3.0)
  operators/kubeturbo/8.3.0/kubeturbo-operator.v8.3.0.clusterserviceversion.yaml
  operators/kubeturbo/8.3.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#245 operators hive-operator (2.4.3180-7299056)
  operators/hive-operator/2.4.3180-7299056/hive-operator.v2.4.3180-7299056.clusterserviceversion.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3180-7299056/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3180-7299056/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated
