Repository k8s-operatorhub/community-operators, pull requests merged in 2021-12, with the labels that each got.

#455 operators k8gb (0.8.5)
  operators/k8gb/0.8.5/manifests/coredns.serviceaccount.yaml
  operators/k8gb/0.8.5/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.8.5/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.8.5/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.8.5/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.8.5/manifests/k8gb.serviceaccount.yaml
  operators/k8gb/0.8.5/manifests/k8gb.v0.8.5.clusterserviceversion.yaml
  operators/k8gb/0.8.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#456 operators flux (0.24.0)
  operators/flux/0.24.0/manifests/alert.crd.yaml
  operators/flux/0.24.0/manifests/bucket.crd.yaml
  operators/flux/0.24.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.24.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.0/manifests/flux.v0.24.0.clusterserviceversion.yaml
  operators/flux/0.24.0/manifests/gitrepository.crd.yaml
  operators/flux/0.24.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/helmchart.crd.yaml
  operators/flux/0.24.0/manifests/helmrelease.crd.yaml
  operators/flux/0.24.0/manifests/helmrepository.crd.yaml
  operators/flux/0.24.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.24.0/manifests/imagerepository.crd.yaml
  operators/flux/0.24.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.24.0/manifests/kustomization.crd.yaml
  operators/flux/0.24.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/notification-controller.service.yaml
  operators/flux/0.24.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/provider.crd.yaml
  operators/flux/0.24.0/manifests/receiver.crd.yaml
  operators/flux/0.24.0/manifests/source-controller.service.yaml
  operators/flux/0.24.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.24.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.24.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#454 operators grafana-operator (4.1.0)
  operators/grafana-operator/4.1.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.1.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.1.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.1.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.1.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#457 operators [CI] grafana-operator
  operators/grafana-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#448 operators [N] [CI] cass-operator-community (1.9.0)
  operators/cass-operator-community/1.9.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.9.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.9.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.9.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.9.0/metadata/annotations.yaml
  operators/cass-operator-community/1.9.0/tests/scorecard/config.yaml
  operators/cass-operator-community/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#458 operators starboard-operator (0.13.1)
  operators/starboard-operator/0.13.1/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.1/starboard-operator.v0.13.1.clusterserviceversion.yaml
  operators/starboard-operator/0.13.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#460 operators [O] knative-operator (1.0.0)
  operators/knative-operator/1.0.0/knative-operator.v1.0.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#461 operators opentelemetry-operator (0.39.0)
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.39.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.39.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.39.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#465 operators k8gb (0.8.6)
  operators/k8gb/0.8.6/manifests/coredns.serviceaccount.yaml
  operators/k8gb/0.8.6/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.8.6/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.8.6/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.8.6/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.8.6/manifests/k8gb.serviceaccount.yaml
  operators/k8gb/0.8.6/manifests/k8gb.v0.8.6.clusterserviceversion.yaml
  operators/k8gb/0.8.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#464 operators [CI] t8c (42.4.0)
  operators/t8c/42.4.0/t8c-operator.v42.4.0.clusterserviceversion.yaml
  operators/t8c/42.4.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/ci.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#469 operators dell-csi-operator (1.6.0)
  operators/dell-csi-operator/1.6.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.6.0/dell-csi-operator.v1.6.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#470 operators falcon-operator (0.4.0)
  operators/falcon-operator/0.4.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.4.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.4.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.4.0/metadata/annotations.yaml
  operators/falcon-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#471 operators hive-operator (1.2.3375-1f0f3eb)
  operators/hive-operator/1.2.3375-1f0f3eb/hive-operator.v1.2.3375-1f0f3eb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3375-1f0f3eb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#472 operators kiali (1.44.0)
  operators/kiali/1.44.0/bundle.Dockerfile
  operators/kiali/1.44.0/manifests/kiali.crd.yaml
  operators/kiali/1.44.0/manifests/kiali.v1.44.0.clusterserviceversion.yaml
  operators/kiali/1.44.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#473 operators hive-operator (2.4.3199-cce4cb9)
  operators/hive-operator/2.4.3199-cce4cb9/hive-operator.v2.4.3199-cce4cb9.clusterserviceversion.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3199-cce4cb9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#474 operators pulp-operator (0.6.0)
  operators/pulp-operator/0.6.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator.v0.6.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.0/metadata/annotations.yaml
  operators/pulp-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#478 operators instana-agent-operator (2.0.2)
  operators/instana-agent-operator/2.0.2/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.2/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.2/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.2/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.2/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.2/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.2/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#479 operators [CI] nexus-operator-m88i (0.6.0)
  operators/nexus-operator-m88i/0.6.0/apps.m88i.io_nexus.yaml
  operators/nexus-operator-m88i/0.6.0/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator-m88i/ci.yaml
  operators/nexus-operator-m88i/nexus-operator-m88i.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#480 operators elastic-cloud-eck (1.9.0)
  operators/elastic-cloud-eck/1.9.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/elastic-cloud-eck.v1.9.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/1.9.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#481 operators [N] [CI] cryostat-operator (2.0.0)
  operators/cryostat-operator/2.0.0/Dockerfile
  operators/cryostat-operator/2.0.0/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.0.0/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.0.0/manifests/cryostat-operator-service-account_v1_serviceaccount.yaml
  operators/cryostat-operator/2.0.0/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.0.0/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.0.0/manifests/operator.cryostat.io_flightrecorders.yaml
  operators/cryostat-operator/2.0.0/manifests/operator.cryostat.io_recordings.yaml
  operators/cryostat-operator/2.0.0/metadata/annotations.yaml
  operators/cryostat-operator/2.0.0/tests/scorecard/config.yaml
  operators/cryostat-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#482 operators opentelemetry-operator (0.40.0)
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.40.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.40.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.40.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#483 operators pulp-operator (0.6.1)
  operators/pulp-operator/0.6.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator.v0.6.1.clusterserviceversion.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.1/metadata/annotations.yaml
  operators/pulp-operator/0.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#466 operators ibm-spectrum-scale-csi-operator (2.4.0)
  operators/ibm-spectrum-scale-csi-operator/2.4.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.4.0/ibm-spectrum-scale-csi-operator.v2.4.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#484 operators flux (0.24.1)
  operators/flux/0.24.1/manifests/alert.crd.yaml
  operators/flux/0.24.1/manifests/bucket.crd.yaml
  operators/flux/0.24.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.24.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.24.1/manifests/flux.v0.24.1.clusterserviceversion.yaml
  operators/flux/0.24.1/manifests/gitrepository.crd.yaml
  operators/flux/0.24.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/helmchart.crd.yaml
  operators/flux/0.24.1/manifests/helmrelease.crd.yaml
  operators/flux/0.24.1/manifests/helmrepository.crd.yaml
  operators/flux/0.24.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.24.1/manifests/imagerepository.crd.yaml
  operators/flux/0.24.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.24.1/manifests/kustomization.crd.yaml
  operators/flux/0.24.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/notification-controller.service.yaml
  operators/flux/0.24.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/provider.crd.yaml
  operators/flux/0.24.1/manifests/receiver.crd.yaml
  operators/flux/0.24.1/manifests/source-controller.service.yaml
  operators/flux/0.24.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.24.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.24.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#486 operators infinispan (2.2.2)
  operators/infinispan/2.2.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.2/metadata/annotations.yaml
  operators/infinispan/2.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#487 operators hive-operator (1.2.3391-55f6363)
  operators/hive-operator/1.2.3391-55f6363/hive-operator.v1.2.3391-55f6363.clusterserviceversion.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3391-55f6363/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3391-55f6363/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#488 operators infinispan (2.1.6)
  operators/infinispan/2.1.6/bundle.Dockerfile
  operators/infinispan/2.1.6/manifests/infinispan-operator.v2.1.6.clusterserviceversion.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.6/manifests/infinispan.org_restores_crd.yaml
  operators/infinispan/2.1.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#489 operators kogito-operator (1.14.0)
  operators/kogito-operator/1.14.0/Dockerfile
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.14.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.14.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.14.0/metadata/annotations.yaml
  operators/kogito-operator/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#491 operators strimzi-kafka-operator (0.26.1)
  operators/strimzi-kafka-operator/0.26.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzi-cluster-operator.v0.26.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.26.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#485 operators [CI] ibm-block-csi-operator-community (1.8.0)
  operators/ibm-block-csi-operator-community/1.8.0/bundle-1.8.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.8.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.8.0/manifests/ibm-block-csi-operator.v1.8.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.8.0/metadata/annotations.yaml
  operators/ibm-block-csi-operator-community/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#493 operators keycloak-operator (15.1.0)
  operators/keycloak-operator/15.1.0/bundle.Dockerfile
  operators/keycloak-operator/15.1.0/manifests/keycloak-operator.v15.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#496 operators yaks (0.7.0)
  operators/yaks/0.7.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.7.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.7.0/yaks.v0.7.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#499 operators k8gb (0.8.7)
  operators/k8gb/0.8.7/manifests/coredns.serviceaccount.yaml
  operators/k8gb/0.8.7/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.8.7/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.8.7/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.8.7/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.8.7/manifests/k8gb.serviceaccount.yaml
  operators/k8gb/0.8.7/manifests/k8gb.v0.8.7.clusterserviceversion.yaml
  operators/k8gb/0.8.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#501 operators external-secrets-operator (0.3.9)
  operators/external-secrets-operator/0.3.9/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.9/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.9/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.9/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#502 operators external-secrets-operator (0.3.10)
  operators/external-secrets-operator/0.3.10/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.10/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.10/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.10/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#504 operators grafana-operator (4.1.1)
  operators/grafana-operator/4.1.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.1.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.1.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.1.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.1.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#506 operators cloud-native-postgresql (1.11.0)
  operators/cloud-native-postgresql/1.11.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.11.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.11.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#494 operators deployment-validation-operator (0.2.0)
  operators/deployment-validation-operator/0.2.0/deploymentvalidationoperator.0.2.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#510 operators knative-operator (1.1.0)
  operators/knative-operator/1.1.0/knative-operator.v1.1.0.clusterserviceversion.yaml
  operators/knative-operator/1.1.0/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.1.0/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#508 operators mongodb-enterprise (1.14.0)
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.14.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.14.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#509 operators elastic-cloud-eck (1.9.1)
  operators/elastic-cloud-eck/1.9.1/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/elastic-cloud-eck.v1.9.1.clusterserviceversion.yaml
  operators/elastic-cloud-eck/1.9.1/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.9.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#419 operators kubernetes-imagepuller-operator (0.1.0)
  operators/kubernetes-imagepuller-operator/0.1.0/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-image-puller-operator_v1_serviceaccount.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-imagepuller-operator.v0.1.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/manager-config_v1_configmap.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#498 operators ovms-operator (0.2.0)
  operators/ovms-operator/0.2.0/Dockerfile
  operators/ovms-operator/0.2.0/manifests/intel.com_ovms.yaml
  operators/ovms-operator/0.2.0/manifests/ovms-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator/0.2.0/manifests/ovms-operator-controller-manager_v1_serviceaccount.yaml
  operators/ovms-operator/0.2.0/manifests/ovms-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator/0.2.0/manifests/ovms-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator/0.2.0/manifests/ovms-operator.clusterserviceversion.yaml
  operators/ovms-operator/0.2.0/metadata/annotations.yaml
  operators/ovms-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#513 operators keycloak-operator (15.1.1)
  operators/keycloak-operator/15.1.1/bundle.Dockerfile
  operators/keycloak-operator/15.1.1/manifests/keycloak-operator.v15.1.1.clusterserviceversion.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#512 operators snapscheduler (2.1.0)
  operators/snapscheduler/2.1.0/bundle.Dockerfile
  operators/snapscheduler/2.1.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/2.1.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/2.1.0/metadata/annotations.yaml
  operators/snapscheduler/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#515 operators starboard-operator (0.13.2)
  operators/starboard-operator/0.13.2/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.2/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.2/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.2/starboard-operator.v0.13.2.clusterserviceversion.yaml
  operators/starboard-operator/0.13.2/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#517 operators [N] [CI] trivy-operator (0.0.1)
  operators/trivy-operator/0.0.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/0.0.1/manifests/trivy-operator.v0.0.1.clusterserviceversion.yaml
  operators/trivy-operator/0.0.1/metadata/annotations.yaml
  operators/trivy-operator/bundle.Dockerfile
  operators/trivy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#519 operators trivy-operator (2.1.0)
  operators/trivy-operator/2.1.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.1.0/manifests/trivy-operator.v2.1.0.clusterserviceversion.yaml
  operators/trivy-operator/2.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#521 operators opentelemetry-operator (0.41.0)
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.41.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.41.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.41.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#497 operators [R] couchdb-operator (1.0.14 1.1.0 1.2.1 1.3.1 1.4.4 2.2.0)
  operators/couchdb-operator/1.0.14/metadata/annotations.yaml
  operators/couchdb-operator/1.1.0/metadata/annotations.yaml
  operators/couchdb-operator/1.2.1/metadata/annotations.yaml
  operators/couchdb-operator/1.3.1/metadata/annotations.yaml
  operators/couchdb-operator/1.4.2/bundle.Dockerfile
  operators/couchdb-operator/1.4.2/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.2/metadata/annotations.yaml
  operators/couchdb-operator/1.4.3/bundle.Dockerfile
  operators/couchdb-operator/1.4.3/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/couchdb-operator.v1.4.3.clusterserviceversion.yaml
  operators/couchdb-operator/1.4.3/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.3/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/1.4.4/manifests/couchdb-operator.v1.4.4.clusterserviceversion.yaml
  operators/couchdb-operator/1.4.4/metadata/annotations.yaml
  operators/couchdb-operator/2.2.0/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/2.2.0/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#520 operators keycloak-operator (16.0.0)
  operators/keycloak-operator/16.0.0/bundle.Dockerfile
  operators/keycloak-operator/16.0.0/manifests/keycloak-operator.v16.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/16.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#524 operators [CI] beegfs-csi-driver-operator (1.2.1)
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.2.1/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.2.1/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.2.1/tests/scorecard/config.yaml
  operators/beegfs-csi-driver-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#522 operators [R] [CI] shipwright-operator (0.1.0 0.7.0)
  operators/shipwright-operator/0.1.0/Dockerfile
  operators/shipwright-operator/0.1.0/manifests/build.dev_buildruns_crd.yaml
  operators/shipwright-operator/0.1.0/manifests/build.dev_builds_crd.yaml
  operators/shipwright-operator/0.1.0/manifests/build.dev_buildstrategies_crd.yaml
  operators/shipwright-operator/0.1.0/manifests/build.dev_clusterbuildstrategies_crd.yaml
  operators/shipwright-operator/0.1.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.1.0/metadata/annotations.yaml
  operators/shipwright-operator/0.7.0/Dockerfile
  operators/shipwright-operator/0.7.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.7.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.7.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.7.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.7.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.7.0/metadata/annotations.yaml
  operators/shipwright-operator/0.7.0/tests/scorecard/config.yaml
  operators/shipwright-operator/ci.yaml
  operators/shipwright-operator/shipwright-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#525 operators instana-agent-operator (2.0.3)
  operators/instana-agent-operator/2.0.3/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.3/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.3/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.3/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.3/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.3/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.3/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#533 operators pulp-operator (0.7.0)
  operators/pulp-operator/0.7.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator.v0.7.0.clusterserviceversion.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.0/metadata/annotations.yaml
  operators/pulp-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#529 operators [O] hazelcast-operator (0.3.8)
  operators/hazelcast-operator/0.3.8/hazelcast-operator.v0.3.8.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#530 operators [O] hazelcast-enterprise-operator (0.3.8)
  operators/hazelcast-enterprise-operator/0.3.8/hazelcast-enterprise-operator.v0.3.8.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#532 operators [O] hazelcast-jet-enterprise-operator (0.6.0)
  operators/hazelcast-jet-enterprise-operator/0.6.0/hazelcast-jet-enterprise-operator.v0.6.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#526 operators [N] [CI] percona-postgresql-operator (1.1.0)
  operators/percona-postgresql-operator/1.1.0/percona-postgresql-operator.v1.1.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.1.0/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/ci.yaml
  operators/percona-postgresql-operator/percona-postgresql-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#535 operators infinispan (2.2.3)
  operators/infinispan/2.2.3/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.3/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.3/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.3/metadata/annotations.yaml
  operators/infinispan/2.2.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#536 operators infinispan (2.1.7)
  operators/infinispan/2.1.7/bundle.Dockerfile
  operators/infinispan/2.1.7/manifests/infinispan-operator.v2.1.7.clusterserviceversion.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.7/manifests/infinispan.org_restores_crd.yaml
  operators/infinispan/2.1.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#537 operators verticadb-operator (1.2.0)
  operators/verticadb-operator/1.2.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.2.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.2.0/metadata/annotations.yaml
  operators/verticadb-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#538 operators strimzi-kafka-operator (0.27.0)
  operators/strimzi-kafka-operator/0.27.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzi-cluster-operator.v0.27.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.27.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#511 operators [CI] node-healthcheck-operator (0.1.2)
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.2/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.2/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.2/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#541 operators victoriametrics-operator (0.22.0)
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.22.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.22.0/victoriametrics-operator.0.22.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.22.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
