Repository k8s-operatorhub/community-operators, pull requests merged in 2021-11, with the labels that each got.

#370 operators opentelemetry-operator (0.37.1)
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry-operator-controller-manager_v1_serviceaccount.yaml
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.37.1/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.37.1/metadata/annotations.yaml
  operators/opentelemetry-operator/0.37.1/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#371 operators flux (0.20.1)
  operators/flux/0.20.1/manifests/alert.crd.yaml
  operators/flux/0.20.1/manifests/bucket.crd.yaml
  operators/flux/0.20.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.20.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.20.1/manifests/flux.v0.20.1.clusterserviceversion.yaml
  operators/flux/0.20.1/manifests/gitrepository.crd.yaml
  operators/flux/0.20.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/helmchart.crd.yaml
  operators/flux/0.20.1/manifests/helmrelease.crd.yaml
  operators/flux/0.20.1/manifests/helmrepository.crd.yaml
  operators/flux/0.20.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.20.1/manifests/imagerepository.crd.yaml
  operators/flux/0.20.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.20.1/manifests/kustomization.crd.yaml
  operators/flux/0.20.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/notification-controller.service.yaml
  operators/flux/0.20.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/provider.crd.yaml
  operators/flux/0.20.1/manifests/receiver.crd.yaml
  operators/flux/0.20.1/manifests/source-controller.service.yaml
  operators/flux/0.20.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.20.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.20.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#373 operators hive-operator (1.2.3329-16c6e0f)
  operators/hive-operator/1.2.3329-16c6e0f/hive-operator.v1.2.3329-16c6e0f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3329-16c6e0f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#377 operators [O] aqua (6.2.0)
  operators/aqua/6.2.0/aqua-operator.v6.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#376 operators openebs (3.0.0)
  operators/openebs/3.0.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  operators/openebs/3.0.0/openebsoperator.v3.0.0.clusterserviceversion.yaml
  operators/openebs/openebs.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#379 operators knative-operator (1.0.0)
  operators/knative-operator/1.0.0/knative-operator.v1.0.0.clusterserviceversion.yaml
  operators/knative-operator/1.0.0/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.0.0/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#383 operators [CI] ibm-security-verify-access-operator
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#386 operators snyk-operator (1.70.1)
  operators/snyk-operator/1.70.1/snyk-operator.v1.70.1.clusterserviceversion.yaml
  operators/snyk-operator/1.70.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#387 operators pulp-operator (0.5.0)
  operators/pulp-operator/0.5.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator.v0.5.0.clusterserviceversion.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.5.0/metadata/annotations.yaml
  operators/pulp-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#385 operators flux (0.21.1)
  operators/flux/0.21.1/manifests/alert.crd.yaml
  operators/flux/0.21.1/manifests/bucket.crd.yaml
  operators/flux/0.21.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.21.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.21.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.21.1/manifests/flux.v0.21.1.clusterserviceversion.yaml
  operators/flux/0.21.1/manifests/gitrepository.crd.yaml
  operators/flux/0.21.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/helmchart.crd.yaml
  operators/flux/0.21.1/manifests/helmrelease.crd.yaml
  operators/flux/0.21.1/manifests/helmrepository.crd.yaml
  operators/flux/0.21.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.21.1/manifests/imagerepository.crd.yaml
  operators/flux/0.21.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.21.1/manifests/kustomization.crd.yaml
  operators/flux/0.21.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/notification-controller.service.yaml
  operators/flux/0.21.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/provider.crd.yaml
  operators/flux/0.21.1/manifests/receiver.crd.yaml
  operators/flux/0.21.1/manifests/source-controller.service.yaml
  operators/flux/0.21.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.21.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.21.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#349 operators [N] [CI] falcon-operator (0.3.1)
  operators/falcon-operator/0.3.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.3.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.3.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.3.1/metadata/annotations.yaml
  operators/falcon-operator/0.3.1/tests/scorecard/config.yaml
  operators/falcon-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#388 operators hive-operator (1.2.3337-d668960)
  operators/hive-operator/1.2.3337-d668960/hive-operator.v1.2.3337-d668960.clusterserviceversion.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3337-d668960/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3337-d668960/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#390 operators cert-manager (1.6.1)
  operators/cert-manager/1.6.1/bundle.Dockerfile
  operators/cert-manager/1.6.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.1/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.6.1/metadata/annotations.yaml
  operators/cert-manager/1.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#391 operators kogito-operator (1.13.0)
  operators/kogito-operator/1.13.0/Dockerfile
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.13.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.13.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.13.0/metadata/annotations.yaml
  operators/kogito-operator/1.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#392 operators snyk-operator (1.70.4)
  operators/snyk-operator/1.70.4/snyk-operator.v1.70.4.clusterserviceversion.yaml
  operators/snyk-operator/1.70.4/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#393 operators flux (0.22.0)
  operators/flux/0.22.0/manifests/alert.crd.yaml
  operators/flux/0.22.0/manifests/bucket.crd.yaml
  operators/flux/0.22.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.22.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.0/manifests/flux.v0.22.0.clusterserviceversion.yaml
  operators/flux/0.22.0/manifests/gitrepository.crd.yaml
  operators/flux/0.22.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/helmchart.crd.yaml
  operators/flux/0.22.0/manifests/helmrelease.crd.yaml
  operators/flux/0.22.0/manifests/helmrepository.crd.yaml
  operators/flux/0.22.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.22.0/manifests/imagerepository.crd.yaml
  operators/flux/0.22.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.22.0/manifests/kustomization.crd.yaml
  operators/flux/0.22.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/notification-controller.service.yaml
  operators/flux/0.22.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/provider.crd.yaml
  operators/flux/0.22.0/manifests/receiver.crd.yaml
  operators/flux/0.22.0/manifests/source-controller.service.yaml
  operators/flux/0.22.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.22.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.22.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#394 operators [CI] argocd-operator (0.1.0)
  operators/argocd-operator/0.1.0/argocd-operator.v0.1.0.clusterserviceversion.yaml
  operators/argocd-operator/0.1.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.1.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.1.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.1.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.1.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
  operators/argocd-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#329 operators [N] topolvm-operator (2.0.0)
  operators/topolvm-operator/2.0.0/manifests/topolvm-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#395 operators [CI] cloud-native-postgresql
  operators/cloud-native-postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#397 operators flux (0.22.1)
  operators/flux/0.22.1/manifests/alert.crd.yaml
  operators/flux/0.22.1/manifests/bucket.crd.yaml
  operators/flux/0.22.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.22.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.22.1/manifests/flux.v0.22.1.clusterserviceversion.yaml
  operators/flux/0.22.1/manifests/gitrepository.crd.yaml
  operators/flux/0.22.1/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/helmchart.crd.yaml
  operators/flux/0.22.1/manifests/helmrelease.crd.yaml
  operators/flux/0.22.1/manifests/helmrepository.crd.yaml
  operators/flux/0.22.1/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.22.1/manifests/imagerepository.crd.yaml
  operators/flux/0.22.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.22.1/manifests/kustomization.crd.yaml
  operators/flux/0.22.1/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/notification-controller.service.yaml
  operators/flux/0.22.1/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/provider.crd.yaml
  operators/flux/0.22.1/manifests/receiver.crd.yaml
  operators/flux/0.22.1/manifests/source-controller.service.yaml
  operators/flux/0.22.1/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.22.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.22.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#398 operators cloud-native-postgresql (1.10.0)
  operators/cloud-native-postgresql/1.10.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.10.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.10.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.10.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.10.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.10.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.10.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#399 operators yaks (0.6.0)
  operators/yaks/0.6.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.6.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.6.0/yaks.v0.6.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#400 operators starboard-operator (0.13.0)
  operators/starboard-operator/0.13.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.13.0/starboard-operator.v0.13.0.clusterserviceversion.yaml
  operators/starboard-operator/0.13.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#402 operators flux (0.23.0)
  operators/flux/0.23.0/manifests/alert.crd.yaml
  operators/flux/0.23.0/manifests/bucket.crd.yaml
  operators/flux/0.23.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.23.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.23.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.23.0/manifests/flux.v0.23.0.clusterserviceversion.yaml
  operators/flux/0.23.0/manifests/gitrepository.crd.yaml
  operators/flux/0.23.0/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/helmchart.crd.yaml
  operators/flux/0.23.0/manifests/helmrelease.crd.yaml
  operators/flux/0.23.0/manifests/helmrepository.crd.yaml
  operators/flux/0.23.0/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.23.0/manifests/imagerepository.crd.yaml
  operators/flux/0.23.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.23.0/manifests/kustomization.crd.yaml
  operators/flux/0.23.0/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/notification-controller.service.yaml
  operators/flux/0.23.0/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/provider.crd.yaml
  operators/flux/0.23.0/manifests/receiver.crd.yaml
  operators/flux/0.23.0/manifests/source-controller.service.yaml
  operators/flux/0.23.0/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.23.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.23.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#396 operators opentelemetry-operator (0.38.0)
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.38.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.38.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#403 operators kiali (1.43.0)
  operators/kiali/1.43.0/bundle.Dockerfile
  operators/kiali/1.43.0/manifests/kiali.crd.yaml
  operators/kiali/1.43.0/manifests/kiali.v1.43.0.clusterserviceversion.yaml
  operators/kiali/1.43.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#404 operators [N] [CI] ack-s3-controller (0.0.7)
  operators/ack-s3-controller/0.0.7/bundle.Dockerfile
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-controller.clusterserviceversion.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-metrics-service_v1_service.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-reader_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-s3-controller/0.0.7/manifests/ack-s3-writer_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-s3-controller/0.0.7/manifests/s3.services.k8s.aws_buckets.yaml
  operators/ack-s3-controller/0.0.7/metadata/annotations.yaml
  operators/ack-s3-controller/0.0.7/tests/scorecard/config.yaml
  operators/ack-s3-controller/ci.yaml
Labels: new-operator, allow/operator-recreate

#331 operators datadog-operator (0.7.1)
  operators/datadog-operator/0.7.1/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.7.1/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.7.1/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.7.1/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/datadog-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/longer-deployment

#405 operators camel-k (1.7.0)
  operators/camel-k/1.7.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/camel-k.v1.7.0.clusterserviceversion.yaml
  operators/camel-k/1.7.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.7.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#406 operators pcc-operator (0.2.0)
  operators/pcc-operator/0.2.0/bundle.Dockerfile
  operators/pcc-operator/0.2.0/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.2.0/manifests/pcc-operator.v0.2.0.clusterserviceversion.yaml
  operators/pcc-operator/0.2.0/metadata/annotations.yaml
  operators/pcc-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#410 operators tackle-operator (1.1.0)
  operators/tackle-operator/1.1.0/Dockerfile
  operators/tackle-operator/1.1.0/manifests/tackle-operator.v1.1.0.clusterserviceversion.yaml
  operators/tackle-operator/1.1.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#411 operators snyk-operator (1.72.0)
  operators/snyk-operator/1.72.0/snyk-operator.v1.72.0.clusterserviceversion.yaml
  operators/snyk-operator/1.72.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#412 operators [CI] k8gb
  operators/k8gb/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#409 operators k8gb (0.8.4)
  operators/k8gb/0.8.4/manifests/coredns.serviceaccount.yaml
  operators/k8gb/0.8.4/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.8.4/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.8.4/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.8.4/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.8.4/manifests/k8gb.serviceaccount.yaml
  operators/k8gb/0.8.4/manifests/k8gb.v0.8.4.clusterserviceversion.yaml
  operators/k8gb/0.8.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#418 operators datadog-operator (0.7.2)
  operators/datadog-operator/0.7.2/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.7.2/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/datadog-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#422 operators [CI] k8gb
  operators/k8gb/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#421 operators aiven-operator (0.2.0)
  operators/aiven-operator/0.2.0/bundle.Dockerfile
  operators/aiven-operator/0.2.0/manifests/aiven-operator-webhook-service_v1_service.yaml
  operators/aiven-operator/0.2.0/manifests/aiven-operator.v0.2.0.clusterserviceversion.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_connectionpools.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_databases.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkaacls.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkaconnectors.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkaconnects.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkas.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkaschemas.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_kafkatopics.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_postgresqls.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_projects.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_projectvpcs.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_redis.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_serviceintegrations.yaml
  operators/aiven-operator/0.2.0/manifests/aiven.io_serviceusers.yaml
  operators/aiven-operator/0.2.0/metadata/annotations.yaml
  operators/aiven-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#420 operators [O] k8gb (0.8.4)
  operators/k8gb/0.8.4/manifests/k8gb.v0.8.4.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#250 operators jaeger (1.26.0)
  operators/jaeger/1.26.0/jaeger.v1.26.0.clusterserviceversion.yaml
  operators/jaeger/1.26.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#423 operators [N] [CI] ks-releaser-operator (0.0.1)
  operators/ks-releaser-operator/0.0.1/devops.kubesphere.io_releasercontrollers.yaml
  operators/ks-releaser-operator/0.0.1/devops.kubesphere.io_releasers.yaml
  operators/ks-releaser-operator/0.0.1/ks-releaser-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ks-releaser-operator/0.0.1/ks-releaser-operator-manager-config_v1_configmap.yaml
  operators/ks-releaser-operator/0.0.1/ks-releaser-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ks-releaser-operator/0.0.1/ks-releaser-operator.0.0.1.clusterserviceversion.yaml
  operators/ks-releaser-operator/ci.yaml
  operators/ks-releaser-operator/ks-releaser-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#426 operators snyk-operator (1.73.0)
  operators/snyk-operator/1.73.0/snyk-operator.v1.73.0.clusterserviceversion.yaml
  operators/snyk-operator/1.73.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#428 operators hive-operator (1.2.3359-8f0773c)
  operators/hive-operator/1.2.3359-8f0773c/hive-operator.v1.2.3359-8f0773c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3359-8f0773c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3359-8f0773c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#425 operators pmem-csi-operator (1.0.1)
  operators/pmem-csi-operator/1.0.1/bundle.Dockerfile
  operators/pmem-csi-operator/1.0.1/manifests/pmem-csi-operator-metrics_v1_service.yaml
  operators/pmem-csi-operator/1.0.1/manifests/pmem-csi-operator.clusterserviceversion.yaml
  operators/pmem-csi-operator/1.0.1/manifests/pmem-csi-operator_v1_serviceaccount.yaml
  operators/pmem-csi-operator/1.0.1/manifests/pmem-csi.intel.com_pmemcsideployments.yaml
  operators/pmem-csi-operator/1.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#424 operators jaeger (1.28.0)
  operators/jaeger/1.28.0/jaeger.v1.28.0.clusterserviceversion.yaml
  operators/jaeger/1.28.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#407 operators [N] [CI] silicom-sts-operator (0.0.1)
  operators/silicom-sts-operator/0.0.1/Dockerfile
  operators/silicom-sts-operator/0.0.1/manifests/silicom-sts-operator.clusterserviceversion.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-controller-manager-metrics-service_v1_service.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsconfigs.yaml
  operators/silicom-sts-operator/0.0.1/manifests/sts.silicom.com_stsnodes.yaml
  operators/silicom-sts-operator/0.0.1/metadata/annotations.yaml
  operators/silicom-sts-operator/0.0.1/tests/scorecard/config.yaml
  operators/silicom-sts-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#427 operators grafana-operator (4.0.2)
  operators/grafana-operator/4.0.2/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.0.2/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.0.2/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.0.2/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.0.2/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#429 operators portworx (1.6.1)
  operators/portworx/1.6.1/core_v1_storagecluster_crd.yaml
  operators/portworx/1.6.1/core_v1_storagenode_crd.yaml
  operators/portworx/1.6.1/portworxoperator.v1.6.1.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#430 operators postgresql (5.0.4)
  operators/postgresql/5.0.4/Dockerfile
  operators/postgresql/5.0.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.0.4/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.0.4/metadata/annotations.yaml
  operators/postgresql/5.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#432 operators aqua (6.2.1)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.2.1/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.1/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#433 operators keda (2.5.0)
  operators/keda/2.5.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.5.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.5.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.5.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.5.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.5.0/manifests/keda.v2.5.0.clusterserviceversion.yaml
  operators/keda/2.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#434 operators [N] [CI] verticadb-operator (1.1.0)
  operators/verticadb-operator/1.1.0/Dockerfile
  operators/verticadb-operator/1.1.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.1.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.1.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.1.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.1.0/metadata/annotations.yaml
  operators/verticadb-operator/1.1.0/tests/scorecard/config.yaml
  operators/verticadb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#366 operators infinispan (2.2.1)
  operators/infinispan/2.2.1/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.1/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.1/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.1/metadata/annotations.yaml
  operators/infinispan/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#438 operators [R] aqua (6.2.1 6.5.1)
  operators/aqua/6.2.1/aqua-operator.v6.2.1.clusterserviceversion.yaml
  operators/aqua/6.5.1/aqua-operator.v6.5.1.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#439 operators instana-agent-operator (2.0.1)
  operators/instana-agent-operator/2.0.1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.1/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.1/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.1/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.1/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.1/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.1/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#440 operators redis-operator (0.9.0)
  operators/redis-operator/0.9.0/manifests/redis-operator.v0.9.0.clusterserviceversion.yaml
  operators/redis-operator/0.9.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.9.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#442 operators [N] verticadb-operator (1.1.0)
  operators/verticadb-operator/1.1.0/manifests/verticadb-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#443 operators universal-crossplane (1.5.1-up.1)
  operators/universal-crossplane/1.5.1-up.1/Dockerfile
  operators/universal-crossplane/1.5.1-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/compositionrevisions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/universal-crossplane.1.5.1-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.5.1-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.5.1-up.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#444 operators universal-crossplane (1.4.3-up.1)
  operators/universal-crossplane/1.4.3-up.1/Dockerfile
  operators/universal-crossplane/1.4.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/compositionrevisions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/universal-crossplane.1.4.3-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.4.3-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.4.3-up.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#445 operators universal-crossplane (1.3.3-up.1)
  operators/universal-crossplane/1.3.3-up.1/Dockerfile
  operators/universal-crossplane/1.3.3-up.1/manifests/compositeresourcedefinitions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/compositions.apiextensions.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/configurationrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/configurations.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/controllerconfigs.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-admin.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-admin.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-browse.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-edit.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-rbac-manager.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-rbac-manager.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-view.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane-view.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_aggregate-to-edit.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_aggregate-to-view.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_allowed-provider-permissions.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/crossplane_system_aggregate-to-crossplane.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/locks.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/providerrevisions.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/providers.pkg.crossplane.io.customresourcedefinition.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/rbac-manager.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/universal-crossplane-config.configmap.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/universal-crossplane.1.3.3-up.1.clusterserviceversion.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-impersonator.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-impersonator.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-secret.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-secret.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-tls.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-uxp-config.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent-uxp-config.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.service.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-agent.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.clusterrole.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.clusterrolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.role.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.rolebinding.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/upbound-bootstrapper.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/uxp-ca.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql-tls.secret.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql.service.yaml
  operators/universal-crossplane/1.3.3-up.1/manifests/xgql.serviceaccount.yaml
  operators/universal-crossplane/1.3.3-up.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#450 operators victoriametrics-operator (0.21.0)
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.21.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.21.0/victoriametrics-operator.0.21.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.21.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
