Repository k8s-operatorhub/community-operators, pull requests merged in 2021-07, with the labels that each got.

#3 operators [O] [CI] strimzi-kafka-operator (0.20.0)
  operators/strimzi-kafka-operator/0.20.0/strimzi-cluster-operator.v0.20.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/ci.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, package-validated

#4 operators [CI] strimzi-kafka-operator (0.20.1)
  operators/strimzi-kafka-operator/0.20.1/strimzi-cluster-operator.v0.20.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/ci.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, package-validated

#10 operators kogito-operator (1.8.0)
  operators/kogito-operator/1.8.0/Dockerfile
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.8.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.8.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.8.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.8.0/metadata/annotations.yaml
  operators/kogito-operator/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, package-validated

#9 operators [N] [CI] pulp-operator (0.3.0)
  operators/pulp-operator/0.3.0/bundle.Dockerfile
  operators/pulp-operator/0.3.0/manifests/pulp-operator.v0.3.0.clusterserviceversion.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulpbackups_crd.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulprestores_crd.yaml
  operators/pulp-operator/0.3.0/manifests/pulp.pulpproject.org_pulps_crd.yaml
  operators/pulp-operator/0.3.0/metadata/annotations.yaml
  operators/pulp-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, package-validated

#13 operators [N] snapscheduler (1.1.1)
  operators/snapscheduler/1.1.1/bundle.Dockerfile
  operators/snapscheduler/1.1.1/manifests/snapscheduler.v1.1.1.clusterserviceversion.yaml
  operators/snapscheduler/1.1.1/manifests/snapshotschedules.snapscheduler.backube.crd.yaml
  operators/snapscheduler/1.1.1/metadata/annotations.yaml
  operators/snapscheduler/snapscheduler.package.yaml
Labels: allow/operator-recreate, installation-validated, new-operator, package-validated

#18 operators [N] metallb-operator (0.1.0)
  operators/metallb-operator/0.1.0/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.1.0/manifests/metallb.io_metallbs.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, package-validated

#11 operators [CI] mongodb-enterprise (1.12.0)
  operators/mongodb-enterprise/1.12.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.12.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.12.0/tests/scorecard/config.yaml
  operators/mongodb-enterprise/ci.yaml
Labels: authorized-changes, installation-validated, package-validated

#24 operators kiali (1.37.0)
  operators/kiali/1.37.0/bundle.Dockerfile
  operators/kiali/1.37.0/manifests/kiali.crd.yaml
  operators/kiali/1.37.0/manifests/kiali.v1.37.0.clusterserviceversion.yaml
  operators/kiali/1.37.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#26 operators poison-pill-operator (0.1.2)
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.2/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.2/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#28 trigger ohio new location
  .github/workflows/operator_release.yaml
Labels: allow/ci-changes, do-not-merge/hold, installation-validated, package-validated

#22 operators pmem-csi-operator (1.0.0)
  operators/pmem-csi-operator/1.0.0/bundle.Dockerfile
  operators/pmem-csi-operator/1.0.0/manifests/pmem-csi-operator-metrics_v1_service.yaml
  operators/pmem-csi-operator/1.0.0/manifests/pmem-csi-operator.clusterserviceversion.yaml
  operators/pmem-csi-operator/1.0.0/manifests/pmem-csi-operator_v1_serviceaccount.yaml
  operators/pmem-csi-operator/1.0.0/manifests/pmem-csi.intel.com_pmemcsideployments.yaml
  operators/pmem-csi-operator/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#32 operators service-binding-operator (0.9.0)
  operators/service-binding-operator/0.9.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-operator_v1_serviceaccount.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.9.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/0.9.0/manifests/service.binding_servicebindings.yaml
  operators/service-binding-operator/0.9.0/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#31 operators [CI] klusterlet (0.4.0)
  operators/klusterlet/0.4.0/klusterlet.v0.4.0.clusterserviceversion.yaml
  operators/klusterlet/0.4.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/ci.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: installation-validated, package-validated

#30 operators [CI] cluster-manager (0.4.0)
  operators/cluster-manager/0.4.0/cluster-manager.v0.4.0.clusterserviceversion.yaml
  operators/cluster-manager/0.4.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/ci.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: installation-validated, package-validated

#27 operators grafana-operator (3.10.3)
  operators/grafana-operator/3.10.3/grafana-operator.v3.10.3.clusterserviceversion.yaml
  operators/grafana-operator/3.10.3/grafanadashboards.integreatly.org.crd.yaml
  operators/grafana-operator/3.10.3/grafanadatasources.integreatly.org.crd.yaml
  operators/grafana-operator/3.10.3/grafanas.integreatly.org.crd.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#25 operators wildfly (0.5.2)
  operators/wildfly/0.5.2/bundle.Dockerfile
  operators/wildfly/0.5.2/manifests/wildfly-operator.v0.5.2.clusterserviceversion.yaml
  operators/wildfly/0.5.2/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/0.5.2/metadata/annotations.yaml
Labels: installation-validated, package-validated

#34 operators [N] metallb-operator (0.1.0)
  operators/metallb-operator/0.1.0/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.1.0/manifests/metallb.io_metallbs.yaml
Labels: allow/operator-recreate, installation-validated, new-operator, package-validated

#29 operators [N] metallb-operator (0.1.0)
  operators/metallb-operator/0.1.0/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.1.0/manifests/metallb.io_addresspools.yaml
Labels: allow/operator-recreate, installation-validated, new-operator, package-validated

#37 operators hive-operator (1.1.9)
  operators/hive-operator/1.1.9/hive-operator.v1.1.9.clusterserviceversion.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#38 operators eclipse-che (7.33.2)
  operators/eclipse-che/7.33.2/checlusters.org.eclipse.che.crd.yaml
  operators/eclipse-che/7.33.2/eclipse-che.v7.33.2.clusterserviceversion.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_chebackupserverconfigurations_crd.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_checlusterbackups_crd.yaml
  operators/eclipse-che/7.33.2/org.eclipse.che_checlusterrestores_crd.yaml
  operators/eclipse-che/eclipse-che.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#42 operators [R] mongodb-enterprise (1.11.0 1.12.0)
  operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.11.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.12.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, package-validated

#46 operators [R] node-healthcheck-operator (0.1.0)
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.0/tests/scorecard/config.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, package-validated

#44 operators [N] metallb-operator (0.1.0)
  operators/metallb-operator/0.1.0/manifests/metallb-operator.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, package-validated

#41 operators kubernetes-nmstate-operator (0.47.0)
  operators/kubernetes-nmstate-operator/0.47.0/kubernetes-nmstate-operator.v0.47.0.clusterserviceversion.yaml
  operators/kubernetes-nmstate-operator/0.47.0/nmstate-operator_v1_serviceaccount.yaml
  operators/kubernetes-nmstate-operator/0.47.0/nmstate.io_nmstates.yaml
  operators/kubernetes-nmstate-operator/kubernetes-nmstate-operator.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#47 operators percona-server-mongodb-operator (1.9.0)
  operators/percona-server-mongodb-operator/1.9.0/percona-server-mongodb-operator.v1.8.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.9.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#15 operators jaeger (1.24.0)
  operators/jaeger/1.24.0/jaeger.v1.24.0.clusterserviceversion.yaml
  operators/jaeger/1.24.0/jaegertracing.io_jaegers_crd.yaml
  operators/jaeger/jaeger.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#51 operators hive-operator (1.1.10)
  operators/hive-operator/1.1.10/hive-operator.v1.1.10.clusterserviceversion.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.10/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.10/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#52 operators [R] [CI] community-kubevirt-hyperconverged (1.3.0)
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/cluster-network-addons00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/containerized-data-importer00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/hco00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/hco01.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/hco02.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/hostpath-provisioner00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/kubevirt-hyperconverged-operator.v1.4.0.clusterserviceversion.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/kubevirt00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/node-maintenance00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/scheduling-scale-performance00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/manifests/vm-import-operator00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.0/metadata/annotations.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/cluster-network-addons00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/containerized-data-importer00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/hco00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/hco01.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/hco02.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/hostpath-provisioner00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/kubevirt-hyperconverged-operator.v1.4.1.clusterserviceversion.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/kubevirt00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/node-maintenance00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/scheduling-scale-performance00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/manifests/vm-import-operator00.crd.yaml
  operators/community-kubevirt-hyperconverged/1.4.1/metadata/annotations.yaml
  operators/community-kubevirt-hyperconverged/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, package-validated

#53 operators service-binding-operator (0.9.1)
  operators/service-binding-operator/0.9.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-operator_v1_serviceaccount.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/0.9.1/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/0.9.1/manifests/service.binding_servicebindings.yaml
  operators/service-binding-operator/0.9.1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#55 operators service-binding-operator (0.9.1)
  operators/service-binding-operator/0.9.1/manifests/service-binding-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, installation-validated, package-validated

#56 operators victoriametrics-operator (0.17.1)
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.17.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.17.1/victoriametrics-operator.0.17.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.17.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#40 operators openebs (2.10.0)
  operators/openebs/2.10.0/openebs_v1alpha1_openebsinstalltemplate_crd.yaml
  operators/openebs/2.10.0/openebsoperator.v2.10.0.clusterserviceversion.yaml
  operators/openebs/openebs.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#59 operators node-healthcheck-operator (0.1.1)
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, package-validated

#61 operators [N] [CI] tf-operator (0.0.1-2011)
  operators/tf-operator/0.0.1-2011/Dockerfile
  operators/tf-operator/0.0.1-2011/manifests/tf-operator.v0.0.1-2011.clusterserviceversion.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_analyticsalarm_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_analyticssnmp_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_cassandras_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_configs_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_controls_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_kubemanagers_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_managers_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_rabbitmqs_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_vrouters_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_webuis_crd.yaml
  operators/tf-operator/0.0.1-2011/manifests/tf.tungsten.io_zookeepers_crd.yaml
  operators/tf-operator/0.0.1-2011/metadata/annotations.yaml
  operators/tf-operator/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, package-validated

#60 operators kogito-operator (1.9.0)
  operators/kogito-operator/1.9.0/Dockerfile
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.9.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.9.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.9.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.9.0/metadata/annotations.yaml
  operators/kogito-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, installation-validated, package-validated

#54 operators [R] couchdb-operator (1.0.14 1.1.0 1.2.1 1.3.1 1.4.2 1.4.3 1.4.4)
  operators/couchdb-operator/1.0.14/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/1.1.0/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/1.2.1/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/1.3.1/manifests/couchdb-operator.v1.3.1.clusterserviceversion.yaml
  operators/couchdb-operator/1.4.2/manifests/couchdb-operator.v1.4.2.clusterserviceversion.yaml
  operators/couchdb-operator/1.4.3/manifests/couchdb-operator.v1.4.3.clusterserviceversion.yaml
  operators/couchdb-operator/1.4.4/manifests/couchdb-operator.v1.4.4.clusterserviceversion.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, package-validated

#62 operators cloud-native-postgresql (1.7.0)
  operators/cloud-native-postgresql/1.7.0/bundle.Dockerfile
  operators/cloud-native-postgresql/1.7.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.7.0/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  operators/cloud-native-postgresql/1.7.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.7.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.7.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.7.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.7.0/tests/scorecard/.gitignore
Labels: authorized-changes, installation-validated, package-validated

#63 documentation default path
  README.md
Labels: allow/ci-changes

#65 add OpenShift Hive operator 1.1.11 for upstream
  operators/hive-operator/1.1.11/hive-operator.v1.1.11.clusterserviceversion.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.11/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.11/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/ci.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, ok-to-test, package-validated

#66 operators [CI] infinispan (2.1.5)
  operators/infinispan/2.1.5/infinispan-operator.v2.1.5.clusterserviceversion.yaml
  operators/infinispan/2.1.5/infinispan.org_backups_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_batches_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_caches_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_infinispans_crd.yaml
  operators/infinispan/2.1.5/infinispan.org_restores_crd.yaml
  operators/infinispan/ci.yaml
  operators/infinispan/infinispan.package.yaml
Labels: authorized-changes, installation-validated, ok-to-test, package-validated

#70 operators portworx (1.5.0)
  operators/portworx/1.5.0/core_v1_storagecluster_crd.yaml
  operators/portworx/1.5.0/core_v1_storagenode_crd.yaml
  operators/portworx/1.5.0/portworxoperator.v1.5.0.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#72 operators victoriametrics-operator (0.17.2)
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.17.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.17.2/victoriametrics-operator.0.17.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.17.2/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, installation-validated, package-validated
