Repository k8s-operatorhub/community-operators, pull requests merged in 2021-10, with the labels that each got.

#253 operators cloud-native-postgresql (1.9.1)
  operators/cloud-native-postgresql/1.9.1/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.9.1/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  operators/cloud-native-postgresql/1.9.1/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.9.1/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.9.1/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.9.1/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.9.1/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#254 operators [N] [CI] nfs-provisioner-operator (0.0.3)
  operators/nfs-provisioner-operator/0.0.3/Dockerfile
  operators/nfs-provisioner-operator/0.0.3/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.3/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.3/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.3/tests/scorecard/config.yaml
  operators/nfs-provisioner-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#257 operators kiali (1.41.0)
  operators/kiali/1.41.0/bundle.Dockerfile
  operators/kiali/1.41.0/manifests/kiali.crd.yaml
  operators/kiali/1.41.0/manifests/kiali.v1.41.0.clusterserviceversion.yaml
  operators/kiali/1.41.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#256 operators microcks (1.4.1)
  operators/microcks/1.4.1/microcks-operator.v1.4.1.clusterserviceversion.yaml
  operators/microcks/1.4.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#260 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#261 operators hive-operator (2.4.3189-026033b)
  operators/hive-operator/2.4.3189-026033b/hive-operator.v2.4.3189-026033b.clusterserviceversion.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3189-026033b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3189-026033b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#258 operators deployment-validation-operator (0.1.0)
  operators/deployment-validation-operator/0.1.0/deploymentvalidationoperator.0.1.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#259 operators hive-operator (1.2.3254-512b7f4)
  operators/hive-operator/1.2.3254-512b7f4/hive-operator.v1.2.3254-512b7f4.clusterserviceversion.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3254-512b7f4/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3254-512b7f4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#263 operators ibm-application-gateway-operator (21.9.0)
  operators/ibm-application-gateway-operator/21.9.0/ibm-application-gateway-operator.v21.9.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.9.0/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#268 operators [CI] snyk-operator (1.68.0)
  operators/snyk-operator/1.68.0/snyk-operator.v1.68.0.clusterserviceversion.yaml
  operators/snyk-operator/1.68.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/ci.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#266 operators deployment-validation-operator (0.1.1)
  operators/deployment-validation-operator/0.1.1/deploymentvalidationoperator.0.1.1.clusterserviceversion.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#274 operators [R] [CI] hawkbit-operator (0.1.1 0.1.2 0.1.3 0.1.4 0.1.5)
  operators/hawkbit-operator/0.1.1/Dockerfile
  operators/hawkbit-operator/0.1.1/manifests/hawkbit-operator.v0.1.1.clusterserviceversion.yaml
  operators/hawkbit-operator/0.1.1/manifests/hawkbit.crd.yaml
  operators/hawkbit-operator/0.1.1/metadata/annotations.yaml
  operators/hawkbit-operator/0.1.1/tests/scorecard/config.yaml
  operators/hawkbit-operator/0.1.2/Dockerfile
  operators/hawkbit-operator/0.1.2/manifests/hawkbit-operator.v0.1.2.clusterserviceversion.yaml
  operators/hawkbit-operator/0.1.2/manifests/hawkbit.crd.yaml
  operators/hawkbit-operator/0.1.2/metadata/annotations.yaml
  operators/hawkbit-operator/0.1.2/tests/scorecard/config.yaml
  operators/hawkbit-operator/0.1.3/Dockerfile
  operators/hawkbit-operator/0.1.3/manifests/hawkbit-operator.v0.1.3.clusterserviceversion.yaml
  operators/hawkbit-operator/0.1.3/manifests/hawkbit.crd.yaml
  operators/hawkbit-operator/0.1.3/metadata/annotations.yaml
  operators/hawkbit-operator/0.1.3/tests/scorecard/config.yaml
  operators/hawkbit-operator/0.1.4/Dockerfile
  operators/hawkbit-operator/0.1.4/manifests/hawkbit-operator.v0.1.4.clusterserviceversion.yaml
  operators/hawkbit-operator/0.1.4/manifests/hawkbit.crd.yaml
  operators/hawkbit-operator/0.1.4/metadata/annotations.yaml
  operators/hawkbit-operator/0.1.4/tests/scorecard/config.yaml
  operators/hawkbit-operator/0.1.5/Dockerfile
  operators/hawkbit-operator/0.1.5/manifests/hawkbit-operator.v0.1.5.clusterserviceversion.yaml
  operators/hawkbit-operator/0.1.5/manifests/hawkbit.crd.yaml
  operators/hawkbit-operator/0.1.5/metadata/annotations.yaml
  operators/hawkbit-operator/0.1.5/tests/scorecard/config.yaml
  operators/hawkbit-operator/ci.yaml
  operators/hawkbit-operator/hawkbit-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#281 operators hive-operator (1.2.3274-a27a4f7)
  operators/hive-operator/1.2.3274-a27a4f7/hive-operator.v1.2.3274-a27a4f7.clusterserviceversion.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3274-a27a4f7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#290 operators hazelcast-operator (0.3.8)
  operators/hazelcast-operator/0.3.8/hazelcast-operator.v0.3.8.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.8/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#304 operators [N] [CI] beegfs-csi-driver-operator (1.2.0)
  operators/beegfs-csi-driver-operator/1.2.0/ci.yaml
  operators/beegfs-csi-driver-operator/1.2.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.2.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.2.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.2.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.2.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.2.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#301 operators [R] integrity-shield-operator (0.1.3 0.1.4 0.1.5 0.1.6 0.3.0)
  operators/integrity-shield-operator/0.1.3/tests/scorecard/config.yaml
  operators/integrity-shield-operator/0.1.4/tests/scorecard/config.yaml
  operators/integrity-shield-operator/0.1.5/tests/scorecard/config.yaml
  operators/integrity-shield-operator/0.1.6/tests/scorecard/config.yaml
  operators/integrity-shield-operator/0.3.0/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-controller-manager_v1_serviceaccount.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.0/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.0/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#294 operators [CI] aqua (6.5.0)
  operators/aqua/6.5.0/aqua-operator.v6.5.0.clusterserviceversion.yaml
  operators/aqua/6.5.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#296 operators percona-server-mongodb-operator (1.10.0)
  operators/percona-server-mongodb-operator/1.10.0/percona-server-mongodb-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.10.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.10.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.10.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#309 operators strimzi-kafka-operator (0.26.0)
  operators/strimzi-kafka-operator/0.26.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.26.0/strimzi-cluster-operator.v0.26.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.26.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.26.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.26.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#311 operators [CI] pulp-operator (0.4.0)
  operators/pulp-operator/0.4.0/bundle.Dockerfile
  operators/pulp-operator/0.4.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator.v0.4.0.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.4.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.4.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.4.0/metadata/annotations.yaml
  operators/pulp-operator/0.4.0/tests/scorecard/config.yaml
  operators/pulp-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#308 operators [N] [CI] carbonetes-operator (1.0.4)
  operators/carbonetes-operator/1.0.4/bundle.Dockerfile
  operators/carbonetes-operator/1.0.4/manifests/apps.docker.io_carbonetesanalyzers.yaml
  operators/carbonetes-operator/1.0.4/manifests/carbonetes-controller-manager-metrics-service_v1_service.yaml
  operators/carbonetes-operator/1.0.4/manifests/carbonetes-manager-config_v1_configmap.yaml
  operators/carbonetes-operator/1.0.4/manifests/carbonetes-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/carbonetes-operator/1.0.4/manifests/carbonetes-operator.clusterserviceversion.yaml
  operators/carbonetes-operator/1.0.4/metadata/annotations.yaml
  operators/carbonetes-operator/1.0.4/tests/scorecard/config.yaml
  operators/carbonetes-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#307 operators istio-workspace-operator (0.4.0)
  operators/istio-workspace-operator/0.4.0/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.4.0/manifests/maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.4.0/metadata/annotations.yaml
  operators/istio-workspace-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#314 operators hive-operator (1.2.3299-f0cc1ba)
  operators/hive-operator/1.2.3299-f0cc1ba/hive-operator.v1.2.3299-f0cc1ba.clusterserviceversion.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3299-f0cc1ba/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#318 operators cloud-native-postgresql (1.9.2)
  operators/cloud-native-postgresql/1.9.2/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.9.2/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  operators/cloud-native-postgresql/1.9.2/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.9.2/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.9.2/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.9.2/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.9.2/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#320 operators cluster-manager (0.5.0)
  operators/cluster-manager/0.5.0/cluster-manager.v0.5.0.clusterserviceversion.yaml
  operators/cluster-manager/0.5.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#327 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#369 operators t8c (42.3.0)
  operators/t8c/42.3.0/t8c-operator.v42.3.0.clusterserviceversion.yaml
  operators/t8c/42.3.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated
