Repository k8s-operatorhub/community-operators, pull requests merged in 2021-08, with the labels that each got.

#75 operators hive-operator (1.1.12)
  operators/hive-operator/1.1.12/hive-operator.v1.1.12.clusterserviceversion.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.12/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.12/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, installation-validated, package-validated

#81 operators poison-pill-operator (0.1.3)
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-controller-manager-metrics-service_v1_service.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-controller-manager_v1_serviceaccount.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-manager-config_v1_configmap.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.clusterserviceversion.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillconfigs.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillremediations.yaml
  operators/poison-pill-operator/0.1.3/manifests/poison-pill.medik8s.io_poisonpillremediationtemplates.yaml
  operators/poison-pill-operator/0.1.3/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#67 operators tektoncd-operator (0.24.1-1)
  operators/tektoncd-operator/0.24.1-1/bundle.Dockerfile
  operators/tektoncd-operator/0.24.1-1/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/tekton-operator_v1_serviceaccount.yaml
  operators/tektoncd-operator/0.24.1-1/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.24.1-1/metadata/annotations.yaml
Labels: authorized-changes, installation-validated, package-validated

#23 operators [N] [CI] synapse-helm (0.0.1)
  operators/synapse-helm/0.0.1/bundle.Dockerfile
  operators/synapse-helm/0.0.1/manifests/opdev.io_synapses_crd.yaml
  operators/synapse-helm/0.0.1/manifests/synapse-helm.v0.0.1.clusterserviceversion.yaml
  operators/synapse-helm/0.0.1/metadata/annotations.yaml
  operators/synapse-helm/0.0.1/tests/scorecard/config.yaml
  operators/synapse-helm/ci.yaml
Labels: allow/operator-recreate, authorized-changes, installation-validated, new-operator, package-validated

#84 operators [CI] snapscheduler (2.0.0)
  operators/snapscheduler/2.0.0/bundle.Dockerfile
  operators/snapscheduler/2.0.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-controller-manager_v1_serviceaccount.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/2.0.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/2.0.0/metadata/annotations.yaml
  operators/snapscheduler/2.0.0/tests/scorecard/config.yaml
  operators/snapscheduler/ci.yaml
Labels: authorized-changes, installation-validated, package-validated

#85 operators [N] pcc-operator (0.0.1)
  operators/pcc-operator/0.0.1/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-controller-manager-metrics-service.service.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-controller-manager.serviceaccount.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator-metrics-reader_rbac.authorization.k8s.io.clusterrole.yaml
  operators/pcc-operator/0.0.1/manifests/pcc-operator.v0.0.1.clusterserviceversion.yaml
  operators/pcc-operator/0.0.1/metadata/annotations.yaml
  operators/pcc-operator/0.0.1/tests/scorecard/config.yaml
  operators/pcc-operator/bundle.Dockerfile
Labels: allow/operator-recreate, installation-validated, new-operator, package-validated

#78 operators [N] [CI] tagger (2.1.17)
  operators/tagger/2.1.17/Containerfile
  operators/tagger/2.1.17/manifests/docker-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/metrics_v1_service.yaml
  operators/tagger/2.1.17/manifests/mirror-registry-config_v1_secret.yaml
  operators/tagger/2.1.17/manifests/mutating-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/quay-webhooks_v1_service.yaml
  operators/tagger/2.1.17/manifests/tagger.clusterserviceversion.yaml
  operators/tagger/2.1.17/manifests/tagger.dev_tags.yaml
  operators/tagger/2.1.17/manifests/tagger_v1_serviceaccount.yaml
  operators/tagger/2.1.17/manifests/tagio-external_v1_service.yaml
  operators/tagger/2.1.17/manifests/tagio_v1_service.yaml
  operators/tagger/2.1.17/metadata/annotations.yaml
  operators/tagger/2.1.17/tests/scorecard/.gitignore
  operators/tagger/ci.yaml
Labels: allow/operator-recreate, installation-validated, new-operator, package-validated

#80 operators kogito-operator (1.9.1)
  operators/kogito-operator/1.9.1/Dockerfile
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.9.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.9.1/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.9.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.9.1/metadata/annotations.yaml
  operators/kogito-operator/1.9.1/tests/scorecard/config.yaml
Labels: installation-validated, package-validated

#77 operators [CI] portworx-essentials
  operators/portworx-essentials/ci.yaml
Labels: installation-validated, package-validated

#73 operators [CI] azure-service-operator (1.0.27207)
  operators/azure-service-operator/1.0.27207/azure-service-operator.v1.0.27207.clusterserviceversion.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_apimgmtapis.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_apimservices.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_appinsights.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_appinsightsapikeys.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azureloadbalancers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurenetworkinterfaces.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurepublicipaddresses.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlactions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlfailovergroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlmanagedusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azuresqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevirtualmachineextensions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevirtualmachines.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_azurevmscalesets.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_blobcontainers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_consumergroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_cosmosdbs.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_cosmosdbsqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_eventhubnamespaces.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_eventhubs.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_keyvaultkeys.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_keyvaults.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlaadusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlserveradministrators.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_mysqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqldatabases.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlservers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlusers.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_postgresqlvnetrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscacheactions.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscachefirewallrules.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_rediscaches.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_resourcegroups.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_storageaccounts.yaml
  operators/azure-service-operator/1.0.27207/azure.microsoft.com_virtualnetworks.yaml
  operators/azure-service-operator/1.0.27207/azureoperator-webhook-service.yaml
  operators/azure-service-operator/azure-service-operator.package.yaml
  operators/azure-service-operator/ci.yaml
Labels: installation-validated, package-validated

#71 operators [CI] portworx
  operators/portworx/ci.yaml
Labels: installation-validated, package-validated

#86 operators flagsmith (1.0.0)
  operators/flagsmith/1.0.0/charts.flagsmith.com_flagsmiths.yaml
  operators/flagsmith/1.0.0/flagsmith-operator.clusterserviceversion.yaml
  operators/flagsmith/flagsmith.package.yaml
Labels: installation-validated, package-validated

#89 operators elastic-cloud-eck (1.7.0)
  operators/elastic-cloud-eck/1.7.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/elastic-cloud-eck.v1.7.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/1.7.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: installation-validated, package-validated

#94 operators starboard-operator (0.11.0)
  operators/starboard-operator/0.11.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.11.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.11.0/starboard-operator.v0.11.0.clusterserviceversion.yaml
  operators/starboard-operator/0.11.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#95 operators keda (2.4.0)
  operators/keda/2.4.0/manifests/keda-olm-operator_v1_serviceaccount.yaml
  operators/keda/2.4.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.4.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.4.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.4.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.4.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.4.0/manifests/keda.v2.4.0.clusterserviceversion.yaml
  operators/keda/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#101 operators flux (0.16.2)
  operators/flux/0.16.2/manifests/alert.crd.yaml
  operators/flux/0.16.2/manifests/bucket.crd.yaml
  operators/flux/0.16.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.16.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.16.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.16.2/manifests/flux.v0.16.2.clusterserviceversion.yaml
  operators/flux/0.16.2/manifests/gitrepository.crd.yaml
  operators/flux/0.16.2/manifests/helm-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/helmchart.crd.yaml
  operators/flux/0.16.2/manifests/helmrelease.crd.yaml
  operators/flux/0.16.2/manifests/helmrepository.crd.yaml
  operators/flux/0.16.2/manifests/image-automation-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/image-reflector-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.16.2/manifests/imagerepository.crd.yaml
  operators/flux/0.16.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.16.2/manifests/kustomization.crd.yaml
  operators/flux/0.16.2/manifests/kustomize-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/notification-controller.service.yaml
  operators/flux/0.16.2/manifests/notification-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/provider.crd.yaml
  operators/flux/0.16.2/manifests/receiver.crd.yaml
  operators/flux/0.16.2/manifests/source-controller.service.yaml
  operators/flux/0.16.2/manifests/source-controller.serviceaccount.yaml
  operators/flux/0.16.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.16.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#90 operators clickhouse (0.15.0)
  operators/clickhouse/0.15.0/clickhouse-operator.v0.15.0.clusterserviceversion.yaml
  operators/clickhouse/0.15.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.15.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.15.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#92 operators hazelcast-enterprise-operator (0.3.7)
  operators/hazelcast-enterprise-operator/0.3.7/hazelcast-enterprise-operator.v0.3.7.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.7/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#93 operators hazelcast-operator (0.3.7)
  operators/hazelcast-operator/0.3.7/hazelcast-operator.v0.3.7.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.7/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#96 operators kubernetes-imagepuller-operator (0.0.8)
  operators/kubernetes-imagepuller-operator/0.0.8/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.8/kubernetes-imagepuller-operator.v0.0.8.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#104 operators keycloak-operator (15.0.0)
  operators/keycloak-operator/15.0.0/bundle.Dockerfile
  operators/keycloak-operator/15.0.0/manifests/keycloak-operator.v15.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#105 operators kiali (1.38.1)
  operators/kiali/1.38.1/bundle.Dockerfile
  operators/kiali/1.38.1/manifests/kiali.crd.yaml
  operators/kiali/1.38.1/manifests/kiali.v1.38.1.clusterserviceversion.yaml
  operators/kiali/1.38.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#88 operators [R] skydive-operator (0.0.50)
  operators/skydive-operator/0.0.49/bundle.Dockerfile
  operators/skydive-operator/0.0.50/bundle.Dockerfile
  operators/skydive-operator/0.0.50/manifests/skydive-group.example.com_skydives.yaml
  operators/skydive-operator/0.0.50/manifests/skydive-operator-controller-manager-metrics-service_v1_service.yaml
  operators/skydive-operator/0.0.50/manifests/skydive-operator-controller-manager_v1_serviceaccount.yaml
  operators/skydive-operator/0.0.50/manifests/skydive-operator-manager-config_v1_configmap.yaml
  operators/skydive-operator/0.0.50/manifests/skydive-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/skydive-operator/0.0.50/manifests/skydive-operator.clusterserviceversion.yaml
  operators/skydive-operator/0.0.50/metadata/annotations.yaml
  operators/skydive-operator/0.0.50/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#87 Delete old Prisma Cloud Compute Operator
  operators/prisma-cloud-compute-console-operator/0.0.9/twistlock-console-operator.v0.0.9.clusterserviceversion.yaml
  operators/prisma-cloud-compute-console-operator/0.0.9/twistlockconsoles.charts.helm.k8s.io.crd.yaml
  operators/prisma-cloud-compute-console-operator/1.0.0/charts.helm.k8s.io_prisma_consoles_crd.yaml
  operators/prisma-cloud-compute-console-operator/1.0.0/prisma-cloud-compute-console-operator.v1.0.0.clusterserviceversion.yaml
  operators/prisma-cloud-compute-console-operator/ci.yaml
  operators/prisma-cloud-compute-console-operator/prisma-cloud-compute-console-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#100 operators [N] machine-deletion-operator (0.0.1)
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager-metrics-service_v1_service.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-controller-manager_v1_serviceaccount.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-machine-deletion-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-manager-config_v1_configmap.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.clusterserviceversion.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletions.yaml
  operators/machine-deletion-operator/0.0.1/manifests/machine-deletion.medik8s.io_machinedeletiontemplates.yaml
  operators/machine-deletion-operator/0.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#106 operators keycloak-operator (15.0.1)
  operators/keycloak-operator/15.0.1/bundle.Dockerfile
  operators/keycloak-operator/15.0.1/manifests/keycloak-operator.v15.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#107 operators [N] metallb-operator (0.10.2)
  operators/metallb-operator/0.10.2/manifests/controller_v1_serviceaccount.yaml
  operators/metallb-operator/0.10.2/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.10.2/manifests/metallb.io_addresspools.yaml
  operators/metallb-operator/0.10.2/manifests/metallb.io_metallbs.yaml
  operators/metallb-operator/0.10.2/manifests/speaker_v1_serviceaccount.yaml
  operators/metallb-operator/0.10.2/metadata/annotations.yaml
  operators/metallb-operator/0.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#98 Remove syndesis from upstream-community
  operators/syndesis/1.11.0/Dockerfile
  operators/syndesis/1.11.0/manifests/syndesis.crd.yaml
  operators/syndesis/1.11.0/manifests/syndesisoperator.1.11.0.clusterserviceversion.yaml
  operators/syndesis/1.11.0/metadata/annotations.yaml
  operators/syndesis/1.12.0/manifests/syndesis-auth-delegator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.12.0/manifests/syndesis-operator_v1_serviceaccount.yaml
  operators/syndesis/1.12.0/manifests/syndesis-server-kafka_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/syndesis/1.12.0/manifests/syndesis.clusterserviceversion.yaml
  operators/syndesis/1.12.0/manifests/syndesis.io_syndesises.yaml
  operators/syndesis/1.12.0/metadata/annotations.yaml
  operators/syndesis/1.12.0/tests/scorecard/config.yaml
  operators/syndesis/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#109 operators cert-manager (1.4.1)
  operators/cert-manager/1.4.1/bundle.Dockerfile
  operators/cert-manager/1.4.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.4.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.4.1/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.4.1/metadata/annotations.yaml
  operators/cert-manager/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#108 operators tektoncd-operator (0.49.0)
  operators/tektoncd-operator/0.49.0/bundle.Dockerfile
  operators/tektoncd-operator/0.49.0/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.49.0/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.49.0/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.49.0/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.49.0/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.49.0/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.49.0/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.49.0/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.49.0/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.49.0/manifests/tekton-operator_v1_serviceaccount.yaml
  operators/tektoncd-operator/0.49.0/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.49.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#68 operators sematext (1.0.33)
  operators/sematext/1.0.33/sematext-operator.v1.0.33.clusterserviceversion.yaml
  operators/sematext/1.0.33/sematextagents.sematext.com.crd.yaml
  operators/sematext/sematext.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#110 operators strimzi-kafka-operator (0.25.0)
  operators/strimzi-kafka-operator/0.25.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzi-cluster-operator.v0.25.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.25.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.25.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#112 operators cert-manager (1.4.3)
  operators/cert-manager/1.4.3/bundle.Dockerfile
  operators/cert-manager/1.4.3/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.4.3/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-cainjector_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager-webhook_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.4.3/manifests/cert-manager_v1_serviceaccount.yaml
  operators/cert-manager/1.4.3/metadata/annotations.yaml
  operators/cert-manager/1.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#113 operators dynatrace-operator (0.2.2)
  operators/dynatrace-operator/0.2.2/Dockerfile
  operators/dynatrace-operator/0.2.2/manifests/dynatrace-operator.v0.2.2.clusterserviceversion.yaml
  operators/dynatrace-operator/0.2.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.2.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#114 operators hive-operator (1.1.13)
  operators/hive-operator/1.1.13/hive-operator.v1.1.13.clusterserviceversion.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.13/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.13/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#115 operators cloud-native-postgresql (1.7.1)
  operators/cloud-native-postgresql/1.7.1/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.7.1/manifests/postgresql-operator-manager_v1_serviceaccount.yaml
  operators/cloud-native-postgresql/1.7.1/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.7.1/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.7.1/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.7.1/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.7.1/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#116 operators [N] [CI] cluster-impairment-operator (1.0.0)
  operators/cluster-impairment-operator/1.0.0/manifests/apps.redhat.com_clusterimpairments.yaml
  operators/cluster-impairment-operator/1.0.0/manifests/cluster-impairment-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-impairment-operator/1.0.0/manifests/cluster-impairment-operator-manager-config_v1_configmap.yaml
  operators/cluster-impairment-operator/1.0.0/manifests/cluster-impairment-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-impairment-operator/1.0.0/manifests/cluster-impairment-operator.clusterserviceversion.yaml
  operators/cluster-impairment-operator/1.0.0/manifests/network-access-sa_v1_serviceaccount.yaml
  operators/cluster-impairment-operator/1.0.0/metadata/annotations.yaml
  operators/cluster-impairment-operator/1.0.0/tests/scorecard/config.yaml
  operators/cluster-impairment-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#118 operators hpe-ezmeral-csi-operator (1.0.4)
  operators/hpe-ezmeral-csi-operator/1.0.4/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.4/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.4/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.4/manifests/hpe-ezmeral-csi-operator.v1.0.4.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#121 operators submariner (0.10.1)
  operators/submariner/0.10.1/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-gateway_rbac.authorization.k8s.io_v1_role.yaml
  operators/submariner/0.10.1/submariner-gateway_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/submariner/0.10.1/submariner-gateway_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-globalnet_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-globalnet_rbac.authorization.k8s.io_v1_role.yaml
  operators/submariner/0.10.1/submariner-globalnet_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/submariner/0.10.1/submariner-globalnet_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-lighthouse-agent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-lighthouse-agent_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-lighthouse-coredns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-lighthouse-coredns_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-networkplugin-syncer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-networkplugin-syncer_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-operator_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/submariner/0.10.1/submariner-routeagent_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/submariner/0.10.1/submariner-routeagent_rbac.authorization.k8s.io_v1_role.yaml
  operators/submariner/0.10.1/submariner-routeagent_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/submariner/0.10.1/submariner-routeagent_v1_serviceaccount.yaml
  operators/submariner/0.10.1/submariner.io_brokers.yaml
  operators/submariner/0.10.1/submariner.io_submariners.yaml
  operators/submariner/0.10.1/submariner.v0.10.1.clusterserviceversion.yaml
  operators/submariner/submariner.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#122 operators qserv-operator (2021.8.1-rc2)
  operators/qserv-operator/2021.8.1-rc2/manifests/qserv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/qserv-operator/2021.8.1-rc2/manifests/qserv-operator-controller-manager_v1_serviceaccount.yaml
  operators/qserv-operator/2021.8.1-rc2/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/qserv-operator/2021.8.1-rc2/manifests/qserv-operator.clusterserviceversion.yaml
  operators/qserv-operator/2021.8.1-rc2/manifests/qserv.lsst.org_qservs.yaml
  operators/qserv-operator/2021.8.1-rc2/metadata/annotations.yaml
  operators/qserv-operator/2021.8.1-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#123 operators hive-operator (1.1.14)
  operators/hive-operator/1.1.14/hive-operator.v1.1.14.clusterserviceversion.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.14/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.14/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#125 operators kogito-operator (1.10.0)
  operators/kogito-operator/1.10.0/Dockerfile
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.10.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.10.0/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  operators/kogito-operator/1.10.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.10.0/metadata/annotations.yaml
  operators/kogito-operator/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#124 operators intel-device-plugins-operator (0.21.0)
  operators/intel-device-plugins-operator/0.21.0/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.21.0/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.21.0/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.21.0/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.21.0/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.21.0/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.21.0/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.21.0/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/intel-device-plugins-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#128 operators [O] intel-device-plugins-operator (0.21.0)
  operators/intel-device-plugins-operator/0.21.0/intel-device-plugins-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#131 operators hive-operator (1.1.9-1.1.8.1)
  operators/hive-operator/1.1.9-1.1.8.1/hive-operator.v1.1.9-1.1.8.1.clusterserviceversion.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9-1.1.8.1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#130 operators opentelemetry-operator (0.33.0)
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-controller-manager_v1_serviceaccount.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.33.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.33.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.33.0/tests/scorecard/.gitignore
Labels: authorized-changes, package-validated, installation-validated

#132 operators kiali (1.39.0)
  operators/kiali/1.39.0/bundle.Dockerfile
  operators/kiali/1.39.0/manifests/kiali.crd.yaml
  operators/kiali/1.39.0/manifests/kiali.v1.39.0.clusterserviceversion.yaml
  operators/kiali/1.39.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#135 operators grafana-operator (4.0.0)
  operators/grafana-operator/4.0.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.0.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.0.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.0.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.0.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.0.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.0.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#134 operators elastic-cloud-eck (1.7.1)
  operators/elastic-cloud-eck/1.7.1/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/elastic-cloud-eck.v1.7.1.clusterserviceversion.yaml
  operators/elastic-cloud-eck/1.7.1/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/1.7.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#137 operators hive-operator (1.1.15)
  operators/hive-operator/1.1.15/hive-operator.v1.1.15.clusterserviceversion.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.15/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.15/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#126 operators [CI] pcc-operator (0.1.0)
  operators/pcc-operator/0.0.1/bundle.Dockerfile
  operators/pcc-operator/0.1.0/bundle.Dockerfile
  operators/pcc-operator/0.1.0/manifests/consoledefenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.0/manifests/consoles.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.0/manifests/defenders.pcc.paloaltonetworks.com.crd.yaml
  operators/pcc-operator/0.1.0/manifests/pcc-operator.v0.1.0.clusterserviceversion.yaml
  operators/pcc-operator/0.1.0/metadata/annotations.yaml
  operators/pcc-operator/0.1.0/tests/scorecard/config.yaml
  operators/pcc-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#139 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#138 operators hive-operator (1.1.9-1.1.8.2) (ocm-2.3)
  operators/hive-operator/1.1.9-1.1.8.2/hive-operator.v1.1.9-1.1.8.2.clusterserviceversion.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.1.9-1.1.8.2/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#136 Upgrade operator keycloak-operator (15.0.2)
  operators/keycloak-operator/15.0.2/bundle.Dockerfile
  operators/keycloak-operator/15.0.2/manifests/keycloak-operator.v15.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/15.0.2/metadata/annotations.yaml
Labels: package-validated, installation-validated

#141 operators qserv-operator (2021.8.1-rc3)
  operators/qserv-operator/2021.8.1-rc3/manifests/qserv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/qserv-operator/2021.8.1-rc3/manifests/qserv-operator-controller-manager_v1_serviceaccount.yaml
  operators/qserv-operator/2021.8.1-rc3/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/qserv-operator/2021.8.1-rc3/manifests/qserv-operator.clusterserviceversion.yaml
  operators/qserv-operator/2021.8.1-rc3/manifests/qserv.lsst.org_qservs.yaml
  operators/qserv-operator/2021.8.1-rc3/metadata/annotations.yaml
  operators/qserv-operator/2021.8.1-rc3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#142 operators [CI] keycloak-operator
  operators/keycloak-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#143 operators [PK] submariner ()
  operators/submariner/submariner.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#144 operators victoriametrics-operator (0.18.0)
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.0/victoriametrics-operator.0.18.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.0/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#157 operators [CI] ibmcloud-operator
  operators/ibmcloud-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#160 operators ibmcloud-operator (1.0.10)
  operators/ibmcloud-operator/1.0.10/apiextensions.k8s.io_v1beta1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.10/apiextensions.k8s.io_v1beta1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.0.10/ibmcloud_operator.v1.0.10.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#161 operators azure-service-operator (1.0.28631)
  operators/azure-service-operator/1.0.28631/azure-service-operator.v1.0.28631.clusterserviceversion.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_apimgmtapis.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_apimservices.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_appinsights.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_appinsightsapikeys.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azureloadbalancers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurenetworkinterfaces.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurepublicipaddresses.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlactions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlfailovergroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlmanagedusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azuresqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevirtualmachineextensions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevirtualmachines.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_azurevmscalesets.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_blobcontainers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_consumergroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_cosmosdbs.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_cosmosdbsqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_eventhubnamespaces.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_eventhubs.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_keyvaultkeys.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_keyvaults.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlaadusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlserveradministrators.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_mysqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqldatabases.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlfirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlservers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlusers.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_postgresqlvnetrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscacheactions.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscachefirewallrules.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_rediscaches.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_resourcegroups.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_storageaccounts.yaml
  operators/azure-service-operator/1.0.28631/azure.microsoft.com_virtualnetworks.yaml
  operators/azure-service-operator/1.0.28631/azureoperator-controller-manager-metrics-service_v1_service.yaml
  operators/azure-service-operator/azure-service-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#162 operators camel-k (1.5.1)
  operators/camel-k/1.5.1/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/camel-k.v1.5.1.clusterserviceversion.yaml
  operators/camel-k/1.5.1/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.5.1/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#163 operators victoriametrics-operator (0.18.1)
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.18.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.18.1/victoriametrics-operator.0.18.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator-psp-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator-psp-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/victoriametrics-operator/0.18.1/vm-operator-vm-operator_v1_serviceaccount.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
