Repository k8s-operatorhub/community-operators, pull requests merged in 2022-07, with the labels that each got.

#1405 remove trivy-operator
  operators/trivy-operator/0.0.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/0.0.1/manifests/trivy-operator.v0.0.1.clusterserviceversion.yaml
  operators/trivy-operator/0.0.1/metadata/annotations.yaml
  operators/trivy-operator/2.1.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.1.0/manifests/trivy-operator.v2.1.0.clusterserviceversion.yaml
  operators/trivy-operator/2.1.0/metadata/annotations.yaml
  operators/trivy-operator/2.1.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.1.1/manifests/trivy-operator.v2.1.1.clusterserviceversion.yaml
  operators/trivy-operator/2.1.1/metadata/annotations.yaml
  operators/trivy-operator/2.2.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.2.0/manifests/trivy-operator.v2.2.0.clusterserviceversion.yaml
  operators/trivy-operator/2.2.0/metadata/annotations.yaml
  operators/trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/trivy-operator/2.3.0/metadata/annotations.yaml
  operators/trivy-operator/bundle.Dockerfile
  operators/trivy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1408 operator [N] [CI] trivy-operator (0.1.0)
  operators/trivy-operator/0.1.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.0/trivy-operator.v0.1.0.clusterserviceversion.yaml
  operators/trivy-operator/0.1.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/ci.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1412 operator falcon-operator (0.5.4)
  operators/falcon-operator/0.5.4/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.4/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.4/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.4/metadata/annotations.yaml
  operators/falcon-operator/0.5.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1415 operator [N] trivy-operator (0.1.0)
  operators/trivy-operator/0.1.0/trivy-operator.v0.1.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1414 operator pulp-operator (0.13.0)
  operators/pulp-operator/0.13.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator.v0.13.0.clusterserviceversion.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.13.0/metadata/annotations.yaml
  operators/pulp-operator/0.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1418 operator [N] trivy-operator (0.1.0)
  operators/trivy-operator/0.1.0/trivy-operator.v0.1.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1421 operator [CI] tektoncd-operator
  operators/tektoncd-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1422 operator [N] trivy-operator (0.1.0)
  operators/trivy-operator/0.1.0/trivy-operator.v0.1.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1423 operator knative-operator (1.5.1)
  operators/knative-operator/1.5.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.5.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.5.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.5.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.5.1/manifests/knative-operator.v1.5.1.clusterserviceversion.yaml
  operators/knative-operator/1.5.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.5.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.5.1/metadata/annotations.yaml
  operators/knative-operator/1.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1426 operator kiali (1.53.0)
  operators/kiali/1.53.0/bundle.Dockerfile
  operators/kiali/1.53.0/manifests/kiali.crd.yaml
  operators/kiali/1.53.0/manifests/kiali.v1.53.0.clusterserviceversion.yaml
  operators/kiali/1.53.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1425 operator project-quay (3.7.3)
  operators/project-quay/3.7.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.3/quayecosystems.crd.yaml
  operators/project-quay/3.7.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1433 operator hive-operator (1.2.3735-66d98a5)
  operators/hive-operator/1.2.3735-66d98a5/hive-operator.v1.2.3735-66d98a5.clusterserviceversion.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3735-66d98a5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3735-66d98a5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1434 operator nfs-provisioner-operator (0.0.5)
  operators/nfs-provisioner-operator/0.0.5/Dockerfile
  operators/nfs-provisioner-operator/0.0.5/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.5/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.5/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1413 operator dell-csm-operator (0.2.0)
  operators/dell-csm-operator/0.2.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.2.0/manifests/dell-csm-operator.v0.2.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.2.0/metadata/annotations.yaml
  operators/dell-csm-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1437 operator mondoo-operator (0.5.0)
  operators/mondoo-operator/0.5.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.5.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.5.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1424 operator tektoncd-operator (0.60.0)
  operators/tektoncd-operator/0.60.0/bundle.Dockerfile
  operators/tektoncd-operator/0.60.0/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektonchains.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektonhubs.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektoninstallersets.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.60.0/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-config-observability_v1_configmap.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-config-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-config-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator-info_v1_configmap.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.60.0/manifests/tekton-operator_v1_service.yaml
  operators/tektoncd-operator/0.60.0/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.60.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1443 operator redis-operator (0.11.0)
  operators/redis-operator/0.11.0/manifests/redis-operator.v0.11.0.clusterserviceversion.yaml
  operators/redis-operator/0.11.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.11.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1431 operator [N] [CI] flink-kubernetes-operator (1.0.1)
  operators/flink-kubernetes-operator/1.0.1/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-keystore.secret.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.configmap.yaml
  operators/flink-kubernetes-operator/1.0.1/manifests/flinkdeployments.flink.apache.org-v1.yml
  operators/flink-kubernetes-operator/1.0.1/manifests/flinksessionjobs.flink.apache.org-v1.yml
  operators/flink-kubernetes-operator/1.0.1/metadata/annotations.yaml
  operators/flink-kubernetes-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1447 operator clever-operator (0.5.3)
  operators/clever-operator/0.5.3/bundle.Dockerfile
  operators/clever-operator/0.5.3/manifests/clever-operator-config-elasticsearch.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-config-provider.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.5.3/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.5.3/metadata/annotations.yaml
  operators/clever-operator/0.5.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1449 operator [N] flink-kubernetes-operator (1.0.1)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1438 operator [CI] opentelemetry-operator
  operators/opentelemetry-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1450 operator postgresql (5.1.2)
  operators/postgresql/5.1.2/Dockerfile
  operators/postgresql/5.1.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.2/metadata/annotations.yaml
  operators/postgresql/5.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1452 operator trivy-operator (0.1.3)
  operators/trivy-operator/0.1.3/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.3/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.3/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.3/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.3/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.3/trivy-operator.v0.1.3.clusterserviceversion.yaml
  operators/trivy-operator/0.1.3/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1455 operator routernetes-operator (0.0.5)
  operators/routernetes-operator/0.0.5/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.5/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.5/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.5/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.5/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1461 operator mondoo-operator (0.6.0)
  operators/mondoo-operator/0.6.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.6.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.6.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1463 operator knative-operator (1.6.0)
  operators/knative-operator/1.6.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.6.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.6.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.6.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.6.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.6.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.6.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.6.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.6.0/manifests/knative-operator.v1.6.0.clusterserviceversion.yaml
  operators/knative-operator/1.6.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.6.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.6.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.6.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.6.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.6.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.6.0/metadata/annotations.yaml
  operators/knative-operator/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1453 operator [R] [CI] community-trivy-operator (2.1.0 2.1.1 2.2.0 2.3.0 2.4.0)
  operators/community-trivy-operator/2.1.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.1.0/manifests/trivy-operator.v2.1.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.1.0/metadata/annotations.yaml
  operators/community-trivy-operator/2.1.1/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.1.1/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.1.1/manifests/trivy-operator.v2.1.1.clusterserviceversion.yaml
  operators/community-trivy-operator/2.1.1/metadata/annotations.yaml
  operators/community-trivy-operator/2.2.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.2.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.2.0/manifests/trivy-operator.v2.2.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.2.0/metadata/annotations.yaml
  operators/community-trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.3.0/metadata/annotations.yaml
  operators/community-trivy-operator/2.4.0/manifests/VulnerabilityReport.yaml
  operators/community-trivy-operator/2.4.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/community-trivy-operator/2.4.0/manifests/trivy-operator.service.yaml
  operators/community-trivy-operator/2.4.0/manifests/trivy-operator.v2.4.0.clusterserviceversion.yaml
  operators/community-trivy-operator/2.4.0/metadata/annotations.yaml
  operators/community-trivy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1403 operator mongodb-atlas-kubernetes (1.1.0)
  operators/mongodb-atlas-kubernetes/1.1.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1446 operator [R] sematext (1.0.33 1.0.46)
  operators/sematext/1.0.33/sematext-operator.v1.0.33.clusterserviceversion.yaml
  operators/sematext/1.0.46/sematext-operator.v1.0.46.clusterserviceversion.yaml
  operators/sematext/1.0.46/sematextagents.sematext.com.crd.yaml
  operators/sematext/1.0.8/sematext-operator.v1.0.8.clusterserviceversion.yaml
  operators/sematext/1.0.8/sematextagents.sematext.com.crd.yaml
  operators/sematext/1.0.9/sematext-operator.v1.0.9.clusterserviceversion.yaml
  operators/sematext/1.0.9/sematextagents.sematext.com.crd.yaml
  operators/sematext/sematext.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1459 operator opentelemetry-operator (0.55.0)
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.55.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.55.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.55.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1466 operator mongodb-enterprise (1.16.3)
  operators/mongodb-enterprise/1.16.3/bundle.Dockerfile
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.16.3/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.16.3/metadata/annotations.yaml
  operators/mongodb-enterprise/1.16.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1467 operator datadog-operator (0.8.1)
  operators/datadog-operator/0.8.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.1/metadata/annotations.yaml
  operators/datadog-operator/0.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1465 operator istio-workspace-operator (0.5.1)
  operators/istio-workspace-operator/0.5.1/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.1/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.1/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1462 operator metallb-operator (0.13.3)
  operators/metallb-operator/0.13.3/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_addresspools.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_bfdprofiles.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_bgpadvertisements.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_bgppeers.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_communities.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_ipaddresspools.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_l2advertisements.yaml
  operators/metallb-operator/0.13.3/manifests/metallb.io_metallbs.yaml
  operators/metallb-operator/0.13.3/manifests/webhook-server-cert_v1_secret.yaml
  operators/metallb-operator/0.13.3/manifests/webhook-service_v1_service.yaml
  operators/metallb-operator/0.13.3/metadata/annotations.yaml
  operators/metallb-operator/0.13.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1471 otc-rds-operator to exceptions
  ci/pipeline-config-k8s.yaml
Labels: dco-failed

#1475 operator mondoo-operator (0.7.0)
  operators/mondoo-operator/0.7.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.7.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.7.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1477 operator trivy-operator (0.1.4)
  operators/trivy-operator/0.1.4/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.4/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.4/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.4/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.4/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.4/trivy-operator.v0.1.4.clusterserviceversion.yaml
  operators/trivy-operator/0.1.4/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1479 operator mondoo-operator (0.7.1)
  operators/mondoo-operator/0.7.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.7.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.7.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1481 operator trivy-operator (0.1.5)
  operators/trivy-operator/0.1.5/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.5/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.5/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.5/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.5/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.5/trivy-operator.v0.1.5.clusterserviceversion.yaml
  operators/trivy-operator/0.1.5/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1482 operator strimzi-kafka-operator (0.30.0)
  operators/strimzi-kafka-operator/0.30.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzi-cluster-operator.v0.30.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.30.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.30.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1483 operator [N] flink-kubernetes-operator (1.0.1)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1484 operator jaeger (1.36.0)
  operators/jaeger/1.36.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.36.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.36.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.36.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.36.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.36.0/metadata/annotations.yaml
  operators/jaeger/1.36.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1492 operator grafana-operator (4.5.1)
  operators/grafana-operator/4.5.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.5.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.5.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.5.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.5.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1478 operator [CI] hpe-csi-operator (2.2.0)
  operators/hpe-csi-operator/2.2.0/Dockerfile
  operators/hpe-csi-operator/2.2.0/manifests/hpe-csi-operator.v2.2.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.2.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.2.0/metadata/annotations.yaml
  operators/hpe-csi-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1489 operator flux (0.31.4)
  operators/flux/0.31.4/manifests/alert.crd.yaml
  operators/flux/0.31.4/manifests/bucket.crd.yaml
  operators/flux/0.31.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.31.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.4/manifests/flux.v0.31.4.clusterserviceversion.yaml
  operators/flux/0.31.4/manifests/gitrepository.crd.yaml
  operators/flux/0.31.4/manifests/helmchart.crd.yaml
  operators/flux/0.31.4/manifests/helmrelease.crd.yaml
  operators/flux/0.31.4/manifests/helmrepository.crd.yaml
  operators/flux/0.31.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.31.4/manifests/imagerepository.crd.yaml
  operators/flux/0.31.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.31.4/manifests/kustomization.crd.yaml
  operators/flux/0.31.4/manifests/notification-controller.service.yaml
  operators/flux/0.31.4/manifests/provider.crd.yaml
  operators/flux/0.31.4/manifests/receiver.crd.yaml
  operators/flux/0.31.4/manifests/source-controller.service.yaml
  operators/flux/0.31.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.31.4/metadata/annotations.yaml
Labels: authorized-changes

#1503 operator [CI] aqua (2022.4.3)
  operators/aqua/2022.4.3/bundle.Dockerfile
  operators/aqua/2022.4.3/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
  operators/aqua/2022.4.3/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.3/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.3/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1470 operator [R] [CI] sosivio (1.2.0-1 1.2.1-1 1.3.0-75 1.3.1-76 1.4.1-79 1.4.1-80)
  operators/sosivio/1.2.0-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.0-1/metadata/annotations.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.1-1/metadata/annotations.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.0-75/metadata/annotations.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.1-76/metadata/annotations.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-79/metadata/annotations.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-80/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1498 operator kubeturbo (8.6.0)
  operators/kubeturbo/8.6.0/kubeturbo-operator.v8.6.0.clusterserviceversion.yaml
  operators/kubeturbo/8.6.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1514 operator klusterlet (0.8.0)
  operators/klusterlet/0.8.0/klusterlet.v0.8.0.clusterserviceversion.yaml
  operators/klusterlet/0.8.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1513 operator cluster-manager (0.8.0)
  operators/cluster-manager/0.8.0/cluster-manager.v0.8.0.clusterserviceversion.yaml
  operators/cluster-manager/0.8.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1515 operator victoriametrics-operator (0.26.2)
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.26.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.26.2/victoriametrics-operator.0.26.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1505 operator ibm-block-csi-operator-community (1.10.0)
  operators/ibm-block-csi-operator-community/1.10.0/bundle-1.10.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.10.0/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.10.0/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.10.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.10.0/manifests/ibm-block-csi-operator.v1.10.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1464 operator [O] seldon-operator (1.13.1)
  operators/seldon-operator/1.13.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.13.1/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1517 operator mondoo-operator (0.8.0)
  operators/mondoo-operator/0.8.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.8.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.8.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1510 operator [N] flink-kubernetes-operator (1.0.1)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, new-operator, allow/operator-recreate

#1499 operator prometurbo (8.6.0)
  operators/prometurbo/8.6.0/prometurbo-operator.v8.6.0.clusterserviceversion.yaml
  operators/prometurbo/8.6.0/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: authorized-changes

#1491 operator [N] [CI] rabbitmq-cluster-operator (1.14.0)
  operators/rabbitmq-cluster-operator/1.14.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/1.14.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/1.14.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/1.14.0/metadata/annotations.yaml
  operators/rabbitmq-cluster-operator/ci.yaml
Labels: new-operator, allow/operator-recreate

#1490 operator [N] [CI] eginnovations-operator (0.0.1)
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.1/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.1/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.1/tests/scorecard/config.yaml
  operators/eginnovations-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1518 operator kogito-operator (1.25.0)
  operators/kogito-operator/1.25.0/bundle.Dockerfile
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.25.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.25.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.25.0/metadata/annotations.yaml
  operators/kogito-operator/1.25.0/tests/scorecard/config.yaml
Labels: authorized-changes

#1523 operator [CI] aerospike-kubernetes-operator (2.1.0)
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.1.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.1.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.1.0/tests/scorecard/config.yaml
  operators/aerospike-kubernetes-operator/ci.yaml
Labels: authorized-changes

#1520 operator [CI] argocd-operator (0.4.0)
  operators/argocd-operator/0.4.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.4.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.4.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.4.0/argocd-operator.v0.4.0.clusterserviceversion.yaml
  operators/argocd-operator/0.4.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.4.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.4.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.4.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.4.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
  operators/argocd-operator/ci.yaml
Labels: authorized-changes
