Repository k8s-operatorhub/community-operators, pull requests merged in 2022-09, with the labels that each got.

#1662 operator project-quay (3.8.0-rc.1)
  operators/project-quay/3.8.0-rc.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.1/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1663 operator kogito-operator (1.27.0)
  operators/kogito-operator/1.27.0/Dockerfile
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.27.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.27.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.27.0/metadata/annotations.yaml
  operators/kogito-operator/1.27.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1669 operator logging-operator (0.4.0)
  operators/logging-operator/0.4.0/manifests/elasticsearches.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/fluentds.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/indexlifecycles.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/indextemplates.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/kibanas.logging.logging.opstreelabs.in.crd.yaml
  operators/logging-operator/0.4.0/manifests/logging-operator.v0.4.0.clusterserviceversion.yaml
  operators/logging-operator/0.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1670 operator project-quay (3.8.0-rc.2)
  operators/project-quay/3.8.0-rc.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.2/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1672 operator security-profiles-operator (0.4.3)
  operators/security-profiles-operator/0.4.3/bundle.Dockerfile
  operators/security-profiles-operator/0.4.3/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.4.3/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.4.3/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.4.3/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.3/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.3/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.4.3/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.4.3/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.4.3/metadata/annotations.yaml
  operators/security-profiles-operator/0.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1680 operator kiali (1.56.0)
  operators/kiali/1.56.0/bundle.Dockerfile
  operators/kiali/1.56.0/manifests/kiali.crd.yaml
  operators/kiali/1.56.0/manifests/kiali.v1.56.0.clusterserviceversion.yaml
  operators/kiali/1.56.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1681 operator hive-operator (1.2.3859-18fe7fc)
  operators/hive-operator/1.2.3859-18fe7fc/hive-operator.v1.2.3859-18fe7fc.clusterserviceversion.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3859-18fe7fc/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1676 operator mondoo-operator (1.3.2)
  operators/mondoo-operator/1.3.2/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.3.2/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.3.2/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1675 operator opentelemetry-operator (0.59.0)
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.59.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.59.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.59.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1649 operator gitlab-operator-kubernetes (0.11.2)
  operators/gitlab-operator-kubernetes/0.11.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1660 operator [CI] tackle-operator (2.1.0)
  operators/tackle-operator/2.1.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.0/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1682 operator service-binding-operator (1.2.0)
  operators/service-binding-operator/1.2.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.2.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.2.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.2.0/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.2.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1683 operator pulsar-operator (0.12.2)
  operators/pulsar-operator/0.12.2/bundle.Dockerfile
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.12.2/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.12.2/metadata/annotations.yaml
  operators/pulsar-operator/0.12.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1684 operator [CI] service-binding-operator
  operators/service-binding-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1689 operator strimzi-kafka-operator (0.31.0)
  operators/strimzi-kafka-operator/0.31.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzi-cluster-operator.v0.31.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.31.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.31.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1692 operator aerospike-kubernetes-operator (2.2.0)
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.2.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1576 operator gitlab-runner-operator (1.10.0)
  operators/gitlab-runner-operator/1.10.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.10.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.10.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.10.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1685 operator bookkeeper-operator (0.12.2)
  operators/bookkeeper-operator/0.12.2/bundle.Dockerfile
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.12.2/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.12.2/metadata/annotations.yaml
  operators/bookkeeper-operator/0.12.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1687 operator [N] [CI] multi-nic-cni-operator (1.0.2)
  operators/multi-nic-cni-operator/1.0.2/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.0.2/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.0.2/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.0.2/tests/scorecard/config.yaml
  operators/multi-nic-cni-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1624 operator [N] [CI] node-maintenance-operator (0.13.1)
  operators/node-maintenance-operator/0.13.1/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.13.1/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.13.1/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.13.1/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.13.1/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.13.1/metadata/annotations.yaml
  operators/node-maintenance-operator/0.13.1/tests/scorecard/config.yaml
  operators/node-maintenance-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1686 operator zookeeper-operator (0.12.2)
  operators/zookeeper-operator/0.12.2/bundle.Dockerfile
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.12.2/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.12.2/metadata/annotations.yaml
  operators/zookeeper-operator/0.12.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1694 operator postgresql (5.2.0)
  operators/postgresql/5.2.0/Dockerfile
  operators/postgresql/5.2.0/licenses/TERMS
  operators/postgresql/5.2.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.2.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.2.0/metadata/annotations.yaml
  operators/postgresql/5.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1693 operator [CI] windup-operator
  operators/windup-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1695 operator shipwright-operator (0.11.0)
  operators/shipwright-operator/0.11.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.11.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.11.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.11.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.11.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.11.0/metadata/annotations.yaml
  operators/shipwright-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1696 operator lbconfig-operator (0.4.0)
  operators/lbconfig-operator/0.4.0/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.4.0/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.4.0/metadata/annotations.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.4.0/tests/scorecard/kuttl/kuttl-test.yaml
Labels: authorized-changes, package-validated, installation-validated

#1697 operator external-secrets-operator (0.6.0-rc1)
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.0-rc1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.0-rc1/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1698 operator microcks (1.6.0)
  operators/microcks/1.6.0/microcks-operator.v1.6.0.clusterserviceversion.yaml
  operators/microcks/1.6.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1700 operator hive-operator (1.2.3865-3c5dc29)
  operators/hive-operator/1.2.3865-3c5dc29/hive-operator.v1.2.3865-3c5dc29.clusterserviceversion.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3865-3c5dc29/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1701 operator project-quay (3.8.0-rc.3)
  operators/project-quay/3.8.0-rc.3/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.3/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.3/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1723 operator project-quay (3.7.8)
  operators/project-quay/3.7.8/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.8/quayecosystems.crd.yaml
  operators/project-quay/3.7.8/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1724 operator verticadb-operator (1.7.0)
  operators/verticadb-operator/1.7.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.7.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.7.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.7.0/metadata/annotations.yaml
  operators/verticadb-operator/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1733 operator yaks (0.11.0)
  operators/yaks/0.11.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.11.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.11.0/yaks.v0.11.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1732 operator mondoo-operator (1.4.1)
  operators/mondoo-operator/1.4.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.4.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.4.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1652 operator [CI] node-healthcheck-operator (0.3.2)
  operators/node-healthcheck-operator/0.3.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.3.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.3.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.3.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.3.2/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.3.2/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.3.2/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1731 operator [N] kong-gateway-operator (0.0.3)
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator-manager-config_v1_configmap.yaml
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator.konghq.com_controlplanes.yaml
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator.konghq.com_dataplanes.yaml
  operators/kong-gateway-operator/0.0.3/manifests/gateway-operator.konghq.com_gatewayconfigurations.yaml
  operators/kong-gateway-operator/0.0.3/manifests/kong-gateway-operator.clusterserviceversion.yaml
  operators/kong-gateway-operator/0.0.3/metadata/annotations.yaml
  operators/kong-gateway-operator/0.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1734 operator [R] deployment-validation-operator (0.0.10 0.1.0 0.1.1 0.2.0 0.2.1 0.2.2 0.3.0)
  operators/deployment-validation-operator/0.0.10/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.0.10/manifests/deploymentvalidationoperator.0.0.10.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.0.10/metadata/annotations.yaml
  operators/deployment-validation-operator/0.0.10/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.1.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.1.0/manifests/deploymentvalidationoperator.0.1.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.1.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.1.0/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.1.1/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.1.1/manifests/deploymentvalidationoperator.0.1.1.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.1.1/metadata/annotations.yaml
  operators/deployment-validation-operator/0.1.1/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.2.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.2.0/manifests/deploymentvalidationoperator.0.2.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.2.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.2.0/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.2.1/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.2.1/manifests/deploymentvalidationoperator.0.2.1.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.2.1/metadata/annotations.yaml
  operators/deployment-validation-operator/0.2.1/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.2.2/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.2.2/manifests/deploymentvalidationoperator.0.2.2.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.2.2/metadata/annotations.yaml
  operators/deployment-validation-operator/0.2.2/tests/scorecard/config.yaml
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.3.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.3.0/tests/scorecard/config.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1736 operator [N] minio-operator (4.5.0)
  operators/minio-operator/4.5.0/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.0/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.0/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.0/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.5.0/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.0/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.5.0/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.0/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.0/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1737 operator trivy-operator (0.2.0)
  operators/trivy-operator/0.2.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.0/trivy-operator.v0.2.0.clusterserviceversion.yaml
  operators/trivy-operator/0.2.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1739 operator keycloak-operator (20.0.0-alpha.6)
  operators/keycloak-operator/20.0.0-alpha.6/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloak-operator.v20.0.0-alpha.6.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.6/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1738 operator keycloak-operator (19.0.2)
  operators/keycloak-operator/19.0.2/bundle.Dockerfile
  operators/keycloak-operator/19.0.2/manifests/keycloak-operator.v19.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.2/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.2/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.2/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.2/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.2/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1742 operator [CI] kong-gateway-operator (0.1.0)
  operators/kong-gateway-operator/0.1.0/bundle.Dockerfile
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator-manager-config_v1_configmap.yaml
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator.konghq.com_controlplanes.yaml
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator.konghq.com_dataplanes.yaml
  operators/kong-gateway-operator/0.1.0/manifests/gateway-operator.konghq.com_gatewayconfigurations.yaml
  operators/kong-gateway-operator/0.1.0/manifests/kong-gateway-operator.clusterserviceversion.yaml
  operators/kong-gateway-operator/0.1.0/metadata/annotations.yaml
  operators/kong-gateway-operator/0.1.0/tests/scorecard/config.yaml
  operators/kong-gateway-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1743 operator mongodb-enterprise (1.17.0)
  operators/mongodb-enterprise/1.17.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.17.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.17.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1744 operator mongodb-atlas-kubernetes (1.3.0)
  operators/mongodb-atlas-kubernetes/1.3.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1745 operator falcon-operator (0.5.5)
  operators/falcon-operator/0.5.5/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.5/metadata/annotations.yaml
  operators/falcon-operator/0.5.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1747 operator aqua (6.5.7)
  operators/aqua/6.5.7/bundle.Dockerfile
  operators/aqua/6.5.7/manifests/aqua-operator.v6.5.7.clusterserviceversion.yaml
  operators/aqua/6.5.7/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.7/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1746 operator [N] [CI] temporal-operator (0.1.0)
  operators/temporal-operator/0.1.0/bundle.Dockerfile
  operators/temporal-operator/0.1.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.1.0/manifests/temporal.io_temporals.yaml
  operators/temporal-operator/0.1.0/metadata/annotations.yaml
  operators/temporal-operator/0.1.0/tests/scorecard/config.yaml
  operators/temporal-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1748 operator trivy-operator (0.2.1)
  operators/trivy-operator/0.2.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.2.1/trivy-operator.v0.2.1.clusterserviceversion.yaml
  operators/trivy-operator/0.2.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1753 operator hive-operator (1.2.3875-367ea2f)
  operators/hive-operator/1.2.3875-367ea2f/hive-operator.v1.2.3875-367ea2f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3875-367ea2f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3875-367ea2f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1754 operator [CI] pulp-operator (0.14.0)
  operators/pulp-operator/0.14.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator.v0.14.0.clusterserviceversion.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.0/metadata/annotations.yaml
  operators/pulp-operator/0.14.0/tests/scorecard/config.yaml
  operators/pulp-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1761 operator mondoo-operator (1.5.0)
  operators/mondoo-operator/1.5.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.5.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.5.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1766 operator mondoo-operator (1.6.0)
  operators/mondoo-operator/1.6.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.6.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.6.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1767 operator rabbitmq-cluster-operator (2.0.0)
  operators/rabbitmq-cluster-operator/2.0.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.0.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.0.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1768 operator gitlab-operator-kubernetes (0.11.3)
  operators/gitlab-operator-kubernetes/0.11.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1770 operator temporal-operator (0.6.2)
  operators/temporal-operator/0.6.2/manifests/apps.alexandrevilain.dev_temporalclusterclients.yaml
  operators/temporal-operator/0.6.2/manifests/apps.alexandrevilain.dev_temporalclusters.yaml
  operators/temporal-operator/0.6.2/manifests/apps.alexandrevilain.dev_temporalnamespaces.yaml
  operators/temporal-operator/0.6.2/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.6.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1771 operator jaeger (1.38.0)
  operators/jaeger/1.38.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.38.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.38.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.38.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.38.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.38.0/metadata/annotations.yaml
  operators/jaeger/1.38.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1774 operator trivy-operator (0.3.0)
  operators/trivy-operator/0.3.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.3.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.3.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.3.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.3.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.3.0/trivy-operator.v0.3.0.clusterserviceversion.yaml
  operators/trivy-operator/0.3.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1764 operator [N] [CI] cc-operator (0.1.0)
  operators/cc-operator/0.1.0/bundle-0.1.0.Dockerfile
  operators/cc-operator/0.1.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.1.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.1.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.1.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.1.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.1.0/metadata/annotations.yaml
  operators/cc-operator/0.1.0/tests/scorecard/config.yaml
  operators/cc-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1772 operator function-mesh (0.6.0)
  operators/function-mesh/0.6.0/bundle.Dockerfile
  operators/function-mesh/0.6.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.6.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.6.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.6.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.6.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.6.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/function-mesh/0.6.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.6.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.6.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.6.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.6.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.6.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.6.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.6.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.6.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.6.0/metadata/annotations.yaml
  operators/function-mesh/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1773 operator gitlab-operator-kubernetes (0.12.0)
  operators/gitlab-operator-kubernetes/0.12.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.12.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.12.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.12.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.12.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.12.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1597 operator percona-postgresql-operator (1.3.0)
  operators/percona-postgresql-operator/1.3.0/percona-postgresql-operator.v1.3.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.3.0/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/percona-postgresql-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1775 operator project-quay (3.8.0-rc.4)
  operators/project-quay/3.8.0-rc.4/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.4/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.4/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1749 operator [CI] rocketmq-operator (0.3.0)
  operators/rocketmq-operator/0.3.0/brokers.rocketmq.apache.org.crd.yaml
  operators/rocketmq-operator/0.3.0/consoles.rocketmq.apache.org.crd.yaml
  operators/rocketmq-operator/0.3.0/nameservices.rocketmq.apache.org.crd.yaml
  operators/rocketmq-operator/0.3.0/rocketmq-operator.0.3.0.clusterserviceversion.yaml
  operators/rocketmq-operator/0.3.0/topictransfers.rocketmq.apache.org.crd.yaml
  operators/rocketmq-operator/ci.yaml
  operators/rocketmq-operator/rocketmq-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1778 operator [CI] gingersnap
  operators/gingersnap/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1779 operator hive-operator (1.2.3883-849ebe8)
  operators/hive-operator/1.2.3883-849ebe8/hive-operator.v1.2.3883-849ebe8.clusterserviceversion.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3883-849ebe8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3883-849ebe8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1781 operator mondoo-operator (1.6.1)
  operators/mondoo-operator/1.6.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.6.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.6.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1782 operator dynatrace-operator (0.9.0)
  operators/dynatrace-operator/0.9.0/Dockerfile
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.9.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1783 operator aerospike-kubernetes-operator (2.2.1)
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.2.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.2.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1784 operator [N] minio-operator (4.5.1)
  operators/minio-operator/4.5.1/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.1/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.1/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.1/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.5.1/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.1/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.5.1/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.1/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.1/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1785 operator flink-kubernetes-operator (1.1.0)
  operators/flink-kubernetes-operator/1.1.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator-service_v1_service.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1787 operator cass-operator-community (1.13.0)
  operators/cass-operator-community/1.13.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.13.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.13.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.13.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.13.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.13.0/metadata/annotations.yaml
  operators/cass-operator-community/1.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1788 operator [O] deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1789 operator dell-csi-operator (1.9.0)
  operators/dell-csi-operator/1.9.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.9.0/dell-csi-operator.v1.9.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
