Repository k8s-operatorhub/community-operators, pull requests merged in 2022-06, with the labels that each got.

#1286 operators bookkeeper-operator (0.11.0)
  operators/bookkeeper-operator/0.11.0/bundle.Dockerfile
  operators/bookkeeper-operator/0.11.0/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.11.0/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.11.0/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.11.0/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.11.0/metadata/annotations.yaml
  operators/bookkeeper-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1285 operators pulsar-operator (0.11.0)
  operators/pulsar-operator/0.11.0/bundle.Dockerfile
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.11.0/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.11.0/metadata/annotations.yaml
  operators/pulsar-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1281 operators falcon-operator (0.5.3)
  operators/falcon-operator/0.5.3/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.3/metadata/annotations.yaml
  operators/falcon-operator/0.5.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1295 operators starboard-operator (0.15.6)
  operators/starboard-operator/0.15.6/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.6/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.6/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.6/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.6/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.6/starboard-operator.v0.15.4.clusterserviceversion.yaml
  operators/starboard-operator/0.15.6/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1296 operators external-secrets-operator (0.5.6)
  operators/external-secrets-operator/0.5.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1297 operators telegraf-operator (1.3.7)
  operators/telegraf-operator/1.3.7/Dockerfile
  operators/telegraf-operator/1.3.7/manifests/classes-secret.yaml
  operators/telegraf-operator/1.3.7/manifests/telegraf-operator-v1.3.7.clusterserviceversion.yaml
  operators/telegraf-operator/1.3.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1298 operators knative-operator (1.5.0)
  operators/knative-operator/1.5.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.5.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.5.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.5.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.5.0/manifests/knative-operator.v1.5.0.clusterserviceversion.yaml
  operators/knative-operator/1.5.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.5.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.5.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.5.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.5.0/metadata/annotations.yaml
  operators/knative-operator/1.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1300 operators pulp-operator (0.11.0)
  operators/pulp-operator/0.11.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator.v0.11.0.clusterserviceversion.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.0/metadata/annotations.yaml
  operators/pulp-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1302 operators shipwright-operator (0.10.0)
  operators/shipwright-operator/0.10.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.10.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.10.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.10.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.10.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.10.0/metadata/annotations.yaml
  operators/shipwright-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1304 operators hive-operator (2.5.3516-a2ed9b3)
  operators/hive-operator/2.5.3516-a2ed9b3/hive-operator.v2.5.3516-a2ed9b3.clusterserviceversion.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3516-a2ed9b3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1301 operators [N] [CI] log2rbac (0.0.2)
  operators/log2rbac/0.0.2/manifests/log2rbac-metrics.service.yaml
  operators/log2rbac/0.0.2/manifests/log2rbac-operator.v0.0.2.clusterserviceversion.yaml
  operators/log2rbac/0.0.2/manifests/rbacnegotiations.kremser.dev.customresourcedefinition.yaml
  operators/log2rbac/0.0.2/metadata/annotations.yaml
  operators/log2rbac/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1307 operators kogito-operator (1.22.1)
  operators/kogito-operator/1.22.1/Dockerfile
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.22.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.22.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.22.1/metadata/annotations.yaml
  operators/kogito-operator/1.22.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1309 operators hive-operator (1.2.3676-b7b175c)
  operators/hive-operator/1.2.3676-b7b175c/hive-operator.v1.2.3676-b7b175c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3676-b7b175c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3676-b7b175c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3676-b7b175c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3676-b7b175c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1305 operators verticadb-operator (1.5.0)
  operators/verticadb-operator/1.5.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.5.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.5.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.5.0/metadata/annotations.yaml
  operators/verticadb-operator/1.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1306 operators [R] druid-operator (0.0.7 0.0.8 0.0.9)
  operators/druid-operator/0.0.7/druid-operator.v0.0.7.clusterserviceversion.yaml
  operators/druid-operator/0.0.8/druid-operator.v0.0.8.clusterserviceversion.yaml
  operators/druid-operator/0.0.9/druid-operator.v0.0.9.clusterserviceversion.yaml
  operators/druid-operator/0.0.9/druid.apache.org_druids.yaml
  operators/druid-operator/druid-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1311 operators nfd-operator (0.5.0)
  operators/nfd-operator/0.5.0/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/nfd-operator/0.5.0/manifests/nfd-manager-config_v1_configmap.yaml
  operators/nfd-operator/0.5.0/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfd-operator/0.5.0/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  operators/nfd-operator/0.5.0/manifests/nfd.kubernetes.io_nodefeaturerules.yaml
  operators/nfd-operator/0.5.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  operators/nfd-operator/0.5.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nfd-operator/0.5.0/metadata/annotations.yaml
  operators/nfd-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1310 operators tackle-operator (2.0.0-beta.1)
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0-beta.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1312 operators service-binding-operator (1.1.0)
  operators/service-binding-operator/1.1.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.1.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.1.0/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.1.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1314 operators [O] service-binding-operator (1.1.0)
  operators/service-binding-operator/1.1.0/manifests/service-binding-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1315 operators pulp-operator (0.11.1)
  operators/pulp-operator/0.11.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator.v0.11.1.clusterserviceversion.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.1/metadata/annotations.yaml
  operators/pulp-operator/0.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1316 operators snyk-operator (1.92.0)
  operators/snyk-operator/1.92.0/snyk-operator.v1.92.0.clusterserviceversion.yaml
  operators/snyk-operator/1.92.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1317 operators project-quay (3.7.1)
  operators/project-quay/3.7.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.1/quayecosystems.crd.yaml
  operators/project-quay/3.7.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1319 operators t8c (42.10.0)
  operators/t8c/42.10.0/t8c-operator.v42.10.0.clusterserviceversion.yaml
  operators/t8c/42.10.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1321 operators kiali (1.52.0)
  operators/kiali/1.52.0/bundle.Dockerfile
  operators/kiali/1.52.0/manifests/kiali.crd.yaml
  operators/kiali/1.52.0/manifests/kiali.v1.52.0.clusterserviceversion.yaml
  operators/kiali/1.52.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1320 operators hive-operator (1.2.3687-204949e)
  operators/hive-operator/1.2.3687-204949e/hive-operator.v1.2.3687-204949e.clusterserviceversion.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3687-204949e/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3687-204949e/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1325 Add pavolloffay to reviewers in OTEL operator
  operators/opentelemetry-operator/ci.yaml
Labels: dco-failed

#1326 operators aqua (2022.4.2)
  operators/aqua/2022.4.2/bundle.Dockerfile
  operators/aqua/2022.4.2/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
  operators/aqua/2022.4.2/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.2/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1330 operators mondoo-operator (0.4.0)
  operators/mondoo-operator/0.4.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.4.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.4.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1329 operators [N] [CI] routernetes-operator (0.0.2)
  operators/routernetes-operator/0.0.2/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.2/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.2/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.2/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.2/routernetes.net_routers.yaml
  operators/routernetes-operator/ci.yaml
  operators/routernetes-operator/routernetes-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1332 operators aqua (6.5.6)
  operators/aqua/6.5.6/bundle.Dockerfile
  operators/aqua/6.5.6/manifests/aqua-operator.v6.5.6.clusterserviceversion.yaml
  operators/aqua/6.5.6/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.6/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1318 operators [CI] tackle-operator (2.0.0)
  operators/tackle-operator/2.0.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1336 operators [R] routernetes-operator (0.0.2 0.0.3)
  operators/routernetes-operator/0.0.2/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.2/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.2/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.2/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.2/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.2/metadata/annotations.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.3/metadata/annotations.yaml
  operators/routernetes-operator/routernetes-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1337 operators pulp-operator (0.12.0)
  operators/pulp-operator/0.12.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator.v0.12.0.clusterserviceversion.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.12.0/metadata/annotations.yaml
  operators/pulp-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1342 operators postgresql (5.1.1)
  operators/postgresql/5.1.1/Dockerfile
  operators/postgresql/5.1.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.1/metadata/annotations.yaml
  operators/postgresql/5.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1345 operators keycloak-operator (20.0.0-alpha.2)
  operators/keycloak-operator/20.0.0-alpha.2/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloak-operator.v20.0.0-alpha.2.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1339 operators [N] routernetes-operator (0.0.4)
  operators/routernetes-operator/0.0.2/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.3/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.3/metadata/annotations.yaml
  operators/routernetes-operator/0.0.4/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.4/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.4/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.4/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.4/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1338 operators [CI] ack-emrcontainers-controller
  operators/ack-emrcontainers-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#1344 operators [CI] hazelcast-platform-operator
  operators/hazelcast-platform-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1356 operators [CI] service-binding-operator
  operators/service-binding-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1357 operators telegraf-operator (1.3.8)
  operators/telegraf-operator/1.3.8/Dockerfile
  operators/telegraf-operator/1.3.8/manifests/classes-secret.yaml
  operators/telegraf-operator/1.3.8/manifests/telegraf-operator-v1.3.8.clusterserviceversion.yaml
  operators/telegraf-operator/1.3.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1365 operators [CI] cryostat-operator (2.1.1)
  operators/cryostat-operator/2.1.1/Dockerfile
  operators/cryostat-operator/2.1.1/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.1.1/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.1.1/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.1.1/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.1.1/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.1.1/manifests/operator.cryostat.io_flightrecorders.yaml
  operators/cryostat-operator/2.1.1/manifests/operator.cryostat.io_recordings.yaml
  operators/cryostat-operator/2.1.1/metadata/annotations.yaml
  operators/cryostat-operator/2.1.1/tests/scorecard/config.yaml
  operators/cryostat-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1359 operators [N] minio-operator (4.4.23)
  operators/minio-operator/4.4.23/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.23/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.23/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.23/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.4.23/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.23/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.4.23/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.23/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.23/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.23/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1355 operators service-binding-operator (1.1.1)
  operators/service-binding-operator/1.1.1/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.1.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.1.1/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.1.1/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.1.1/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1369 operators mondoo-operator (0.4.2)
  operators/mondoo-operator/0.4.2/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.4.2/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.4.2/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1370 operators hazelcast-platform-operator (5.3.0)
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.3.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.3.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1372 operators external-secrets-operator (0.5.7)
  operators/external-secrets-operator/0.5.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1368 operators [N] minio-operator (4.4.25)
  operators/minio-operator/4.4.23/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.4.23/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.23/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.4.25/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.25/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.25/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.25/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.25/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.25/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.25/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1371 operators portworx (1.8.1)
  operators/portworx/1.8.1/core_v1_storagecluster_crd.yaml
  operators/portworx/1.8.1/core_v1_storagenode_crd.yaml
  operators/portworx/1.8.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1373 operators project-quay (3.7.2)
  operators/project-quay/3.7.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.2/quayecosystems.crd.yaml
  operators/project-quay/3.7.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1382 operators kogito-operator (1.23.0)
  operators/kogito-operator/1.23.0/Dockerfile
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.23.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.23.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.23.0/metadata/annotations.yaml
  operators/kogito-operator/1.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1383 operators dynatrace-operator (0.7.0)
  operators/dynatrace-operator/0.7.0/Dockerfile
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.7.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1378 operator ibm-spectrum-scale-csi-operator (2.6.0)
  operators/ibm-spectrum-scale-csi-operator/2.6.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.6.0/ibm-spectrum-scale-csi-operator.v2.6.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1388 operator kubernetes-imagepuller-operator (1.0.1)
  operators/kubernetes-imagepuller-operator/1.0.1/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/kubernetes-imagepuller-operator.v1.0.1.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1391 operator hive-operator (1.2.3725-6ac23a8)
  operators/hive-operator/1.2.3725-6ac23a8/hive-operator.v1.2.3725-6ac23a8.clusterserviceversion.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3725-6ac23a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1393 operator mongodb-enterprise (1.16.2)
  operators/mongodb-enterprise/1.16.2/bundle.Dockerfile
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.16.2/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.16.2/metadata/annotations.yaml
  operators/mongodb-enterprise/1.16.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1395 operator netobserv-operator (0.1.3)
  operators/netobserv-operator/0.1.3/bundle.Dockerfile
  operators/netobserv-operator/0.1.3/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.3/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1399 operator zookeeper-operator (0.11.5)
  operators/zookeeper-operator/0.11.5/bundle.Dockerfile
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.11.5/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.11.5/metadata/annotations.yaml
  operators/zookeeper-operator/0.11.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1398 operator bookkeeper-operator (0.11.5)
  operators/bookkeeper-operator/0.11.5/bundle.Dockerfile
  operators/bookkeeper-operator/0.11.5/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.11.5/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.11.5/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.11.5/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.11.5/metadata/annotations.yaml
  operators/bookkeeper-operator/0.11.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1400 operator keycloak-operator (18.0.2)
  operators/keycloak-operator/18.0.2/bundle.Dockerfile
  operators/keycloak-operator/18.0.2/manifests/keycloak-operator.v18.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/18.0.2/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.2/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.2/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.2/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.2/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1401 operator keycloak-operator (20.0.0-alpha.3)
  operators/keycloak-operator/20.0.0-alpha.3/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloak-operator.v20.0.0-alpha.3.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.3/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1402 operator verticadb-operator (1.6.0)
  operators/verticadb-operator/1.6.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.6.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.6.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.6.0/metadata/annotations.yaml
  operators/verticadb-operator/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1404 operator [CI] flux (0.31.3)
  operators/flux/0.31.3/manifests/alert.crd.yaml
  operators/flux/0.31.3/manifests/bucket.crd.yaml
  operators/flux/0.31.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.31.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.31.3/manifests/flux.v0.31.3.clusterserviceversion.yaml
  operators/flux/0.31.3/manifests/gitrepository.crd.yaml
  operators/flux/0.31.3/manifests/helmchart.crd.yaml
  operators/flux/0.31.3/manifests/helmrelease.crd.yaml
  operators/flux/0.31.3/manifests/helmrepository.crd.yaml
  operators/flux/0.31.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.31.3/manifests/imagerepository.crd.yaml
  operators/flux/0.31.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.31.3/manifests/kustomization.crd.yaml
  operators/flux/0.31.3/manifests/notification-controller.service.yaml
  operators/flux/0.31.3/manifests/provider.crd.yaml
  operators/flux/0.31.3/manifests/receiver.crd.yaml
  operators/flux/0.31.3/manifests/source-controller.service.yaml
  operators/flux/0.31.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.31.3/metadata/annotations.yaml
  operators/flux/ci.yaml
Labels: authorized-changes, package-validated, installation-validated
