Repository k8s-operatorhub/community-operators, pull requests merged in 2022-10, with the labels that each got.

#1780 bump kind
  ci/pipeline-config-k8s.yaml
Labels: package-validated, installation-validated, do-not-merge/hold, allow/ci-changes

#1790 operator kogito-operator (1.28.0)
  operators/kogito-operator/1.28.0/Dockerfile
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.28.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.28.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.28.0/metadata/annotations.yaml
  operators/kogito-operator/1.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1793 operator temporal-operator (0.7.0)
  operators/temporal-operator/0.7.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.7.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.7.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.7.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1796 operator pulp-operator (0.14.1)
  operators/pulp-operator/0.14.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator.v0.14.1.clusterserviceversion.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.14.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.1/metadata/annotations.yaml
  operators/pulp-operator/0.14.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1795 operator [N] [CI] edp-keycloak-operator (1.13.0)
  operators/edp-keycloak-operator/1.13.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.13.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.13.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.13.0/tests/scorecard/config.yaml
  operators/edp-keycloak-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1797 operator tackle-operator (2.1.1)
  operators/tackle-operator/2.1.1/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1800 operator kube-green (0.4.1)
  operators/kube-green/0.4.1/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.4.1/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.4.1/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.4.1/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.4.1/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.4.1/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.4.1/metadata/annotations.yaml
  operators/kube-green/0.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1801 operator [R] app-director-operator (0.8.0)
  operators/app-director-operator/0.8.0/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_guvnors.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1802 operator [CI] eginnovations-operator (0.0.2)
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.2/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.2/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.2/tests/scorecard/config.yaml
  operators/eginnovations-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1804 operator rabbitmq-messaging-topology-operator (1.9.0)
  operators/rabbitmq-messaging-topology-operator/1.9.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1806 operator [O] deployment-validation-operator (0.3.0)
  operators/deployment-validation-operator/0.3.0/manifests/deploymentvalidationoperator.0.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1805 operator grafana-operator (4.7.0)
  operators/grafana-operator/4.7.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.7.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.7.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.7.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.7.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1807 operator mongodb-enterprise (1.17.1)
  operators/mongodb-enterprise/1.17.1/bundle.Dockerfile
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.17.1/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.17.1/metadata/annotations.yaml
  operators/mongodb-enterprise/1.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1808 operator keycloak-operator (19.0.3)
  operators/keycloak-operator/19.0.3/bundle.Dockerfile
  operators/keycloak-operator/19.0.3/manifests/keycloak-operator.v19.0.3.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1809 operator keycloak-operator (20.0.0-alpha.7)
  operators/keycloak-operator/20.0.0-alpha.7/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloak-operator.v20.0.0-alpha.7.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.7/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1812 operator service-binding-operator (1.3.0)
  operators/service-binding-operator/1.3.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.0/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1815 operator [O] app-director-operator (0.8.0)
  operators/app-director-operator/0.8.0/manifests/app-director-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1816 operator datadog-operator (0.8.2)
  operators/datadog-operator/0.8.2/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.2/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.2/metadata/annotations.yaml
  operators/datadog-operator/0.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1817 operator external-secrets-operator (0.6.0)
  operators/external-secrets-operator/0.6.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1820 operator mondoo-operator (1.6.3)
  operators/mondoo-operator/1.6.3/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.6.3/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.6.3/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1799 operator ibm-security-verify-access-operator (22.10.0)
  operators/ibm-security-verify-access-operator/22.10.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/22.10.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/22.10.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/22.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1822 operator [N] [CI] awx-operator (0.30.0)
  operators/awx-operator/0.30.0/bundle.Dockerfile
  operators/awx-operator/0.30.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/0.30.0/manifests/awx-operator.v0.30.0.clusterserviceversion.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/0.30.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/0.30.0/metadata/annotations.yaml
  operators/awx-operator/0.30.0/tests/scorecard/config.yaml
  operators/awx-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1821 operator [O] kong (0.9.0)
  operators/kong/0.9.0/kong.v0.9.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1823 operator camel-k (1.10.1)
  operators/camel-k/1.10.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/camel-k.v1.10.1.clusterserviceversion.yaml
  operators/camel-k/1.10.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.1/metadata/annotations.yaml
  operators/camel-k/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1829 operator kogito-operator (1.29.0)
  operators/kogito-operator/1.29.0/Dockerfile
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.29.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.29.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.29.0/metadata/annotations.yaml
  operators/kogito-operator/1.29.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1826 operator [N] [CI] camel-karavan-operator (3.18.5)
  operators/camel-karavan-operator/3.18.5/manifests/camel-karavan-operator.v3.18.5.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.18.5/manifests/karavans.camel.apache.org.crd.yml
  operators/camel-karavan-operator/3.18.5/metadata/annotations.yaml
  operators/camel-karavan-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1832 operator redis-operator (0.12.0)
  operators/redis-operator/0.12.0/manifests/redis-operator.v0.12.0.clusterserviceversion.yaml
  operators/redis-operator/0.12.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.12.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1833 operator [O] redis-operator (0.12.0)
  operators/redis-operator/0.12.0/manifests/redis-operator.v0.12.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1835 operator [N] camel-karavan-operator (3.18.5)
  operators/camel-karavan-operator/3.18.5/manifests/camel-karavan-operator.v3.18.5.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.18.5/manifests/karavans.camel.apache.org.crd.yml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1836 operator project-quay (3.7.9)
  operators/project-quay/3.7.9/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.9/quayecosystems.crd.yaml
  operators/project-quay/3.7.9/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1838 operator [N] camel-karavan-operator (3.18.5)
  operators/camel-karavan-operator/3.18.5/manifests/camel-karavan-operator.v3.18.5.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1839 operator hive-operator (1.2.3892-4a7b257)
  operators/hive-operator/1.2.3892-4a7b257/hive-operator.v1.2.3892-4a7b257.clusterserviceversion.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3892-4a7b257/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3892-4a7b257/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1841 operator mongodb-enterprise (1.17.2)
  operators/mongodb-enterprise/1.17.2/bundle.Dockerfile
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.17.2/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.17.2/metadata/annotations.yaml
  operators/mongodb-enterprise/1.17.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1842 operator security-profiles-operator (0.5.0)
  operators/security-profiles-operator/0.5.0/bundle.Dockerfile
  operators/security-profiles-operator/0.5.0/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.5.0/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.5.0/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.5.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.5.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.5.0/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.5.0/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.5.0/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.5.0/metadata/annotations.yaml
  operators/security-profiles-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1844 operator mondoo-operator (1.6.4)
  operators/mondoo-operator/1.6.4/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.6.4/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.6.4/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1845 operator routernetes-operator (0.0.7)
  operators/routernetes-operator/0.0.7/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.7/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.7/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.7/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.7/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1846 operator trivy-operator (0.4.0)
  operators/trivy-operator/0.4.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.4.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.4.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.4.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.4.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.4.0/trivy-operator.v0.4.0.clusterserviceversion.yaml
  operators/trivy-operator/0.4.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1848 operator [R] kiali (1.57.0 1.58.0)
  operators/kiali/1.57.0/bundle.Dockerfile
  operators/kiali/1.57.0/manifests/kiali.crd.yaml
  operators/kiali/1.57.0/manifests/kiali.v1.57.0.clusterserviceversion.yaml
  operators/kiali/1.57.0/metadata/annotations.yaml
  operators/kiali/1.58.0/bundle.Dockerfile
  operators/kiali/1.58.0/manifests/kiali.crd.yaml
  operators/kiali/1.58.0/manifests/kiali.v1.58.0.clusterserviceversion.yaml
  operators/kiali/1.58.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1849 operator app-director-operator (0.9.0)
  operators/app-director-operator/0.9.0/Dockerfile
  operators/app-director-operator/0.9.0/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.9.0/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.9.0/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.9.0/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.9.0/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/0.9.0/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/0.9.0/metadata/annotations.yaml
  operators/app-director-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1853 operator camel-k (1.10.2)
  operators/camel-k/1.10.2/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/camel-k.v1.10.2.clusterserviceversion.yaml
  operators/camel-k/1.10.2/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.2/metadata/annotations.yaml
  operators/camel-k/1.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1852 operator jaeger (1.38.1)
  operators/jaeger/1.38.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.38.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.38.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.38.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.38.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.38.1/metadata/annotations.yaml
  operators/jaeger/1.38.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1855 operator dynatrace-operator (0.9.1)
  operators/dynatrace-operator/0.9.1/Dockerfile
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.9.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.9.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1854 operator function-mesh (0.7.0)
  operators/function-mesh/0.7.0/bundle.Dockerfile
  operators/function-mesh/0.7.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.7.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.7.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.7.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.7.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.7.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/function-mesh/0.7.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.7.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.7.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.7.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.7.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.7.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.7.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.7.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.7.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.7.0/metadata/annotations.yaml
  operators/function-mesh/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1856 operator flux (0.35.0)
  operators/flux/0.35.0/manifests/alert.crd.yaml
  operators/flux/0.35.0/manifests/bucket.crd.yaml
  operators/flux/0.35.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.35.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.35.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.35.0/manifests/flux.v0.35.0.clusterserviceversion.yaml
  operators/flux/0.35.0/manifests/gitrepository.crd.yaml
  operators/flux/0.35.0/manifests/helmchart.crd.yaml
  operators/flux/0.35.0/manifests/helmrelease.crd.yaml
  operators/flux/0.35.0/manifests/helmrepository.crd.yaml
  operators/flux/0.35.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.35.0/manifests/imagerepository.crd.yaml
  operators/flux/0.35.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.35.0/manifests/kustomization.crd.yaml
  operators/flux/0.35.0/manifests/notification-controller.service.yaml
  operators/flux/0.35.0/manifests/ocirepository.crd.yaml
  operators/flux/0.35.0/manifests/provider.crd.yaml
  operators/flux/0.35.0/manifests/receiver.crd.yaml
  operators/flux/0.35.0/manifests/source-controller.service.yaml
  operators/flux/0.35.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.35.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1847 operator grafana-operator (4.7.1)
  operators/grafana-operator/4.7.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.7.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.7.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.7.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.7.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1858 operator opentelemetry-operator (0.61.0)
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.61.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.61.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.61.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1859 operator infinispan (2.3.0)
  operators/infinispan/2.3.0/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.0/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.0/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.0/metadata/annotations.yaml
  operators/infinispan/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1862 operator service-binding-operator (1.3.1)
  operators/service-binding-operator/1.3.1/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.1/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.1/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.1/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.1/metadata/annotations.yaml
  operators/service-binding-operator/1.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1865 operator [N] node-healthcheck-operator (0.3.2)
  operators/node-healthcheck-operator/0.0.1/bundle.Dockerfile
  operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.0.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.0.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.0.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.0.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.0.1/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.0.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.0.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.0.2/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.0.2/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.0.2/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.0/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-controller-manager_v1_serviceaccount.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-config_v1_configmap.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.1/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-manager-aggregator-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-manager-role-aggregator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.1.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.1.2/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.1.2/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1864 operator [N] [CI] kubero-operator (0.0.70)
  operators/kubero-operator/0.0.70/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.70/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.70/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.70/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.70/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.70/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.70/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.70/metadata/annotations.yaml
  operators/kubero-operator/0.0.70/tests/scorecard/config.yaml
  operators/kubero-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1866 operator gitlab-operator-kubernetes (0.12.3)
  operators/gitlab-operator-kubernetes/0.12.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.12.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.12.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.12.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.12.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.12.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.12.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1867 operator flux (0.36.0)
  operators/flux/0.36.0/manifests/alert.crd.yaml
  operators/flux/0.36.0/manifests/bucket.crd.yaml
  operators/flux/0.36.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.36.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.36.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.36.0/manifests/flux.v0.36.0.clusterserviceversion.yaml
  operators/flux/0.36.0/manifests/gitrepository.crd.yaml
  operators/flux/0.36.0/manifests/helmchart.crd.yaml
  operators/flux/0.36.0/manifests/helmrelease.crd.yaml
  operators/flux/0.36.0/manifests/helmrepository.crd.yaml
  operators/flux/0.36.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.36.0/manifests/imagerepository.crd.yaml
  operators/flux/0.36.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.36.0/manifests/kustomization.crd.yaml
  operators/flux/0.36.0/manifests/notification-controller.service.yaml
  operators/flux/0.36.0/manifests/ocirepository.crd.yaml
  operators/flux/0.36.0/manifests/provider.crd.yaml
  operators/flux/0.36.0/manifests/receiver.crd.yaml
  operators/flux/0.36.0/manifests/source-controller.service.yaml
  operators/flux/0.36.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.36.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1869 operator hive-operator (1.2.3896-1496d23)
  operators/hive-operator/1.2.3896-1496d23/hive-operator.v1.2.3896-1496d23.clusterserviceversion.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3896-1496d23/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3896-1496d23/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3896-1496d23/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3896-1496d23/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1870 operator portworx (1.10.0)
  operators/portworx/1.10.0/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.0/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1868 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1873 operator cert-manager (1.10.0-rc1)
  operators/cert-manager/1.10.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1872 operator netobserv-operator (0.2.0)
  operators/netobserv-operator/0.2.0/bundle.Dockerfile
  operators/netobserv-operator/0.2.0/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.0/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1874 operator mondoo-operator (1.7.0)
  operators/mondoo-operator/1.7.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.7.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.7.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1876 operator [R] flink-kubernetes-operator (1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1877 operator [R] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1879 operator kubero-operator (0.0.71)
  operators/kubero-operator/0.0.71/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.71/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.71/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.71/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.71/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.71/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.71/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.71/metadata/annotations.yaml
  operators/kubero-operator/0.0.71/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1843 operator k8gb (0.10.0)
  operators/k8gb/0.10.0/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.10.0/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.10.0/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.10.0/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.10.0/manifests/k8gb.v0.10.0.clusterserviceversion.yaml
  operators/k8gb/0.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1861 operator log2rbac (0.0.5)
  operators/log2rbac/0.0.5/manifests/log2rbac-metrics.service.yaml
  operators/log2rbac/0.0.5/manifests/log2rbac-operator.v0.0.5.clusterserviceversion.yaml
  operators/log2rbac/0.0.5/manifests/rbacnegotiations.kremser.dev.customresourcedefinition.yaml
  operators/log2rbac/0.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1882 operator [R] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1871 operator gitlab-operator-kubernetes (0.13.0)
  operators/gitlab-operator-kubernetes/0.13.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1883 operator mongodb-atlas-kubernetes (1.4.0)
  operators/mongodb-atlas-kubernetes/1.4.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1884 operator gitlab-operator-kubernetes (0.13.1)
  operators/gitlab-operator-kubernetes/0.13.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1885 operator [O] redis-operator (0.12.0)
  operators/redis-operator/0.12.0/manifests/redis-operator.v0.12.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1886 operator external-secrets-operator (0.6.1)
  operators/external-secrets-operator/0.6.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.6.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.6.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.6.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1887 operator trivy-operator (0.5.0)
  operators/trivy-operator/0.5.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.5.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.5.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.5.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.5.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.5.0/trivy-operator.v0.5.0.clusterserviceversion.yaml
  operators/trivy-operator/0.5.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1888 operator cluster-manager (0.9.1)
  operators/cluster-manager/0.9.1/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.9.1/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1889 operator klusterlet (0.9.1)
  operators/klusterlet/0.9.1/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.9.1/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1890 operator hive-operator (1.2.3904-e25c14f)
  operators/hive-operator/1.2.3904-e25c14f/hive-operator.v1.2.3904-e25c14f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3904-e25c14f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3904-e25c14f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1891 operator knative-operator (1.8.0)
  operators/knative-operator/1.8.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.8.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.8.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.8.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.8.0/manifests/knative-operator.v1.8.0.clusterserviceversion.yaml
  operators/knative-operator/1.8.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.8.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.8.0/metadata/annotations.yaml
  operators/knative-operator/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1892 operator project-quay (3.8.0-rc.5)
  operators/project-quay/3.8.0-rc.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.5/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1893 operator routernetes-operator (0.0.8)
  operators/routernetes-operator/0.0.8/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.8/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.8/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.8/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.8/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
