Repository k8s-operatorhub/community-operators, pull requests merged in 2022-11, with the labels that each got.

#1894 operator project-quay (3.7.10)
  operators/project-quay/3.7.10/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.10/quayecosystems.crd.yaml
  operators/project-quay/3.7.10/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1895 operator project-quay (3.8.0-rc.6)
  operators/project-quay/3.8.0-rc.6/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.6/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.6/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1896 operator keycloak-operator (20.0.0)
  operators/keycloak-operator/20.0.0/bundle.Dockerfile
  operators/keycloak-operator/20.0.0/manifests/keycloak-operator.v20.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1897 operator project-quay (3.7.10)
  operators/project-quay/3.7.10/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.10/quayecosystems.crd.yaml
  operators/project-quay/3.7.10/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1899 operator mondoo-operator (1.7.1)
  operators/mondoo-operator/1.7.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.7.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.7.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1900 operator cert-manager (1.10.0)
  operators/cert-manager/1.10.0/bundle.Dockerfile
  operators/cert-manager/1.10.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.0/metadata/annotations.yaml
  operators/cert-manager/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1901 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.11/manifests/windup.crd.yaml
  operators/windup-operator/0.0.11/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1902 operator [CI] ibm-application-gateway-operator (22.11.0)
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/22.11.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/22.11.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/22.11.0/tests/scorecard/config.yaml
  operators/ibm-application-gateway-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1904 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1906 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1907 operator cert-manager (1.10.1-rc1)
  operators/cert-manager/1.10.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1908 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1909 operator [N] windup-operator (0.0.11)
  operators/windup-operator/0.0.11/manifests/windup-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1903 operator gitlab-operator-kubernetes (0.13.2)
  operators/gitlab-operator-kubernetes/0.13.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1912 operator strimzi-kafka-operator (0.32.0)
  operators/strimzi-kafka-operator/0.32.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzi-cluster-operator.v0.32.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.32.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.32.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1911 operator jaeger (1.39.0)
  operators/jaeger/1.39.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.39.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.39.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.39.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.39.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.39.0/metadata/annotations.yaml
  operators/jaeger/1.39.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1913 operator cert-manager (1.10.1)
  operators/cert-manager/1.10.1/bundle.Dockerfile
  operators/cert-manager/1.10.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.1/metadata/annotations.yaml
  operators/cert-manager/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1914 operator mongodb-atlas-kubernetes (1.4.1)
  operators/mongodb-atlas-kubernetes/1.4.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1918 operator hive-operator (1.2.3910-4e0f25b)
  operators/hive-operator/1.2.3910-4e0f25b/hive-operator.v1.2.3910-4e0f25b.clusterserviceversion.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3910-4e0f25b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1919 operator [R] pulp-operator (0.10.0 0.10.1 0.11.0 0.11.1 0.12.0 0.13.0 0.14.0 0.14.1 0.4.0 0.5.0 0.6.0 0.6.1 0.7.0 0.7.1 0.8.0 0.9.0 1.0.0-alpha.1)
  operators/pulp-operator/0.10.0/manifests/pulp-operator.v0.10.0.clusterserviceversion.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator.v0.10.1.clusterserviceversion.yaml
  operators/pulp-operator/0.10.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.0/manifests/pulp-operator.v0.11.0.clusterserviceversion.yaml
  operators/pulp-operator/0.11.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.11.1/manifests/pulp-operator.v0.11.1.clusterserviceversion.yaml
  operators/pulp-operator/0.11.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.12.0/manifests/pulp-operator.v0.12.0.clusterserviceversion.yaml
  operators/pulp-operator/0.12.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.13.0/manifests/pulp-operator.v0.13.0.clusterserviceversion.yaml
  operators/pulp-operator/0.13.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.0/manifests/pulp-operator.v0.14.0.clusterserviceversion.yaml
  operators/pulp-operator/0.14.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.14.1/manifests/pulp-operator.v0.14.1.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp-operator.v0.4.0.clusterserviceversion.yaml
  operators/pulp-operator/0.4.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.5.0/manifests/pulp-operator.v0.5.0.clusterserviceversion.yaml
  operators/pulp-operator/0.5.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.0/manifests/pulp-operator.v0.6.0.clusterserviceversion.yaml
  operators/pulp-operator/0.6.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.6.1/manifests/pulp-operator.v0.6.1.clusterserviceversion.yaml
  operators/pulp-operator/0.6.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.0/manifests/pulp-operator.v0.7.0.clusterserviceversion.yaml
  operators/pulp-operator/0.7.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator.v0.7.1.clusterserviceversion.yaml
  operators/pulp-operator/0.7.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator.v0.8.0.clusterserviceversion.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator.v0.9.0.clusterserviceversion.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.1/manifests/pulp-operator.v1.0.0-alpha.1.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1916 operator elastic-cloud-eck (2.5.0)
  operators/elastic-cloud-eck/2.5.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/elastic-cloud-eck.v2.5.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.5.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.5.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1917 operator keda (2.8.1)
  operators/keda/2.8.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.8.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.8.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.8.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.8.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.8.1/manifests/keda.v2.8.1.clusterserviceversion.yaml
  operators/keda/2.8.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1920 operator keycloak-operator (20.0.1)
  operators/keycloak-operator/20.0.1/bundle.Dockerfile
  operators/keycloak-operator/20.0.1/manifests/keycloak-operator.v20.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1921 operator intel-device-plugins-operator (0.25.0)
  operators/intel-device-plugins-operator/0.25.0/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.25.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.25.0/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.25.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1922 operator mondoo-operator (1.8.0)
  operators/mondoo-operator/1.8.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.8.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.8.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1925 operator kiali (1.59.0)
  operators/kiali/1.59.0/bundle.Dockerfile
  operators/kiali/1.59.0/manifests/kiali.crd.yaml
  operators/kiali/1.59.0/manifests/kiali.v1.59.0.clusterserviceversion.yaml
  operators/kiali/1.59.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1926 operator knative-operator (1.8.1)
  operators/knative-operator/1.8.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.8.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.8.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.8.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.8.1/manifests/knative-operator.v1.8.1.clusterserviceversion.yaml
  operators/knative-operator/1.8.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.8.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.8.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.8.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.8.1/metadata/annotations.yaml
  operators/knative-operator/1.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1927 operator pulp-operator (1.0.0-alpha.2)
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/pulp-operator.1.0.0-alpha.2.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.2/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.2/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1923 operator gitlab-operator-kubernetes (0.13.3)
  operators/gitlab-operator-kubernetes/0.13.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1928 operator redis-operator (0.13.0)
  operators/redis-operator/0.13.0/manifests/redis-operator.v0.13.0.clusterserviceversion.yaml
  operators/redis-operator/0.13.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.13.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1930 operator instana-agent-operator (2.0.7)
  operators/instana-agent-operator/2.0.7/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.7/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.7/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.7/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.7/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.7/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.7/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.7/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.7/metadata/dependencies.yaml
  operators/instana-agent-operator/2.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1932 operator kogito-operator (1.30.0)
  operators/kogito-operator/1.30.0/Dockerfile
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.30.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.30.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.30.0/metadata/annotations.yaml
  operators/kogito-operator/1.30.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1924 operator [N] [CI] cluster-aas-operator (0.0.1)
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.1/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.1/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.1/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.1/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.1/tests/scorecard/config.yaml
  operators/cluster-aas-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1937 operator trivy-operator (0.6.0)
  operators/trivy-operator/0.6.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.6.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.6.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.6.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.6.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.6.0/trivy-operator.v0.6.0.clusterserviceversion.yaml
  operators/trivy-operator/0.6.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1938 operator camel-k (1.10.3)
  operators/camel-k/1.10.3/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/camel-k.v1.10.3.clusterserviceversion.yaml
  operators/camel-k/1.10.3/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.10.3/metadata/annotations.yaml
  operators/camel-k/1.10.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1939 operator victoriametrics-operator (0.29.1)
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.29.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.29.1/victoriametrics-operator.0.29.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1942 operator mondoo-operator (1.8.1)
  operators/mondoo-operator/1.8.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.8.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.8.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1940 operator [N] minio-operator (4.5.4)
  operators/minio-operator/4.5.1/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.4/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.4/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.4/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.4/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.5.4/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.4/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.5.4/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.4/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.4/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1945 operator hive-operator (1.2.3933-3d7df9a)
  operators/hive-operator/1.2.3933-3d7df9a/hive-operator.v1.2.3933-3d7df9a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3933-3d7df9a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1946 operator gitlab-operator-kubernetes (0.13.4)
  operators/gitlab-operator-kubernetes/0.13.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.13.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.13.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.13.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1949 operator cryostat-operator (2.2.0)
  operators/cryostat-operator/2.2.0/Dockerfile
  operators/cryostat-operator/2.2.0/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.2.0/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.2.0/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.2.0/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.2.0/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.2.0/metadata/annotations.yaml
  operators/cryostat-operator/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1947 operator istio-workspace-operator (0.5.3)
  operators/istio-workspace-operator/0.5.3/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.3/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.3/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1948 operator cloud-native-postgresql (1.18.0)
  operators/cloud-native-postgresql/1.18.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.18.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.18.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1952 operator [CI] cloud-native-postgresql
  operators/cloud-native-postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1951 operator cloud-native-postgresql (1.17.2)
  operators/cloud-native-postgresql/1.17.2/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.17.2/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.17.2/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.17.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1954 operator [R] [CI] tackle-operator (2.1.2)
  operators/tackle-operator/2.1.2/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.2/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1955 operator [CI] ack-kinesis-controller
  operators/ack-kinesis-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#1957 operator pulp-operator (1.0.0-alpha.3)
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/pulp-operator.1.0.0-alpha.3.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.3/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.3/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1958 operator [N] [CI] searchpe-operator (4.1.0)
  operators/searchpe-operator/4.1.0/bundle.Dockerfile
  operators/searchpe-operator/4.1.0/manifests/searchpe-operator.clusterserviceversion.yaml
  operators/searchpe-operator/4.1.0/manifests/searchpes.searchpe.openubl.io-v1.crd.yml
  operators/searchpe-operator/4.1.0/metadata/annotations.yaml
  operators/searchpe-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1929 operator opentelemetry-operator (0.62.1)
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.62.1/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.62.1/metadata/annotations.yaml
  operators/opentelemetry-operator/0.62.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1959 operator [N] searchpe-operator (4.1.0)
  operators/searchpe-operator/4.1.0/manifests/searchpe-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1898 operator awx-operator (1.0.0)
  operators/awx-operator/1.0.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.0.0/manifests/awx-operator.v1.0.0.clusterserviceversion.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.0.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.0.0/metadata/annotations.yaml
  operators/awx-operator/1.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1961 operator verticadb-operator (1.8.0)
  operators/verticadb-operator/1.8.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.8.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.8.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.8.0/metadata/annotations.yaml
  operators/verticadb-operator/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1941 operator [CI] elastic-phenix-operator (1.2.0)
  operators/elastic-phenix-operator/1.2.0/elastic-phenix-operator.v1.2.0.clusterserviceversion.yaml
  operators/elastic-phenix-operator/1.2.0/elasticindices.elastic.carrefour.com.crd.yaml
  operators/elastic-phenix-operator/1.2.0/elastictemplates.elastic.carrefour.com.crd.yaml
  operators/elastic-phenix-operator/ci.yaml
  operators/elastic-phenix-operator/elastic-phenix-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1965 operator security-profiles-operator (0.6.0)
  operators/security-profiles-operator/0.6.0/bundle.Dockerfile
  operators/security-profiles-operator/0.6.0/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.6.0/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.6.0/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.6.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.6.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.6.0/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.6.0/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.6.0/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.6.0/metadata/annotations.yaml
  operators/security-profiles-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1967 operator trivy-operator (0.7.0)
  operators/trivy-operator/0.7.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.0/trivy-operator.v0.7.0.clusterserviceversion.yaml
  operators/trivy-operator/0.7.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1968 operator hive-operator (1.2.3941-ef13b76)
  operators/hive-operator/1.2.3941-ef13b76/hive-operator.v1.2.3941-ef13b76.clusterserviceversion.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3941-ef13b76/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3941-ef13b76/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1969 operator aerospike-kubernetes-operator (2.3.0)
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.3.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.3.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1970 operator trivy-operator (0.7.1)
  operators/trivy-operator/0.7.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.7.1/trivy-operator.v0.7.1.clusterserviceversion.yaml
  operators/trivy-operator/0.7.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1971 operator gitlab-operator-kubernetes (0.14.0)
  operators/gitlab-operator-kubernetes/0.14.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.14.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1973 operator mondoo-operator (1.9.0)
  operators/mondoo-operator/1.9.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.9.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1974 operator hazelcast-platform-operator (5.5.0)
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.5.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.5.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1975 operator [R] flink-kubernetes-operator (1.0.1 1.1.0 1.2.0)
  operators/flink-kubernetes-operator/1.0.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.1.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.2.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1976 operator cluster-aas-operator (0.0.2)
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.2/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.2/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.2/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.2/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1978 operator flux (0.37.0)
  operators/flux/0.37.0/manifests/alert.crd.yaml
  operators/flux/0.37.0/manifests/bucket.crd.yaml
  operators/flux/0.37.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.37.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.37.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.37.0/manifests/flux.v0.37.0.clusterserviceversion.yaml
  operators/flux/0.37.0/manifests/gitrepository.crd.yaml
  operators/flux/0.37.0/manifests/helmchart.crd.yaml
  operators/flux/0.37.0/manifests/helmrelease.crd.yaml
  operators/flux/0.37.0/manifests/helmrepository.crd.yaml
  operators/flux/0.37.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.37.0/manifests/imagerepository.crd.yaml
  operators/flux/0.37.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.37.0/manifests/kustomization.crd.yaml
  operators/flux/0.37.0/manifests/notification-controller.service.yaml
  operators/flux/0.37.0/manifests/ocirepository.crd.yaml
  operators/flux/0.37.0/manifests/provider.crd.yaml
  operators/flux/0.37.0/manifests/receiver.crd.yaml
  operators/flux/0.37.0/manifests/source-controller.service.yaml
  operators/flux/0.37.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.37.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1977 operator microcks (1.6.1)
  operators/microcks/1.6.1/microcks-operator.v1.6.1.clusterserviceversion.yaml
  operators/microcks/1.6.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1979 operator cluster-aas-operator (0.0.3)
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.3/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.3/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.3/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.3/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1980 operator rabbitmq-messaging-topology-operator (1.10.0)
  operators/rabbitmq-messaging-topology-operator/1.10.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1981 operator kubero-operator (0.0.73)
  operators/kubero-operator/0.0.73/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.73/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.73/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.73/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.73/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.73/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.73/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.73/metadata/annotations.yaml
  operators/kubero-operator/0.0.73/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1983 operator hive-operator (1.2.3957-a24b27f)
  operators/hive-operator/1.2.3957-a24b27f/hive-operator.v1.2.3957-a24b27f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3957-a24b27f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3957-a24b27f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1984 operator pulp-operator (1.0.0-alpha.4)
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/pulp-operator.1.0.0-alpha.4.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.4/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1982 operator kogito-operator (1.31.0)
  operators/kogito-operator/1.31.0/Dockerfile
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.31.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.31.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.31.0/metadata/annotations.yaml
  operators/kogito-operator/1.31.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1988 operator project-quay (3.8.0-rc.7)
  operators/project-quay/3.8.0-rc.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.0-rc.7/quayecosystems.crd.yaml
  operators/project-quay/3.8.0-rc.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1990 operator mondoo-operator (1.9.1)
  operators/mondoo-operator/1.9.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.9.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1992 operator external-secrets-operator (0.7.0-rc1)
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.0-rc1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.0-rc1/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1987 operator function-mesh (0.8.0)
  operators/function-mesh/0.8.0/bundle.Dockerfile
  operators/function-mesh/0.8.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.8.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.8.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.8.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.8.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.8.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/function-mesh/0.8.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.8.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.8.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.8.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.8.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.8.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.8.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.8.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.8.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.8.0/metadata/annotations.yaml
  operators/function-mesh/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1993 operator [O] function-mesh (0.7.0)
  operators/function-mesh/0.7.0/manifests/function-mesh.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1994 operator opentelemetry-operator (0.66.0)
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.66.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.66.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.66.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1996 operator kiali (1.60.0)
  operators/kiali/1.60.0/bundle.Dockerfile
  operators/kiali/1.60.0/manifests/kiali.crd.yaml
  operators/kiali/1.60.0/manifests/kiali.v1.60.0.clusterserviceversion.yaml
  operators/kiali/1.60.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1999 operator awx-operator (1.1.0)
  operators/awx-operator/1.1.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.0/manifests/awx-operator.v1.1.0.clusterserviceversion.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.0/metadata/annotations.yaml
  operators/awx-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
