Repository k8s-operatorhub/community-operators, pull requests merged in 2022-01, with the labels that each got.

#547 operators keycloak-operator (16.1.0)
  operators/keycloak-operator/16.1.0/bundle.Dockerfile
  operators/keycloak-operator/16.1.0/manifests/keycloak-operator.v16.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/16.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#546 operators percona-server-mongodb-operator (1.11.0)
  operators/percona-server-mongodb-operator/1.11.0/percona-server-mongodb-operator.v1.11.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.11.0/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/percona-server-mongodb-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#545 operators percona-xtradb-cluster-operator (1.10.0)
  operators/percona-xtradb-cluster-operator/1.10.0/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#543 operators ibm-application-gateway-operator (21.12.0)
  operators/ibm-application-gateway-operator/21.12.0/ibm-application-gateway-operator.v21.12.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.12.0/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#551 operators external-secrets-operator (0.3.11)
  operators/external-secrets-operator/0.3.11/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.3.11/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.3.11/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.3.11/metadata/annotations.yaml
  operators/external-secrets-operator/0.3.11/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#552 operators kogito-operator (1.15.0)
  operators/kogito-operator/1.15.0/Dockerfile
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.15.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.15.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.15.0/metadata/annotations.yaml
  operators/kogito-operator/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#554 operators t8c (42.5.0)
  operators/t8c/42.5.0/t8c-operator.v42.5.0.clusterserviceversion.yaml
  operators/t8c/42.5.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#555 operators [CI] kubeturbo (8.4.0)
  operators/kubeturbo/8.4.0/kubeturbo-operator.v8.4.0.clusterserviceversion.yaml
  operators/kubeturbo/8.4.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/ci.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#569 operators hive-operator (2.4.3201-8c50440)
  operators/hive-operator/2.4.3201-8c50440/hive-operator.v2.4.3201-8c50440.clusterserviceversion.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3201-8c50440/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3201-8c50440/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#570 operators cloud-native-postgresql (1.12.0)
  operators/cloud-native-postgresql/1.12.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.12.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.12.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#571 operators [CI] postgresql
  operators/postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#548 operators intel-device-plugins-operator (0.23.0)
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.23.0/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.23.0/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.23.0/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/intel-device-plugins-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#574 operators [CI] cloud-native-postgresql
  operators/cloud-native-postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#577 operators hive-operator (1.2.3427-e50103a)
  operators/hive-operator/1.2.3427-e50103a/hive-operator.v1.2.3427-e50103a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3427-e50103a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3427-e50103a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#589 operators hive-operator (1.2.3431-6ba92bb)
  operators/hive-operator/1.2.3431-6ba92bb/hive-operator.v1.2.3431-6ba92bb.clusterserviceversion.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3431-6ba92bb/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#593 operators [CI] service-binding-operator
  operators/service-binding-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#594 operators strimzi-kafka-operator (0.27.1)
  operators/strimzi-kafka-operator/0.27.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzi-cluster-operator.v0.27.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.27.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.27.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#576 operators opentelemetry-operator (0.42.0)
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.42.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.42.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.42.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#575 operators microcks (1.5.0)
  operators/microcks/1.5.0/microcks-operator.v1.5.0.clusterserviceversion.yaml
  operators/microcks/1.5.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#518 operators [N] [CI] clever-operator (0.3.5)
  operators/clever-operator/0.3.5/bundle.Dockerfile
  operators/clever-operator/0.3.5/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.3.5/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.3.5/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.3.5/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.3.5/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.3.5/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.3.5/metadata/annotations.yaml
  operators/clever-operator/0.3.5/tests/scorecard/config.yaml
  operators/clever-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#595 operators snyk-operator (1.80.0)
  operators/snyk-operator/1.80.0/snyk-operator.v1.80.0.clusterserviceversion.yaml
  operators/snyk-operator/1.80.0/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#598 operators flux (0.25.2)
  operators/flux/0.25.2/manifests/alert.crd.yaml
  operators/flux/0.25.2/manifests/bucket.crd.yaml
  operators/flux/0.25.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.25.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.2/manifests/flux.v0.25.2.clusterserviceversion.yaml
  operators/flux/0.25.2/manifests/gitrepository.crd.yaml
  operators/flux/0.25.2/manifests/helmchart.crd.yaml
  operators/flux/0.25.2/manifests/helmrelease.crd.yaml
  operators/flux/0.25.2/manifests/helmrepository.crd.yaml
  operators/flux/0.25.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.25.2/manifests/imagerepository.crd.yaml
  operators/flux/0.25.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.25.2/manifests/kustomization.crd.yaml
  operators/flux/0.25.2/manifests/notification-controller.service.yaml
  operators/flux/0.25.2/manifests/provider.crd.yaml
  operators/flux/0.25.2/manifests/receiver.crd.yaml
  operators/flux/0.25.2/manifests/source-controller.service.yaml
  operators/flux/0.25.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.25.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#600 operators yaks (0.8.0)
  operators/yaks/0.8.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.8.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.8.0/yaks.v0.8.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#596 operators clickhouse (0.16.0)
  operators/clickhouse/0.16.0/clickhouse-operator.v0.16.0.clusterserviceversion.yaml
  operators/clickhouse/0.16.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.16.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.16.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#275 operators [N] [CI] gitlab-operator-kubernetes (0.3.1)
  operators/gitlab-operator-kubernetes/0.3.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.3.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.3.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.3.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.3.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.3.1/tests/scorecard/config.yaml
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#602 operators flux (0.25.3)
  operators/flux/0.25.3/manifests/alert.crd.yaml
  operators/flux/0.25.3/manifests/bucket.crd.yaml
  operators/flux/0.25.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.25.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.25.3/manifests/flux.v0.25.3.clusterserviceversion.yaml
  operators/flux/0.25.3/manifests/gitrepository.crd.yaml
  operators/flux/0.25.3/manifests/helmchart.crd.yaml
  operators/flux/0.25.3/manifests/helmrelease.crd.yaml
  operators/flux/0.25.3/manifests/helmrepository.crd.yaml
  operators/flux/0.25.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.25.3/manifests/imagerepository.crd.yaml
  operators/flux/0.25.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.25.3/manifests/kustomization.crd.yaml
  operators/flux/0.25.3/manifests/notification-controller.service.yaml
  operators/flux/0.25.3/manifests/provider.crd.yaml
  operators/flux/0.25.3/manifests/receiver.crd.yaml
  operators/flux/0.25.3/manifests/source-controller.service.yaml
  operators/flux/0.25.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.25.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#604 operators [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#606 operators hive-operator (2.3.3033-c1c7735)
  operators/hive-operator/2.3.3033-c1c7735/hive-operator.v2.3.3033-c1c7735.clusterserviceversion.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.3.3033-c1c7735/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.3.3033-c1c7735/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#607 operators hive-operator (2.4.3203-672cfe7)
  operators/hive-operator/2.4.3203-672cfe7/hive-operator.v2.4.3203-672cfe7.clusterserviceversion.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3203-672cfe7/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3203-672cfe7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#610 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#612 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#613 operators cluster-manager (0.6.0)
  operators/cluster-manager/0.6.0/cluster-manager.v0.6.0.clusterserviceversion.yaml
  operators/cluster-manager/0.6.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#615 operators starboard-operator (0.14.0)
  operators/starboard-operator/0.14.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.0/starboard-operator.v0.14.0.clusterserviceversion.yaml
  operators/starboard-operator/0.14.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#614 operators klusterlet (0.6.0)
  operators/klusterlet/0.6.0/klusterlet.v0.6.0.clusterserviceversion.yaml
  operators/klusterlet/0.6.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#621 operators kogito-operator (1.16.0)
  operators/kogito-operator/1.16.0/Dockerfile
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.16.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.16.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.16.0/metadata/annotations.yaml
  operators/kogito-operator/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#628 operators [O] api-operator (2.0.0)
  operators/api-operator/2.0.0/api-operator.v2.0.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#609 operators [N] [CI] kube-green (0.3.0)
  operators/kube-green/0.3.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.3.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.3.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.3.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.3.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.3.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.3.0/metadata/annotations.yaml
  operators/kube-green/0.3.0/tests/scorecard/config.yaml
  operators/kube-green/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#608 operators [R] [CI] seldon-operator (1.11.1 1.12.0 1.7.0)
  operators/seldon-operator/0.1.2/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.2/seldonoperator.v0.1.2.clusterserviceversion.yaml
  operators/seldon-operator/0.1.3/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.3/seldonoperator.v0.1.3.clusterserviceversion.yaml
  operators/seldon-operator/0.1.4/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/0.1.4/seldonoperator.v0.1.4.clusterserviceversion.yaml
  operators/seldon-operator/0.1.5/seldondeployments.machinelearning.seldon.io.crd.yaml
  operators/seldon-operator/1.1.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.1.0/seldon-operator.v1.1.0.clusterserviceversion.yaml
  operators/seldon-operator/1.11.1/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.11.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.11.1/metadata/annotations.yaml
  operators/seldon-operator/1.11.1/tests/scorecard/config.yaml
  operators/seldon-operator/1.12.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.12.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.12.0/metadata/annotations.yaml
  operators/seldon-operator/1.12.0/tests/scorecard/config.yaml
  operators/seldon-operator/1.2.0/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.1/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.1/seldon-operator.v1.2.1.clusterserviceversion.yaml
  operators/seldon-operator/1.2.2/machinelearning.seldon.io_seldondeployment_crd.yaml
  operators/seldon-operator/1.2.2/seldon-operator.v1.2.2.clusterserviceversion.yaml
  operators/seldon-operator/1.5.0/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.5.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.5.0/seldon-operator.v1.5.0.clusterserviceversion.yaml
  operators/seldon-operator/1.6.0/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.6.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.6.0/seldon-operator.v1.6.0.clusterserviceversion.yaml
  operators/seldon-operator/1.7.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.7.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.7.0/metadata/annotations.yaml
  operators/seldon-operator/1.7.0/seldon-manager_v1_serviceaccount.yaml
  operators/seldon-operator/1.7.0/seldon-operator.v1.7.0.clusterserviceversion.yaml
  operators/seldon-operator/1.7.0/tests/scorecard/config.yaml
  operators/seldon-operator/ci.yaml
  operators/seldon-operator/seldon-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#631 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#630 operators [R] ditto-operator (0.1.0 0.1.1 0.2.0 0.3.1 0.4.0)
  operators/ditto-operator/0.1.0/Dockerfile
  operators/ditto-operator/0.1.0/manifests/ditto-operator.v0.1.0.clusterserviceversion.yaml
  operators/ditto-operator/0.1.0/manifests/ditto.yaml
  operators/ditto-operator/0.1.0/metadata/annotations.yaml
  operators/ditto-operator/0.1.0/tests/scorecard/config.yaml
  operators/ditto-operator/0.1.1/Dockerfile
  operators/ditto-operator/0.1.1/manifests/ditto-operator.v0.1.1.clusterserviceversion.yaml
  operators/ditto-operator/0.1.1/manifests/ditto.yaml
  operators/ditto-operator/0.1.1/metadata/annotations.yaml
  operators/ditto-operator/0.1.1/tests/scorecard/config.yaml
  operators/ditto-operator/0.2.0/Dockerfile
  operators/ditto-operator/0.2.0/manifests/ditto-operator.v0.2.0.clusterserviceversion.yaml
  operators/ditto-operator/0.2.0/manifests/ditto.yaml
  operators/ditto-operator/0.2.0/metadata/annotations.yaml
  operators/ditto-operator/0.2.0/tests/scorecard/config.yaml
  operators/ditto-operator/0.3.1/Dockerfile
  operators/ditto-operator/0.3.1/manifests/ditto-operator.v0.3.1.clusterserviceversion.yaml
  operators/ditto-operator/0.3.1/manifests/ditto.yaml
  operators/ditto-operator/0.3.1/metadata/annotations.yaml
  operators/ditto-operator/0.3.1/tests/scorecard/config.yaml
  operators/ditto-operator/0.4.0/Dockerfile
  operators/ditto-operator/0.4.0/manifests/ditto-operator.v0.4.0.clusterserviceversion.yaml
  operators/ditto-operator/0.4.0/manifests/ditto.yaml
  operators/ditto-operator/0.4.0/metadata/annotations.yaml
  operators/ditto-operator/0.4.0/tests/scorecard/config.yaml
  operators/ditto-operator/ditto-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#629 operators clickhouse (0.16.1)
  operators/clickhouse/0.16.1/clickhouse-operator.v0.16.1.clusterserviceversion.yaml
  operators/clickhouse/0.16.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.16.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.16.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#632 operators hpe-csi-operator (2.1.0)
  operators/hpe-csi-operator/2.1.0/Dockerfile
  operators/hpe-csi-operator/2.1.0/manifests/hpe-csi-operator.v2.1.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.1.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#635 operators hive-operator (1.2.3457-b212e8a)
  operators/hive-operator/1.2.3457-b212e8a/hive-operator.v1.2.3457-b212e8a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3457-b212e8a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3457-b212e8a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#634 operators camel-k (1.8.0)
  operators/camel-k/1.8.0/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/camel-k.v1.8.0.clusterserviceversion.yaml
  operators/camel-k/1.8.0/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.0/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#572 operators [N] [CI] sosivio (1.2.0)
  operators/sosivio/1.2.0/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.0/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#650 operators kiali (1.45.0)
  operators/kiali/1.45.0/bundle.Dockerfile
  operators/kiali/1.45.0/manifests/kiali.crd.yaml
  operators/kiali/1.45.0/manifests/kiali.v1.45.0.clusterserviceversion.yaml
  operators/kiali/1.45.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#655 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#656 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#658 operators [N] nfd-operator (0.3.0)
  operators/nfd-operator/0.3.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#659 operators victoriametrics-operator (0.22.1)
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.22.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.22.1/victoriametrics-operator.0.22.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#657 operators clickhouse (0.17.0)
  operators/clickhouse/0.17.0/clickhouse-operator.v0.17.0.clusterserviceversion.yaml
  operators/clickhouse/0.17.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.17.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.17.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#654 operators couchdb-operator (2.2.1)
  operators/couchdb-operator/2.2.1/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/2.2.1/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#660 operators [O] hpe-csi-operator (2.1.0)
  operators/hpe-csi-operator/2.1.0/manifests/hpe-csi-operator.v2.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#662 operators starboard-operator (0.14.1)
  operators/starboard-operator/0.14.1/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.14.1/starboard-operator.v0.14.1.clusterserviceversion.yaml
  operators/starboard-operator/0.14.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#663 operators alvearie-imaging-ingestion (0.0.3)
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion-operator-manager-config_v1_configmap.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion-operator.clusterserviceversion.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomeventbridges.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomeventdriveningestions.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicominstancebindings.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomstudybindings.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dicomwebingestionservices.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dimseingestionservices.yaml
  operators/alvearie-imaging-ingestion/0.0.3/manifests/imaging-ingestion.alvearie.org_dimseproxies.yaml
  operators/alvearie-imaging-ingestion/0.0.3/metadata/annotations.yaml
  operators/alvearie-imaging-ingestion/0.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#665 operators jaeger (1.30.0)
  operators/jaeger/1.30.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.30.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.30.0/metadata/annotations.yaml
  operators/jaeger/1.30.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#666 operators t8c (42.6.0)
  operators/t8c/42.6.0/t8c-operator.v42.6.0.clusterserviceversion.yaml
  operators/t8c/42.6.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#661 operators integrity-shield-operator (0.3.2)
  operators/integrity-shield-operator/0.3.2/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.2/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.2/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#652 operators [N] sosivio (1.2.0)
  operators/sosivio/1.2.0/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0/manifests/sosivio.crd.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#669 operators hive-operator (1.2.3461-a607db0)
  operators/hive-operator/1.2.3461-a607db0/hive-operator.v1.2.3461-a607db0.clusterserviceversion.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3461-a607db0/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3461-a607db0/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#670 operators [N] [CI] eventing-kogito (1.1.0)
  operators/eventing-kogito/1.1.0/manifests/config-logging_v1_configmap.yaml
  operators/eventing-kogito/1.1.0/manifests/config-observability_v1_configmap.yaml
  operators/eventing-kogito/1.1.0/manifests/eventing-kogito.clusterserviceversion.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito-source-controller-manager_v1_service.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito-source-observer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eventing-kogito/1.1.0/manifests/kogito.knative.dev_kogitosources.yaml
  operators/eventing-kogito/1.1.0/metadata/annotations.yaml
  operators/eventing-kogito/1.1.0/metadata/dependencies.yaml
  operators/eventing-kogito/1.1.0/tests/scorecard/config.yaml
  operators/eventing-kogito/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#667 operators qserv-operator (2022.1.1-rc1)
  operators/qserv-operator/2022.1.1-rc1/manifests/qserv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/qserv-operator/2022.1.1-rc1/manifests/qserv-operator-manager-config_v1_configmap.yaml
  operators/qserv-operator/2022.1.1-rc1/manifests/qserv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/qserv-operator/2022.1.1-rc1/manifests/qserv-operator.clusterserviceversion.yaml
  operators/qserv-operator/2022.1.1-rc1/manifests/qserv.lsst.org_qservs.yaml
  operators/qserv-operator/2022.1.1-rc1/metadata/annotations.yaml
  operators/qserv-operator/2022.1.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#673 operators snyk-operator (1.81.1)
  operators/snyk-operator/1.81.1/snyk-operator.v1.81.1.clusterserviceversion.yaml
  operators/snyk-operator/1.81.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#674 operators knative-operator (1.2.0)
  operators/knative-operator/1.2.0/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#676 operators clickhouse (0.18.0)
  operators/clickhouse/0.18.0/clickhouse-operator.v0.18.0.clusterserviceversion.yaml
  operators/clickhouse/0.18.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#675 operators [CI] deployment-validation-operator (0.2.1)
  operators/deployment-validation-operator/0.2.1/deploymentvalidationoperator.0.2.1.clusterserviceversion.yaml
  operators/deployment-validation-operator/ci.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#507 operators [N] [CI] hazelcast-platform-operator (5.0.0)
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.0.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.0.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.0.0/tests/scorecard/config.yaml
  operators/hazelcast-platform-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate, allow/longer-deployment

#679 operators tackle-operator (1.2.0)
  operators/tackle-operator/1.2.0/Dockerfile
  operators/tackle-operator/1.2.0/manifests/tackle-operator.v1.2.0.clusterserviceversion.yaml
  operators/tackle-operator/1.2.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#681 operators keda (2.6.0)
  operators/keda/2.6.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.6.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.6.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.6.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.6.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.6.0/manifests/keda.v2.6.0.clusterserviceversion.yaml
  operators/keda/2.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#682 operators eventing-kogito (1.2.0)
  operators/eventing-kogito/1.2.0/manifests/config-logging_v1_configmap.yaml
  operators/eventing-kogito/1.2.0/manifests/config-observability_v1_configmap.yaml
  operators/eventing-kogito/1.2.0/manifests/eventing-kogito.clusterserviceversion.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito-source-controller-manager_v1_service.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito-source-observer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eventing-kogito/1.2.0/manifests/kogito.knative.dev_kogitosources.yaml
  operators/eventing-kogito/1.2.0/metadata/annotations.yaml
  operators/eventing-kogito/1.2.0/metadata/dependencies.yaml
  operators/eventing-kogito/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
