Repository k8s-operatorhub/community-operators, pull requests merged in 2022-08, with the labels that each got.

#1527 operator keycloak-operator (19.0.0)
  operators/keycloak-operator/19.0.0/bundle.Dockerfile
  operators/keycloak-operator/19.0.0/manifests/keycloak-operator.v19.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1541 operator pulsar-operator (0.12.0)
  operators/pulsar-operator/0.12.0/bundle.Dockerfile
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.12.0/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.12.0/metadata/annotations.yaml
  operators/pulsar-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1532 operator [R] [CI] sosivio (1.2.0-1 1.2.1-1 1.3.0-75 1.3.1-76 1.4.1-79 1.4.1-80)
  operators/sosivio/1.2.0-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.0-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.0-1/metadata/annotations.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.1-1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.1-1/metadata/annotations.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.0-75/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.0-75/metadata/annotations.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.3.1-76/manifests/sosivio.crd.yaml
  operators/sosivio/1.3.1-76/metadata/annotations.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-79/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-79/metadata/annotations.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.4.1-80/manifests/sosivio.crd.yaml
  operators/sosivio/1.4.1-80/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1534 operator snapscheduler (3.1.0)
  operators/snapscheduler/3.1.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.1.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.1.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.1.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.1.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.1.0/metadata/annotations.yaml
  operators/snapscheduler/3.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1533 operator seldon-operator (1.14.0)
  operators/seldon-operator/1.14.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.14.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.14.0/metadata/annotations.yaml
  operators/seldon-operator/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1542 operator cert-manager (1.8.2-rc1)
  operators/cert-manager/1.8.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.8.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.8.2-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1530 operator infinispan (2.2.5)
  operators/infinispan/2.2.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.2.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.2.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.2.5/metadata/annotations.yaml
  operators/infinispan/2.2.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1526 operator opentelemetry-operator (0.56.0)
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.56.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.56.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.56.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1540 operator [CI] portworx (1.9.0)
  operators/portworx/1.9.0/core_v1_storagecluster_crd.yaml
  operators/portworx/1.9.0/core_v1_storagenode_crd.yaml
  operators/portworx/1.9.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx/ci.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1528 operator keycloak-operator (20.0.0-alpha.4)
  operators/keycloak-operator/20.0.0-alpha.4/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloak-operator.v20.0.0-alpha.4.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.4/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1525 operator mondoo-operator (0.8.2)
  operators/mondoo-operator/0.8.2/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.8.2/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.8.2/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1536 operator hive-operator (1.2.3777-97dd9ae)
  operators/hive-operator/1.2.3777-97dd9ae/hive-operator.v1.2.3777-97dd9ae.clusterserviceversion.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3777-97dd9ae/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1543 operator bookkeeper-operator (0.12.0)
  operators/bookkeeper-operator/0.12.0/bundle.Dockerfile
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.12.0/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.12.0/metadata/annotations.yaml
  operators/bookkeeper-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1544 operator zookeeper-operator (0.12.0)
  operators/zookeeper-operator/0.12.0/bundle.Dockerfile
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.12.0/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.12.0/metadata/annotations.yaml
  operators/zookeeper-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1546 operator cert-manager (1.8.2)
  operators/cert-manager/1.8.2/bundle.Dockerfile
  operators/cert-manager/1.8.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.2/metadata/annotations.yaml
  operators/cert-manager/1.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1545 operator mongodb-enterprise (1.16.4)
  operators/mongodb-enterprise/1.16.4/bundle.Dockerfile
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.16.4/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.16.4/metadata/annotations.yaml
  operators/mongodb-enterprise/1.16.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1547 operator cert-manager (1.9.1-rc1)
  operators/cert-manager/1.9.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.9.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.9.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.9.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.9.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.9.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1549 operator mondoo-operator (1.0.0)
  operators/mondoo-operator/1.0.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.0.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.0.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1548 operator project-quay (3.7.5)
  operators/project-quay/3.7.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.5/quayecosystems.crd.yaml
  operators/project-quay/3.7.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1550 operator cert-manager (1.9.1)
  operators/cert-manager/1.9.1/bundle.Dockerfile
  operators/cert-manager/1.9.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.9.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.9.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.9.1/metadata/annotations.yaml
  operators/cert-manager/1.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1552 operator keycloak-operator (19.0.1)
  operators/keycloak-operator/19.0.1/bundle.Dockerfile
  operators/keycloak-operator/19.0.1/manifests/keycloak-operator.v19.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/19.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1553 operator keycloak-operator (20.0.0-alpha.5)
  operators/keycloak-operator/20.0.0-alpha.5/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloak-operator.v20.0.0-alpha.5.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.5/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1559 operator splunk (2.0.0)
  operators/splunk/2.0.0/bundle.Dockerfile
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.0.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.0.0/metadata/annotations.yaml
  operators/splunk/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1539 operator trident-operator (22.7.0)
  operators/trident-operator/22.7.0/trident-operator.v22.7.0.clusterserviceversion.yaml
  operators/trident-operator/22.7.0/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  operators/trident-operator/trident-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1567 operator external-secrets-operator (0.5.9)
  operators/external-secrets-operator/0.5.9/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.9/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.9/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.9/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1551 operator kiali (1.54.0)
  operators/kiali/1.54.0/bundle.Dockerfile
  operators/kiali/1.54.0/manifests/kiali.crd.yaml
  operators/kiali/1.54.0/manifests/kiali.v1.54.0.clusterserviceversion.yaml
  operators/kiali/1.54.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1564 operator kubernetes-imagepuller-operator (1.0.2)
  operators/kubernetes-imagepuller-operator/1.0.2/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/kubernetes-imagepuller-operator.v1.0.2.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1569 operator [CI] cockroachdb
  operators/cockroachdb/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1568 operator [N] [CI] hyperfoil-bundle (0.21.0)
  operators/hyperfoil-bundle/0.21.0/hyperfoil-operator.v0.21.0.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.21.0/hyperfoil.io_hyperfoils_crd.yaml
  operators/hyperfoil-bundle/ci.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1442 operator [N] otc-rds-operator (0.5.0)
  operators/otc-rds-operator/0.5.0/bundle.Dockerfile
  operators/otc-rds-operator/0.5.0/manifests/otc-rds-operator-metrics_v1_service.yaml
  operators/otc-rds-operator/0.5.0/manifests/otc-rds-operator.clusterserviceversion.yaml
  operators/otc-rds-operator/0.5.0/manifests/otc-rds-operator_v1_configmap.yaml
  operators/otc-rds-operator/0.5.0/manifests/otc.mcsps.de_rdss.yaml
  operators/otc-rds-operator/0.5.0/metadata/annotations.yaml
  operators/otc-rds-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate, installation-skipped

#1571 operator gitlab-operator-kubernetes (0.10.2)
  operators/gitlab-operator-kubernetes/0.10.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/acme.cert-manager.io_orders.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/cert-manager.io_certificates.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/cert-manager.io_issuers.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.10.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.10.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1575 operator seldon-operator (1.14.1)
  operators/seldon-operator/1.14.1/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.14.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.14.1/metadata/annotations.yaml
  operators/seldon-operator/1.14.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1573 operator hive-operator (1.2.3821-25f3291)
  operators/hive-operator/1.2.3821-25f3291/hive-operator.v1.2.3821-25f3291.clusterserviceversion.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3821-25f3291/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3821-25f3291/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1572 operator istio-workspace-operator (0.5.2)
  operators/istio-workspace-operator/0.5.2/manifests/istio-workspace-operator.clusterserviceversion.yaml
  operators/istio-workspace-operator/0.5.2/manifests/workspace.maistra.io_sessions.yaml
  operators/istio-workspace-operator/0.5.2/metadata/annotations.yaml
  operators/istio-workspace-operator/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1577 operator [O] splunk (2.0.0)
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.0.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.0.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.0.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.0.0/tests/scorecard/config.yaml
  operators/splunk/2.0.0/tests/scorecard/kuttl/kuttl-test.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1578 operator netobserv-operator (0.1.4)
  operators/netobserv-operator/0.1.4/bundle.Dockerfile
  operators/netobserv-operator/0.1.4/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.4/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.4/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.4/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.4/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1579 operator mondoo-operator (1.0.1)
  operators/mondoo-operator/1.0.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.0.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.0.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1581 operator [O] aqua (2022.4.3)
  operators/aqua/2022.4.3/manifests/aqua-operator.v2022.4.2.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1583 operator jaeger (1.37.0)
  operators/jaeger/1.37.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.37.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.37.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.37.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.37.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.37.0/metadata/annotations.yaml
  operators/jaeger/1.37.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1584 operator function-mesh (0.4.0)
  operators/function-mesh/0.4.0/bundle.Dockerfile
  operators/function-mesh/0.4.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.4.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.4.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.4.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.4.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.4.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/function-mesh/0.4.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.4.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.4.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.4.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.4.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.4.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.4.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.4.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.4.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.4.0/metadata/annotations.yaml
  operators/function-mesh/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1586 operator project-quay (3.7.6)
  operators/project-quay/3.7.6/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.6/quayecosystems.crd.yaml
  operators/project-quay/3.7.6/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1587 operator [CI] project-quay
  operators/project-quay/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1588 operator hive-operator (1.2.3830-c04f8ed)
  operators/hive-operator/1.2.3830-c04f8ed/hive-operator.v1.2.3830-c04f8ed.clusterserviceversion.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3830-c04f8ed/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1589 operator hive-operator (2.4.3231-ba51985)
  operators/hive-operator/2.4.3231-ba51985/hive-operator.v2.4.3231-ba51985.clusterserviceversion.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3231-ba51985/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3231-ba51985/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1595 operator hive-operator (2.3.3039-60b8a9a)
  operators/hive-operator/2.3.3039-60b8a9a/hive-operator.v2.3.3039-60b8a9a.clusterserviceversion.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.3.3039-60b8a9a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1591 operator [CI] ack-prometheusservice-controller
  operators/ack-prometheusservice-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#1596 operator dynatrace-operator (0.8.0)
  operators/dynatrace-operator/0.8.0/Dockerfile
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1598 operator telegraf-operator (1.3.9)
  operators/telegraf-operator/1.3.9/Dockerfile
  operators/telegraf-operator/1.3.9/manifests/classes-secret.yaml
  operators/telegraf-operator/1.3.9/manifests/telegraf-operator-v1.3.9.clusterserviceversion.yaml
  operators/telegraf-operator/1.3.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1602 operator mondoo-operator (1.1.0)
  operators/mondoo-operator/1.1.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.1.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.1.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1590 operator [N] [CI] lbconfig-operator (0.2.0)
  operators/lbconfig-operator/0.2.0/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.2.0/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.2.0/metadata/annotations.yaml
  operators/lbconfig-operator/0.2.0/tests/scorecard/config.yaml
  operators/lbconfig-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1604 operator [O] cloud-native-postgresql (1.15.2)
  operators/cloud-native-postgresql/1.15.2/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1605 operator mondoo-operator (1.1.1)
  operators/mondoo-operator/1.1.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.1.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.1.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1585 operator [N] [CI] horreum-operator (0.0.2)
  operators/horreum-operator/0.0.2/horreum-operator.v0.0.2.clusterserviceversion.yaml
  operators/horreum-operator/0.0.2/hyperfoil.io_horreums_crd.yaml
  operators/horreum-operator/ci.yaml
  operators/horreum-operator/horreum-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1607 operator kiali (1.55.0)
  operators/kiali/1.55.0/bundle.Dockerfile
  operators/kiali/1.55.0/manifests/kiali.crd.yaml
  operators/kiali/1.55.0/manifests/kiali.v1.55.0.clusterserviceversion.yaml
  operators/kiali/1.55.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1608 operator [N] minio-operator (4.4.28)
  operators/minio-operator/4.4.28/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.28/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.28/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.28/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.4.28/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.28/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.4.28/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.28/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.28/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.28/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1611 operator grafana-operator (4.6.0)
  operators/grafana-operator/4.6.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.6.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.6.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.6.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.6.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1612 operator trivy-operator (0.1.6)
  operators/trivy-operator/0.1.6/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.6/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.6/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.6/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.6/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.6/trivy-operator.v0.1.6.clusterserviceversion.yaml
  operators/trivy-operator/0.1.6/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1601 operator [N] [CI] limitador-operator (0.3.0)
  operators/limitador-operator/0.3.0/bundle.Dockerfile
  operators/limitador-operator/0.3.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.3.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.3.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.3.0/metadata/annotations.yaml
  operators/limitador-operator/0.3.0/tests/scorecard/config.yaml
  operators/limitador-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1614 operator aqua (2022.4.4)
  operators/aqua/2022.4.4/bundle.Dockerfile
  operators/aqua/2022.4.4/manifests/aqua-operator.v2022.4.4.clusterserviceversion.yaml
  operators/aqua/2022.4.4/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.4/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1616 operator kogito-operator (1.26.0)
  operators/kogito-operator/1.26.0/bundle.Dockerfile
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.26.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.26.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.26.0/metadata/annotations.yaml
  operators/kogito-operator/1.26.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1617 operator kube-green (0.4.0)
  operators/kube-green/0.4.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.4.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.4.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.4.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.4.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.4.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.4.0/metadata/annotations.yaml
  operators/kube-green/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1619 operator apicast-community-operator (0.5.1)
  operators/apicast-community-operator/0.5.1/bundle.Dockerfile
  operators/apicast-community-operator/0.5.1/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.5.1/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.5.1/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.5.1/metadata/annotations.yaml
  operators/apicast-community-operator/0.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1618 operator victoriametrics-operator (0.27.2)
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.27.2/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.27.2/victoriametrics-operator.0.27.2.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1615 operator function-mesh (0.5.0)
  operators/function-mesh/0.5.0/bundle.Dockerfile
  operators/function-mesh/0.5.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.5.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.5.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.5.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.5.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.5.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/function-mesh/0.5.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.5.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.5.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.5.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.5.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.5.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.5.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.5.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.5.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.5.0/metadata/annotations.yaml
  operators/function-mesh/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1620 operator hive-operator (1.2.3834-db7b77c)
  operators/hive-operator/1.2.3834-db7b77c/hive-operator.v1.2.3834-db7b77c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3834-db7b77c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3834-db7b77c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1623 operator apicast-community-operator (0.6.0)
  operators/apicast-community-operator/0.6.0/bundle.Dockerfile
  operators/apicast-community-operator/0.6.0/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.6.0/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.6.0/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.6.0/metadata/annotations.yaml
  operators/apicast-community-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1625 operator mondoo-operator (1.2.0)
  operators/mondoo-operator/1.2.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.2.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.2.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1627 operator app-director-operator (0.8.0)
  operators/app-director-operator/0.8.0/Dockerfile
  operators/app-director-operator/0.8.0/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.8.0/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.8.0/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.8.0/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.8.0/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.8.0/metadata/annotations.yaml
  operators/app-director-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1628 operator postgresql (5.1.3)
  operators/postgresql/5.1.3/Dockerfile
  operators/postgresql/5.1.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.3/metadata/annotations.yaml
  operators/postgresql/5.1.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1630 operator opentelemetry-operator (0.58.0)
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.58.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.58.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.58.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1631 operator [N] [CI] authorino-operator (0.0.1)
  operators/authorino-operator/0.0.1/bundle.Dockerfile
  operators/authorino-operator/0.0.1/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.0.1/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.0.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.0.1/manifests/authorino.3scale.net_authconfigs.yaml
  operators/authorino-operator/0.0.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.0.1/metadata/annotations.yaml
  operators/authorino-operator/0.0.1/tests/scorecard/config.yaml
  operators/authorino-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1629 operator [N] [CI] rabbitmq-messaging-topology-operator (1.8.0)
  operators/rabbitmq-messaging-topology-operator/1.8.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/metadata/annotations.yaml
  operators/rabbitmq-messaging-topology-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1633 bump kind_kube_version
  ci/pipeline-config-k8s.yaml
Labels: allow/ci-changes

#1634 operator [N] rabbitmq-messaging-topology-operator (1.8.0)
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.8.0/manifests/rabbitmq.webhook-service.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1635 operator routernetes-operator (0.0.6)
  operators/routernetes-operator/0.0.6/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.6/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.6/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.6/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.6/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1636 operator trivy-operator (0.1.7)
  operators/trivy-operator/0.1.7/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.7/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.7/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.7/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.7/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.7/trivy-operator.v0.1.7.clusterserviceversion.yaml
  operators/trivy-operator/0.1.7/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1638 operator trivy-operator (0.1.8)
  operators/trivy-operator/0.1.8/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.8/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.8/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.8/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.8/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.8/trivy-operator.v0.1.8.clusterserviceversion.yaml
  operators/trivy-operator/0.1.8/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1637 operator beegfs-csi-driver-operator (1.3.0)
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.3.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.3.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1639 operator mondoo-operator (1.2.1)
  operators/mondoo-operator/1.2.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.2.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.2.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1643 operator dynatrace-operator (0.8.1)
  operators/dynatrace-operator/0.8.1/Dockerfile
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1642 operator mongodb-atlas-kubernetes (1.2.0)
  operators/mongodb-atlas-kubernetes/1.2.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1644 operator knative-operator (1.7.0)
  operators/knative-operator/1.7.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.7.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.7.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.7.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.7.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.7.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.7.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.7.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.7.0/manifests/knative-operator.v1.7.0.clusterserviceversion.yaml
  operators/knative-operator/1.7.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.7.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.7.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.7.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.7.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.7.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.7.0/metadata/annotations.yaml
  operators/knative-operator/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1645 operator trivy-operator (0.1.9)
  operators/trivy-operator/0.1.9/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.9/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.9/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.9/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.9/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.1.9/trivy-operator.v0.1.9.clusterserviceversion.yaml
  operators/trivy-operator/0.1.9/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1640 operator tektoncd-operator (0.61.0)
  operators/tektoncd-operator/0.61.0/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektonchains.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektonhubs.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektoninstallersets.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.61.0/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-config-observability_v1_configmap.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-config-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-config-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator-info_v1_configmap.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.61.0/manifests/tekton-operator_v1_service.yaml
  operators/tektoncd-operator/0.61.0/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.61.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1610 Delete operators/sysdig directory
  operators/sysdig/1.4.0/sysdig-operator.v1.4.0.clusterserviceversion.yaml
  operators/sysdig/1.4.0/sysdigagents.sysdig.com.crd.yaml
  operators/sysdig/1.4.7/sysdig-operator.v1.4.7.clusterserviceversion.yaml
  operators/sysdig/1.4.7/sysdigagents.sysdig.com.crd.yaml
  operators/sysdig/1.7.2/sysdig-operator.v1.7.2.clusterserviceversion.yaml
  operators/sysdig/1.7.2/sysdigagents.sysdig.com.crd.yaml
  operators/sysdig/ci.yaml
  operators/sysdig/sysdig.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1647 operator gitlab-operator-kubernetes (0.11.0)
  operators/gitlab-operator-kubernetes/0.11.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1651 operator hive-operator (1.2.3843-a1ae1ab)
  operators/hive-operator/1.2.3843-a1ae1ab/hive-operator.v1.2.3843-a1ae1ab.clusterserviceversion.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3843-a1ae1ab/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1646 operator [N] [CI] self-node-remediation (0.4.0)
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.4.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.4.0/metadata/annotations.yaml
  operators/self-node-remediation/0.4.0/tests/scorecard/config.yaml
  operators/self-node-remediation/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1650 operator elastic-cloud-eck (2.4.0)
  operators/elastic-cloud-eck/2.4.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/elastic-cloud-eck.v2.4.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.4.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.4.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1654 operator dynatrace-operator (0.8.2)
  operators/dynatrace-operator/0.8.2/Dockerfile
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.8.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.8.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1653 operator [N] [CI] rabbitmq-single-active-consumer-operator (0.2.2)
  operators/rabbitmq-single-active-consumer-operator/0.2.2/bundle.Dockerfile
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.com_superstreamconsumers.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.config-map.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-single-active-consumer-operator/0.2.2/metadata/annotations.yaml
  operators/rabbitmq-single-active-consumer-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1648 operator gitlab-operator-kubernetes (0.11.1)
  operators/gitlab-operator-kubernetes/0.11.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1656 operator project-quay (3.7.7)
  operators/project-quay/3.7.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.7/quayecosystems.crd.yaml
  operators/project-quay/3.7.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1658 operator mondoo-operator (1.3.0)
  operators/mondoo-operator/1.3.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.3.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.3.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1655 operator authorino-operator (0.4.0)
  operators/authorino-operator/0.4.0/bundle.Dockerfile
  operators/authorino-operator/0.4.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.4.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.4.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.4.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.4.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.4.0/metadata/annotations.yaml
  operators/authorino-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1659 operator mondoo-operator (1.3.1)
  operators/mondoo-operator/1.3.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.3.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.3.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
