Repository k8s-operatorhub/community-operators, pull requests merged in 2022-12, with the labels that each got.

#2000 operator [CI] aqua (2022.4.7)
  operators/aqua/2022.4.7/bundle.Dockerfile
  operators/aqua/2022.4.7/manifests/aqua-operator.v2022.4.7.clusterserviceversion.yaml
  operators/aqua/2022.4.7/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.7/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.7/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2001 operator grafana-operator (4.8.0)
  operators/grafana-operator/4.8.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.8.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.8.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.8.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.8.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2004 operator gitlab-operator-kubernetes (0.14.1)
  operators/gitlab-operator-kubernetes/0.14.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.14.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.14.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.14.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2008 operator mondoo-operator (1.9.2)
  operators/mondoo-operator/1.9.2/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.9.2/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.2/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2002 operator [N] [CI] galaxy-operator (1.0.0-alpha.4)
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator.1.0.0-alpha.4.clusterserviceversion.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/galaxy-operator/1.0.0-alpha.4/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/galaxy-operator/1.0.0-alpha.4/metadata/annotations.yaml
  operators/galaxy-operator/1.0.0-alpha.4/tests/scorecard/config.yaml
  operators/galaxy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2006 operator [N] [CI] synapse-operator (0.3.0)
  operators/synapse-operator/0.3.0/Dockerfile
  operators/synapse-operator/0.3.0/manifests/synapse-operator.clusterserviceversion.yaml
  operators/synapse-operator/0.3.0/manifests/synapse.opdev.io_heisenbridges.yaml
  operators/synapse-operator/0.3.0/manifests/synapse.opdev.io_mautrixsignals.yaml
  operators/synapse-operator/0.3.0/manifests/synapse.opdev.io_synapses.yaml
  operators/synapse-operator/0.3.0/metadata/annotations.yaml
  operators/synapse-operator/0.3.0/tests/scorecard/config.yaml
  operators/synapse-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2009 operator kubero-operator (0.0.74)
  operators/kubero-operator/0.0.74/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.74/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.74/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.74/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.74/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.74/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.74/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.74/metadata/annotations.yaml
  operators/kubero-operator/0.0.74/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2011 operator trivy-operator (0.8.0)
  operators/trivy-operator/0.8.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.8.0/trivy-operator.v0.8.0.clusterserviceversion.yaml
  operators/trivy-operator/0.8.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2010 operator mongodb-atlas-kubernetes (1.5.0)
  operators/mongodb-atlas-kubernetes/1.5.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2015 operator netobserv-operator (0.2.1)
  operators/netobserv-operator/0.2.1/bundle.Dockerfile
  operators/netobserv-operator/0.2.1/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.1/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2014 operator portworx (1.10.1)
  operators/portworx/1.10.1/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.1/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2017 operator [CI] ack-cloudtrail-controller
  operators/ack-cloudtrail-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2019 operator awx-operator (1.1.1)
  operators/awx-operator/1.1.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.1/manifests/awx-operator.v1.1.1.clusterserviceversion.yaml
  operators/awx-operator/1.1.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.1/metadata/annotations.yaml
  operators/awx-operator/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2024 operator project-quay (3.9.0-nightly.1)
  operators/project-quay/3.9.0-nightly.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2025 operator gitlab-operator-kubernetes (0.14.2)
  operators/gitlab-operator-kubernetes/0.14.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.14.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.14.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.14.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2026 operator [CI] service-binding-operator
  operators/service-binding-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2022 operator trident-operator (22.10.0)
  operators/trident-operator/22.10.0/trident-operator.v22.10.0.clusterserviceversion.yaml
  operators/trident-operator/22.10.0/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  operators/trident-operator/trident-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2021 operator [O] pulsar-operator (0.11.5)
  operators/pulsar-operator/0.11.5/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2030 operator external-secrets-operator (0.7.0)
  operators/external-secrets-operator/0.7.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2044 operator trivy-operator (0.9.0)
  operators/trivy-operator/0.9.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.9.0/trivy-operator.v0.9.0.clusterserviceversion.yaml
  operators/trivy-operator/0.9.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2028 operator project-quay (3.9.0-nightly.2022.12.11)
  operators/project-quay/3.9.0-nightly.2022.12.11/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.11/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2045 operator camel-k (1.11.0)
  operators/camel-k/1.11.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/camel-k.v1.11.0.clusterserviceversion.yaml
  operators/camel-k/1.11.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.11.0/metadata/annotations.yaml
  operators/camel-k/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2048 operator [CI] dynatrace-operator (0.10.0)
  operators/dynatrace-operator/0.10.0/Dockerfile
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.0/metadata/annotations.yaml
  operators/dynatrace-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2050 operator awx-operator (1.1.2)
  operators/awx-operator/1.1.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.2/manifests/awx-operator.v1.1.2.clusterserviceversion.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.2/metadata/annotations.yaml
  operators/awx-operator/1.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2049 operator hive-operator (1.2.3966-40fcaec)
  operators/hive-operator/1.2.3966-40fcaec/hive-operator.v1.2.3966-40fcaec.clusterserviceversion.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3966-40fcaec/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3966-40fcaec/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2051 operator project-quay (3.9.0-nightly.2022.12.13)
  operators/project-quay/3.9.0-nightly.2022.12.13/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.13/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2052 operator mondoo-operator (1.9.3)
  operators/mondoo-operator/1.9.3/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.9.3/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.9.3/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2053 operator keycloak-operator (20.0.2)
  operators/keycloak-operator/20.0.2/bundle.Dockerfile
  operators/keycloak-operator/20.0.2/manifests/keycloak-operator.v20.0.2.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2054 operator beegfs-csi-driver-operator (1.4.0)
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.4.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.4.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2055 operator camel-karavan-operator (3.18.6)
  operators/camel-karavan-operator/3.18.6/manifests/camel-karavan-operator.v3.18.6.clusterserviceversion.yaml
  operators/camel-karavan-operator/3.18.6/manifests/karavans.camel.apache.org.crd.yml
  operators/camel-karavan-operator/3.18.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2056 operator flink-kubernetes-operator (1.3.0)
  operators/flink-kubernetes-operator/1.3.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.3.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.3.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2058 operator project-quay (3.9.0-nightly.2022.12.14)
  operators/project-quay/3.9.0-nightly.2022.12.14/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.14/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2059 operator service-binding-operator (1.3.2)
  operators/service-binding-operator/1.3.2/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.2/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.2/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.2/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.2/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.2/metadata/annotations.yaml
  operators/service-binding-operator/1.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2060 operator project-quay (3.9.0-nightly.2022.12.15)
  operators/project-quay/3.9.0-nightly.2022.12.15/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.15/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2061 operator kubero-operator (0.0.75)
  operators/kubero-operator/0.0.75/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.75/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.75/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.75/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.75/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.75/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.75/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.75/metadata/annotations.yaml
  operators/kubero-operator/0.0.75/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2062 operator seldon-operator (1.15.0)
  operators/seldon-operator/1.15.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.15.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.15.0/metadata/annotations.yaml
  operators/seldon-operator/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2063 operator authorino-operator (0.5.0)
  operators/authorino-operator/0.5.0/bundle.Dockerfile
  operators/authorino-operator/0.5.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.5.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.5.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.5.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.5.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.5.0/metadata/annotations.yaml
  operators/authorino-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2065 operator project-quay (3.9.0-nightly.2022.12.17)
  operators/project-quay/3.9.0-nightly.2022.12.17/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.17/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2067 operator project-quay (3.9.0-nightly.2022.12.18)
  operators/project-quay/3.9.0-nightly.2022.12.18/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.18/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2069 operator project-quay (3.9.0-nightly.2022.12.19)
  operators/project-quay/3.9.0-nightly.2022.12.19/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.19/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2072 operator dynatrace-operator (0.10.1)
  operators/dynatrace-operator/0.10.1/Dockerfile
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2073 operator netobserv-operator (0.2.2)
  operators/netobserv-operator/0.2.2/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.2.2/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.2.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2074 operator [R] nfs-provisioner-operator (0.0.6 0.0.7)
  operators/nfs-provisioner-operator/0.0.6/Dockerfile
  operators/nfs-provisioner-operator/0.0.6/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.6/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.6/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.6/tests/scorecard/config.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.7/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2075 operator [CI] limitador-operator (0.4.0)
  operators/limitador-operator/0.4.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.4.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.4.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.4.0/metadata/annotations.yaml
  operators/limitador-operator/0.4.0/tests/scorecard/config.yaml
  operators/limitador-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2071 operator [R] [CI] percona-xtradb-cluster-operator (1.10.0 1.11.0 1.12.0 1.9.0)
  operators/percona-xtradb-cluster-operator/1.0.0/percona-xtradb-cluster-operator.v1.0.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.0.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.0.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.0.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.0.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.1.0/percona-xtradb-cluster-operator.v1.1.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.1.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.1.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.1.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.1.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.10.0/percona-xtradb-cluster-operator.v1.10.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/percona-xtradb-cluster-operator.v1.11.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.11.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/percona-xtradb-cluster-operator.v1.12.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.12.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.4.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.6.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.7.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.8.0/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/percona-xtradb-cluster-operator.v1.9.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/1.9.0/percona-xtradb-cluster-operator.v1.9.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
  operators/percona-xtradb-cluster-operator/percona-xtradb-cluster-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2077 operator postgresql (5.3.0)
  operators/postgresql/5.3.0/Dockerfile
  operators/postgresql/5.3.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.3.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.3.0/metadata/annotations.yaml
  operators/postgresql/5.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2064 operator [N] [CI] ndmspc-operator (0.0.1)
  operators/ndmspc-operator/0.0.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.0.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.0.1/tests/scorecard/config.yaml
  operators/ndmspc-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2078 operator project-quay (3.9.0-nightly.2022.12.20)
  operators/project-quay/3.9.0-nightly.2022.12.20/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.20/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2079 operator mongodb-atlas-kubernetes (1.5.1)
  operators/mongodb-atlas-kubernetes/1.5.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2081 operator project-quay (3.9.0-nightly.2022.12.21)
  operators/project-quay/3.9.0-nightly.2022.12.21/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.21/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2082 operator dell-csi-operator (1.10.0)
  operators/dell-csi-operator/1.10.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.10.0/dell-csi-operator.v1.10.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2080 operator [N] [CI] kuadrant-operator (0.2.0)
  operators/kuadrant-operator/0.2.0/bundle.Dockerfile
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.2.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.2.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.2.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.2.0/tests/scorecard/config.yaml
  operators/kuadrant-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2084 operator kogito-operator (1.32.0)
  operators/kogito-operator/1.32.0/Dockerfile
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.32.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.32.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.32.0/metadata/annotations.yaml
  operators/kogito-operator/1.32.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2088 operator gitlab-runner-operator (1.11.0)
  operators/gitlab-runner-operator/1.11.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.11.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.11.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2089 operator project-quay (3.9.0-nightly.2022.12.22)
  operators/project-quay/3.9.0-nightly.2022.12.22/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.22/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2091 operator function-mesh (0.9.0)
  operators/function-mesh/0.9.0/bundle.Dockerfile
  operators/function-mesh/0.9.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.9.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.9.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.9.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.9.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.9.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/function-mesh/0.9.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.9.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.9.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.9.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.9.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.9.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.9.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.9.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.9.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.9.0/metadata/annotations.yaml
  operators/function-mesh/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2094 operator cryostat-operator (2.2.1)
  operators/cryostat-operator/2.2.1/Dockerfile
  operators/cryostat-operator/2.2.1/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.2.1/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.2.1/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.2.1/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.2.1/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.2.1/metadata/annotations.yaml
  operators/cryostat-operator/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2096 operator gitlab-operator-kubernetes (0.15.0)
  operators/gitlab-operator-kubernetes/0.15.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2097 operator project-quay (3.9.0-nightly.2022.12.23)
  operators/project-quay/3.9.0-nightly.2022.12.23/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.23/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2098 operator jaeger (1.40.0)
  operators/jaeger/1.40.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.40.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.40.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.40.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.40.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.40.0/metadata/annotations.yaml
  operators/jaeger/1.40.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2099 operator project-quay (3.9.0-nightly.2022.12.24)
  operators/project-quay/3.9.0-nightly.2022.12.24/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.24/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2100 operator project-quay (3.9.0-nightly.2022.12.25)
  operators/project-quay/3.9.0-nightly.2022.12.25/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.25/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2101 operator project-quay (3.9.0-nightly.2022.12.26)
  operators/project-quay/3.9.0-nightly.2022.12.26/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.26/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2102 operator project-quay (3.9.0-nightly.2022.12.27)
  operators/project-quay/3.9.0-nightly.2022.12.27/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.27/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2103 operator mondoo-operator (1.10.0)
  operators/mondoo-operator/1.10.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.10.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.10.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2104 operator project-quay (3.9.0-nightly.2022.12.28)
  operators/project-quay/3.9.0-nightly.2022.12.28/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.28/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2105 operator edp-keycloak-operator (1.14.0)
  operators/edp-keycloak-operator/1.14.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.14.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.14.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2106 operator kubero-operator (0.0.82)
  operators/kubero-operator/0.0.82/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.82/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.82/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.82/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.82/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.82/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.82/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.82/metadata/annotations.yaml
  operators/kubero-operator/0.0.82/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2107 operator project-quay (3.9.0-nightly.2022.12.29)
  operators/project-quay/3.9.0-nightly.2022.12.29/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.29/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2108 operator mongodb-enterprise (1.18.0)
  operators/mongodb-enterprise/1.18.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.18.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.18.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2112 operator project-quay (3.9.0-nightly.2022.12.30)
  operators/project-quay/3.9.0-nightly.2022.12.30/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.30/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2095 operator [N] [CI] ublhub-operator (2.0.0-beta.3)
  operators/ublhub-operator/2.0.0-beta.3/bundle.Dockerfile
  operators/ublhub-operator/2.0.0-beta.3/manifests/ublhub-operator.clusterserviceversion.yaml
  operators/ublhub-operator/2.0.0-beta.3/manifests/ublhubs.ublhub.openubl.io-v1.crd.yml
  operators/ublhub-operator/2.0.0-beta.3/metadata/annotations.yaml
  operators/ublhub-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2113 operator project-quay (3.9.0-nightly.2022.12.31)
  operators/project-quay/3.9.0-nightly.2022.12.31/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.2022.12.31/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated
