Repository k8s-operatorhub/community-operators, pull requests merged in 2022-03, with the labels that each got.

#845 operators hive-operator (1.2.3530-0be0b66)
  operators/hive-operator/1.2.3530-0be0b66/hive-operator.v1.2.3530-0be0b66.clusterserviceversion.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3530-0be0b66/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3530-0be0b66/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#838 operators [N] trident-operator (22.1.0)
  operators/trident-operator/22.1.0/clusterrole.yaml
  operators/trident-operator/22.1.0/clusterrolebinding.yaml
  operators/trident-operator/22.1.0/trident-operator.v22.1.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#849 operators argocd-operator (0.2.1)
  operators/argocd-operator/0.2.1/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.2.1/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.2.1/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.2.1/argocd-operator.v0.2.1.clusterserviceversion.yaml
  operators/argocd-operator/0.2.1/argoproj.io_applications.yaml
  operators/argocd-operator/0.2.1/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.2.1/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.2.1/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.2.1/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#851 operators [N] [CI] mondoo-operator (0.0.10)
  operators/mondoo-operator/0.0.10/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.0.10/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/ci.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#867 operators mongodb-enterprise (1.15.1)
  operators/mongodb-enterprise/1.15.1/manifests/appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.1/manifests/database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.15.1/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.15.1/manifests/ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.1/metadata/annotations.yaml
  operators/mongodb-enterprise/1.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#869 operators verticadb-operator (1.3.1)
  operators/verticadb-operator/1.3.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.3.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.3.1/metadata/annotations.yaml
  operators/verticadb-operator/1.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#872 operators hive-operator (2.5.3489-6dec9c3)
  operators/hive-operator/2.5.3489-6dec9c3/hive-operator.v2.5.3489-6dec9c3.clusterserviceversion.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3489-6dec9c3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#868 operators kogito-operator (1.18.0)
  operators/kogito-operator/1.18.0/Dockerfile
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.18.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.18.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.18.0/metadata/annotations.yaml
  operators/kogito-operator/1.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#874 operators kube-green (0.3.1)
  operators/kube-green/0.3.1/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.3.1/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.3.1/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.3.1/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.3.1/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.3.1/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.3.1/metadata/annotations.yaml
  operators/kube-green/0.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#873 operators mongodb-atlas-kubernetes (0.8.0)
  operators/mongodb-atlas-kubernetes/0.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasclusters.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#875 operators camel-k (1.8.2)
  operators/camel-k/1.8.2/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/camel-k.v1.8.2.clusterserviceversion.yaml
  operators/camel-k/1.8.2/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.8.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#876 operators netobserv-operator (0.1.1)
  operators/netobserv-operator/0.1.1/bundle.Dockerfile
  operators/netobserv-operator/0.1.1/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.1/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#877 operators [CI] couchdb-operator (2.2.2)
  operators/couchdb-operator/2.2.2/manifests/backups.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/buckets.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/couchdb-operator.clusterserviceversion.yaml
  operators/couchdb-operator/2.2.2/manifests/couchdbclusters.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/formationlocks.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/formations.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/recipes.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/manifests/recipetemplates.couchdb.databases.cloud.ibm.com.crd.yaml
  operators/couchdb-operator/2.2.2/metadata/annotations.yaml
  operators/couchdb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#878 operators wildfly (0.5.3)
  operators/wildfly/0.5.3/bundle.Dockerfile
  operators/wildfly/0.5.3/manifests/wildfly-operator.v0.5.3.clusterserviceversion.yaml
  operators/wildfly/0.5.3/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/0.5.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#794 operators [CI] instana-agent-operator (2.0.4)
  operators/instana-agent-operator/2.0.4/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.4/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.4/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.4/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.4/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.4/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.4/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.4/metadata/dependencies.yaml
  operators/instana-agent-operator/2.0.4/tests/scorecard/config.yaml
  operators/instana-agent-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#884 operators [CI] postgresql (5.0.5)
  operators/postgresql/5.0.5/Dockerfile
  operators/postgresql/5.0.5/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.0.5/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.0.5/metadata/annotations.yaml
  operators/postgresql/5.0.5/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#883 operators [N] [CI] app-director-operator (0.0.1)
  operators/app-director-operator/0.0.1/Dockerfile
  operators/app-director-operator/0.0.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/0.0.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_clusterwideguvnors.yaml
  operators/app-director-operator/0.0.1/manifests/appdirector.randoli.ca_guvnors.yaml
  operators/app-director-operator/0.0.1/metadata/annotations.yaml
  operators/app-director-operator/0.0.1/tests/scorecard/config.yaml
  operators/app-director-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#885 operators [N] app-director-operator (0.0.1)
  operators/app-director-operator/0.0.1/manifests/app-director-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#881 operators [CI] seldon-operator (1.13.1)
  operators/seldon-operator/1.13.1/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.13.1/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.13.1/metadata/annotations.yaml
  operators/seldon-operator/1.13.1/tests/scorecard/config.yaml
  operators/seldon-operator/ci.yaml
Labels: authorized-changes, installation-validated, do-not-merge/hold

#887 operators snyk-operator (1.85.2)
  operators/snyk-operator/1.85.2/snyk-operator.v1.85.2.clusterserviceversion.yaml
  operators/snyk-operator/1.85.2/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#826 operators [R] storageos (2.5.0 2.6.0)
  operators/storageos/2.5.0/storageos-operator-leader-election_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/storageos/2.5.0/storageos-operator-webhook_v1_service.yaml
  operators/storageos/2.5.0/storageos-operator_v1_configmap.yaml
  operators/storageos/2.5.0/storageos-operator_v1_service.yaml
  operators/storageos/2.5.0/storageos-related-images_v1_configmap.yaml
  operators/storageos/2.5.0/storageos.com_storageosclusters.yaml
  operators/storageos/2.5.0/storageos_metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.5.0/storageos_operator-leader-election_rbac.authorization.k8s.io_v1_role.yaml
  operators/storageos/2.5.0/storageos_operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.5.0/storageos_operator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/storageos/2.5.0/storageos_proxy_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.5.0/storageos_proxy_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/storageos/2.5.0/storageosoperator.clusterserviceversion.yaml
  operators/storageos/2.6.0/storageos-operator-leader-election_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/storageos/2.6.0/storageos-operator-webhook_v1_service.yaml
  operators/storageos/2.6.0/storageos-operator_v1_configmap.yaml
  operators/storageos/2.6.0/storageos-operator_v1_service.yaml
  operators/storageos/2.6.0/storageos-related-images_v1_configmap.yaml
  operators/storageos/2.6.0/storageos.com_storageosclusters.yaml
  operators/storageos/2.6.0/storageos_metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.6.0/storageos_operator-leader-election_rbac.authorization.k8s.io_v1_role.yaml
  operators/storageos/2.6.0/storageos_operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.6.0/storageos_operator_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/storageos/2.6.0/storageos_proxy_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/storageos/2.6.0/storageos_proxy_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/storageos/2.6.0/storageosoperator.clusterserviceversion.yaml
  operators/storageos/storageos.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#886 operators jaeger (1.32.0)
  operators/jaeger/1.32.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.32.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.32.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.32.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.32.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.32.0/metadata/annotations.yaml
  operators/jaeger/1.32.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#895 operators hive-operator (2.5.3491-6feded1)
  operators/hive-operator/2.5.3491-6feded1/hive-operator.v2.5.3491-6feded1.clusterserviceversion.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3491-6feded1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3491-6feded1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#896 operators pulp-operator (0.8.0)
  operators/pulp-operator/0.8.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.8.0/manifests/pulp-operator.v0.8.0.clusterserviceversion.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.8.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.8.0/metadata/annotations.yaml
  operators/pulp-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#892 operators knative-operator (1.3.1)
  operators/knative-operator/1.3.1/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.1/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.1/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.1/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.1/knative-operator.v1.3.1.clusterserviceversion.yaml
  operators/knative-operator/1.3.1/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#901 operators cert-manager (1.6.2)
  operators/cert-manager/1.6.2/bundle.Dockerfile
  operators/cert-manager/1.6.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.2/metadata/annotations.yaml
  operators/cert-manager/1.6.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#902 operators cert-manager (1.7.1-rc1)
  operators/cert-manager/1.7.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.7.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.7.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.7.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.7.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.7.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#904 operators [CI] dynatrace-operator
  operators/dynatrace-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#893 operators hive-operator (1.2.3552-133480f)
  operators/hive-operator/1.2.3552-133480f/hive-operator.v1.2.3552-133480f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3552-133480f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3552-133480f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3552-133480f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3552-133480f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#905 operators cert-manager (1.7.1)
  operators/cert-manager/1.7.1/bundle.Dockerfile
  operators/cert-manager/1.7.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.7.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.7.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.7.1/metadata/annotations.yaml
  operators/cert-manager/1.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#911 operators ibmcloud-operator (1.1.0)
  operators/ibmcloud-operator/1.1.0/apiextensions.k8s.io_v1_customresourcedefinition_bindings.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.1.0/apiextensions.k8s.io_v1_customresourcedefinition_services.ibmcloud.ibm.com.yaml
  operators/ibmcloud-operator/1.1.0/ibmcloud_operator.v1.1.0.clusterserviceversion.yaml
  operators/ibmcloud-operator/ibmcloud-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#909 DELETE Eunomia Operator
  operators/eunomia/0.1.0/eunomia.v0.1.0.clusterserviceversion.yaml
  operators/eunomia/0.1.0/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/0.1.4/eunomia.v0.1.4.clusterserviceversion.yaml
  operators/eunomia/0.1.4/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/0.1.5/eunomia.v0.1.5.clusterserviceversion.yaml
  operators/eunomia/0.1.5/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/0.1.6/eunomia.v0.1.6.clusterserviceversion.yaml
  operators/eunomia/0.1.6/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/0.1.7/eunomia.v0.1.7.clusterserviceversion.yaml
  operators/eunomia/0.1.7/gitopsconfigs.eunomia.kohls.io.crd.yaml
  operators/eunomia/ci.yaml
  operators/eunomia/eunomia.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#913 Remove Hazelcast Jet Enterprise Operator
  operators/hazelcast-jet-enterprise-operator/0.0.1/hazelcast-jet-enterprise-operator.v0.0.1.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.0.1/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.0.2/hazelcast-jet-enterprise-operator.v0.0.2.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.0.2/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.1.0/hazelcast-jet-enterprise-operator.v0.1.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.1.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.1.1/hazelcast-jet-enterprise-operator.v0.1.1.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.1.1/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.2.0/hazelcast-jet-enterprise-operator.v0.2.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.2.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.3.0/hazelcast-jet-enterprise-operator.v0.3.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.3.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.4.0/hazelcast-jet-enterprise-operator.v0.4.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.4.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.5.0/hazelcast-jet-enterprise-operator.v0.5.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.5.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/0.6.0/hazelcast-jet-enterprise-operator.v0.6.0.clusterserviceversion.yaml
  operators/hazelcast-jet-enterprise-operator/0.6.0/hazelcastjetenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-jet-enterprise-operator/ci.yaml
  operators/hazelcast-jet-enterprise-operator/hazelcast-jet-enterprise-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#914 Remove Hazelcast Enterprise Operator
  operators/hazelcast-enterprise-operator/0.3.0/hazelcast-enterprise-operator.v0.3.0.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.0/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.1/hazelcast-enterprise-operator.v0.3.1.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.1/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.2/hazelcast-enterprise-operator.v0.3.2.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.2/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.3/hazelcast-enterprise-operator.v0.3.3.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.3/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.4/hazelcast-enterprise-operator.v0.3.4.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.4/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.5/hazelcast-enterprise-operator.v0.3.5.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.5/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.6/hazelcast-enterprise-operator.v0.3.6.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.6/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.7/hazelcast-enterprise-operator.v0.3.7.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.7/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/0.3.8/hazelcast-enterprise-operator.v0.3.8.clusterserviceversion.yaml
  operators/hazelcast-enterprise-operator/0.3.8/hazelcastenterprises.hazelcast.com.crd.yaml
  operators/hazelcast-enterprise-operator/ci.yaml
  operators/hazelcast-enterprise-operator/hazelcast-enterprise-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#916 Remove Hazelcast Jet Operator
  operators/hazelcast-jet-operator/0.0.1/hazelcast-jet-operator.v0.0.1.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.0.1/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.0.2/hazelcast-jet-operator.v0.0.2.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.0.2/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.1.0/hazelcast-jet-operator.v0.1.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.1.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.1.1/hazelcast-jet-operator.v0.1.1.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.1.1/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.2.0/hazelcast-jet-operator.v0.2.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.2.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.3.0/hazelcast-jet-operator.v0.3.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.3.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.4.0/hazelcast-jet-operator.v0.4.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.4.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.5.0/hazelcast-jet-operator.v0.5.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.5.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/0.6.0/hazelcast-jet-operator.v0.6.0.clusterserviceversion.yaml
  operators/hazelcast-jet-operator/0.6.0/hazelcastjets.hazelcast.com.crd.yaml
  operators/hazelcast-jet-operator/ci.yaml
  operators/hazelcast-jet-operator/hazelcast-jet-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#915 Remove Hazelcast Operator
  operators/hazelcast-operator/0.3.0/hazelcast-operator.v0.3.0.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.0/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.1/hazelcast-operator.v0.3.1.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.1/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.2/hazelcast-operator.v0.3.2.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.2/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.3/hazelcast-operator.v0.3.3.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.3/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.4/hazelcast-operator.v0.3.4.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.4/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.5/hazelcast-operator.v0.3.5.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.5/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.6/hazelcast-operator.v0.3.6.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.6/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.7/hazelcast-operator.v0.3.7.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.7/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/0.3.8/hazelcast-operator.v0.3.8.clusterserviceversion.yaml
  operators/hazelcast-operator/0.3.8/hazelcasts.hazelcast.com.crd.yaml
  operators/hazelcast-operator/ci.yaml
  operators/hazelcast-operator/hazelcast-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#918 operators integrity-shield-operator (0.3.3)
  operators/integrity-shield-operator/0.3.3/manifests/apis.integrityshield.io_integrityshields.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-manager-config_v1_configmap.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/integrity-shield-operator/0.3.3/manifests/integrity-shield-operator.clusterserviceversion.yaml
  operators/integrity-shield-operator/0.3.3/metadata/annotations.yaml
  operators/integrity-shield-operator/0.3.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#908 operators [PK] hive-operator ()
  operators/hive-operator/2.5.3487-54077a8/hive-operator.v2.5.3487-54077a8.clusterserviceversion.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#921 operators [R] kiali (1.47.0 1.48.0)
  operators/kiali/1.47.0/bundle.Dockerfile
  operators/kiali/1.47.0/manifests/kiali.crd.yaml
  operators/kiali/1.47.0/manifests/kiali.v1.47.0.clusterserviceversion.yaml
  operators/kiali/1.47.0/metadata/annotations.yaml
  operators/kiali/1.48.0/bundle.Dockerfile
  operators/kiali/1.48.0/manifests/kiali.crd.yaml
  operators/kiali/1.48.0/manifests/kiali.v1.48.0.clusterserviceversion.yaml
  operators/kiali/1.48.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#922 operators flux (0.27.4)
  operators/flux/0.27.4/manifests/alert.crd.yaml
  operators/flux/0.27.4/manifests/bucket.crd.yaml
  operators/flux/0.27.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.4/manifests/flux.v0.27.4.clusterserviceversion.yaml
  operators/flux/0.27.4/manifests/gitrepository.crd.yaml
  operators/flux/0.27.4/manifests/helmchart.crd.yaml
  operators/flux/0.27.4/manifests/helmrelease.crd.yaml
  operators/flux/0.27.4/manifests/helmrepository.crd.yaml
  operators/flux/0.27.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.4/manifests/imagerepository.crd.yaml
  operators/flux/0.27.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.4/manifests/kustomization.crd.yaml
  operators/flux/0.27.4/manifests/notification-controller.service.yaml
  operators/flux/0.27.4/manifests/provider.crd.yaml
  operators/flux/0.27.4/manifests/receiver.crd.yaml
  operators/flux/0.27.4/manifests/source-controller.service.yaml
  operators/flux/0.27.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#923 operators tf-controller (0.9.0-rc.8)
  operators/tf-controller/0.9.0-rc.8/manifests/terraform.crd.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-cluster-reconciler.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-controller.v0.9.0-rc.8.clusterserviceversion.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-leader-election-role.role.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-leader-election-rolebinding.rolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-manager-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-manager-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-runner-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.8/manifests/tf-runner-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#924 operators aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
  operators/aqua/6.5.3/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.3/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.3/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.3/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#925 operators aqua (6.2.2)
  operators/aqua/6.2.2/aqua-operator.v6.2.2.clusterserviceversion.yaml
  operators/aqua/6.2.2/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.2.2/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#929 operators t8c (42.8.0)
  operators/t8c/42.8.0/t8c-operator.v42.8.0.clusterserviceversion.yaml
  operators/t8c/42.8.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#926 operators [N] [CI] telegraf-operator (1.3.5)
  operators/telegraf-operator/1.3.5/Dockerfile
  operators/telegraf-operator/1.3.5/manifests/classes-secret.yaml
  operators/telegraf-operator/1.3.5/manifests/telegraf-operator-v1.3.5.clusterserviceversion.yaml
  operators/telegraf-operator/1.3.5/metadata/annotations.yaml
  operators/telegraf-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#934 operators [R] hazelcast-platform-operator (5.0.0 5.1.0)
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast-platform-webhook-server-cert_v1_secret.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_turbines.yaml
  operators/hazelcast-platform-operator/5.2.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#920 operators trident-operator (22.1.1)
  operators/trident-operator/22.1.1/trident-operator.v22.1.1.clusterserviceversion.yaml
  operators/trident-operator/22.1.1/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  operators/trident-operator/trident-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#941 operators [N] [CI] gitlab-runner-operator (1.7.0)
  operators/gitlab-runner-operator/1.7.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.7.0/ci.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.7.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#944 operators hive-operator (2.5.3495-5cfdd44)
  operators/hive-operator/2.5.3495-5cfdd44/hive-operator.v2.5.3495-5cfdd44.clusterserviceversion.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3495-5cfdd44/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#945 operators [N] gitlab-runner-operator (1.7.0)
  operators/gitlab-runner-operator/1.7.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#953 operators yaks (0.9.0)
  operators/yaks/0.9.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.9.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.9.0/yaks.v0.9.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#959 operators hazelcast-platform-operator (5.2.0)
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.2.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.2.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#962 operators keycloak-operator (17.0.1)
  operators/keycloak-operator/17.0.1/bundle.Dockerfile
  operators/keycloak-operator/17.0.1/manifests/keycloak-operator.v17.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/17.0.1/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.1/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.1/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.1/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.1/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#961 operators mongodb-enterprise (1.15.2)
  operators/mongodb-enterprise/1.15.2/manifests/appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.2/manifests/database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.15.2/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.15.2/manifests/ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.2/metadata/annotations.yaml
  operators/mongodb-enterprise/1.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#958 operators [O] prometheus (0.47.0)
  operators/prometheus/0.47.0/prometheusoperator.0.47.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#931 operators [CI] mondoo-operator (0.2.0)
  operators/mondoo-operator/0.2.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_role.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-nodes_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator-workload_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/ci.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#978 operators flux (0.28.3)
  operators/flux/0.28.3/manifests/alert.crd.yaml
  operators/flux/0.28.3/manifests/bucket.crd.yaml
  operators/flux/0.28.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.28.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.3/manifests/flux.v0.28.3.clusterserviceversion.yaml
  operators/flux/0.28.3/manifests/gitrepository.crd.yaml
  operators/flux/0.28.3/manifests/helmchart.crd.yaml
  operators/flux/0.28.3/manifests/helmrelease.crd.yaml
  operators/flux/0.28.3/manifests/helmrepository.crd.yaml
  operators/flux/0.28.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.28.3/manifests/imagerepository.crd.yaml
  operators/flux/0.28.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.28.3/manifests/kustomization.crd.yaml
  operators/flux/0.28.3/manifests/notification-controller.service.yaml
  operators/flux/0.28.3/manifests/provider.crd.yaml
  operators/flux/0.28.3/manifests/receiver.crd.yaml
  operators/flux/0.28.3/manifests/source-controller.service.yaml
  operators/flux/0.28.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.28.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#964 operators [N] [CI] dell-csm-operator (0.1.0)
  operators/dell-csm-operator/0.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/0.1.0/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/0.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#960 operators dell-csi-operator (1.7.0)
  operators/dell-csi-operator/1.7.0/csiisilons.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowermaxes.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowermaxrevproxies.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csipowerstores.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csiunities.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/csivxflexoses.storage.dell.com.crd.yaml
  operators/dell-csi-operator/1.7.0/dell-csi-operator.v1.7.0.clusterserviceversion.yaml
  operators/dell-csi-operator/dell-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#979 operators hive-operator (2.5.3506-f42617c)
  operators/hive-operator/2.5.3506-f42617c/hive-operator.v2.5.3506-f42617c.clusterserviceversion.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3506-f42617c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3506-f42617c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#986 operators telegraf-operator (1.3.6)
  operators/telegraf-operator/1.3.6/Dockerfile
  operators/telegraf-operator/1.3.6/manifests/classes-secret.yaml
  operators/telegraf-operator/1.3.6/manifests/telegraf-operator-v1.3.6.clusterserviceversion.yaml
  operators/telegraf-operator/1.3.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#988 operators kogito-operator (1.19.0)
  operators/kogito-operator/1.19.0/Dockerfile
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.19.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.19.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.19.0/metadata/annotations.yaml
  operators/kogito-operator/1.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#990 operators hive-operator (1.2.3577-1549a35)
  operators/hive-operator/1.2.3577-1549a35/hive-operator.v1.2.3577-1549a35.clusterserviceversion.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3577-1549a35/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3577-1549a35/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#981 operators klusterlet (0.7.0)
  operators/klusterlet/0.7.0/klusterlet.v0.7.0.clusterserviceversion.yaml
  operators/klusterlet/0.7.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#991 operators [O] aqua (6.5.3)
  operators/aqua/6.5.3/aqua-operator.v6.5.3.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#993 operators cert-manager (1.7.2)
  operators/cert-manager/1.7.2/bundle.Dockerfile
  operators/cert-manager/1.7.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.7.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.7.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.7.2/metadata/annotations.yaml
  operators/cert-manager/1.7.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#980 operators cluster-manager (0.7.0)
  operators/cluster-manager/0.7.0/cluster-manager.v0.7.0.clusterserviceversion.yaml
  operators/cluster-manager/0.7.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#994 operators flux (0.28.4)
  operators/flux/0.28.4/manifests/alert.crd.yaml
  operators/flux/0.28.4/manifests/bucket.crd.yaml
  operators/flux/0.28.4/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.4/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.28.4/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.4/manifests/flux.v0.28.4.clusterserviceversion.yaml
  operators/flux/0.28.4/manifests/gitrepository.crd.yaml
  operators/flux/0.28.4/manifests/helmchart.crd.yaml
  operators/flux/0.28.4/manifests/helmrelease.crd.yaml
  operators/flux/0.28.4/manifests/helmrepository.crd.yaml
  operators/flux/0.28.4/manifests/imagepolicy.crd.yaml
  operators/flux/0.28.4/manifests/imagerepository.crd.yaml
  operators/flux/0.28.4/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.28.4/manifests/kustomization.crd.yaml
  operators/flux/0.28.4/manifests/notification-controller.service.yaml
  operators/flux/0.28.4/manifests/provider.crd.yaml
  operators/flux/0.28.4/manifests/receiver.crd.yaml
  operators/flux/0.28.4/manifests/source-controller.service.yaml
  operators/flux/0.28.4/manifests/webhook-receiver.service.yaml
  operators/flux/0.28.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#992 Signature migration
  ci/pipeline-config-k8s.yaml
Labels: dco-failed

#999 operators ibm-application-gateway-operator (22.3.0)
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/22.3.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/22.3.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/22.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1003 operators ibm-spectrum-scale-csi-operator (2.5.0)
  operators/ibm-spectrum-scale-csi-operator/2.5.0/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.5.0/ibm-spectrum-scale-csi-operator.v2.5.0.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#930 operators opentelemetry-operator (0.47.0)
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.47.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.47.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.47.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1002 operators k8gb (0.8.8)
  operators/k8gb/0.8.8/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.8.8/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.8.8/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.8.8/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.8.8/manifests/k8gb.v0.8.8.clusterserviceversion.yaml
  operators/k8gb/0.8.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1001 operators k8gb (0.9.0)
  operators/k8gb/0.9.0/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.9.0/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.9.0/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.9.0/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.9.0/manifests/k8gb.v0.9.0.clusterserviceversion.yaml
  operators/k8gb/0.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1009 operators flux (0.28.5)
  operators/flux/0.28.5/manifests/alert.crd.yaml
  operators/flux/0.28.5/manifests/bucket.crd.yaml
  operators/flux/0.28.5/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.5/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.28.5/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.28.5/manifests/flux.v0.28.5.clusterserviceversion.yaml
  operators/flux/0.28.5/manifests/gitrepository.crd.yaml
  operators/flux/0.28.5/manifests/helmchart.crd.yaml
  operators/flux/0.28.5/manifests/helmrelease.crd.yaml
  operators/flux/0.28.5/manifests/helmrepository.crd.yaml
  operators/flux/0.28.5/manifests/imagepolicy.crd.yaml
  operators/flux/0.28.5/manifests/imagerepository.crd.yaml
  operators/flux/0.28.5/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.28.5/manifests/kustomization.crd.yaml
  operators/flux/0.28.5/manifests/notification-controller.service.yaml
  operators/flux/0.28.5/manifests/provider.crd.yaml
  operators/flux/0.28.5/manifests/receiver.crd.yaml
  operators/flux/0.28.5/manifests/source-controller.service.yaml
  operators/flux/0.28.5/manifests/webhook-receiver.service.yaml
  operators/flux/0.28.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#995 operators mondoo-operator (0.2.1)
  operators/mondoo-operator/0.2.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_role.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-nodes_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator-workload_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#947 operators starboard-operator (0.15.0)
  operators/starboard-operator/0.15.0/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.0/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.0/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.0/starboard-operator.v0.15.0.clusterserviceversion.yaml
  operators/starboard-operator/0.15.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
