Repository k8s-operatorhub/community-operators, pull requests merged in 2022-02, with the labels that each got.

#686 Add some reviewers to the ci.yaml file for ibm-application-gateway-op…
  operators/ibm-application-gateway-operator/ci.yaml
Labels: package-validated, installation-validated

#687 operators [O] aqua (6.5.2)
  operators/aqua/6.5.2/aqua-operator.v6.5.2.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#689 operators [R] ibm-application-gateway-operator (0.10.0 0.9.0 21.12.0 21.2.0 21.4.0 21.6.0 21.9.0)
  operators/ibm-application-gateway-operator/0.10.0/manifests/ibm-application-gateway-operator.v0.10.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/0.10.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/0.10.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/0.9.0/manifests/ibm-application-gateway-operator.v0.9.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/0.9.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/0.9.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/21.12.0/manifests/ibm-application-gateway-operator.v21.12.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.12.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/21.12.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/21.2.0/manifests/ibm-application-gateway-operator.v21.2.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.2.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/21.2.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/21.4.0/manifests/ibm-application-gateway-operator.v21.4.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.4.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/21.4.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/21.6.0/manifests/ibm-application-gateway-operator.v21.6.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.6.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/21.6.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/21.9.0/manifests/ibm-application-gateway-operator.v21.9.0.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/21.9.0/manifests/ibmapplicationgateways.ibm.com.crd.yaml
  operators/ibm-application-gateway-operator/21.9.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/ibm-application-gateway-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#692 operators ibm-application-gateway-operator (22.2.0)
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/22.2.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/22.2.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/22.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#693 operators portworx (1.7.0)
  operators/portworx/1.7.0/core_v1_storagecluster_crd.yaml
  operators/portworx/1.7.0/core_v1_storagenode_crd.yaml
  operators/portworx/1.7.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#703 operators clickhouse (0.18.1)
  operators/clickhouse/0.18.1/clickhouse-operator.v0.18.1.clusterserviceversion.yaml
  operators/clickhouse/0.18.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#707 operators [O] knative-operator (1.2.0)
  operators/knative-operator/1.2.0/knative-operator.v1.2.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#710 operators flux (0.26.0)
  operators/flux/0.26.0/manifests/alert.crd.yaml
  operators/flux/0.26.0/manifests/bucket.crd.yaml
  operators/flux/0.26.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.26.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.0/manifests/flux.v0.26.0.clusterserviceversion.yaml
  operators/flux/0.26.0/manifests/gitrepository.crd.yaml
  operators/flux/0.26.0/manifests/helmchart.crd.yaml
  operators/flux/0.26.0/manifests/helmrelease.crd.yaml
  operators/flux/0.26.0/manifests/helmrepository.crd.yaml
  operators/flux/0.26.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.26.0/manifests/imagerepository.crd.yaml
  operators/flux/0.26.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.26.0/manifests/kustomization.crd.yaml
  operators/flux/0.26.0/manifests/notification-controller.service.yaml
  operators/flux/0.26.0/manifests/provider.crd.yaml
  operators/flux/0.26.0/manifests/receiver.crd.yaml
  operators/flux/0.26.0/manifests/source-controller.service.yaml
  operators/flux/0.26.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.26.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#712 operators trivy-operator (2.3.0)
  operators/trivy-operator/2.3.0/manifests/namespace-scanners.trivy-operator.devopstales.io.crd.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.service.yaml
  operators/trivy-operator/2.3.0/manifests/trivy-operator.v2.3.0.clusterserviceversion.yaml
  operators/trivy-operator/2.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#713 operators flux (0.26.1)
  operators/flux/0.26.1/manifests/alert.crd.yaml
  operators/flux/0.26.1/manifests/bucket.crd.yaml
  operators/flux/0.26.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.26.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.26.1/manifests/flux.v0.26.1.clusterserviceversion.yaml
  operators/flux/0.26.1/manifests/gitrepository.crd.yaml
  operators/flux/0.26.1/manifests/helmchart.crd.yaml
  operators/flux/0.26.1/manifests/helmrelease.crd.yaml
  operators/flux/0.26.1/manifests/helmrepository.crd.yaml
  operators/flux/0.26.1/manifests/imagepolicy.crd.yaml
  operators/flux/0.26.1/manifests/imagerepository.crd.yaml
  operators/flux/0.26.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.26.1/manifests/kustomization.crd.yaml
  operators/flux/0.26.1/manifests/notification-controller.service.yaml
  operators/flux/0.26.1/manifests/provider.crd.yaml
  operators/flux/0.26.1/manifests/receiver.crd.yaml
  operators/flux/0.26.1/manifests/source-controller.service.yaml
  operators/flux/0.26.1/manifests/webhook-receiver.service.yaml
  operators/flux/0.26.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#697 operators shipwright-operator (0.8.0)
  operators/shipwright-operator/0.8.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.8.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.8.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.8.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.8.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.8.0/metadata/annotations.yaml
  operators/shipwright-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#696 operators external-secrets-operator (0.4.1)
  operators/external-secrets-operator/0.4.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#717 operators kogito-operator (1.16.1)
  operators/kogito-operator/1.16.1/Dockerfile
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.16.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.16.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.16.1/metadata/annotations.yaml
  operators/kogito-operator/1.16.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#718 operators hive-operator (1.2.3481-ad1892a)
  operators/hive-operator/1.2.3481-ad1892a/hive-operator.v1.2.3481-ad1892a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3481-ad1892a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3481-ad1892a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#711 operators [R] [CI] druid-operator (0.0.7 0.0.8)
  operators/druid-operator/0.0.7/druid-operator.v0.0.6.clusterserviceversion.yaml
  operators/druid-operator/0.0.7/druid.apache.org_druids.yaml
  operators/druid-operator/0.0.8/druid-operator.v0.0.6.clusterserviceversion.yaml
  operators/druid-operator/0.0.8/druid.apache.org_druids.yaml
  operators/druid-operator/ci.yaml
  operators/druid-operator/druid-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#706 operators [N] [CI] aerospike-kubernetes-operator (2.0.0)
  operators/aerospike-kubernetes-operator/2.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.0.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.0.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.0.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.0.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.0.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.0.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.0.0/tests/scorecard/config.yaml
  operators/aerospike-kubernetes-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#719 operators snyk-operator (1.82.1)
  operators/snyk-operator/1.82.1/snyk-operator.v1.82.1.clusterserviceversion.yaml
  operators/snyk-operator/1.82.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#721 operators kiali (1.46.0)
  operators/kiali/1.46.0/bundle.Dockerfile
  operators/kiali/1.46.0/manifests/kiali.crd.yaml
  operators/kiali/1.46.0/manifests/kiali.v1.46.0.clusterserviceversion.yaml
  operators/kiali/1.46.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#723 operators deployment-validation-operator (0.2.2)
  operators/deployment-validation-operator/0.2.2/deploymentvalidationoperator.0.2.2.clusterserviceversion.yaml
  operators/deployment-validation-operator/deployment-validation-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#736 operators hazelcast-platform-operator (5.1.0)
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.1.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.1.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#735 operators [N] [CI] patterns-operator (0.0.1)
  operators/patterns-operator/0.0.1/bundle.Dockerfile
  operators/patterns-operator/0.0.1/manifests/gitops.hybrid-cloud-patterns.io_patterns.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-manager-config_v1_configmap.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/patterns-operator/0.0.1/manifests/patterns-operator.clusterserviceversion.yaml
  operators/patterns-operator/0.0.1/metadata/annotations.yaml
  operators/patterns-operator/0.0.1/tests/scorecard/config.yaml
  operators/patterns-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#740 operators hpe-ezmeral-csi-operator (1.0.8)
  operators/hpe-ezmeral-csi-operator/1.0.8/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.8/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.8/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.8/manifests/hpe-ezmeral-csi-operator.v1.0.8.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#744 operators keda (2.6.1)
  operators/keda/2.6.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.6.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.6.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.6.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.6.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.6.1/manifests/keda.v2.6.1.clusterserviceversion.yaml
  operators/keda/2.6.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#745 operators elastic-cloud-eck (2.0.0)
  operators/elastic-cloud-eck/2.0.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/elastic-cloud-eck.v2.0.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.0.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.0.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#742 operators [N] [CI] netobserv-operator (0.1.0)
  operators/netobserv-operator/0.1.0/bundle.Dockerfile
  operators/netobserv-operator/0.1.0/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.0/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.0/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.0/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.0/manifests/network-observability-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.0/metadata/annotations.yaml
  operators/netobserv-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#747 operators pmem-csi-operator (1.0.2)
  operators/pmem-csi-operator/1.0.2/bundle.Dockerfile
  operators/pmem-csi-operator/1.0.2/manifests/pmem-csi-operator-metrics_v1_service.yaml
  operators/pmem-csi-operator/1.0.2/manifests/pmem-csi-operator.clusterserviceversion.yaml
  operators/pmem-csi-operator/1.0.2/manifests/pmem-csi.intel.com_pmemcsideployments.yaml
  operators/pmem-csi-operator/1.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#748 operators [N] netobserv-operator (0.1.0)
  operators/netobserv-operator/0.1.0/manifests/network-observability-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#753 operators jaeger (1.31.0)
  operators/jaeger/1.31.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.31.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.31.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.31.0/metadata/annotations.yaml
  operators/jaeger/1.31.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#743 operators [CI] sosivio (1.2.1)
  operators/sosivio/1.2.1/manifests/sosivio-operator.clusterserviceversion.yaml
  operators/sosivio/1.2.1/manifests/sosivio.crd.yaml
  operators/sosivio/1.2.1/metadata/annotations.yaml
  operators/sosivio/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#754 operators mongodb-enterprise (1.15.0)
  operators/mongodb-enterprise/1.15.0/manifests/appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.0/manifests/database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.15.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.15.0/manifests/ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.15.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#757 operators keycloak-operator (17.0.0)
  operators/keycloak-operator/17.0.0/bundle.Dockerfile
  operators/keycloak-operator/17.0.0/manifests/keycloak-operator.v17.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/17.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#758 operators hive-operator (1.2.3490-7e0b248)
  operators/hive-operator/1.2.3490-7e0b248/hive-operator.v1.2.3490-7e0b248.clusterserviceversion.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3490-7e0b248/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3490-7e0b248/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3490-7e0b248/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3490-7e0b248/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#759 operators external-secrets-operator (0.4.2)
  operators/external-secrets-operator/0.4.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#762 operators hive-operator (2.5.3487-54077a8)
  operators/hive-operator/2.5.3487-54077a8/hive-operator.v2.5.3487-54077a8.clusterserviceversion.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3487-54077a8/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3487-54077a8/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#763 operators strimzi-kafka-operator (0.28.0)
  operators/strimzi-kafka-operator/0.28.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzi-cluster-operator.v0.28.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.28.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.28.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#764 operators [N] [CI] trident-operator (22.1.0)
  operators/trident-operator/22.1.0/clusterrole.yaml
  operators/trident-operator/22.1.0/clusterrolebinding.yaml
  operators/trident-operator/22.1.0/trident-operator.v22.1.0.clusterserviceversion.yaml
  operators/trident-operator/22.1.0/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  operators/trident-operator/ci.yaml
  operators/trident-operator/trident-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#761 operators ack-lambda-controller (0.0.8)
  operators/ack-lambda-controller/0.0.8/bundle.Dockerfile
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-controller.clusterserviceversion.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-metrics-service_v1_service.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-reader_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-lambda-controller/0.0.8/manifests/ack-lambda-writer_rbac.authorization.k8s.io_v1_role.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_aliases.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_codesigningconfigs.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_eventsourcemappings.yaml
  operators/ack-lambda-controller/0.0.8/manifests/lambda.services.k8s.aws_functions.yaml
  operators/ack-lambda-controller/0.0.8/metadata/annotations.yaml
  operators/ack-lambda-controller/0.0.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#746 operators opentelemetry-operator (0.43.0)
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.43.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.43.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.43.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#780 operators cert-manager (1.6.2-rc1)
  operators/cert-manager/1.6.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.6.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.6.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.6.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.6.2-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#781 operators [N] project-quay (3.6.2)
  operators/project-quay/1.1.2/project-quay.v1.1.2.clusterserviceversion.yaml
  operators/project-quay/1.1.2/redhatcop.redhat.io_quayecosystems_crd.yaml
  operators/project-quay/3.6.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.6.2/quayecosystems.crd.yaml
  operators/project-quay/3.6.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#782 operators [O] couchbase-enterprise (1.1.0)
  operators/couchbase-enterprise/1.1.0/manifests/couchbase-v1.1.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite

#786 operators kogito-operator (1.17.0)
  operators/kogito-operator/1.17.0/Dockerfile
  operators/kogito-operator/1.17.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.17.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.17.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.17.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.17.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.17.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.17.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.17.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.17.0/metadata/annotations.yaml
  operators/kogito-operator/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#787 operators hive-operator (2.4.3206-b0714a7)
  operators/hive-operator/2.4.3206-b0714a7/hive-operator.v2.4.3206-b0714a7.clusterserviceversion.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3206-b0714a7/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3206-b0714a7/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3206-b0714a7/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3206-b0714a7/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#785 operators nfd-operator (0.4.0)
  operators/nfd-operator/0.4.0/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/nfd-operator/0.4.0/manifests/nfd-manager-config_v1_configmap.yaml
  operators/nfd-operator/0.4.0/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfd-operator/0.4.0/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  operators/nfd-operator/0.4.0/manifests/nfd.kubernetes.io_nodefeaturerules.yaml
  operators/nfd-operator/0.4.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  operators/nfd-operator/0.4.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nfd-operator/0.4.0/metadata/annotations.yaml
  operators/nfd-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#788 operators cloud-native-postgresql (1.13.0)
  operators/cloud-native-postgresql/1.13.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.13.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.13.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#792 operators hedvig-operator (1.0.2)
  operators/hedvig-operator/1.0.2/hedvig-operator.v1.0.2.clusterserviceversion.yaml
  operators/hedvig-operator/1.0.2/hedvig.io_hedvigdeploys.yaml
  operators/hedvig-operator/hedvig-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#793 operators external-secrets-operator (0.4.3)
  operators/external-secrets-operator/0.4.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#791 operators [N] [CI] fossul-operator (0.4.0)
  operators/fossul-operator/0.4.0/bundle.Dockerfile
  operators/fossul-operator/0.4.0/manifests/fossul-operator.v0.4.0.clusterserviceversion.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.4.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.4.0/metadata/annotations.yaml
  operators/fossul-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#795 operators fossul-operator (0.5.0)
  operators/fossul-operator/0.5.0/bundle.Dockerfile
  operators/fossul-operator/0.5.0/manifests/fossul-operator.v0.5.0.clusterserviceversion.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.5.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#797 operators flux (0.27.0)
  operators/flux/0.27.0/manifests/alert.crd.yaml
  operators/flux/0.27.0/manifests/bucket.crd.yaml
  operators/flux/0.27.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.0/manifests/flux.v0.27.0.clusterserviceversion.yaml
  operators/flux/0.27.0/manifests/gitrepository.crd.yaml
  operators/flux/0.27.0/manifests/helmchart.crd.yaml
  operators/flux/0.27.0/manifests/helmrelease.crd.yaml
  operators/flux/0.27.0/manifests/helmrepository.crd.yaml
  operators/flux/0.27.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.0/manifests/imagerepository.crd.yaml
  operators/flux/0.27.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.0/manifests/kustomization.crd.yaml
  operators/flux/0.27.0/manifests/notification-controller.service.yaml
  operators/flux/0.27.0/manifests/provider.crd.yaml
  operators/flux/0.27.0/manifests/receiver.crd.yaml
  operators/flux/0.27.0/manifests/source-controller.service.yaml
  operators/flux/0.27.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#798 operators victoriametrics-operator (0.23.3)
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.23.3/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.23.3/victoriametrics-operator.0.23.3.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#799 operators hive-operator (1.2.3506-f54f0ec)
  operators/hive-operator/1.2.3506-f54f0ec/hive-operator.v1.2.3506-f54f0ec.clusterserviceversion.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3506-f54f0ec/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#803 operators external-secrets-operator (0.4.4)
  operators/external-secrets-operator/0.4.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.4.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.4.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.4.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.4.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.4.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.4.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.4.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#796 operators [N] metallb-operator (0.12.0)
  operators/metallb-operator/0.10.2/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.10.2/manifests/metallb.io_addresspools.yaml
  operators/metallb-operator/0.12.0/manifests/controller_v1_serviceaccount.yaml
  operators/metallb-operator/0.12.0/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.12.0/manifests/metallb.io_addresspools.yaml
  operators/metallb-operator/0.12.0/manifests/metallb.io_bfdprofiles.yaml
  operators/metallb-operator/0.12.0/manifests/metallb.io_bgppeers.yaml
  operators/metallb-operator/0.12.0/manifests/metallb.io_metallbs.yaml
  operators/metallb-operator/0.12.0/manifests/speaker_v1_serviceaccount.yaml
  operators/metallb-operator/0.12.0/manifests/webhook-service_v1_service.yaml
  operators/metallb-operator/0.12.0/metadata/annotations.yaml
  operators/metallb-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#784 operators tidb-operator (1.3.0)
  operators/tidb-operator/1.3.0/backups.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/backupschedules.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/dmclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/restores.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/tidb-operator.v1.3.0.clusterserviceversion.yaml
  operators/tidb-operator/1.3.0/tidbclusterautoscalers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/tidbclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/tidbinitializers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/tidbmonitors.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.0/tidbngmonitorings.pingcap.com.crd.yaml
  operators/tidb-operator/tidb-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#806 operators pulp-operator (0.7.1)
  operators/pulp-operator/0.7.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.7.1/manifests/pulp-operator.v0.7.1.clusterserviceversion.yaml
  operators/pulp-operator/0.7.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.7.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.7.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.7.1/metadata/annotations.yaml
  operators/pulp-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#807 operators [CI] keycloak-operator
  operators/keycloak-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#760 operators [N] minio-operator (4.4.9)
  operators/minio-operator/1.0.3/minio-operator.v1.0.3.clusterserviceversion.yaml
  operators/minio-operator/1.0.3/minioinstances.miniocontroller.min.io.crd.yaml
  operators/minio-operator/4.4.9/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.9/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.9/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.9/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.9/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.9/metadata/annotations.yaml
  operators/minio-operator/minio-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#804 operators [N] metallb-operator (0.12.0)
  operators/metallb-operator/0.12.0/manifests/metallb-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#808 operators service-binding-operator (1.0.1)
  operators/service-binding-operator/1.0.1/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.0.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.0.1/manifests/clusterrole-service-binding-controller-role.yaml
  operators/service-binding-operator/1.0.1/manifests/clusterrolebinding-service-binding-controller-rolebinding.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.0.1/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.0.1/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#809 operators clever-operator (0.4.0)
  operators/clever-operator/0.4.0/bundle.Dockerfile
  operators/clever-operator/0.4.0/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.4.0/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.4.0/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.4.0/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.4.0/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.4.0/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.4.0/metadata/annotations.yaml
  operators/clever-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#811 operators verticadb-operator (1.3.0)
  operators/verticadb-operator/1.3.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.3.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.3.0/metadata/annotations.yaml
  operators/verticadb-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#810 operators flux (0.27.2)
  operators/flux/0.27.2/manifests/alert.crd.yaml
  operators/flux/0.27.2/manifests/bucket.crd.yaml
  operators/flux/0.27.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.27.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.27.2/manifests/flux.v0.27.2.clusterserviceversion.yaml
  operators/flux/0.27.2/manifests/gitrepository.crd.yaml
  operators/flux/0.27.2/manifests/helmchart.crd.yaml
  operators/flux/0.27.2/manifests/helmrelease.crd.yaml
  operators/flux/0.27.2/manifests/helmrepository.crd.yaml
  operators/flux/0.27.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.27.2/manifests/imagerepository.crd.yaml
  operators/flux/0.27.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.27.2/manifests/kustomization.crd.yaml
  operators/flux/0.27.2/manifests/notification-controller.service.yaml
  operators/flux/0.27.2/manifests/provider.crd.yaml
  operators/flux/0.27.2/manifests/receiver.crd.yaml
  operators/flux/0.27.2/manifests/source-controller.service.yaml
  operators/flux/0.27.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.27.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#812 operators hive-operator (2.4.3222-d68346c)
  operators/hive-operator/2.4.3222-d68346c/hive-operator.v2.4.3222-d68346c.clusterserviceversion.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.4.3222-d68346c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.4.3222-d68346c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#813 operators tidb-operator (1.3.1)
  operators/tidb-operator/1.3.1/backups.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/backupschedules.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/dmclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/restores.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidb-operator.v1.3.1.clusterserviceversion.yaml
  operators/tidb-operator/1.3.1/tidbclusterautoscalers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbclusters.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbinitializers.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbmonitors.pingcap.com.crd.yaml
  operators/tidb-operator/1.3.1/tidbngmonitorings.pingcap.com.crd.yaml
  operators/tidb-operator/tidb-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#814 operators hpe-csi-operator (2.1.1-0)
  operators/hpe-csi-operator/2.1.1-0/Dockerfile
  operators/hpe-csi-operator/2.1.1-0/manifests/hpe-csi-operator.v2.1.1-0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.1.1-0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.1.1-0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#820 operators [O] cert-manager (1.6.2-rc1)
  operators/cert-manager/1.6.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#821 operators t8c (42.7.0)
  operators/t8c/42.7.0/t8c-operator.v42.7.0.clusterserviceversion.yaml
  operators/t8c/42.7.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#822 operators kubeturbo (8.5.0)
  operators/kubeturbo/8.5.0/kubeturbo-operator.v8.5.0.clusterserviceversion.yaml
  operators/kubeturbo/8.5.0/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo/kubeturbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#819 operators opentelemetry-operator (0.44.0)
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.44.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.44.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.44.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#823 operators [N] [CI] tf-controller (0.9.0-rc.3)
  operators/tf-controller/0.9.0-rc.3/manifests/terraform.crd.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-cluster-reconciler.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-controller.v0.9.0-rc.3.clusterserviceversion.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-leader-election-role.role.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-leader-election-rolebinding.rolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-manager-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-manager-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-runner-role.clusterrole.yaml
  operators/tf-controller/0.9.0-rc.3/manifests/tf-runner-rolebinding.clusterrolebinding.yaml
  operators/tf-controller/0.9.0-rc.3/metadata/annotations.yaml
  operators/tf-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#825 operators camel-k (1.8.1)
  operators/camel-k/1.8.1/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/camel-k.v1.8.1.clusterserviceversion.yaml
  operators/camel-k/1.8.1/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.8.1/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/camel-k.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#827 operators cass-operator-community (1.10.1)
  operators/cass-operator-community/1.10.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.10.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.10.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.10.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.10.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.10.1/metadata/annotations.yaml
  operators/cass-operator-community/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
