Repository k8s-operatorhub/community-operators, pull requests merged in 2022-05, with the labels that each got.

#1167 operators [N] [CI] ecr-secret-operator (0.2.0)
  operators/ecr-secret-operator/0.2.0/manifests/ecr-secret-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ecr-secret-operator/0.2.0/manifests/ecr-secret-operator-manager-config_v1_configmap.yaml
  operators/ecr-secret-operator/0.2.0/manifests/ecr-secret-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ecr-secret-operator/0.2.0/manifests/ecr-secret-operator.clusterserviceversion.yaml
  operators/ecr-secret-operator/0.2.0/manifests/ecr-secret_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.2.0/manifests/ecr.mobb.redhat.com_secrets.yaml
  operators/ecr-secret-operator/0.2.0/manifests/secret-sample_ecr.mobb.redhat.com_v1alpha1_secret.yaml
  operators/ecr-secret-operator/0.2.0/metadata/annotations.yaml
  operators/ecr-secret-operator/0.2.0/tests/scorecard/config.yaml
  operators/ecr-secret-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1169 operators [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes

#1168 operators hive-operator (1.2.3606-2544e8a)
  operators/hive-operator/1.2.3606-2544e8a/hive-operator.v1.2.3606-2544e8a.clusterserviceversion.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3606-2544e8a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3606-2544e8a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1173 operators verticadb-operator (1.4.0)
  operators/verticadb-operator/1.4.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.4.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.4.0/metadata/annotations.yaml
  operators/verticadb-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1171 operators netobserv-operator (0.1.2)
  operators/netobserv-operator/0.1.2/bundle.Dockerfile
  operators/netobserv-operator/0.1.2/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/0.1.2/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/0.1.2/metadata/annotations.yaml
Labels: authorized-changes

#1177 operators [CI] mongodb-enterprise (1.16.0)
  operators/mongodb-enterprise/1.16.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb.com_mongodbmulti.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.16.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.16.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.16.0/tests/scorecard/config.yaml
  operators/mongodb-enterprise/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1183 operators mondoo-operator (0.2.7)
  operators/mondoo-operator/0.2.7/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.7/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.7/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1182 operators ibm-spectrum-scale-csi-operator (2.5.1)
  operators/ibm-spectrum-scale-csi-operator/2.5.1/csiscaleoperators.csi.ibm.com.crd.yaml
  operators/ibm-spectrum-scale-csi-operator/2.5.1/ibm-spectrum-scale-csi-operator.v2.5.1.clusterserviceversion.yaml
  operators/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1192 operators grafana-operator (4.4.1)
  operators/grafana-operator/4.4.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.4.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.4.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.4.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.4.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1196 operators hive-operator (1.2.3633-595563c)
  operators/hive-operator/1.2.3633-595563c/hive-operator.v1.2.3633-595563c.clusterserviceversion.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3633-595563c/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3633-595563c/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1187 operators mongodb-atlas-kubernetes (0.8.1)
  operators/mongodb-atlas-kubernetes/0.8.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasclusters.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/0.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1181 operators elastic-cloud-eck (2.2.0)
  operators/elastic-cloud-eck/2.2.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/elastic-cloud-eck.v2.2.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.2.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.2.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1198 operators [N] mercury-operator (1.0.2)
  operators/mercury-operator/1.0.2/Dockerfile
  operators/mercury-operator/1.0.2/manifests/mercury-operator.v1.0.2.clusterserviceversion.yaml
  operators/mercury-operator/1.0.2/manifests/servicedomaininfras.mercury.redhat.io.crd.yml
  operators/mercury-operator/1.0.2/manifests/servicedomains.mercury.redhat.io.crd.yml
  operators/mercury-operator/1.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1199 operators external-secrets-operator (0.5.3)
  operators/external-secrets-operator/0.5.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.3/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1200 operators falcon-operator (0.5.2)
  operators/falcon-operator/0.5.2/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.2/metadata/annotations.yaml
  operators/falcon-operator/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1201 operators beegfs-csi-driver-operator (1.2.2)
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.2.2/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.2.2/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1205 operators [N] kubernetes-imagepuller-operator (1.0.0)
  operators/kubernetes-imagepuller-operator/0.0.1/kubernetes-image-puller-operator.v0.0.1.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.1/kubernetesimagepullers.che.eclipse.org.crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.2/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.2/kubernetes-imagepuller-operator.v0.0.2.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.3/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.4/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.4/kubernetes-imagepuller-operator.v0.0.4.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.5/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.5/kubernetes-imagepuller-operator.v0.0.5.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.6/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.6/kubernetes-imagepuller-operator.v0.0.6.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.7/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.7/kubernetes-imagepuller-operator.v0.0.7.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.8/kubernetes-imagepuller-operator.v0.0.8.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.0.9/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.0.9/kubernetes-imagepuller-operator.v0.0.9.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-image-puller-operator_v1_serviceaccount.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/kubernetes-imagepuller-operator.v0.1.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/0.1.0/manager-config_v1_configmap.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/kubernetes-imagepuller-operator.v1.0.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1204 operators [N] [CI] meshery-operator (0.0.1)
  operators/meshery-operator/0.0.1/manifests/meshery-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/meshery-operator/0.0.1/manifests/meshery-operator-metrics-service_v1_service.yaml
  operators/meshery-operator/0.0.1/manifests/meshery-operator.clusterserviceversion.yaml
  operators/meshery-operator/0.0.1/manifests/meshery.layer5.io_brokers.yaml
  operators/meshery-operator/0.0.1/manifests/meshery.layer5.io_meshsyncs.yaml
  operators/meshery-operator/0.0.1/metadata/annotations.yaml
  operators/meshery-operator/0.0.1/tests/scorecard/config.yaml
  operators/meshery-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1208 operators kogito-operator (1.21.0)
  operators/kogito-operator/1.21.0/Dockerfile
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.21.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.21.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.21.0/metadata/annotations.yaml
  operators/kogito-operator/1.21.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1211 operators mondoo-operator (0.2.10)
  operators/mondoo-operator/0.2.10/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.10/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.10/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1214 operators camel-k (1.9.1)
  operators/camel-k/1.9.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/camel-k.v1.9.1.clusterserviceversion.yaml
  operators/camel-k/1.9.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.9.1/metadata/annotations.yaml
  operators/camel-k/1.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1215 operators pulp-operator (0.10.0)
  operators/pulp-operator/0.10.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.0/manifests/pulp-operator.v0.10.0.clusterserviceversion.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.10.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.10.0/metadata/annotations.yaml
  operators/pulp-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1218 operators cass-operator-community (1.10.4)
  operators/cass-operator-community/1.10.4/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.10.4/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.10.4/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.10.4/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.10.4/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.10.4/metadata/annotations.yaml
  operators/cass-operator-community/1.10.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1220 fix typo-issue README
  README.md
Labels: dco-failed

#1221 operators cert-manager (1.8.0-rc1)
  operators/cert-manager/1.8.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.8.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.8.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1213 operators nfs-provisioner-operator (0.0.4)
  operators/nfs-provisioner-operator/0.0.4/Dockerfile
  operators/nfs-provisioner-operator/0.0.4/manifests/cache.jhouse.com_nfsprovisioners.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/nfs-provisioner-operator/0.0.4/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  operators/nfs-provisioner-operator/0.0.4/metadata/annotations.yaml
  operators/nfs-provisioner-operator/0.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1223 operators mondoo-operator (0.2.12)
  operators/mondoo-operator/0.2.12/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.12/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.12/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1222 operators [R] aqua (6.5.5)
  operators/aqua/6.5.5/bundle.Dockerfile
  operators/aqua/6.5.5/manifests/aqua-operator.v6.5.5.clusterserviceversion.yaml
  operators/aqua/6.5.5/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.5/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.5/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.5/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1224 operators [R] aqua (2022.4.1)
  operators/aqua/2022.4.1/bundle.Dockerfile
  operators/aqua/2022.4.1/manifests/aqua-operator.v2022.4.1.clusterserviceversion.yaml
  operators/aqua/2022.4.1/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.1/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.1/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.1/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1225 operators mondoo-operator (0.2.13)
  operators/mondoo-operator/0.2.13/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.13/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.13/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1226 operators nfd-operator (0.4.3)
  operators/nfd-operator/0.4.3/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/nfd-operator/0.4.3/manifests/nfd-manager-config_v1_configmap.yaml
  operators/nfd-operator/0.4.3/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfd-operator/0.4.3/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  operators/nfd-operator/0.4.3/manifests/nfd.kubernetes.io_nodefeaturerules.yaml
  operators/nfd-operator/0.4.3/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  operators/nfd-operator/0.4.3/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nfd-operator/0.4.3/metadata/annotations.yaml
  operators/nfd-operator/0.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1229 operators mondoo-operator (0.2.14)
  operators/mondoo-operator/0.2.14/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.14/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.14/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1232 operators cert-manager (1.8.0)
  operators/cert-manager/1.8.0/bundle.Dockerfile
  operators/cert-manager/1.8.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.8.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.8.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.8.0/metadata/annotations.yaml
  operators/cert-manager/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1230 operators microcks (1.5.2)
  operators/microcks/1.5.2/microcks-operator.v1.5.2.clusterserviceversion.yaml
  operators/microcks/1.5.2/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1235 operators [N] mercury-operator (1.0.2)
  operators/mercury-operator/1.0.2/manifests/mercury-operator.v1.0.2.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1234 operators jaeger (1.34.0)
  operators/jaeger/1.34.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.34.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.34.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.34.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.34.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.34.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.34.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.34.0/metadata/annotations.yaml
  operators/jaeger/1.34.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1237 operators pulp-operator (0.10.1)
  operators/pulp-operator/0.10.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.10.1/manifests/pulp-operator.v0.10.1.clusterserviceversion.yaml
  operators/pulp-operator/0.10.1/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.10.1/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.10.1/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.10.1/metadata/annotations.yaml
  operators/pulp-operator/0.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1227 operators tackle-operator (2.0.0-beta.0)
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0-beta.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1212 operators [N] [CI] minio-operator (4.4.17)
  operators/minio-operator/4.4.17/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.17/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.17/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.17/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.17/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.17/metadata/annotations.yaml
  operators/minio-operator/4.4.9/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate, allow/longer-deployment

#1243 operators victoriametrics-operator (0.25.0)
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.25.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.25.0/victoriametrics-operator.0.25.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1244 operators clever-operator (0.5.1)
  operators/clever-operator/0.5.1/bundle.Dockerfile
  operators/clever-operator/0.5.1/manifests/clever-operator-config-elasticsearch.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-config-provider.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.5.1/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.5.1/metadata/annotations.yaml
  operators/clever-operator/0.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1248 operators victoriametrics-operator (0.25.1)
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.25.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.25.1/victoriametrics-operator.0.25.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1246 operators ovms-operator (1.0.0)
  operators/ovms-operator/1.0.0/Dockerfile
  operators/ovms-operator/1.0.0/manifests/intel.com_model_servers.yaml
  operators/ovms-operator/1.0.0/manifests/openvino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator/1.0.0/manifests/openvino-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator/1.0.0/manifests/openvino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator/1.0.0/manifests/openvino-operator.clusterserviceversion.yaml
  operators/ovms-operator/1.0.0/metadata/annotations.yaml
  operators/ovms-operator/1.0.0/tests/scorecard/config.yaml
  operators/ovms-operator/ovms-operator-package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1250 operators strimzi-kafka-operator (0.29.0)
  operators/strimzi-kafka-operator/0.29.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzi-cluster-operator.v0.29.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.29.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.29.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1249 operators mongodb-atlas-kubernetes (1.0.0)
  operators/mongodb-atlas-kubernetes/1.0.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1241 operators [N] minio-operator (4.4.18)
  operators/minio-operator/4.4.18/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.18/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.18/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.18/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.18/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.18/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1252 operators camel-k (1.9.2)
  operators/camel-k/1.9.2/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/camel-k.v1.9.2.clusterserviceversion.yaml
  operators/camel-k/1.9.2/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.9.2/metadata/annotations.yaml
  operators/camel-k/1.9.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1260 operators keda (2.7.1)
  operators/keda/2.7.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.7.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.7.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.7.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.7.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.7.1/manifests/keda.v2.7.1.clusterserviceversion.yaml
  operators/keda/2.7.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1261 operators jaeger (1.34.1)
  operators/jaeger/1.34.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.34.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.34.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.34.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.34.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.34.1/metadata/annotations.yaml
  operators/jaeger/1.34.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1263 operators datadog-operator (0.8.0)
  operators/datadog-operator/0.8.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.0/metadata/annotations.yaml
  operators/datadog-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1265 operators mondoo-operator (0.2.15)
  operators/mondoo-operator/0.2.15/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.15/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.15/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1268 operators snyk-operator (1.90.1)
  operators/snyk-operator/1.90.1/snyk-operator.v1.90.1.clusterserviceversion.yaml
  operators/snyk-operator/1.90.1/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1270 operators flux (0.30.2)
  operators/flux/0.30.2/manifests/alert.crd.yaml
  operators/flux/0.30.2/manifests/bucket.crd.yaml
  operators/flux/0.30.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.30.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.30.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.30.2/manifests/flux.v0.30.2.clusterserviceversion.yaml
  operators/flux/0.30.2/manifests/gitrepository.crd.yaml
  operators/flux/0.30.2/manifests/helmchart.crd.yaml
  operators/flux/0.30.2/manifests/helmrelease.crd.yaml
  operators/flux/0.30.2/manifests/helmrepository.crd.yaml
  operators/flux/0.30.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.30.2/manifests/imagerepository.crd.yaml
  operators/flux/0.30.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.30.2/manifests/kustomization.crd.yaml
  operators/flux/0.30.2/manifests/notification-controller.service.yaml
  operators/flux/0.30.2/manifests/provider.crd.yaml
  operators/flux/0.30.2/manifests/receiver.crd.yaml
  operators/flux/0.30.2/manifests/source-controller.service.yaml
  operators/flux/0.30.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.30.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1279 operators [N] minio-operator (4.4.21)
  operators/minio-operator/4.4.20/metadata/annotations.yaml-e
  operators/minio-operator/4.4.21/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.4.21/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.4.21/manifests/console_v1_service.yaml
  operators/minio-operator/4.4.21/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.4.21/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.4.21/manifests/operator_v1_service.yaml
  operators/minio-operator/4.4.21/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1273 operators [N] zookeeper-operator (0.10.3)
  operators/zookeeper-operator/0.10.3/bundle.Dockerfile
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.10.3/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.10.3/metadata/annotations.yaml
  operators/zookeeper-operator/0.10.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1272 operators [N] bookkeeper-operator (0.10.3)
  operators/bookkeeper-operator/0.10.3/bundle.Dockerfile
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.10.3/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.10.3/metadata/annotations.yaml
  operators/bookkeeper-operator/0.10.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1271 operators [N] pulsar-operator (0.10.3)
  operators/pulsar-operator/0.10.3/bundle.Dockerfile
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarconnections.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsartenants.yaml
  operators/pulsar-operator/0.10.3/manifests/pulsar.streamnative.io_pulsartopics.yaml
  operators/pulsar-operator/0.10.3/metadata/annotations.yaml
  operators/pulsar-operator/0.10.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1280 operators [R] intel-device-plugins-operator (0.20.0 0.24.0)
  operators/intel-device-plugins-operator/0.20.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.24.0/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-recreate

#1267 operators kogito-operator (1.22.0)
  operators/kogito-operator/1.22.0/Dockerfile
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.22.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.22.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.22.0/metadata/annotations.yaml
  operators/kogito-operator/1.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1282 operators kiali (1.51.0)
  operators/kiali/1.51.0/bundle.Dockerfile
  operators/kiali/1.51.0/manifests/kiali.crd.yaml
  operators/kiali/1.51.0/manifests/kiali.v1.51.0.clusterserviceversion.yaml
  operators/kiali/1.51.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1283 operators clever-operator (0.5.2)
  operators/clever-operator/0.5.2/bundle.Dockerfile
  operators/clever-operator/0.5.2/manifests/clever-operator-config-elasticsearch.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-config-provider.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.5.2/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.5.2/metadata/annotations.yaml
  operators/clever-operator/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1284 operators external-secrets-operator (0.5.4)
  operators/external-secrets-operator/0.5.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1288 operators snyk-operator (1.90.2)
  operators/snyk-operator/1.90.2/snyk-operator.v1.90.2.clusterserviceversion.yaml
  operators/snyk-operator/1.90.2/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1291 operators gitlab-runner-operator (1.9.0)
  operators/gitlab-runner-operator/1.9.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.9.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.9.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.9.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
