Repository k8s-operatorhub/community-operators, pull requests merged in 2022-04, with the labels that each got.

#1015 operators snapscheduler (3.0.0)
  operators/snapscheduler/3.0.0/bundle.Dockerfile
  operators/snapscheduler/3.0.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.0.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.0.0/metadata/annotations.yaml
  operators/snapscheduler/3.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1017 operators hive-operator (2.5.3508-6cb94c6)
  operators/hive-operator/2.5.3508-6cb94c6/hive-operator.v2.5.3508-6cb94c6.clusterserviceversion.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3508-6cb94c6/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1023 operators fossul-operator (0.6.0)
  operators/fossul-operator/0.6.0/bundle.Dockerfile
  operators/fossul-operator/0.6.0/manifests/fossul-operator.v0.6.0.clusterserviceversion.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backupconfigs.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backups.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_backupschedules.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_fossuls.yaml
  operators/fossul-operator/0.6.0/manifests/fossul.io_restores.yaml
  operators/fossul-operator/0.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#906 operators dynatrace-operator (0.5.0)
  operators/dynatrace-operator/0.5.0/Dockerfile
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-activegate_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.5.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1025 operators starboard-operator (0.15.1)
  operators/starboard-operator/0.15.1/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.1/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.1/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.1/starboard-operator.v0.15.1.clusterserviceversion.yaml
  operators/starboard-operator/0.15.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1030 operators external-secrets-operator (0.5.0)
  operators/external-secrets-operator/0.5.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#919 operators instana-agent-operator (2.0.5)
  operators/instana-agent-operator/2.0.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.5/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.5/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.5/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.5/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.5/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.5/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.5/metadata/dependencies.yaml
  operators/instana-agent-operator/2.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1028 operators [N] [CI] mongodb-operator (0.3.0)
  operators/mongodb-operator/0.3.0/manifests/mongodb-operator.v0.3.0.clusterserviceversion.yaml
  operators/mongodb-operator/0.3.0/manifests/mongodbclusters.opstreelabs.in.crd.yaml
  operators/mongodb-operator/0.3.0/manifests/mongodbs.opstreelabs.in.crd.yaml
  operators/mongodb-operator/0.3.0/metadata/annotations.yaml
  operators/mongodb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1027 operators [N] [CI] security-profiles-operator (0.4.2)
  operators/security-profiles-operator/0.4.2/bundle.Dockerfile
  operators/security-profiles-operator/0.4.2/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.4.2/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.4.2/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.4.2/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.4.2/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.4.2/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.4.2/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.4.2/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.4.2/metadata/annotations.yaml
  operators/security-profiles-operator/0.4.2/tests/scorecard/config.yaml
  operators/security-profiles-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1034 operators gitlab-operator-kubernetes (0.6.2)
  operators/gitlab-operator-kubernetes/0.6.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.6.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.6.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.6.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.6.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1031 operators opentelemetry-operator (0.48.0)
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.48.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.48.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.48.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1037 operators kiali (1.49.0)
  operators/kiali/1.49.0/bundle.Dockerfile
  operators/kiali/1.49.0/manifests/kiali.crd.yaml
  operators/kiali/1.49.0/manifests/kiali.v1.49.0.clusterserviceversion.yaml
  operators/kiali/1.49.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1038 operators dynatrace-operator (0.5.1)
  operators/dynatrace-operator/0.5.1/Dockerfile
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-activegate_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.5.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.5.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1035 operators microcks (1.5.1)
  operators/microcks/1.5.1/microcks-operator.v1.5.1.clusterserviceversion.yaml
  operators/microcks/1.5.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1032 operators [CI] starboard-operator (0.15.2)
  operators/starboard-operator/0.15.2/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.2/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.2/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.2/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.2/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.2/starboard-operator.v0.15.2.clusterserviceversion.yaml
  operators/starboard-operator/0.15.2/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/ci.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1036 operators [N] dell-csm-operator (0.1.0)
  operators/dell-csm-operator/0.1.0/manifests/dell-csm-operator.v0.1.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1040 operators shipwright-operator (0.9.0)
  operators/shipwright-operator/0.9.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.9.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.9.0/metadata/annotations.yaml
  operators/shipwright-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1048 operators [CI] mondoo-operator (0.2.3)
  operators/mondoo-operator/0.2.3/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.3/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_role.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-nodes_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator-workload_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.3/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/ci.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1043 operators starboard-operator (0.15.3)
  operators/starboard-operator/0.15.3/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.3/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.3/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.3/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.3/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.3/starboard-operator.v0.15.3.clusterserviceversion.yaml
  operators/starboard-operator/0.15.3/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1053 operators aqua (6.5.4)
  operators/aqua/6.5.4/aqua-operator.v6.5.4.clusterserviceversion.yaml
  operators/aqua/6.5.4/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.4/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.4/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.4/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1055 operators [CI] pulp-operator
  operators/pulp-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1058 operators [O] prometheus (0.47.0)
  operators/prometheus/0.47.0/prometheusoperator.0.47.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1049 operators gitlab-operator-kubernetes (0.6.3)
  operators/gitlab-operator-kubernetes/0.6.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.6.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.6.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.6.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.6.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.6.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1062 operators jaeger (1.33.0)
  operators/jaeger/1.33.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.33.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.33.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.33.0/metadata/annotations.yaml
  operators/jaeger/1.33.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#752 operators portworx (1.7.1)
  operators/portworx/1.7.1/core_v1_storagecluster_crd.yaml
  operators/portworx/1.7.1/core_v1_storagenode_crd.yaml
  operators/portworx/1.7.1/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#452 doc: add source info into README
  README.md
Labels: dco-failed

#1061 operators [N] [CI] prometurbo (8.5.0)
  operators/prometurbo/8.5.0/prometurbo-operator.v8.5.0.clusterserviceversion.yaml
  operators/prometurbo/8.5.0/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo/ci.yaml
  operators/prometurbo/prometurbo.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1064 operators kogito-operator (1.20.0)
  operators/kogito-operator/1.20.0/Dockerfile
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.20.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.20.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.20.0/metadata/annotations.yaml
  operators/kogito-operator/1.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1065 operators portworx (1.8.0)
  operators/portworx/1.8.0/core_v1_storagecluster_crd.yaml
  operators/portworx/1.8.0/core_v1_storagenode_crd.yaml
  operators/portworx/1.8.0/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1066 operators starboard-operator (0.15.4)
  operators/starboard-operator/0.15.4/ciskubebenchreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.4/clustercompliancedetailreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.4/clustercompliancereports.v1alpha1.aquasecurity.github.iocrd.yaml
  operators/starboard-operator/0.15.4/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.4/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/0.15.4/starboard-operator.v0.15.4.clusterserviceversion.yaml
  operators/starboard-operator/0.15.4/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/starboard-operator/starboard-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1079 operators hive-operator (1.2.3594-20fd254)
  operators/hive-operator/1.2.3594-20fd254/hive-operator.v1.2.3594-20fd254.clusterserviceversion.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3594-20fd254/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3594-20fd254/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1047 operators percona-postgresql-operator (1.2.0)
  operators/percona-postgresql-operator/1.2.0/percona-postgresql-operator.v1.2.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.2.0/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/percona-postgresql-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1083 operators [CI] ack-memorydb-controller
  operators/ack-memorydb-controller/ci.yaml
Labels: authorized-changes, installation-skipped

#1084 operators argocd-operator (0.3.0)
  operators/argocd-operator/0.3.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.3.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.3.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.3.0/argocd-operator.v0.3.0.clusterserviceversion.yaml
  operators/argocd-operator/0.3.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.3.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.3.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.3.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.3.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1085 operators mondoo-operator (0.2.4)
  operators/mondoo-operator/0.2.4/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/0.2.4/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_role.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-nodes_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-nodes_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-workload_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator-workload_v1_serviceaccount.yaml
  operators/mondoo-operator/0.2.4/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1088 operators [R] knative-operator (1.3.2)
  operators/knative-operator/1.3.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator.v1.3.2.clusterserviceversion.yaml
  operators/knative-operator/1.3.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1056 operators yaks (0.10.0)
  operators/yaks/0.10.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.10.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.10.0/yaks.v0.10.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1090 operators keycloak-operator (18.0.0)
  operators/keycloak-operator/18.0.0/bundle.Dockerfile
  operators/keycloak-operator/18.0.0/manifests/keycloak-operator.v18.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakbackups.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakclients.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakrealms.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloaks.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/manifests/keycloakusers.keycloak.org.crd.yaml
  operators/keycloak-operator/18.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1091 operators keycloak-operator (20.0.0-alpha.1)
  operators/keycloak-operator/20.0.0-alpha.1/bundle.Dockerfile
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloak-operator.v20.0.0-alpha.1.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.0-alpha.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1041 operators victoriametrics-operator (0.24.0)
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.24.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.24.0/victoriametrics-operator.0.24.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1093 operators [N] knative-operator (1.4.0)
  operators/knative-operator/1.3.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator.v1.3.1.clusterserviceversion.yaml
  operators/knative-operator/1.3.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/metadata/annotations.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/metadata/annotations.yaml
  operators/knative-operator/1.4.0/bundle.Dockerfile
  operators/knative-operator/1.4.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/metadata/annotations.yaml
  operators/knative-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1094 operators [N] knative-operator (1.2.0)
  operators/knative-operator/1.2.0/bundle.Dockerfile
  operators/knative-operator/1.2.0/manifests/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/metadata/annotations.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1095 operators [N] knative-operator (1.2.0)
  operators/knative-operator/1.2.0/manifests/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1097 operators [N] knative-operator (1.2.0)
  operators/knative-operator/1.2.0/manifests/knative-operator.v1.2.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1099 operators [N] knative-operator (1.2.0)
  operators/knative-operator/1.2.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.0/manifests/knative-operator-config-observability_v1_configmap.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1103 operators knative-operator (1.3.1)
  operators/knative-operator/1.3.1/bundle.Dockerfile
  operators/knative-operator/1.3.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator.v1.3.1.clusterserviceversion.yaml
  operators/knative-operator/1.3.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/metadata/annotations.yaml
  operators/knative-operator/1.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1104 operators knative-operator (1.3.2)
  operators/knative-operator/1.3.2/bundle.Dockerfile
  operators/knative-operator/1.3.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator.v1.3.2.clusterserviceversion.yaml
  operators/knative-operator/1.3.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/metadata/annotations.yaml
  operators/knative-operator/1.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1105 operators knative-operator (1.4.0)
  operators/knative-operator/1.4.0/bundle.Dockerfile
  operators/knative-operator/1.4.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/metadata/annotations.yaml
  operators/knative-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1106 operators [R] knative-operator (1.4.0)
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1109 operators postgresql (5.1.0)
  operators/postgresql/5.1.0/Dockerfile
  operators/postgresql/5.1.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.1.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.1.0/metadata/annotations.yaml
  operators/postgresql/5.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1110 operators [CI] gitlab-runner-operator (1.8.0)
  operators/gitlab-runner-operator/1.8.0/bundle.Dockerfile
  operators/gitlab-runner-operator/1.8.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.8.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.8.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.8.0/tests/scorecard/config.yaml
  operators/gitlab-runner-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1112 operators [R] knative-operator (1.3.0)
  operators/knative-operator/1.3.0/manifests/knative-operator.v1.3.0.clusterserviceversion.yaml
  operators/knative-operator/1.3.1/bundle.Dockerfile
  operators/knative-operator/1.3.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.1/manifests/knative-operator.v1.3.1.clusterserviceversion.yaml
  operators/knative-operator/1.3.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.1/metadata/annotations.yaml
  operators/knative-operator/1.3.1/tests/scorecard/config.yaml
  operators/knative-operator/1.3.2/bundle.Dockerfile
  operators/knative-operator/1.3.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.3.2/manifests/knative-operator.v1.3.2.clusterserviceversion.yaml
  operators/knative-operator/1.3.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.3.2/metadata/annotations.yaml
  operators/knative-operator/1.3.2/tests/scorecard/config.yaml
  operators/knative-operator/1.4.0/bundle.Dockerfile
  operators/knative-operator/1.4.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/metadata/annotations.yaml
  operators/knative-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1119 operators [R] knative-operator (1.2.0 1.2.1 1.2.2 1.4.0)
  operators/knative-operator/1.2.0/bundle.Dockerfile
  operators/knative-operator/1.2.0/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.0/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.0/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/metadata/annotations.yaml
  operators/knative-operator/1.2.0/tests/scorecard/config.yaml
  operators/knative-operator/1.2.1/bundle.Dockerfile
  operators/knative-operator/1.2.1/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.1/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.1/knative-operator.v1.2.1.clusterserviceversion.yaml
  operators/knative-operator/1.2.1/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/metadata/annotations.yaml
  operators/knative-operator/1.2.1/tests/scorecard/config.yaml
  operators/knative-operator/1.2.2/bundle.Dockerfile
  operators/knative-operator/1.2.2/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.2/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.2/knative-operator.v1.2.2.clusterserviceversion.yaml
  operators/knative-operator/1.2.2/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/metadata/annotations.yaml
  operators/knative-operator/1.2.2/tests/scorecard/config.yaml
  operators/knative-operator/1.3.0/bundle.Dockerfile
  operators/knative-operator/1.3.0/metadata/annotations.yaml
  operators/knative-operator/1.3.0/tests/scorecard/config.yaml
  operators/knative-operator/1.4.0/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.0/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1123 operators [R] knative-operator (1.2.0 1.2.1 1.2.2 1.4.0)
  operators/knative-operator/1.2.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.0/manifests/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/metadata/annotations.yaml
  operators/knative-operator/1.2.0/tests/scorecard/config.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator.v1.2.1.clusterserviceversion.yaml
  operators/knative-operator/1.2.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/metadata/annotations.yaml
  operators/knative-operator/1.2.1/tests/scorecard/config.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator.v1.2.2.clusterserviceversion.yaml
  operators/knative-operator/1.2.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/metadata/annotations.yaml
  operators/knative-operator/1.2.2/tests/scorecard/config.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.0/metadata/annotations.yaml
  operators/knative-operator/1.4.0/tests/scorecard/config.yaml
  operators/knative-operator/knative-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1115 operators hive-operator (1.2.3598-e150a7f)
  operators/hive-operator/1.2.3598-e150a7f/hive-operator.v1.2.3598-e150a7f.clusterserviceversion.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3598-e150a7f/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3598-e150a7f/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1128 operators snyk-operator (1.88.4)
  operators/snyk-operator/1.88.4/snyk-operator.v1.88.4.clusterserviceversion.yaml
  operators/snyk-operator/1.88.4/snykmonitors.charts.helm.k8s.io.crd.yaml
  operators/snyk-operator/snyk-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1129 operators [R] camel-k (1.5.0 1.5.1 1.6.0 1.6.1 1.7.0 1.8.0 1.8.1 1.8.2 1.9.0)
  operators/camel-k/1.5.0/metadata/annotations.yaml
  operators/camel-k/1.5.1/metadata/annotations.yaml
  operators/camel-k/1.6.0/metadata/annotations.yaml
  operators/camel-k/1.6.1/metadata/annotations.yaml
  operators/camel-k/1.7.0/metadata/annotations.yaml
  operators/camel-k/1.8.0/metadata/annotations.yaml
  operators/camel-k/1.8.1/metadata/annotations.yaml
  operators/camel-k/1.8.2/metadata/annotations.yaml
  operators/camel-k/1.9.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/camel-k.v1.9.0.clusterserviceversion.yaml
  operators/camel-k/1.9.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.9.0/metadata/annotations.yaml
  operators/camel-k/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1135 operators [N] knative-operator (1.4.0)
  operators/knative-operator/1.2.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.0/manifests/knative-operator.v1.2.0.clusterserviceversion.yaml
  operators/knative-operator/1.2.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.0/metadata/annotations.yaml
  operators/knative-operator/1.2.0/tests/scorecard/config.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.1/manifests/knative-operator.v1.2.1.clusterserviceversion.yaml
  operators/knative-operator/1.2.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.1/metadata/annotations.yaml
  operators/knative-operator/1.2.1/tests/scorecard/config.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.2.2/manifests/knative-operator.v1.2.2.clusterserviceversion.yaml
  operators/knative-operator/1.2.2/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.2.2/metadata/annotations.yaml
  operators/knative-operator/1.2.2/tests/scorecard/config.yaml
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
  operators/knative-operator/1.4.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.4.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.4.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.4.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.4.1/manifests/knative-operator.v1.4.1.clusterserviceversion.yaml
  operators/knative-operator/1.4.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.4.1/metadata/annotations.yaml
  operators/knative-operator/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1136 operators [R] [CI] splunk (0.1.0 1.1.0)
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_indexerclusters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_licensemasters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_searchheadclusters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_sparks_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_standalones_crd.yaml
  operators/splunk/0.1.0/manifests/splunk.v0.1.0.clusterserviceversion.yaml
  operators/splunk/0.1.0/metadata/annotations.yaml
  operators/splunk/0.1.0/tests/scorecard/config.yaml
  operators/splunk/1.1.0/bundle.Dockerfile
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/1.1.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/1.1.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/1.1.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/1.1.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/1.1.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/1.1.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/1.1.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/1.1.0/metadata/annotations.yaml
  operators/splunk/1.1.0/tests/scorecard/config.yaml
  operators/splunk/ci.yaml
  operators/splunk/splunk.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#1137 operators grafana-operator (4.3.0)
  operators/grafana-operator/4.3.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.3.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.3.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.3.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.3.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1138 operators [CI] aqua (2022.4.0)
  operators/aqua/2022.4.0/aqua-operator.v2022.4.0.clusterserviceversion.yaml
  operators/aqua/2022.4.0/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.0/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.0/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.0/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/aqua-operator.package.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#1140 operators pulp-operator (0.9.0)
  operators/pulp-operator/0.9.0/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator-pulp-manager-config_v1_configmap.yaml
  operators/pulp-operator/0.9.0/manifests/pulp-operator.v0.9.0.clusterserviceversion.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/0.9.0/manifests/pulp.pulpproject.org_pulps.yaml
  operators/pulp-operator/0.9.0/metadata/annotations.yaml
  operators/pulp-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1142 operators [N] splunk (1.1.0)
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_indexerclusters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_licensemasters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_searchheadclusters_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_sparks_crd.yaml
  operators/splunk/0.1.0/manifests/enterprise.splunk.com_standalones_crd.yaml
  operators/splunk/0.1.0/manifests/splunk.v0.1.0.clusterserviceversion.yaml
  operators/splunk/0.1.0/metadata/annotations.yaml
  operators/splunk/0.1.0/tests/scorecard/config.yaml
  operators/splunk/1.1.0/bundle.Dockerfile
  operators/splunk/1.1.0/manifests/splunk-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1144 operators external-secrets-operator (0.5.2)
  operators/external-secrets-operator/0.5.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.5.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.5.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.5.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1148 operators t8c (42.9.0)
  operators/t8c/42.9.0/t8c-operator.v42.9.0.clusterserviceversion.yaml
  operators/t8c/42.9.0/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c/t8c.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#1145 operators [N] knative-operator (1.4.0)
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1149 operators [O] aqua (2022.4.0)
  operators/aqua/2022.4.0/aqua-operator.v2022.4.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#1150 operators [N] knative-operator (1.4.0)
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1157 operators [N] splunk (1.1.0)
  operators/splunk/1.1.0/manifests/splunk-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1156 operators [N] knative-operator (1.4.0)
  operators/knative-operator/1.4.0/manifests/knative-operator.v1.4.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#1158 operators datatrucker-operator (2.0.0)
  operators/datatrucker-operator/2.0.0/bundle.Dockerfile
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator-controller-manager-metrics-service_v1_service.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker-operator.clusterserviceversion.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker.datatrucker.io_datatruckerconfigs.yaml
  operators/datatrucker-operator/2.0.0/manifests/datatrucker.datatrucker.io_datatruckerflows.yaml
  operators/datatrucker-operator/2.0.0/metadata/annotations.yaml
  operators/datatrucker-operator/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#1120 operators couchbase-enterprise (2.3.0)
  operators/couchbase-enterprise/2.3.0/Dockerfile
  operators/couchbase-enterprise/2.3.0/manifests/couchbase-v2.3.0.clusterserviceversion.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise/2.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1153 operators hive-operator (2.5.3514-4052426)
  operators/hive-operator/2.5.3514-4052426/hive-operator.v2.5.3514-4052426.clusterserviceversion.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_dnszones.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_machinepools.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/2.5.3514-4052426/hive.openshift.io_syncsets.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/2.5.3514-4052426/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes

#1164 operators kiali (1.50.0)
  operators/kiali/1.50.0/bundle.Dockerfile
  operators/kiali/1.50.0/manifests/kiali.crd.yaml
  operators/kiali/1.50.0/manifests/kiali.v1.50.0.clusterserviceversion.yaml
  operators/kiali/1.50.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#1166 operators trident-operator (22.4.0)
  operators/trident-operator/22.4.0/trident-operator.v22.4.0.clusterserviceversion.yaml
  operators/trident-operator/22.4.0/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  operators/trident-operator/trident-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated
