Repository k8s-operatorhub/community-operators, pull requests merged in 2023-12, with the labels that each got.

#3587 operator gitlab-operator-kubernetes (0.26.1)
  operators/gitlab-operator-kubernetes/0.26.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3584 operator [CI] kernel-module-management (2.0.0)
  operators/kernel-module-management/2.0.0/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.0.0/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.0.0/metadata/annotations.yaml
  operators/kernel-module-management/2.0.0/metadata/dependencies.yaml
  operators/kernel-module-management/2.0.0/tests/scorecard/config.yaml
  operators/kernel-module-management/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, lgtm

#3585 operator [CI] kernel-module-management-hub (2.0.0)
  operators/kernel-module-management-hub/2.0.0/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.0.0/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.0.0/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.0/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.0.0/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.0.0/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.0/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.0.0/metadata/dependencies.yaml
  operators/kernel-module-management-hub/2.0.0/tests/scorecard/config.yaml
  operators/kernel-module-management-hub/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, lgtm

#3590 operator pulp-operator (1.0.0-beta.3)
  operators/pulp-operator/1.0.0-beta.3/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.3/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.3/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3591 operator mariadb-operator (0.23.0)
  operators/mariadb-operator/0.23.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.23.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.23.0/metadata/annotations.yaml
  operators/mariadb-operator/0.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3592 operator mariadb-operator (0.23.1)
  operators/mariadb-operator/0.23.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.23.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.23.1/metadata/annotations.yaml
  operators/mariadb-operator/0.23.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3593 operator hive-operator (1.2.4355-e5f809f)
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive-operator.v1.2.4355-e5f809f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4355-e5f809f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4355-e5f809f/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3596 operator windup-operator (0.0.24)
  operators/windup-operator/0.0.24/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.24/manifests/windup.crd.yaml
  operators/windup-operator/0.0.24/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3595 operator limitador-operator (0.7.0)
  operators/limitador-operator/0.7.0/bundle.Dockerfile
  operators/limitador-operator/0.7.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.7.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.7.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.7.0/metadata/annotations.yaml
  operators/limitador-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3582 operator clickhouse (0.22.1)
  operators/clickhouse/0.22.1/manifests/clickhouse-operator.v0.22.1.clusterserviceversion.yaml
  operators/clickhouse/0.22.1/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.1/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.1/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3598 operator kuadrant-operator (0.5.0)
  operators/kuadrant-operator/0.5.0/bundle.Dockerfile
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.5.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.5.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.5.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3600 operator [O] postgresql (5.5.0)
  operators/postgresql/5.5.0/manifests/postgresoperator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3599 operator [CI] ack-keyspaces-controller
  operators/ack-keyspaces-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3603 operator awx-operator (2.9.0)
  operators/awx-operator/2.9.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.9.0/manifests/awx-operator.v2.9.0.clusterserviceversion.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.9.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.9.0/metadata/annotations.yaml
  operators/awx-operator/2.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3605 operator lbconfig-operator (0.4.1)
  operators/lbconfig-operator/0.4.1/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.4.1/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.4.1/metadata/annotations.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.4.1/tests/scorecard/kuttl/kuttl-test.yaml
Labels: authorized-changes, package-validated, installation-validated

#3610 operator skupper-operator (1.5.1)
  operators/skupper-operator/1.5.1/manifests/skupper-operator.v1.5.1.clusterserviceversion.yaml
  operators/skupper-operator/1.5.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3589 operator mongodb-atlas-kubernetes (2.0.1)
  operators/mongodb-atlas-kubernetes/2.0.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3609 operator [N] [CI] nexus-operator (3.0.0)
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.0.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.0.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.0.0/metadata/annotations.yaml
  operators/nexus-operator/3.0.0/tests/scorecard/config.yaml
  operators/nexus-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3611 operator rabbitmq-cluster-operator (2.6.0)
  operators/rabbitmq-cluster-operator/2.6.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.6.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.6.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3612 operator [R] kiali (1.77.0 1.78.0)
  operators/kiali/1.77.0/bundle.Dockerfile
  operators/kiali/1.77.0/manifests/kiali.crd.yaml
  operators/kiali/1.77.0/manifests/kiali.v1.77.0.clusterserviceversion.yaml
  operators/kiali/1.77.0/metadata/annotations.yaml
  operators/kiali/1.78.0/bundle.Dockerfile
  operators/kiali/1.78.0/manifests/kiali.crd.yaml
  operators/kiali/1.78.0/manifests/kiali.v1.78.0.clusterserviceversion.yaml
  operators/kiali/1.78.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3616 operator rabbitmq-messaging-topology-operator (1.12.2)
  operators/rabbitmq-messaging-topology-operator/1.12.2/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3615 operator grafana-operator (5.6.0)
  operators/grafana-operator/5.6.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3617 operator cert-manager (1.13.3-rc1)
  operators/cert-manager/1.13.3-rc1/bundle.Dockerfile
  operators/cert-manager/1.13.3-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.13.3-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager_v1_configmap.yaml
  operators/cert-manager/1.13.3-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.13.3-rc1/metadata/annotations.yaml
  operators/cert-manager/1.13.3-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3618 operator [CI] cryostat-operator (2.4.0)
  operators/cryostat-operator/2.4.0/Dockerfile
  operators/cryostat-operator/2.4.0/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.4.0/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.4.0/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.4.0/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.4.0/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.4.0/manifests/operator.cryostat.io_clustercryostats.yaml
  operators/cryostat-operator/2.4.0/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.4.0/metadata/annotations.yaml
  operators/cryostat-operator/2.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3622 operator cert-manager (1.13.3)
  operators/cert-manager/1.13.3/bundle.Dockerfile
  operators/cert-manager/1.13.3/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.13.3/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager_v1_configmap.yaml
  operators/cert-manager/1.13.3/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.13.3/metadata/annotations.yaml
  operators/cert-manager/1.13.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3627 operator flux (2.2.0)
  operators/flux/2.2.0/manifests/alert.crd.yaml
  operators/flux/2.2.0/manifests/bucket.crd.yaml
  operators/flux/2.2.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.2.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.0/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.2.0/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.2.0/manifests/flux.v2.2.0.clusterserviceversion.yaml
  operators/flux/2.2.0/manifests/gitrepository.crd.yaml
  operators/flux/2.2.0/manifests/helmchart.crd.yaml
  operators/flux/2.2.0/manifests/helmrelease.crd.yaml
  operators/flux/2.2.0/manifests/helmrepository.crd.yaml
  operators/flux/2.2.0/manifests/imagepolicy.crd.yaml
  operators/flux/2.2.0/manifests/imagerepository.crd.yaml
  operators/flux/2.2.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.2.0/manifests/kustomization.crd.yaml
  operators/flux/2.2.0/manifests/notification-controller.service.yaml
  operators/flux/2.2.0/manifests/ocirepository.crd.yaml
  operators/flux/2.2.0/manifests/provider.crd.yaml
  operators/flux/2.2.0/manifests/receiver.crd.yaml
  operators/flux/2.2.0/manifests/source-controller.service.yaml
  operators/flux/2.2.0/manifests/webhook-receiver.service.yaml
  operators/flux/2.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3626 operator project-quay (3.10.1)
  operators/project-quay/3.10.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3637 operator dynatrace-operator (0.15.0)
  operators/dynatrace-operator/0.15.0/Dockerfile
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3642 operator external-secrets-operator (0.9.10)
  operators/external-secrets-operator/0.9.10/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.10/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.10/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.10/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3643 operator gitlab-operator-kubernetes (0.26.2)
  operators/gitlab-operator-kubernetes/0.26.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3644 operator jaeger (1.52.0)
  operators/jaeger/1.52.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.52.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.52.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.52.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.52.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.52.0/metadata/annotations.yaml
  operators/jaeger/1.52.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3647 operator debezium-operator (2.4.2)
  operators/debezium-operator/2.4.2/bundle.Dockerfile
  operators/debezium-operator/2.4.2/manifests/debezium-operator.v2.4.2.clusterserviceversion.yaml
  operators/debezium-operator/2.4.2/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.4.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3646 operator datadog-operator (1.3.0)
  operators/datadog-operator/1.3.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.3.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.3.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.3.0/metadata/annotations.yaml
  operators/datadog-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3636 operator keycloak-operator (23.0.2)
  operators/keycloak-operator/23.0.2/bundle.Dockerfile
  operators/keycloak-operator/23.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3580 operator security-profiles-operator (0.8.2)
  operators/security-profiles-operator/0.8.2/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.8.2/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.2/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.2/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.2/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.2/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.2/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.2/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.2/metadata/annotations.yaml
  operators/security-profiles-operator/0.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3638 operator keycloak-operator (23.0.3)
  operators/keycloak-operator/23.0.3/bundle.Dockerfile
  operators/keycloak-operator/23.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3650 operator mondoo-operator (1.19.0)
  operators/mondoo-operator/1.19.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.19.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.19.0/metadata/annotations.yaml
  operators/mondoo-operator/1.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3653 operator victoriametrics-operator (0.39.4)
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.39.4/manifests/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.39.4/manifests/victoriametrics-operator.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.39.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3654 operator mongodb-enterprise (1.24.0)
  operators/mongodb-enterprise/1.24.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.24.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3655 operator stackgres (1.7.0-rc1)
  operators/stackgres/1.7.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.7.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.7.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.7.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3658 operator strimzi-kafka-operator (0.39.0)
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzi-cluster-operator.v0.39.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.39.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.39.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3659 operator k8gb (0.12.2)
  operators/k8gb/0.12.2/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.12.2/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.12.2/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.12.2/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.12.2/manifests/k8gb.v0.12.2.clusterserviceversion.yaml
  operators/k8gb/0.12.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3660 operator kubero-operator (0.0.147)
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberomails.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberomemcacheds.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberorabbitmqs.yaml
  operators/kubero-operator/0.0.147/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.147/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.147/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.147/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.147/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.147/metadata/annotations.yaml
  operators/kubero-operator/0.0.147/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3682 operator stackgres (1.7.0)
  operators/stackgres/1.7.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.7.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.7.0/metadata/annotations.yaml
  operators/stackgres/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3687 operator gitlab-operator-kubernetes (0.27.0)
  operators/gitlab-operator-kubernetes/0.27.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3689 operator external-secrets-operator (0.9.11)
  operators/external-secrets-operator/0.9.11/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.11/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.11/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.11/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.11/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3691 operator flux (2.2.2)
  operators/flux/2.2.2/manifests/alert.crd.yaml
  operators/flux/2.2.2/manifests/bucket.crd.yaml
  operators/flux/2.2.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.2.2/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.2.2/manifests/flux.v2.2.2.clusterserviceversion.yaml
  operators/flux/2.2.2/manifests/gitrepository.crd.yaml
  operators/flux/2.2.2/manifests/helmchart.crd.yaml
  operators/flux/2.2.2/manifests/helmrelease.crd.yaml
  operators/flux/2.2.2/manifests/helmrepository.crd.yaml
  operators/flux/2.2.2/manifests/imagepolicy.crd.yaml
  operators/flux/2.2.2/manifests/imagerepository.crd.yaml
  operators/flux/2.2.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.2.2/manifests/kustomization.crd.yaml
  operators/flux/2.2.2/manifests/notification-controller.service.yaml
  operators/flux/2.2.2/manifests/ocirepository.crd.yaml
  operators/flux/2.2.2/manifests/provider.crd.yaml
  operators/flux/2.2.2/manifests/receiver.crd.yaml
  operators/flux/2.2.2/manifests/source-controller.service.yaml
  operators/flux/2.2.2/manifests/webhook-receiver.service.yaml
  operators/flux/2.2.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3693 operator mariadb-operator (0.24.0)
  operators/mariadb-operator/0.24.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.24.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.24.0/metadata/annotations.yaml
  operators/mariadb-operator/0.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
