Repository k8s-operatorhub/community-operators, pull requests merged in 2023-03, with the labels that each got.

#2401 operator project-quay (3.9.0-nightly.20230302)
  operators/project-quay/3.9.0-nightly.20230302/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230302/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2402 operator dynatrace-operator (0.10.3)
  operators/dynatrace-operator/0.10.3/Dockerfile
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.3/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2403 operator gitlab-operator-kubernetes (0.17.2)
  operators/gitlab-operator-kubernetes/0.17.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2404 operator project-quay (3.9.0-nightly.20230303)
  operators/project-quay/3.9.0-nightly.20230303/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230303/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2405 operator ndmspc-operator (0.2.7)
  operators/ndmspc-operator/0.2.7/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.7/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.7/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2407 operator keycloak-operator (21.0.1)
  operators/keycloak-operator/21.0.1/bundle.Dockerfile
  operators/keycloak-operator/21.0.1/manifests/keycloak-operator.v21.0.1.clusterserviceversion.yaml
  operators/keycloak-operator/21.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2410 operator mariadb-operator (0.9.0)
  operators/mariadb-operator/0.9.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.9.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.9.0/metadata/annotations.yaml
  operators/mariadb-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2411 operator project-quay (3.9.0-nightly.20230305)
  operators/project-quay/3.9.0-nightly.20230305/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230305/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2412 operator trivy-operator (0.12.0)
  operators/trivy-operator/0.12.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.0/trivy-operator.v0.12.0.clusterserviceversion.yaml
  operators/trivy-operator/0.12.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2413 operator aqua (2022.4.9)
  operators/aqua/2022.4.9/bundle.Dockerfile
  operators/aqua/2022.4.9/manifests/aqua-operator.v2022.4.9.clusterserviceversion.yaml
  operators/aqua/2022.4.9/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.9/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2414 operator aqua (6.5.10)
  operators/aqua/6.5.10/bundle.Dockerfile
  operators/aqua/6.5.10/manifests/aqua-operator.v6.5.10.clusterserviceversion.yaml
  operators/aqua/6.5.10/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.10/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.10/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2416 operator awx-operator (1.3.0)
  operators/awx-operator/1.3.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.3.0/manifests/awx-operator.v1.3.0.clusterserviceversion.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.3.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.3.0/metadata/annotations.yaml
  operators/awx-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2417 operator project-quay (3.9.0-nightly.20230307)
  operators/project-quay/3.9.0-nightly.20230307/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230307/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2418 operator eginnovations-operator (0.0.5)
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.5/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.5/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2415 operator [N] [CI] stackgres-operator (1.4.3)
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator.clusterserviceversion.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-operator/1.4.3/metadata/annotations.yaml
  operators/stackgres-operator/1.4.3/tests/scorecard/config.yaml
  operators/stackgres-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2421 operator hive-operator (1.2.4044-2c7e934)
  operators/hive-operator/1.2.4044-2c7e934/hive-operator.v1.2.4044-2c7e934.clusterserviceversion.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4044-2c7e934/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4044-2c7e934/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4044-2c7e934/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4044-2c7e934/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2425 operator portworx (1.10.5)
  operators/portworx/1.10.5/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.5/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.5/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2426 operator project-quay (3.9.0-nightly.20230308)
  operators/project-quay/3.9.0-nightly.20230308/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230308/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2420 Removed stackgres-operator due to wrong naming
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres-operator.clusterserviceversion.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-operator/1.4.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-operator/1.4.3/metadata/annotations.yaml
  operators/stackgres-operator/1.4.3/tests/scorecard/config.yaml
  operators/stackgres-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2432 operator kogito-operator (1.35.0)
  operators/kogito-operator/1.35.0/Dockerfile
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.35.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.35.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.35.0/metadata/annotations.yaml
  operators/kogito-operator/1.35.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2446 operator project-quay (3.9.0-nightly.20230309)
  operators/project-quay/3.9.0-nightly.20230309/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230309/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2449 operator node-maintenance-operator (0.14.0)
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.14.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.14.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.14.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2440 operator microcks (1.7.0)
  operators/microcks/1.7.0/microcks-operator.v1.7.0.clusterserviceversion.yaml
  operators/microcks/1.7.0/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2427 operator [N] [CI] stackgres (1.4.3)
  operators/stackgres/1.4.3/manifests/stackgres-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres/1.4.3/manifests/stackgres-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.4.3/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.4.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.4.3/metadata/annotations.yaml
  operators/stackgres/1.4.3/tests/scorecard/config.yaml
  operators/stackgres/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2451 operator temporal-operator (0.12.0)
  operators/temporal-operator/0.12.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.12.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.12.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.12.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.12.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.12.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2452 operator project-quay (3.9.0-nightly.20230310)
  operators/project-quay/3.9.0-nightly.20230310/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230310/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2433 operator opentelemetry-operator (0.71.0)
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.71.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.71.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.71.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2456 operator mariadb-operator (0.9.1)
  operators/mariadb-operator/0.9.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.9.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.9.1/metadata/annotations.yaml
  operators/mariadb-operator/0.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2457 operator mariadb-operator (0.10.0)
  operators/mariadb-operator/0.10.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.10.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.10.0/metadata/annotations.yaml
  operators/mariadb-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2458 operator gitlab-operator-kubernetes (0.17.3)
  operators/gitlab-operator-kubernetes/0.17.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2459 operator project-quay (3.9.0-nightly.20230311)
  operators/project-quay/3.9.0-nightly.20230311/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230311/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2460 operator ndmspc-operator (0.2.8)
  operators/ndmspc-operator/0.2.8/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.8/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.8/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2461 operator project-quay (3.9.0-nightly.20230312)
  operators/project-quay/3.9.0-nightly.20230312/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230312/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2462 operator trivy-operator (0.12.1)
  operators/trivy-operator/0.12.1/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.12.1/trivy-operator.v0.12.1.clusterserviceversion.yaml
  operators/trivy-operator/0.12.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2465 operator [CI] service-binding-operator
  operators/service-binding-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2466 operator hive-operator (1.2.4054-8ea4577)
  operators/hive-operator/1.2.4054-8ea4577/hive-operator.v1.2.4054-8ea4577.clusterserviceversion.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4054-8ea4577/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4054-8ea4577/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2470 operator project-quay (3.9.0-nightly.20230314)
  operators/project-quay/3.9.0-nightly.20230314/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230314/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2472 operator apicast-community-operator (0.7.1)
  operators/apicast-community-operator/0.7.1/bundle.Dockerfile
  operators/apicast-community-operator/0.7.1/manifests/apicast-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apicast-community-operator/0.7.1/manifests/apicast-operator.clusterserviceversion.yaml
  operators/apicast-community-operator/0.7.1/manifests/apps.3scale.net_apicasts.yaml
  operators/apicast-community-operator/0.7.1/metadata/annotations.yaml
  operators/apicast-community-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2474 operator verticadb-operator (1.10.1)
  operators/verticadb-operator/1.10.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.1/metadata/annotations.yaml
  operators/verticadb-operator/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2475 operator grafana-operator (4.10.0)
  operators/grafana-operator/4.10.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.10.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.10.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.10.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.10.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2467 operator mondoo-operator (1.12.0)
  operators/mondoo-operator/1.12.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.12.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2477 operator project-quay (3.9.0-nightly.20230315)
  operators/project-quay/3.9.0-nightly.20230315/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230315/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2471 Change secrets to a robot user
  ci/pipeline-config-k8s.yaml
Labels: allow/ci-changes

#2478 operator opentelemetry-operator (0.72.0)
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.72.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.72.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.72.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2479 operator rabbitmq-cluster-operator (2.2.0)
  operators/rabbitmq-cluster-operator/2.2.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.2.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.2.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2481 operator mondoo-operator (1.12.2)
  operators/mondoo-operator/1.12.2/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.12.2/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.2/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2482 operator kiali (1.65.0)
  operators/kiali/1.65.0/bundle.Dockerfile
  operators/kiali/1.65.0/manifests/kiali.crd.yaml
  operators/kiali/1.65.0/manifests/kiali.v1.65.0.clusterserviceversion.yaml
  operators/kiali/1.65.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2483 operator project-quay (3.8.4)
  operators/project-quay/3.8.4/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.4/quayecosystems.crd.yaml
  operators/project-quay/3.8.4/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2484 operator victoriametrics-operator (0.32.0)
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.32.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.32.0/victoriametrics-operator.0.32.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2490 operator external-secrets-operator (0.8.0)
  operators/external-secrets-operator/0.8.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2489 operator victoriametrics-operator (0.32.1)
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.32.1/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.32.1/victoriametrics-operator.0.32.1.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2495 operator external-secrets-operator (0.8.1)
  operators/external-secrets-operator/0.8.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2497 operator mariadb-operator (0.11.0)
  operators/mariadb-operator/0.11.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.11.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.11.0/metadata/annotations.yaml
  operators/mariadb-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2498 operator project-quay (3.9.0-nightly.20230319)
  operators/project-quay/3.9.0-nightly.20230319/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230319/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2499 operator project-quay (3.9.0-nightly.20230320)
  operators/project-quay/3.9.0-nightly.20230320/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230320/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2419 operator cc-operator (0.4.0)
  operators/cc-operator/0.4.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.4.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.4.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.4.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.4.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.4.0/metadata/annotations.yaml
  operators/cc-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2473 operator deployment-validation-operator (0.4.0)
  operators/deployment-validation-operator/0.4.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.4.0/manifests/deploymentvalidationoperator.0.4.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.4.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2476 operator [N] [CI] kepler-operator (0.4.1)
  operators/kepler-operator/0.4.1/ci.yaml
  operators/kepler-operator/0.4.1/manifests/kepler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kepler-operator/0.4.1/manifests/kepler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kepler-operator/0.4.1/manifests/kepler-operator.v0.4.1.clusterserviceversion.yaml
  operators/kepler-operator/0.4.1/manifests/kepler.system.sustainable.computing.io_keplers.yaml
  operators/kepler-operator/0.4.1/metadata/annotations.yaml
  operators/kepler-operator/0.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2500 operator strimzi-kafka-operator (0.34.0)
  operators/strimzi-kafka-operator/0.34.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzi-cluster-operator.v0.34.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.34.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.34.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2502 operator project-quay (3.9.0-nightly.20230321)
  operators/project-quay/3.9.0-nightly.20230321/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230321/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2504 operator nfd-operator (0.6.0)
  operators/nfd-operator/0.6.0/manifests/nfd-controller-manager-metrics-service_v1_service.yaml
  operators/nfd-operator/0.6.0/manifests/nfd-manager-config_v1_configmap.yaml
  operators/nfd-operator/0.6.0/manifests/nfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfd-operator/0.6.0/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  operators/nfd-operator/0.6.0/manifests/nfd.kubernetes.io_nodefeaturerules.yaml
  operators/nfd-operator/0.6.0/manifests/node-feature-discovery-operator.clusterserviceversion.yaml
  operators/nfd-operator/0.6.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nfd-operator/0.6.0/metadata/annotations.yaml
  operators/nfd-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2509 operator [CI] ibm-security-verify-access-operator (23.3.0)
  operators/ibm-security-verify-access-operator/23.3.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/23.3.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/23.3.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/23.3.0/tests/scorecard/config.yaml
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2536 operator function-mesh (0.12.0)
  operators/function-mesh/0.12.0/bundle.Dockerfile
  operators/function-mesh/0.12.0/manifests/compute.functionmesh.io_connectorcatalogs.yaml
  operators/function-mesh/0.12.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.12.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.12.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.12.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.12.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.12.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/function-mesh/0.12.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.12.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.12.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.12.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.12.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.12.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.12.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.12.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.12.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.12.0/metadata/annotations.yaml
  operators/function-mesh/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2538 operator project-quay (3.9.0-nightly.20230324)
  operators/project-quay/3.9.0-nightly.20230324/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230324/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2539 operator mongodb-atlas-kubernetes (1.7.1)
  operators/mongodb-atlas-kubernetes/1.7.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2540 operator project-quay (3.9.0-nightly.20230325)
  operators/project-quay/3.9.0-nightly.20230325/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230325/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2541 operator project-quay (3.9.0-nightly.20230326)
  operators/project-quay/3.9.0-nightly.20230326/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230326/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2544 operator project-quay (3.9.0-nightly.20230327)
  operators/project-quay/3.9.0-nightly.20230327/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230327/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2545 operator security-profiles-operator (0.7.1)
  operators/security-profiles-operator/0.7.1/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.7.1/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.7.1/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.7.1/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.7.1/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.7.1/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.7.1/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.7.1/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.7.1/metadata/annotations.yaml
  operators/security-profiles-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2548 operator service-binding-operator (1.3.4)
  operators/service-binding-operator/1.3.4/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.4/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.4/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.4/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.4/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.4/metadata/annotations.yaml
  operators/service-binding-operator/1.3.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2550 operator loki-operator (0.2.0)
  operators/loki-operator/0.2.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.2.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.2.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.2.0/metadata/annotations.yaml
  operators/loki-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2551 operator splunk (2.2.1)
  operators/splunk/2.2.1/bundle.Dockerfile
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.2.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.2.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.2.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.2.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.2.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.2.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.2.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.2.1/metadata/annotations.yaml
  operators/splunk/2.2.1/tests/scorecard/config.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.2.1/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#2552 operator project-quay (3.9.0-nightly.20230328)
  operators/project-quay/3.9.0-nightly.20230328/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230328/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2553 operator yaks (0.14.3)
  operators/yaks/0.14.3/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.3/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.3/yaks.v0.14.3.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2557 operator awx-operator (1.4.0)
  operators/awx-operator/1.4.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.4.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.4.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.4.0/manifests/awx-operator.v1.4.0.clusterserviceversion.yaml
  operators/awx-operator/1.4.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.4.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.4.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.4.0/metadata/annotations.yaml
  operators/awx-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2558 operator project-quay (3.9.0-nightly.20230329)
  operators/project-quay/3.9.0-nightly.20230329/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230329/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2559 operator [CI] aqua (2022.4.10)
  operators/aqua/2022.4.10/bundle.Dockerfile
  operators/aqua/2022.4.10/manifests/aqua-operator.v2022.4.10.clusterserviceversion.yaml
  operators/aqua/2022.4.10/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.10/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.10/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2562 operator [CI] opentelemetry-operator
  operators/opentelemetry-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2542 operator jaeger (1.43.0)
  operators/jaeger/1.43.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.43.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.43.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.43.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.43.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.43.0/metadata/annotations.yaml
  operators/jaeger/1.43.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2565 operator project-quay (3.8.5)
  operators/project-quay/3.8.5/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.5/quayecosystems.crd.yaml
  operators/project-quay/3.8.5/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2566 operator opentelemetry-operator (0.74.0)
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.74.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.74.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.74.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2555 operator gitlab-runner-operator (1.13.0)
  operators/gitlab-runner-operator/1.13.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.13.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.13.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2569 operator flux (0.41.2)
  operators/flux/0.41.2/manifests/alert.crd.yaml
  operators/flux/0.41.2/manifests/bucket.crd.yaml
  operators/flux/0.41.2/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.41.2/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.41.2/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/0.41.2/manifests/flux.v0.41.2.clusterserviceversion.yaml
  operators/flux/0.41.2/manifests/gitrepository.crd.yaml
  operators/flux/0.41.2/manifests/helmchart.crd.yaml
  operators/flux/0.41.2/manifests/helmrelease.crd.yaml
  operators/flux/0.41.2/manifests/helmrepository.crd.yaml
  operators/flux/0.41.2/manifests/imagepolicy.crd.yaml
  operators/flux/0.41.2/manifests/imagerepository.crd.yaml
  operators/flux/0.41.2/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.41.2/manifests/kustomization.crd.yaml
  operators/flux/0.41.2/manifests/notification-controller.service.yaml
  operators/flux/0.41.2/manifests/ocirepository.crd.yaml
  operators/flux/0.41.2/manifests/provider.crd.yaml
  operators/flux/0.41.2/manifests/receiver.crd.yaml
  operators/flux/0.41.2/manifests/source-controller.service.yaml
  operators/flux/0.41.2/manifests/webhook-receiver.service.yaml
  operators/flux/0.41.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2570 operator elastic-cloud-eck (2.7.0)
  operators/elastic-cloud-eck/2.7.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/elastic-cloud-eck.v2.7.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.7.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.7.0/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated
