Repository k8s-operatorhub/community-operators, pull requests merged in 2023-08, with the labels that each got.

#3048 operator strimzi-kafka-operator (0.36.1)
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzi-cluster-operator.v0.36.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.1/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3051 operator ndb-operator (1.1.0)
  operators/ndb-operator/1.1.0/bundle.Dockerfile
  operators/ndb-operator/1.1.0/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.1.0/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.1.0/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.1.0/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3053 operator windup-operator (0.0.18)
  operators/windup-operator/0.0.18/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.18/manifests/windup.crd.yaml
  operators/windup-operator/0.0.18/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3054 operator tempo-operator (0.3.0)
  operators/tempo-operator/0.3.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.3.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.3.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.3.0/metadata/annotations.yaml
  operators/tempo-operator/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3055 operator windup-operator (0.0.19)
  operators/windup-operator/0.0.19/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.19/manifests/windup.crd.yaml
  operators/windup-operator/0.0.19/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3056 operator clickhouse (0.21.3)
  operators/clickhouse/0.21.3/manifests/clickhouse-operator.v0.21.3.clusterserviceversion.yaml
  operators/clickhouse/0.21.3/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.3/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.3/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3057 operator gitlab-operator-kubernetes (0.22.2)
  operators/gitlab-operator-kubernetes/0.22.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3014 operator jaeger (1.47.0)
  operators/jaeger/1.47.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.47.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.47.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.47.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.47.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.47.0/metadata/annotations.yaml
  operators/jaeger/1.47.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3058 operator verticadb-operator (1.11.2)
  operators/verticadb-operator/1.11.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/1.11.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.11.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.11.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.11.2/metadata/annotations.yaml
  operators/verticadb-operator/1.11.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3052 operator [CI] aqua (2022.4.13)
  operators/aqua/2022.4.13/bundle.Dockerfile
  operators/aqua/2022.4.13/manifests/aqua-operator.v2022.4.13.clusterserviceversion.yaml
  operators/aqua/2022.4.13/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.13/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.13/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3060 operator gitlab-operator-kubernetes (0.22.3)
  operators/gitlab-operator-kubernetes/0.22.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3059 operator [N] [CI] oci-ccm-operator (0.0.9)
  operators/oci-ccm-operator/0.0.9/manifests/ccm.oraclecloud.com_ocicloudmanagers.yaml
  operators/oci-ccm-operator/0.0.9/manifests/ccm.oraclecloud.com_ocicsidrivers.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oci-ccm-operator/0.0.9/manifests/oci-ccm-operator.clusterserviceversion.yaml
  operators/oci-ccm-operator/0.0.9/metadata/annotations.yaml
  operators/oci-ccm-operator/0.0.9/tests/scorecard/config.yaml
  operators/oci-ccm-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3062 operator k8gb (0.11.2)
  operators/k8gb/0.11.2/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.11.2/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.11.2/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.11.2/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.11.2/manifests/k8gb.v0.11.2.clusterserviceversion.yaml
  operators/k8gb/0.11.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3063 operator external-secrets-operator (0.8.6)
  operators/external-secrets-operator/0.8.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.6/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3064 operator external-secrets-operator (0.9.2)
  operators/external-secrets-operator/0.9.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3065 operator aerospike-kubernetes-operator (3.0.0)
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.0.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.0.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3067 operator sonataflow-operator (1.42.0)
  operators/sonataflow-operator/1.42.0/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.42.0/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.42.0/metadata/annotations.yaml
  operators/sonataflow-operator/1.42.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3068 operator hive-operator (1.2.4202-6aa3fa8)
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive-operator.v1.2.4202-6aa3fa8.clusterserviceversion.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4202-6aa3fa8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3071 operator [CI] postgresql (5.4.1)
  operators/postgresql/5.4.1/Dockerfile
  operators/postgresql/5.4.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.1/metadata/annotations.yaml
  operators/postgresql/5.4.1/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3070 operator kogito-operator (1.42.0)
  operators/kogito-operator/1.42.0/Dockerfile
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.42.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.42.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.42.0/metadata/annotations.yaml
  operators/kogito-operator/1.42.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3074 operator [O] aerospike-kubernetes-operator (3.0.0)
  operators/aerospike-kubernetes-operator/3.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3080 operator [CI] argocd-operator
  operators/argocd-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3081 operator project-quay (3.9.0-nightly.20230812)
  operators/project-quay/3.9.0-nightly.20230812/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230812/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230812/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3083 operator project-quay (3.8.11)
  operators/project-quay/3.8.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.11/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.11/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3084 operator gitlab-operator-kubernetes (0.22.4)
  operators/gitlab-operator-kubernetes/0.22.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3087 operator project-quay (3.9.0)
  operators/project-quay/3.9.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3088 operator hive-operator (1.2.4224-70b666e)
  operators/hive-operator/1.2.4224-70b666e/manifests/hive-operator.v1.2.4224-70b666e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4224-70b666e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4224-70b666e/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3089 operator project-quay (3.10.0-nightly.20230815)
  operators/project-quay/3.10.0-nightly.20230815/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230815/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230815/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3078 operator argocd-operator (0.7.0)
  operators/argocd-operator/0.7.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.7.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.7.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.7.0/manifests/argocd-operator.v0.7.0.clusterserviceversion.yaml
  operators/argocd-operator/0.7.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.7.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.7.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.7.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.7.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3082 operator sn-operator (0.2.0)
  operators/sn-operator/0.2.0/bundle.Dockerfile
  operators/sn-operator/0.2.0/manifests/k8s.streamnative.io_apikeys.yaml
  operators/sn-operator/0.2.0/manifests/k8s.streamnative.io_oxiaclusters.yaml
  operators/sn-operator/0.2.0/manifests/k8s.streamnative.io_pfsqlclusters.yaml
  operators/sn-operator/0.2.0/manifests/k8s.streamnative.io_pulsarcoordinators.yaml
  operators/sn-operator/0.2.0/manifests/k8s.streamnative.io_snconsoles.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-global-config_v1_configmap.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-manager-config_v1_configmap.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-troubleshooting-template-jvm_v1_configmap.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-troubleshooting-template-pulsar_v1_configmap.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-troubleshooting-template-system_v1_configmap.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator-webhook-service_v1_service.yaml
  operators/sn-operator/0.2.0/manifests/sn-operator.clusterserviceversion.yaml
  operators/sn-operator/0.2.0/metadata/annotations.yaml
  operators/sn-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3085 operator [N] [CI] move2kube-operator (0.3.8)
  operators/move2kube-operator/0.3.8/bundle.Dockerfile
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1beta1_clusterrole.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.8/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.8/metadata/annotations.yaml
  operators/move2kube-operator/0.3.8/tests/scorecard/config.yaml
  operators/move2kube-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3091 operator external-secrets-operator (0.8.7)
  operators/external-secrets-operator/0.8.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3094 operator awx-operator (2.5.0)
  operators/awx-operator/2.5.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.0/manifests/awx-operator.v2.5.0.clusterserviceversion.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.0/metadata/annotations.yaml
  operators/awx-operator/2.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3096 operator [R] project-quay (3.10.0-nightly.20230816 3.9.0)
  operators/project-quay/3.10.0-nightly.20230816/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230816/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230816/metadata/annotations.yaml
  operators/project-quay/3.9.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3093 operator awx-operator (2.5.1)
  operators/awx-operator/2.5.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.1/manifests/awx-operator.v2.5.1.clusterserviceversion.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.1/metadata/annotations.yaml
  operators/awx-operator/2.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3097 operator tempo-operator (0.4.0)
  operators/tempo-operator/0.4.0/bundle.Dockerfile
  operators/tempo-operator/0.4.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.4.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.4.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.4.0/metadata/annotations.yaml
  operators/tempo-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3086 operator [N] pulsar-resources-operator (0.4.0-rc)
  operators/pulsar-resources-operator/0.4.0-rc/bundle.Dockerfile
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-manager-config_v1_configmap.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/pulsar-resources-operator.clusterserviceversion.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarconnections.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsargeoreplications.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsartenants.yaml
  operators/pulsar-resources-operator/0.4.0-rc/manifests/resource.streamnative.io_pulsartopics.yaml
  operators/pulsar-resources-operator/0.4.0-rc/metadata/annotations.yaml
  operators/pulsar-resources-operator/0.4.0-rc/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3061 operator [N] [CI] api-testing-operator (0.0.1)
  operators/api-testing-operator/0.0.1/manifests/core.linuxsuren.github.com_atests.yaml
  operators/api-testing-operator/0.0.1/manifests/operator-controller-manager-metrics-service_v1_service.yaml
  operators/api-testing-operator/0.0.1/manifests/operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/api-testing-operator/0.0.1/manifests/operator.clusterserviceversion.yaml
  operators/api-testing-operator/0.0.1/metadata/annotations.yaml
  operators/api-testing-operator/0.0.1/tests/scorecard/config.yaml
  operators/api-testing-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3099 operator dynatrace-operator (0.13.0)
  operators/dynatrace-operator/0.13.0/Dockerfile
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.13.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3100 operator project-quay (3.10.0-nightly.20230818)
  operators/project-quay/3.10.0-nightly.20230818/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230818/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230818/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3102 operator project-quay (3.10.0-nightly.20230819)
  operators/project-quay/3.10.0-nightly.20230819/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230819/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230819/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3103 operator project-quay (3.10.0-nightly.20230820)
  operators/project-quay/3.10.0-nightly.20230820/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230820/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230820/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3105 operator project-quay (3.10.0-nightly.20230821)
  operators/project-quay/3.10.0-nightly.20230821/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230821/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230821/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3079 operator mongodb-atlas-kubernetes (1.8.1)
  operators/mongodb-atlas-kubernetes/1.8.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3108 operator mondoo-operator (1.15.2)
  operators/mondoo-operator/1.15.2/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.15.2/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.2/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.15.2/metadata/annotations.yaml
  operators/mondoo-operator/1.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3109 operator service-binding-operator (1.4.0)
  operators/service-binding-operator/1.4.0/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.4.0/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.0/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.4.0/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.4.0/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.4.0/metadata/annotations.yaml
  operators/service-binding-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3110 operator pulp-operator (1.0.0-alpha.9)
  operators/pulp-operator/1.0.0-alpha.9/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.9/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.9/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3112 operator project-quay (3.10.0-nightly.20230822)
  operators/project-quay/3.10.0-nightly.20230822/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230822/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230822/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3113 operator windup-operator (0.0.20)
  operators/windup-operator/0.0.20/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.20/manifests/windup.crd.yaml
  operators/windup-operator/0.0.20/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3118 operator project-quay (3.10.0-nightly.20230823)
  operators/project-quay/3.10.0-nightly.20230823/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230823/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230823/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3120 operator [CI] victoriametrics-operator
  operators/victoriametrics-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3122 operator move2kube-operator (0.3.9)
  operators/move2kube-operator/0.3.9/bundle.Dockerfile
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.9/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.9/metadata/annotations.yaml
  operators/move2kube-operator/0.3.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3123 operator project-quay (3.10.0-nightly.20230824)
  operators/project-quay/3.10.0-nightly.20230824/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230824/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230824/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3121 operator kubernetes-imagepuller-operator (1.0.6)
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/che.eclipse.org_kubernetesimagepullers.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/kubernetes-imagepuller-operator.v1.0.6.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3127 operator external-secrets-operator (0.9.4)
  operators/external-secrets-operator/0.9.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.4/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3129 operator gitlab-operator-kubernetes (0.23.0)
  operators/gitlab-operator-kubernetes/0.23.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3134 operator [CI] mongodb-enterprise (1.21.0)
  operators/mongodb-enterprise/1.21.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.21.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.21.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.21.0/tests/scorecard/config.yaml
  operators/mongodb-enterprise/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3135 operator sonataflow-operator (1.43.1)
  operators/sonataflow-operator/1.43.1/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.43.1/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.43.1/metadata/annotations.yaml
  operators/sonataflow-operator/1.43.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3136 operator windup-operator (0.0.21)
  operators/windup-operator/0.0.21/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.21/manifests/windup.crd.yaml
  operators/windup-operator/0.0.21/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3124 Bump kind version to v0.20.0
  ci/pipeline-config-k8s.yaml
Labels: dco-failed

#3140 operator rabbitmq-cluster-operator (2.5.0)
  operators/rabbitmq-cluster-operator/2.5.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.5.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.5.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3126 operator [N] [CI] dapr-kubernetes-operator (0.0.3)
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr.io_components.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr.io_configurations.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr.io_httpendpoints.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr.io_resiliencies.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/dapr.io_subscriptions.yaml
  operators/dapr-kubernetes-operator/0.0.3/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.3/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.3/tests/scorecard/config.yaml
  operators/dapr-kubernetes-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3132 operator kogito-operator (1.43.0)
  operators/kogito-operator/1.43.0/Dockerfile
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.43.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.43.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.43.0/metadata/annotations.yaml
  operators/kogito-operator/1.43.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
