Repository k8s-operatorhub/community-operators, pull requests merged in 2023-04, with the labels that each got.

#2573 operator project-quay (3.9.0-nightly.20230401)
  operators/project-quay/3.9.0-nightly.20230401/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230401/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2576 operator project-quay (3.9.0-nightly.20230402)
  operators/project-quay/3.9.0-nightly.20230402/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230402/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2577 operator edp-keycloak-operator (1.15.0)
  operators/edp-keycloak-operator/1.15.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.15.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.15.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2579 operator aqua (6.5.11)
  operators/aqua/6.5.11/bundle.Dockerfile
  operators/aqua/6.5.11/manifests/aqua-operator.v6.5.11.clusterserviceversion.yaml
  operators/aqua/6.5.11/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.11/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.11/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2583 operator awx-operator (2.0.0)
  operators/awx-operator/2.0.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.0.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.0.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.0.0/manifests/awx-operator.v2.0.0.clusterserviceversion.yaml
  operators/awx-operator/2.0.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.0.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.0.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.0.0/metadata/annotations.yaml
  operators/awx-operator/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2578 operator gitlab-operator-kubernetes (0.18.1)
  operators/gitlab-operator-kubernetes/0.18.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2585 operator trivy-operator (0.13.0)
  operators/trivy-operator/0.13.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.0/trivy-operator.v0.13.0.clusterserviceversion.yaml
  operators/trivy-operator/0.13.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2591 operator kiali (1.66.0)
  operators/kiali/1.66.0/bundle.Dockerfile
  operators/kiali/1.66.0/manifests/kiali.crd.yaml
  operators/kiali/1.66.0/manifests/kiali.v1.66.0.clusterserviceversion.yaml
  operators/kiali/1.66.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2586 operator dell-csm-operator (1.1.0)
  operators/dell-csm-operator/1.1.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.1.0/manifests/dell-csm-operator.v1.1.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.1.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2588 operator pulsar-operator (0.16.0)
  operators/pulsar-operator/0.16.0/bundle.Dockerfile
  operators/pulsar-operator/0.16.0/manifests/pulsar-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-operator/0.16.0/manifests/pulsar-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.16.0/manifests/pulsar-operator-pulsar-broker_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-operator/0.16.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.16.0/manifests/pulsar.streamnative.io_pulsarbrokers.yaml
  operators/pulsar-operator/0.16.0/manifests/pulsar.streamnative.io_pulsarproxies.yaml
  operators/pulsar-operator/0.16.0/metadata/annotations.yaml
  operators/pulsar-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2589 operator bookkeeper-operator (0.16.0)
  operators/bookkeeper-operator/0.16.0/bundle.Dockerfile
  operators/bookkeeper-operator/0.16.0/manifests/bookkeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/bookkeeper-operator/0.16.0/manifests/bookkeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bookkeeper-operator/0.16.0/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.16.0/manifests/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  operators/bookkeeper-operator/0.16.0/metadata/annotations.yaml
  operators/bookkeeper-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2590 operator zookeeper-operator (0.16.0)
  operators/zookeeper-operator/0.16.0/bundle.Dockerfile
  operators/zookeeper-operator/0.16.0/manifests/zookeeper-operator-controller-manager-metrics-service_v1_service.yaml
  operators/zookeeper-operator/0.16.0/manifests/zookeeper-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/zookeeper-operator/0.16.0/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.16.0/manifests/zookeeper.streamnative.io_zookeeperclusters.yaml
  operators/zookeeper-operator/0.16.0/metadata/annotations.yaml
  operators/zookeeper-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2596 operator gitlab-operator-kubernetes (0.18.2)
  operators/gitlab-operator-kubernetes/0.18.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2597 operator sn-operator (0.2.0-rc2)
  operators/sn-operator/0.2.0-rc2/bundle.Dockerfile
  operators/sn-operator/0.2.0-rc2/manifests/k8s.streamnative.io_flinks.yaml
  operators/sn-operator/0.2.0-rc2/manifests/k8s.streamnative.io_pfsqlclusters.yaml
  operators/sn-operator/0.2.0-rc2/manifests/k8s.streamnative.io_pulsarcoordinators.yaml
  operators/sn-operator/0.2.0-rc2/manifests/k8s.streamnative.io_snconsoles.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-global-config_v1_configmap.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-manager-config_v1_configmap.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-troubleshooting-template-jvm_v1_configmap.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-troubleshooting-template-pulsar_v1_configmap.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-troubleshooting-template-system_v1_configmap.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator-webhook-service_v1_service.yaml
  operators/sn-operator/0.2.0-rc2/manifests/sn-operator.clusterserviceversion.yaml
  operators/sn-operator/0.2.0-rc2/metadata/annotations.yaml
  operators/sn-operator/0.2.0-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2598 operator [R] [CI] percona-postgresql-operator (1.1.0 1.2.0 1.3.0 1.4.0)
  operators/percona-postgresql-operator/1.1.0/manifests/percona-postgresql-operator.v1.1.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.1.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.1.0/metadata/annotations.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/percona-postgresql-operator.v1.2.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.2.0/metadata/annotations.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/percona-postgresql-operator.v1.3.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.3.0/metadata/annotations.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/percona-postgresql-operator.v1.4.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/perconapgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgclusters.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgpolicies.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgreplicas.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/manifests/pgtasks.pg.percona.com.crd.yaml
  operators/percona-postgresql-operator/1.4.0/metadata/annotations.yaml
  operators/percona-postgresql-operator/ci.yaml
  operators/percona-postgresql-operator/percona-postgresql-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2609 operator [CI] node-healthcheck-operator (0.4.2)
  operators/node-healthcheck-operator/0.4.2/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.4.2/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.4.2/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.4.2/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.4.2/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.4.2/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.4.2/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.4.2/tests/scorecard/config.yaml
  operators/node-healthcheck-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2612 operator verticadb-operator (1.10.2)
  operators/verticadb-operator/1.10.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.2/metadata/annotations.yaml
  operators/verticadb-operator/1.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2600 operator [N] [CI] tempo-operator (0.1.0)
  operators/tempo-operator/0.1.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.1.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.1.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.1.0/metadata/annotations.yaml
  operators/tempo-operator/0.1.0/tests/scorecard/config.yaml
  operators/tempo-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2613 operator [N] [CI] konveyor-operator (0.1.0)
  operators/konveyor-operator/0.1.0/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.1.0/manifests/tackle.konveyor.io_addons.yaml
  operators/konveyor-operator/0.1.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/konveyor-operator/0.1.0/metadata/annotations.yaml
  operators/konveyor-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2617 operator ibm-security-verify-directory-operator (23.4.0)
  operators/ibm-security-verify-directory-operator/23.4.0/manifests/ibm-security-verify-directory-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/manifests/ibm.com_ibmsecurityverifydirectories.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/manifests/verify-directory-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/manifests/verify-directory-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/manifests/verify-directory-operator-webhook-service_v1_service.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/metadata/annotations.yaml
  operators/ibm-security-verify-directory-operator/23.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2503 operator cockroachdb (6.0.0)
  operators/cockroachdb/6.0.0/bundle.Dockerfile
  operators/cockroachdb/6.0.0/manifests/charts.operatorhub.io_cockroachdbs.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb-controller-manager-metrics-service_v1_service.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cockroachdb/6.0.0/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/6.0.0/metadata/annotations.yaml
  operators/cockroachdb/6.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2619 operator mondoo-operator (1.12.3)
  operators/mondoo-operator/1.12.3/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.12.3/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.3/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2614 Remove tackle-operator
  operators/tackle-operator/0.0.1/Dockerfile
  operators/tackle-operator/0.0.1/manifests/tackle-operator.v0.0.1.clusterserviceversion.yaml
  operators/tackle-operator/0.0.1/manifests/tackle.crd.yaml
  operators/tackle-operator/0.0.1/metadata/annotations.yaml
  operators/tackle-operator/0.0.2/Dockerfile
  operators/tackle-operator/0.0.2/manifests/tackle-operator.v0.0.2.clusterserviceversion.yaml
  operators/tackle-operator/0.0.2/manifests/tackle.crd.yaml
  operators/tackle-operator/0.0.2/metadata/annotations.yaml
  operators/tackle-operator/0.0.3/Dockerfile
  operators/tackle-operator/0.0.3/manifests/tackle-operator.v0.0.3.clusterserviceversion.yaml
  operators/tackle-operator/0.0.3/manifests/tackle.crd.yaml
  operators/tackle-operator/0.0.3/metadata/annotations.yaml
  operators/tackle-operator/0.0.4/Dockerfile
  operators/tackle-operator/0.0.4/manifests/tackle-operator.v0.0.4.clusterserviceversion.yaml
  operators/tackle-operator/0.0.4/manifests/tackle.crd.yaml
  operators/tackle-operator/0.0.4/metadata/annotations.yaml
  operators/tackle-operator/1.0.0/Dockerfile
  operators/tackle-operator/1.0.0/manifests/tackle-operator.v1.0.0.clusterserviceversion.yaml
  operators/tackle-operator/1.0.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.0.0/metadata/annotations.yaml
  operators/tackle-operator/1.1.0/Dockerfile
  operators/tackle-operator/1.1.0/manifests/tackle-operator.v1.1.0.clusterserviceversion.yaml
  operators/tackle-operator/1.1.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.1.0/metadata/annotations.yaml
  operators/tackle-operator/1.2.0/Dockerfile
  operators/tackle-operator/1.2.0/manifests/tackle-operator.v1.2.0.clusterserviceversion.yaml
  operators/tackle-operator/1.2.0/manifests/tackle.crd.yaml
  operators/tackle-operator/1.2.0/metadata/annotations.yaml
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0-beta.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0-beta.0/metadata/annotations.yaml
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0-beta.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0-beta.1/metadata/annotations.yaml
  operators/tackle-operator/2.0.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.0.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.0.0/metadata/annotations.yaml
  operators/tackle-operator/2.1.0/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.0/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.0/metadata/annotations.yaml
  operators/tackle-operator/2.1.1/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.1/metadata/annotations.yaml
  operators/tackle-operator/2.1.2/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.2/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.2/metadata/annotations.yaml
  operators/tackle-operator/2.1.3/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.3/metadata/annotations.yaml
  operators/tackle-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2620 operator [N] konveyor-operator (0.1.0)
  operators/konveyor-operator/0.1.0/manifests/konveyor-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2621 operator hazelcast-platform-operator (5.7.0)
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.7.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.7.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2622 operator cc-operator (0.5.0)
  operators/cc-operator/0.5.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.5.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.5.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.5.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.5.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.5.0/metadata/annotations.yaml
  operators/cc-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2624 operator mondoo-operator (1.12.4)
  operators/mondoo-operator/1.12.4/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.12.4/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.12.4/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2625 operator gitlab-operator-kubernetes (0.18.3)
  operators/gitlab-operator-kubernetes/0.18.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.18.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.18.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.18.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2627 operator windup-operator (0.0.13)
  operators/windup-operator/0.0.13/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.13/manifests/windup.crd.yaml
  operators/windup-operator/0.0.13/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2633 operator hive-operator (1.2.4085-4d27131)
  operators/hive-operator/1.2.4085-4d27131/hive-operator.v1.2.4085-4d27131.clusterserviceversion.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4085-4d27131/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4085-4d27131/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2635 operator jaeger (1.44.0)
  operators/jaeger/1.44.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.44.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.44.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.44.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.44.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.44.0/metadata/annotations.yaml
  operators/jaeger/1.44.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2623 operator searchpe-operator (4.1.1)
  operators/searchpe-operator/4.1.1/bundle.Dockerfile
  operators/searchpe-operator/4.1.1/manifests/searchpe-operator.clusterserviceversion.yaml
  operators/searchpe-operator/4.1.1/manifests/searchpes.searchpe.openubl.io-v1.crd.yml
  operators/searchpe-operator/4.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2636 operator [O] searchpe-operator (4.1.0)
  operators/searchpe-operator/4.1.0/manifests/searchpe-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2637 operator [O] searchpe-operator (4.1.1)
  operators/searchpe-operator/4.1.1/manifests/searchpe-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2638 operator security-profiles-operator (0.8.0)
  operators/security-profiles-operator/0.8.0/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.8.0/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.0/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.0/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.0/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.0/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.0/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.0/metadata/annotations.yaml
  operators/security-profiles-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2630 operator [N] [CI] parseable-operator (0.0.2)
  operators/parseable-operator/0.0.2/parseable-operator.v0.0.2.clusterserviceversion.yaml
  operators/parseable-operator/0.0.2/parseable.io_parseabletenants.yaml
  operators/parseable-operator/ci.yaml
  operators/parseable-operator/parseable-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2618 operator [N] [CI] kube-loxilb-operator (0.8.3)
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator-kube-loxilb_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator-kube-loxilb_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator-kube-loxilb_v1_serviceaccount.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kube-loxilb-operator.clusterserviceversion.yaml
  operators/kube-loxilb-operator/0.8.3/manifests/kubeloxilb.loxilb.io_kubeloxilbapps.yaml
  operators/kube-loxilb-operator/0.8.3/metadata/annotations.yaml
  operators/kube-loxilb-operator/0.8.3/tests/scorecard/config.yaml
  operators/kube-loxilb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2629 operator [N] [CI] pinot-operator (0.0.1)
  operators/pinot-operator/0.0.1/datainfra.io_pinots.yaml
  operators/pinot-operator/0.0.1/pinot-operator.v0.0.1.clusterserviceversion.yaml
  operators/pinot-operator/ci.yaml
  operators/pinot-operator/pinot-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2644 operator keycloak-operator (21.1.0)
  operators/keycloak-operator/21.1.0/bundle.Dockerfile
  operators/keycloak-operator/21.1.0/manifests/keycloak-operator.v21.1.0.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.0/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2626 operator argocd-operator (0.6.0)
  operators/argocd-operator/0.6.0/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.6.0/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.6.0/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.6.0/argocd-operator.v0.6.0.clusterserviceversion.yaml
  operators/argocd-operator/0.6.0/argoproj.io_applications.yaml
  operators/argocd-operator/0.6.0/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.6.0/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.6.0/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.6.0/argoproj.io_argocds.yaml
  operators/argocd-operator/argocd-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2647 operator dynatrace-operator (0.11.0)
  operators/dynatrace-operator/0.11.0/Dockerfile
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.11.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2649 operator loki-operator (0.3.0)
  operators/loki-operator/0.3.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.3.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.3.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.3.0/metadata/annotations.yaml
  operators/loki-operator/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2654 operator routernetes-operator (0.0.10)
  operators/routernetes-operator/0.0.10/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.10/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.10/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.10/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.10/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.10/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2650 operator [N] minio-operator (5.0.3)
  operators/minio-operator/4.5.8/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.3/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.3/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.3/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.3/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.3/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.3/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.3/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.3/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2646 operator [N] [CI] pubsubplus-eventbroker-operator (1.0.0)
  operators/pubsubplus-eventbroker-operator/1.0.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.0/tests/scorecard/config.yaml
  operators/pubsubplus-eventbroker-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2656 operator gitlab-runner-operator (1.14.0)
  operators/gitlab-runner-operator/1.14.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.14.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.14.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2657 operator trivy-operator (0.13.1)
  operators/trivy-operator/0.13.1/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.1/trivy-operator.v0.13.1.clusterserviceversion.yaml
  operators/trivy-operator/0.13.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2660 operator k8gb (0.11.1)
  operators/k8gb/0.11.1/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.11.1/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.11.1/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.11.1/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.11.1/manifests/k8gb.v0.11.1.clusterserviceversion.yaml
  operators/k8gb/0.11.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2661 operator gitlab-operator-kubernetes (0.19.0)
  operators/gitlab-operator-kubernetes/0.19.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2663 operator hive-operator (1.2.4093-7cbb912)
  operators/hive-operator/1.2.4093-7cbb912/hive-operator.v1.2.4093-7cbb912.clusterserviceversion.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4093-7cbb912/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4093-7cbb912/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2664 operator project-quay (3.8.6)
  operators/project-quay/3.8.6/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.6/quayecosystems.crd.yaml
  operators/project-quay/3.8.6/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2665 operator kiali (1.67.0)
  operators/kiali/1.67.0/bundle.Dockerfile
  operators/kiali/1.67.0/manifests/kiali.crd.yaml
  operators/kiali/1.67.0/manifests/kiali.v1.67.0.clusterserviceversion.yaml
  operators/kiali/1.67.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2666 operator keycloak-operator (21.1.1)
  operators/keycloak-operator/21.1.1/bundle.Dockerfile
  operators/keycloak-operator/21.1.1/manifests/keycloak-operator.v21.1.1.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.1/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2667 operator yaks (0.15.0)
  operators/yaks/0.15.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.0/yaks.v0.15.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2670 operator trivy-operator (0.13.2)
  operators/trivy-operator/0.13.2/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.13.2/trivy-operator.v0.13.2.clusterserviceversion.yaml
  operators/trivy-operator/0.13.2/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2672 operator infinispan (2.3.2)
  operators/infinispan/2.3.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.2/metadata/annotations.yaml
  operators/infinispan/2.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2673 operator pulp-operator (1.0.0-alpha.6)
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.6/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.6/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2675 operator [CI] galaxy-operator
  operators/galaxy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2676 operator knative-operator (1.10.0)
  operators/knative-operator/1.10.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.10.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.10.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.10.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.10.0/manifests/knative-operator.v1.10.0.clusterserviceversion.yaml
  operators/knative-operator/1.10.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.10.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.10.0/metadata/annotations.yaml
  operators/knative-operator/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2677 operator clickhouse (0.18.4)
  operators/clickhouse/0.18.4/clickhouse-operator.v0.18.4.clusterserviceversion.yaml
  operators/clickhouse/0.18.4/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.4/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.18.4/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2674 operator [CI] pulp-operator
  operators/pulp-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2679 operator dynatrace-operator (0.11.1)
  operators/dynatrace-operator/0.11.1/Dockerfile
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.11.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.11.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2680 operator project-quay (3.9.0-nightly.20230429)
  operators/project-quay/3.9.0-nightly.20230429/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230429/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2681 operator project-quay (3.9.0-nightly.20230430)
  operators/project-quay/3.9.0-nightly.20230430/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230430/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated
