Repository k8s-operatorhub/community-operators, pull requests merged in 2023-06, with the labels that each got.

#2839 operator kogito-operator (1.39.0)
  operators/kogito-operator/1.39.0/Dockerfile
  operators/kogito-operator/1.39.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.39.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.39.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.39.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.39.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.39.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.39.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.39.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.39.0/metadata/annotations.yaml
  operators/kogito-operator/1.39.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2841 operator project-quay (3.9.0-nightly.20230602)
  operators/project-quay/3.9.0-nightly.20230602/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230602/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2838 operator kuadrant-operator (0.3.1)
  operators/kuadrant-operator/0.3.1/bundle.Dockerfile
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.3.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.3.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.3.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2847 operator rabbitmq-messaging-topology-operator (1.11.0)
  operators/rabbitmq-messaging-topology-operator/1.11.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2846 operator [R] project-quay (3.9.0-nightly.20230603 3.9.0-nightly.20230605)
  operators/project-quay/3.9.0-nightly.20230603/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230603/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230605/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230605/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2850 operator netobserv-operator (1.0.3)
  operators/netobserv-operator/1.0.3/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.3/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2849 operator kiali (1.69.0)
  operators/kiali/1.69.0/bundle.Dockerfile
  operators/kiali/1.69.0/manifests/kiali.crd.yaml
  operators/kiali/1.69.0/manifests/kiali.v1.69.0.clusterserviceversion.yaml
  operators/kiali/1.69.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2851 operator hive-operator (1.2.4145-52a71e5)
  operators/hive-operator/1.2.4145-52a71e5/hive-operator.v1.2.4145-52a71e5.clusterserviceversion.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4145-52a71e5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4145-52a71e5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2854 operator project-quay (3.9.0-nightly.20230606)
  operators/project-quay/3.9.0-nightly.20230606/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230606/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2856 operator [CI] tempo-operator
  operators/tempo-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2843 operator [O] [R] cockroachdb (6.0.0)
  operators/cockroachdb/6.0.0/bundle.Dockerfile
  operators/cockroachdb/6.0.0/manifests/cockroachdb.clusterserviceversion.yaml
  operators/cockroachdb/6.0.0/metadata/annotations.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2852 operator gitlab-operator-kubernetes (0.20.0)
  operators/gitlab-operator-kubernetes/0.20.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2848 operator clickhouse (0.21.0)
  operators/clickhouse/0.21.0/clickhouse-operator.v0.21.0.clusterserviceversion.yaml
  operators/clickhouse/0.21.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2853 operator [R] kubernetes-imagepuller-operator (1.0.0 1.0.1 1.0.2 1.0.3 1.0.4 1.0.5)
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/kubernetes-imagepuller-operator.v1.0.0.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.0/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/kubernetes-imagepuller-operator.v1.0.1.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.1/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/kubernetes-imagepuller-operator.v1.0.2.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.2/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/kubernetes-imagepuller-operator.v1.0.3.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.3/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/kubernetes-imagepuller-operator.v1.0.4.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/che.eclipse.org_kubernetesimagepullers.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/kubernetes-imagepuller-operator.v1.0.5.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/metadata/annotations.yaml
  operators/kubernetes-imagepuller-operator/1.0.5/tests/scorecard/config.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2863 operator trivy-operator (0.14.0)
  operators/trivy-operator/0.14.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.0/trivy-operator.v0.14.0.clusterserviceversion.yaml
  operators/trivy-operator/0.14.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2868 operator grafana-operator (5.0.0)
  operators/grafana-operator/5.0.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.0/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.0/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.0/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.0/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.0/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2836 operator [CI] datadog-operator (1.0.3)
  operators/datadog-operator/1.0.3/bundle.Dockerfile
  operators/datadog-operator/1.0.3/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.0.3/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.0.3/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.0.3/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.0.3/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.0.3/metadata/annotations.yaml
  operators/datadog-operator/1.0.3/tests/scorecard/config.yaml
  operators/datadog-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2865 operator strimzi-kafka-operator (0.35.1)
  operators/strimzi-kafka-operator/0.35.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzi-cluster-operator.v0.35.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.35.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2860 operator project-quay (3.9.0-nightly.20230609)
  operators/project-quay/3.9.0-nightly.20230609/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230609/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2870 operator project-quay (3.9.0-nightly.20230610)
  operators/project-quay/3.9.0-nightly.20230610/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230610/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2871 operator rabbitmq-cluster-operator (2.3.0)
  operators/rabbitmq-cluster-operator/2.3.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.3.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.3.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2873 operator project-quay (3.9.0-nightly.20230611)
  operators/project-quay/3.9.0-nightly.20230611/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230611/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2875 operator trivy-operator (0.14.1)
  operators/trivy-operator/0.14.1/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.14.1/trivy-operator.v0.14.1.clusterserviceversion.yaml
  operators/trivy-operator/0.14.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2878 operator [N] [CI] horreum-operator (0.0.2)
  operators/horreum-operator/0.0.2/manifests/horreum-operator-controller-manager-metrics-service_v1_service.yaml
  operators/horreum-operator/0.0.2/manifests/horreum-operator-manager-config_v1_configmap.yaml
  operators/horreum-operator/0.0.2/manifests/horreum-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/horreum-operator/0.0.2/manifests/horreum-operator.clusterserviceversion.yaml
  operators/horreum-operator/0.0.2/manifests/hyperfoil.io_horreums.yaml
  operators/horreum-operator/0.0.2/metadata/annotations.yaml
  operators/horreum-operator/0.0.2/tests/scorecard/config.yaml
  operators/horreum-operator/ci.yaml
  operators/horreum-operator/horreum-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2877 operator hive-operator (1.2.4155-17388c5)
  operators/hive-operator/1.2.4155-17388c5/hive-operator.v1.2.4155-17388c5.clusterserviceversion.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4155-17388c5/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4155-17388c5/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2880 operator gitlab-operator-kubernetes (0.20.2)
  operators/gitlab-operator-kubernetes/0.20.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2881 operator gitlab-operator-kubernetes (0.20.3)
  operators/gitlab-operator-kubernetes/0.20.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2883 operator project-quay (3.9.0-nightly.20230613)
  operators/project-quay/3.9.0-nightly.20230613/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230613/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2885 operator gitlab-operator-kubernetes (0.20.5)
  operators/gitlab-operator-kubernetes/0.20.5/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.5/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.5/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2869 operator clickhouse (0.21.1)
  operators/clickhouse/0.21.1/clickhouse-operator.v0.21.1.clusterserviceversion.yaml
  operators/clickhouse/0.21.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2889 operator project-quay (3.9.0-nightly.20230614)
  operators/project-quay/3.9.0-nightly.20230614/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230614/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2891 operator [R] hyperfoil-bundle (0.21.0 0.24.2)
  operators/hyperfoil-bundle/0.21.0/manifests/hyperfoil-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hyperfoil-bundle/0.21.0/manifests/hyperfoil-operator-manager-config_v1_configmap.yaml
  operators/hyperfoil-bundle/0.21.0/manifests/hyperfoil-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hyperfoil-bundle/0.21.0/manifests/hyperfoil-operator.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.21.0/manifests/hyperfoil.io_hyperfoils.yaml
  operators/hyperfoil-bundle/0.21.0/metadata/annotations.yaml
  operators/hyperfoil-bundle/0.21.0/tests/scorecard/config.yaml
  operators/hyperfoil-bundle/0.24.2/manifests/hyperfoil-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hyperfoil-bundle/0.24.2/manifests/hyperfoil-operator-manager-config_v1_configmap.yaml
  operators/hyperfoil-bundle/0.24.2/manifests/hyperfoil-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hyperfoil-bundle/0.24.2/manifests/hyperfoil-operator.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.24.2/manifests/hyperfoil.io_hyperfoils.yaml
  operators/hyperfoil-bundle/0.24.2/metadata/annotations.yaml
  operators/hyperfoil-bundle/0.24.2/tests/scorecard/config.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2898 operator cert-manager (1.11.3-rc1)
  operators/cert-manager/1.11.3-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.3-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.3-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.3-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.3-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.3-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2899 operator edp-keycloak-operator (1.16.0)
  operators/edp-keycloak-operator/1.16.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.16.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.16.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2903 operator project-quay (3.9.0-nightly.20230616)
  operators/project-quay/3.9.0-nightly.20230616/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230616/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2904 operator windup-operator (0.0.16)
  operators/windup-operator/0.0.16/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.16/manifests/windup.crd.yaml
  operators/windup-operator/0.0.16/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2872 operator [N] [CI] apch-operator (0.0.1)
  operators/apch-operator/0.0.1/bundle.Dockerfile
  operators/apch-operator/0.0.1/manifests/apache-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apch-operator/0.0.1/manifests/apache-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apch-operator/0.0.1/manifests/apache-operator.clusterserviceversion.yaml
  operators/apch-operator/0.0.1/manifests/apacheweb.arsenal.dev_apachewebs.yaml
  operators/apch-operator/0.0.1/metadata/annotations.yaml
  operators/apch-operator/0.0.1/tests/scorecard/config.yaml
  operators/apch-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2892 operator [CI] ack-pipes-controller
  operators/ack-pipes-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2896 operator microcks (1.7.1)
  operators/microcks/1.7.1/microcks-operator.v1.7.1.clusterserviceversion.yaml
  operators/microcks/1.7.1/microcksinstall.crd.yaml
  operators/microcks/microcks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2905 operator redis-operator (0.14.0)
  operators/redis-operator/0.14.0/manifests/redis-operator.v0.14.0.clusterserviceversion.yaml
  operators/redis-operator/0.14.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2908 operator grafana-operator (5.0.1)
  operators/grafana-operator/5.0.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.1/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.1/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.1/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.1/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.1/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2910 operator mondoo-operator (1.14.1)
  operators/mondoo-operator/1.14.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.14.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.14.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2913 operator hive-operator (1.2.4159-f2f3407)
  operators/hive-operator/1.2.4159-f2f3407/hive-operator.v1.2.4159-f2f3407.clusterserviceversion.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4159-f2f3407/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4159-f2f3407/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4159-f2f3407/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4159-f2f3407/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2914 operator gitlab-operator-kubernetes (0.20.6)
  operators/gitlab-operator-kubernetes/0.20.6/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.20.6/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.20.6/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.20.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2915 operator self-node-remediation (0.6.1)
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.6.1/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.6.1/metadata/annotations.yaml
  operators/self-node-remediation/0.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2916 operator apch-operator (0.0.2)
  operators/apch-operator/0.0.2/manifests/apache-operator-controller-manager-metrics-service_v1_service.yaml
  operators/apch-operator/0.0.2/manifests/apache-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/apch-operator/0.0.2/manifests/apache-operator.clusterserviceversion.yaml
  operators/apch-operator/0.0.2/manifests/apacheweb.arsenal.dev_apachewebs.yaml
  operators/apch-operator/0.0.2/metadata/annotations.yaml
  operators/apch-operator/0.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2918 operator cert-manager (1.11.4-rc1)
  operators/cert-manager/1.11.4-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.4-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.4-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.4-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.4-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.4-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2919 operator external-secrets-operator (0.8.4)
  operators/external-secrets-operator/0.8.4/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.4/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.4/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.4/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2920 operator external-secrets-operator (0.9.0)
  operators/external-secrets-operator/0.9.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2922 operator gitlab-operator-kubernetes (0.21.0)
  operators/gitlab-operator-kubernetes/0.21.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2926 operator dynatrace-operator (0.12.0)
  operators/dynatrace-operator/0.12.0/Dockerfile
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.12.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2927 operator grafana-operator (5.0.2)
  operators/grafana-operator/5.0.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.0.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.0.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2929 operator hive-operator (1.2.4164-b71778a)
  operators/hive-operator/1.2.4164-b71778a/manifests/hive-operator.v1.2.4164-b71778a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4164-b71778a/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4164-b71778a/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2931 operator cert-manager (1.11.4)
  operators/cert-manager/1.11.4/bundle.Dockerfile
  operators/cert-manager/1.11.4/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.4/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.4/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.4/metadata/annotations.yaml
  operators/cert-manager/1.11.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2932 operator awx-operator (2.3.0)
  operators/awx-operator/2.3.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.3.0/manifests/awx-operator.v2.3.0.clusterserviceversion.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.3.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.3.0/metadata/annotations.yaml
  operators/awx-operator/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2934 operator cert-manager (1.12.2-rc1)
  operators/cert-manager/1.12.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.12.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.12.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.12.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.12.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.12.2-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2935 operator cert-manager (1.12.2)
  operators/cert-manager/1.12.2/bundle.Dockerfile
  operators/cert-manager/1.12.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.12.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.12.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.12.2/metadata/annotations.yaml
  operators/cert-manager/1.12.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2923 operator kogito-operator (1.40.0)
  operators/kogito-operator/1.40.0/Dockerfile
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.40.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.40.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.40.0/metadata/annotations.yaml
  operators/kogito-operator/1.40.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2933 operator mongodb-atlas-kubernetes (1.8.0)
  operators/mongodb-atlas-kubernetes/1.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2939 Delete operators/runtime-component-operator
  operators/runtime-component-operator/0.4.0/manifests/runtime-component-operator.v0.4.0.clusterserviceversion.yaml
  operators/runtime-component-operator/0.4.0/manifests/runtimecomponents.app.stacks.crd.yaml
  operators/runtime-component-operator/0.4.0/metadata/annotations.yaml
  operators/runtime-component-operator/0.5.0/manifests/runtime-component-operator.v0.5.0.clusterserviceversion.yaml
  operators/runtime-component-operator/0.5.0/manifests/runtimecomponents.app.stacks.crd.yaml
  operators/runtime-component-operator/0.5.0/metadata/annotations.yaml
  operators/runtime-component-operator/0.5.1/manifests/runtime-component-operator.v0.5.1.clusterserviceversion.yaml
  operators/runtime-component-operator/0.5.1/manifests/runtimecomponents.app.stacks.crd.yaml
  operators/runtime-component-operator/0.5.1/metadata/annotations.yaml
  operators/runtime-component-operator/0.6.0/manifests/runtime-component-operator.v0.6.0.clusterserviceversion.yaml
  operators/runtime-component-operator/0.6.0/manifests/runtimecomponents.app.stacks.crd.yaml
  operators/runtime-component-operator/0.6.0/metadata/annotations.yaml
  operators/runtime-component-operator/0.7.0/manifests/runtime-component-operator.v0.7.0.clusterserviceversion.yaml
  operators/runtime-component-operator/0.7.0/manifests/runtimecomponents.app.stacks.crd.yaml
  operators/runtime-component-operator/0.7.0/metadata/annotations.yaml
  operators/runtime-component-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2941 [ISV-3683] Disable the package manifest format support.
  ci/pipeline-config-k8s.yaml
Labels: allow/ci-changes

#2925 operator [N] sonataflow-operator (1.40.0)
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.40.0/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.40.0/metadata/annotations.yaml
  operators/sonataflow-operator/1.40.0/tests/scorecard/config.yaml
Labels: package-validated, installation-validated, new-operator, allow/operator-recreate

#2947 operator keycloak-operator (21.1.2)
  operators/keycloak-operator/21.1.2/bundle.Dockerfile
  operators/keycloak-operator/21.1.2/manifests/keycloak-operator.v21.1.2.clusterserviceversion.yaml
  operators/keycloak-operator/21.1.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.2/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.1.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2944 operator splunk (2.3.0)
  operators/splunk/2.3.0/bundle.Dockerfile
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.3.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.3.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.3.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.3.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.3.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.3.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.3.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.3.0/metadata/annotations.yaml
  operators/splunk/2.3.0/tests/scorecard/config.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.3.0/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#2948 operator cass-operator-community (1.16.0)
  operators/cass-operator-community/1.16.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.16.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.16.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.16.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.16.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.16.0/metadata/annotations.yaml
  operators/cass-operator-community/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
