Repository k8s-operatorhub/community-operators, pull requests merged in 2023-07, with the labels that each got.

#2940 operator clickhouse (0.21.2)
  operators/clickhouse/0.21.2/manifests/clickhouse-operator.v0.21.2.clusterserviceversion.yaml
  operators/clickhouse/0.21.2/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.2/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.2/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.21.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2945 operator dell-csm-operator (1.2.0)
  operators/dell-csm-operator/1.2.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.2.0/manifests/dell-csm-operator.v1.2.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.2.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2950 operator gitlab-operator-kubernetes (0.21.1)
  operators/gitlab-operator-kubernetes/0.21.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2946 operator [N] [CI] airflow-helm-operator (0.0.1)
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-create-user-job_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-migrate-database-job_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator.clusterserviceversion.yaml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-launcher-role_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-launcher-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-log-reader-role_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-pod-log-reader-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-postgresql_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_Role.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-redis_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-scc-rolebinding_RoleBinding.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-scheduler_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-statsd_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-triggerer_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-webserver_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-worker_ServiceAccount.yml
  operators/airflow-helm-operator/0.0.1/manifests/workflow.apache.org_airflows.yaml
  operators/airflow-helm-operator/0.0.1/metadata/annotations.yaml
  operators/airflow-helm-operator/0.0.1/tests/scorecard/config.yaml
  operators/airflow-helm-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2958 operator [N] airflow-helm-operator (0.0.1)
  operators/airflow-helm-operator/0.0.1/manifests/airflow-helm-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2959 operator mondoo-operator (1.15.0)
  operators/mondoo-operator/1.15.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.15.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2952 operator [CI] stackgres (1.5.0)
  operators/stackgres/1.5.0/manifests/stackgres-helm-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres/1.5.0/manifests/stackgres-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.5.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.5.0/metadata/annotations.yaml
  operators/stackgres/1.5.0/tests/scorecard/config.yaml
  operators/stackgres/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2917 operator pulp-operator (1.0.0-alpha.7)
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.7/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.7/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2924 operator pulp-operator (1.0.0-alpha.8)
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.8/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.8/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2961 operator rabbitmq-messaging-topology-operator (1.12.0)
  operators/rabbitmq-messaging-topology-operator/1.12.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2963 operator hazelcast-platform-operator (5.8.0)
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.8.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.8.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2964 operator external-secrets-operator (0.8.5)
  operators/external-secrets-operator/0.8.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2965 operator external-secrets-operator (0.9.1)
  operators/external-secrets-operator/0.9.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2967 operator gitlab-operator-kubernetes (0.21.2)
  operators/gitlab-operator-kubernetes/0.21.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.21.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.21.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.21.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2968 operator grafana-operator (5.1.0)
  operators/grafana-operator/5.1.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.1.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.1.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2971 Delete operators/open-liberty
  operators/open-liberty/0.0.1/manifests/open-liberty-0.0.1.clusterserviceversion.yaml
  operators/open-liberty/0.0.1/manifests/openliberties.openliberty.io.crd.yaml
  operators/open-liberty/0.0.1/metadata/annotations.yaml
  operators/open-liberty/0.3.0/manifests/open-liberty-operator.v0.3.0.clusterserviceversion.yaml
  operators/open-liberty/0.3.0/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.3.0/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.3.0/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.3.0/metadata/annotations.yaml
  operators/open-liberty/0.4.0/manifests/open-liberty-operator.v0.4.0.clusterserviceversion.yaml
  operators/open-liberty/0.4.0/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.4.0/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.4.0/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.4.0/metadata/annotations.yaml
  operators/open-liberty/0.5.0/manifests/open-liberty-operator.v0.5.0.clusterserviceversion.yaml
  operators/open-liberty/0.5.0/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.5.0/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.5.0/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.5.0/metadata/annotations.yaml
  operators/open-liberty/0.5.1/manifests/open-liberty-operator.v0.5.1.clusterserviceversion.yaml
  operators/open-liberty/0.5.1/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.5.1/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.5.1/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.5.1/metadata/annotations.yaml
  operators/open-liberty/0.6.0/manifests/open-liberty-operator.v0.6.0.clusterserviceversion.yaml
  operators/open-liberty/0.6.0/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.6.0/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.6.0/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.6.0/metadata/annotations.yaml
  operators/open-liberty/0.7.0/manifests/open-liberty-operator.v0.7.0.clusterserviceversion.yaml
  operators/open-liberty/0.7.0/manifests/openlibertyapplications.openliberty.io.crd.yaml
  operators/open-liberty/0.7.0/manifests/openlibertydumps.openliberty.io.crd.yaml
  operators/open-liberty/0.7.0/manifests/openlibertytraces.openliberty.io.crd.yaml
  operators/open-liberty/0.7.0/metadata/annotations.yaml
  operators/open-liberty/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2974 operator awx-operator (2.4.0)
  operators/awx-operator/2.4.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.4.0/manifests/awx-operator.v2.4.0.clusterserviceversion.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.4.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.4.0/metadata/annotations.yaml
  operators/awx-operator/2.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2975 Delete operators/appsody-operator
  operators/appsody-operator/0.1.0/manifests/appsody-operator.v0.1.0.clusterserviceversion.yaml
  operators/appsody-operator/0.1.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.1.0/metadata/annotations.yaml
  operators/appsody-operator/0.2.0/manifests/appsody-operator.v0.2.0.clusterserviceversion.yaml
  operators/appsody-operator/0.2.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.2.0/metadata/annotations.yaml
  operators/appsody-operator/0.2.1/manifests/appsody-operator.v0.2.1.clusterserviceversion.yaml
  operators/appsody-operator/0.2.1/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.2.1/metadata/annotations.yaml
  operators/appsody-operator/0.2.2/manifests/appsody-operator.v0.2.2.clusterserviceversion.yaml
  operators/appsody-operator/0.2.2/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.2.2/metadata/annotations.yaml
  operators/appsody-operator/0.3.0/manifests/appsody-operator.v0.3.0.clusterserviceversion.yaml
  operators/appsody-operator/0.3.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.3.0/metadata/annotations.yaml
  operators/appsody-operator/0.4.0/manifests/appsody-operator.v0.4.0.clusterserviceversion.yaml
  operators/appsody-operator/0.4.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.4.0/metadata/annotations.yaml
  operators/appsody-operator/0.5.0/manifests/appsody-operator.v0.5.0.clusterserviceversion.yaml
  operators/appsody-operator/0.5.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.5.0/metadata/annotations.yaml
  operators/appsody-operator/0.5.1/manifests/appsody-operator.v0.5.1.clusterserviceversion.yaml
  operators/appsody-operator/0.5.1/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.5.1/metadata/annotations.yaml
  operators/appsody-operator/0.6.0/manifests/appsody-operator.v0.6.0.clusterserviceversion.yaml
  operators/appsody-operator/0.6.0/manifests/appsodyapplications.appsody.dev.crd.yaml
  operators/appsody-operator/0.6.0/metadata/annotations.yaml
  operators/appsody-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2976 operator authorino-operator (0.8.0)
  operators/authorino-operator/0.8.0/bundle.Dockerfile
  operators/authorino-operator/0.8.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.8.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.8.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.8.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.8.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.8.0/metadata/annotations.yaml
  operators/authorino-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2978 operator keycloak-operator (22.0.0)
  operators/keycloak-operator/22.0.0/bundle.Dockerfile
  operators/keycloak-operator/22.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2979 operator project-quay (3.9.0-nightly.20230712)
  operators/project-quay/3.9.0-nightly.20230712/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230712/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230712/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2981 operator [N] kaap (0.1.0)
  operators/kaap/0.1.0/manifests/kaap.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2982 operator grafana-operator (5.2.0)
  operators/grafana-operator/5.2.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.2.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.2.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2984 operator [N] kaap (0.1.0)
  operators/kaap/0.1.0/manifests/kaap.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2937 operator jaeger (1.46.0)
  operators/jaeger/1.46.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.46.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.46.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.46.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.46.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.46.0/metadata/annotations.yaml
  operators/jaeger/1.46.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2987 operator [CI] ack-secretsmanager-controller
  operators/ack-secretsmanager-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2988 operator project-quay (3.8.10)
  operators/project-quay/3.8.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.10/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.10/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2990 operator mariadb-operator (0.16.0)
  operators/mariadb-operator/0.16.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.16.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.16.0/metadata/annotations.yaml
  operators/mariadb-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2991 operator project-quay (3.9.0-nightly.20230714)
  operators/project-quay/3.9.0-nightly.20230714/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230714/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230714/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2992 operator [O] mariadb-operator (0.16.0)
  operators/mariadb-operator/0.16.0/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2993 operator hive-operator (1.2.4184-8917099)
  operators/hive-operator/1.2.4184-8917099/manifests/hive-operator.v1.2.4184-8917099.clusterserviceversion.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4184-8917099/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4184-8917099/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2994 operator project-quay (3.9.0-nightly.20230715)
  operators/project-quay/3.9.0-nightly.20230715/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230715/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230715/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2996 operator project-quay (3.9.0-nightly.20230716)
  operators/project-quay/3.9.0-nightly.20230716/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230716/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230716/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2997 operator mariadb-operator (0.17.0)
  operators/mariadb-operator/0.17.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.17.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.17.0/metadata/annotations.yaml
  operators/mariadb-operator/0.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2999 operator redis-operator (0.15.0)
  operators/redis-operator/0.15.0/manifests/redis-operator.v0.15.0.clusterserviceversion.yaml
  operators/redis-operator/0.15.0/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3001 operator [N] [CI] sap-hana-express-operator (1.0.2)
  operators/sap-hana-express-operator/1.0.2/manifests/db.sap-redhat.io_hanaexpresses.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sap-hana-express-operator/1.0.2/manifests/sap-hana-express-operator.clusterserviceversion.yaml
  operators/sap-hana-express-operator/1.0.2/metadata/annotations.yaml
  operators/sap-hana-express-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3003 operator [CI] parodos-operator (0.0.2)
  operators/parodos-operator/0.0.2/bundle.Dockerfile
  operators/parodos-operator/0.0.2/manifests/charts.redhat.com_parodos.yaml
  operators/parodos-operator/0.0.2/manifests/parodos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/parodos-operator/0.0.2/manifests/parodos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/parodos-operator/0.0.2/manifests/parodos-operator.clusterserviceversion.yaml
  operators/parodos-operator/0.0.2/metadata/annotations.yaml
  operators/parodos-operator/0.0.2/tests/scorecard/config.yaml
  operators/parodos-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3002 operator [CI] flux (2.0.1)
  operators/flux/2.0.1/manifests/alert.crd.yaml
  operators/flux/2.0.1/manifests/bucket.crd.yaml
  operators/flux/2.0.1/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.0.1/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.0.1/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.0.1/manifests/flux.v2.0.1.clusterserviceversion.yaml
  operators/flux/2.0.1/manifests/gitrepository.crd.yaml
  operators/flux/2.0.1/manifests/helmchart.crd.yaml
  operators/flux/2.0.1/manifests/helmrelease.crd.yaml
  operators/flux/2.0.1/manifests/helmrepository.crd.yaml
  operators/flux/2.0.1/manifests/imagepolicy.crd.yaml
  operators/flux/2.0.1/manifests/imagerepository.crd.yaml
  operators/flux/2.0.1/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.0.1/manifests/kustomization.crd.yaml
  operators/flux/2.0.1/manifests/notification-controller.service.yaml
  operators/flux/2.0.1/manifests/ocirepository.crd.yaml
  operators/flux/2.0.1/manifests/provider.crd.yaml
  operators/flux/2.0.1/manifests/receiver.crd.yaml
  operators/flux/2.0.1/manifests/source-controller.service.yaml
  operators/flux/2.0.1/manifests/webhook-receiver.service.yaml
  operators/flux/2.0.1/metadata/annotations.yaml
  operators/flux/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3004 operator keycloak-operator (22.0.1)
  operators/keycloak-operator/22.0.1/bundle.Dockerfile
  operators/keycloak-operator/22.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3005 operator percona-xtradb-cluster-operator (1.13.0)
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/percona-xtradb-cluster-operator.v1.13.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3006 operator [N] [CI] kaoto-operator (0.0.6)
  operators/kaoto-operator/0.0.6/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.6/manifests/kaoto-backend_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kaoto-operator/0.0.6/manifests/kaoto-operator.v0.0.6.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.6/metadata/annotations.yaml
  operators/kaoto-operator/0.0.6/tests/scorecard/config.yaml
  operators/kaoto-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3013 operator project-quay (3.9.0-nightly.20230720)
  operators/project-quay/3.9.0-nightly.20230720/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230720/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230720/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3016 operator project-quay (3.9.0-nightly.20230721)
  operators/project-quay/3.9.0-nightly.20230721/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230721/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230721/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3017 operator mariadb-operator (0.18.0)
  operators/mariadb-operator/0.18.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.18.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.18.0/metadata/annotations.yaml
  operators/mariadb-operator/0.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3021 operator project-quay (3.9.0-nightly.20230722)
  operators/project-quay/3.9.0-nightly.20230722/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230722/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230722/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3022 operator project-quay (3.9.0-nightly.20230723)
  operators/project-quay/3.9.0-nightly.20230723/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230723/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230723/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3024 operator rabbitmq-cluster-operator (2.4.0)
  operators/rabbitmq-cluster-operator/2.4.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.4.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.4.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3025 operator trivy-operator (0.15.0)
  operators/trivy-operator/0.15.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/manifests/trivy-operator.v0.15.0.clusterserviceversion.yaml
  operators/trivy-operator/0.15.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3026 operator gitlab-operator-kubernetes (0.22.0)
  operators/gitlab-operator-kubernetes/0.22.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3027 operator project-quay (3.9.0-nightly.20230724)
  operators/project-quay/3.9.0-nightly.20230724/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230724/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.0-nightly.20230724/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3028 operator camel-k (2.0.0)
  operators/camel-k/2.0.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/camel-k.v2.0.0.clusterserviceversion.yaml
  operators/camel-k/2.0.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.0.0/metadata/annotations.yaml
  operators/camel-k/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3018 operator [CI] sonataflow-operator (1.41.0)
  operators/sonataflow-operator/1.41.0/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.41.0/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.41.0/metadata/annotations.yaml
  operators/sonataflow-operator/1.41.0/tests/scorecard/config.yaml
  operators/sonataflow-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3015 operator kogito-operator (1.41.0)
  operators/kogito-operator/1.41.0/Dockerfile
  operators/kogito-operator/1.41.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.41.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.41.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.41.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.41.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.41.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.41.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.41.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.41.0/metadata/annotations.yaml
  operators/kogito-operator/1.41.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3029 operator strimzi-kafka-operator (0.36.0)
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzi-cluster-operator.v0.36.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.36.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.36.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3032 operator mondoo-operator (1.15.1)
  operators/mondoo-operator/1.15.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.15.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.15.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.15.1/metadata/annotations.yaml
  operators/mondoo-operator/1.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3034 operator grafana-operator (5.3.0)
  operators/grafana-operator/5.3.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.3.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.3.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3035 operator deployment-validation-operator (0.6.0)
  operators/deployment-validation-operator/0.6.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.6.0/manifests/deploymentvalidationoperator.0.6.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.6.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3037 operator dynatrace-operator (0.12.1)
  operators/dynatrace-operator/0.12.1/Dockerfile
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.12.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3038 operator gitlab-operator-kubernetes (0.22.1)
  operators/gitlab-operator-kubernetes/0.22.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.22.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.22.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.22.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3040 operator mariadb-operator (0.19.0)
  operators/mariadb-operator/0.19.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.19.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.19.0/metadata/annotations.yaml
  operators/mariadb-operator/0.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3042 operator infinispan (2.3.3)
  operators/infinispan/2.3.3/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.3/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.3/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.3/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.3/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.3/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.3/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.3/metadata/annotations.yaml
  operators/infinispan/2.3.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3044 operator loki-operator (0.4.0)
  operators/loki-operator/0.4.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.4.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.4.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.4.0/metadata/annotations.yaml
  operators/loki-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3043 operator [CI] ack-cloudwatch-controller
  operators/ack-cloudwatch-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3039 operator elastic-cloud-eck (2.9.0)
  operators/elastic-cloud-eck/2.9.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3046 operator hive-operator (1.2.4196-a84d50c)
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive-operator.v1.2.4196-a84d50c.clusterserviceversion.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4196-a84d50c/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4196-a84d50c/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
