Repository k8s-operatorhub/community-operators, pull requests merged in 2023-05, with the labels that each got.

#2683 operator project-quay (3.9.0-nightly.20230501)
  operators/project-quay/3.9.0-nightly.20230501/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230501/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2685 operator hive-operator (1.2.4099-928bef3)
  operators/hive-operator/1.2.4099-928bef3/hive-operator.v1.2.4099-928bef3.clusterserviceversion.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4099-928bef3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4099-928bef3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4099-928bef3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4099-928bef3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2684 operator rabbitmq-messaging-topology-operator (1.10.3)
  operators/rabbitmq-messaging-topology-operator/1.10.3/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2692 operator mondoo-operator (1.13.0)
  operators/mondoo-operator/1.13.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.13.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2694 Removing opsmx-spinnaker-operator
  operators/opsmx-spinnaker-operator/1.13.1/opsmx-spinnaker-operator.v1.13.1.clusterserviceversion.yaml
  operators/opsmx-spinnaker-operator/1.13.1/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  operators/opsmx-spinnaker-operator/1.17.2/opsmx-spinnaker-operator.v1.17.2.clusterserviceversion.yaml
  operators/opsmx-spinnaker-operator/1.17.2/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  operators/opsmx-spinnaker-operator/1.17.4/opsmx-spinnaker-operator.v1.17.4.clusterserviceversion.yaml
  operators/opsmx-spinnaker-operator/1.17.4/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  operators/opsmx-spinnaker-operator/1.20.3/opsmx-spinnaker-operator.v1.20.3.clusterserviceversion.yaml
  operators/opsmx-spinnaker-operator/1.20.3/opsmxspinnakeroperators.charts.helm.k8s.io.crd.yaml
  operators/opsmx-spinnaker-operator/ci.yaml
  operators/opsmx-spinnaker-operator/opsmx-spinnaker-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2695 operator [CI] self-node-remediation (0.6.0)
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.6.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.6.0/metadata/annotations.yaml
  operators/self-node-remediation/0.6.0/tests/scorecard/config.yaml
  operators/self-node-remediation/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2696 operator victoriametrics-operator (0.33.0)
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.33.0/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.33.0/victoriametrics-operator.0.33.0.clusterserviceversion.yaml
  operators/victoriametrics-operator/victoriametrics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2697 operator seldon-operator (1.16.0)
  operators/seldon-operator/1.16.0/manifests/machinelearning.seldon.io_seldondeployments.yaml
  operators/seldon-operator/1.16.0/manifests/seldon-operator.clusterserviceversion.yaml
  operators/seldon-operator/1.16.0/metadata/annotations.yaml
  operators/seldon-operator/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2699 operator windup-operator (0.0.14)
  operators/windup-operator/0.0.14/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.14/manifests/windup.crd.yaml
  operators/windup-operator/0.0.14/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2700 operator aerospike-kubernetes-operator (2.5.0)
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.5.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.5.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2701 operator mondoo-operator (1.13.1)
  operators/mondoo-operator/1.13.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.13.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2703 operator project-quay (3.9.0-nightly.20230505)
  operators/project-quay/3.9.0-nightly.20230505/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230505/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2711 operator mariadb-operator (0.12.0)
  operators/mariadb-operator/0.12.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.12.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.12.0/metadata/annotations.yaml
  operators/mariadb-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2712 operator project-quay (3.9.0-nightly.20230507)
  operators/project-quay/3.9.0-nightly.20230507/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230507/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2682 operator ibm-block-csi-operator-community (1.11.1)
  operators/ibm-block-csi-operator-community/1.11.1/bundle-1.11.1.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.1/manifests/ibm-block-csi-operator.v1.11.1.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2718 operator node-healthcheck-operator (0.5.0)
  operators/node-healthcheck-operator/0.5.0/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.5.0/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.5.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.5.0/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.5.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.5.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.5.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2715 operator gitlab-operator-kubernetes (0.19.1)
  operators/gitlab-operator-kubernetes/0.19.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2719 operator [CI] aqua (2022.4.12)
  operators/aqua/2022.4.12/bundle.Dockerfile
  operators/aqua/2022.4.12/manifests/aqua-operator.v2022.4.12.clusterserviceversion.yaml
  operators/aqua/2022.4.12/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.12/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.12/metadata/annotations.yaml
  operators/aqua/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2564 operator mongodb-enterprise (1.19.1)
  operators/mongodb-enterprise/1.19.1/bundle.Dockerfile
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.19.1/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.19.1/metadata/annotations.yaml
  operators/mongodb-enterprise/1.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2722 operator hive-operator (1.2.4105-7735bf3)
  operators/hive-operator/1.2.4105-7735bf3/hive-operator.v1.2.4105-7735bf3.clusterserviceversion.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4105-7735bf3/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4105-7735bf3/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4105-7735bf3/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4105-7735bf3/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2721 operator [CI] hyperfoil-bundle (0.24.2)
  operators/hyperfoil-bundle/0.24.2/hyperfoil-operator.v0.24.2.clusterserviceversion.yaml
  operators/hyperfoil-bundle/0.24.2/hyperfoil.io_hyperfoils_crd.yaml
  operators/hyperfoil-bundle/ci.yaml
  operators/hyperfoil-bundle/hyperfoil-bundle.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2724 operator awx-operator (2.1.0)
  operators/awx-operator/2.1.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.1.0/manifests/awx-operator.v2.1.0.clusterserviceversion.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.1.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.1.0/metadata/annotations.yaml
  operators/awx-operator/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2728 operator project-quay (3.9.0-nightly.20230510)
  operators/project-quay/3.9.0-nightly.20230510/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230510/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2486 operator clever-operator (0.5.5)
  operators/clever-operator/0.5.5/bundle.Dockerfile
  operators/clever-operator/0.5.5/manifests/clever-operator-config-provider.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-elasticsearch.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-mongodb.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-mysql.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-postgresql.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-pulsar.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator-redis.crd.yaml
  operators/clever-operator/0.5.5/manifests/clever-operator.clusterserviceversion.yaml
  operators/clever-operator/0.5.5/metadata/annotations.yaml
  operators/clever-operator/0.5.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2702 [ISV-3572] update GitHub reviewers/assignees.
  operators/OWNERS
Labels: dco-failed

#2734 operator mariadb-operator (0.13.0)
  operators/mariadb-operator/0.13.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.13.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.13.0/metadata/annotations.yaml
  operators/mariadb-operator/0.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2735 operator project-quay (3.9.0-nightly.20230511)
  operators/project-quay/3.9.0-nightly.20230511/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230511/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2737 operator windup-operator (0.0.15)
  operators/windup-operator/0.0.15/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.15/manifests/windup.crd.yaml
  operators/windup-operator/0.0.15/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2736 operator clickhouse (0.19.0)
  operators/clickhouse/0.19.0/clickhouse-operator.v0.19.0.clusterserviceversion.yaml
  operators/clickhouse/0.19.0/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.0/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.0/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2745 operator project-quay (3.9.0-nightly.20230513)
  operators/project-quay/3.9.0-nightly.20230513/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230513/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2746 operator project-quay (3.9.0-nightly.20230514)
  operators/project-quay/3.9.0-nightly.20230514/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230514/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2731 operator [CI] keda (2.10.1)
  operators/keda/2.10.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.10.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.10.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.10.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.10.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.10.1/manifests/keda.v2.10.1.clusterserviceversion.yaml
  operators/keda/2.10.1/metadata/annotations.yaml
  operators/keda/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2750 operator project-quay (3.9.0-nightly.20230515)
  operators/project-quay/3.9.0-nightly.20230515/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230515/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2742 operator clickhouse (0.19.1)
  operators/clickhouse/0.19.1/clickhouse-operator.v0.19.1.clusterserviceversion.yaml
  operators/clickhouse/0.19.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2698 operator [O] seldon-operator (1.16.0)
  operators/seldon-operator/1.16.0/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2749 operator [N] [CI] ndb-operator (1.0.2)
  operators/ndb-operator/1.0.2/bundle.Dockerfile
  operators/ndb-operator/1.0.2/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.0.2/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.0.2/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.0.2/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.0.2/metadata/annotations.yaml
  operators/ndb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2751 operator kogito-operator (1.37.0)
  operators/kogito-operator/1.37.0/Dockerfile
  operators/kogito-operator/1.37.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.37.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.37.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.37.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.37.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.37.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.37.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.37.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.37.0/metadata/annotations.yaml
  operators/kogito-operator/1.37.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2752 operator kiali (1.68.0)
  operators/kiali/1.68.0/bundle.Dockerfile
  operators/kiali/1.68.0/manifests/kiali.crd.yaml
  operators/kiali/1.68.0/manifests/kiali.v1.68.0.clusterserviceversion.yaml
  operators/kiali/1.68.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2755 operator knative-operator (1.10.1)
  operators/knative-operator/1.10.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.10.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.10.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.10.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.10.1/manifests/knative-operator.v1.10.1.clusterserviceversion.yaml
  operators/knative-operator/1.10.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.10.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.10.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.10.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.10.1/metadata/annotations.yaml
  operators/knative-operator/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2757 operator strimzi-kafka-operator (0.35.0)
  operators/strimzi-kafka-operator/0.35.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzi-cluster-operator.v0.35.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.35.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.35.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2760 operator clickhouse (0.19.2)
  operators/clickhouse/0.19.2/clickhouse-operator.v0.19.2.clusterserviceversion.yaml
  operators/clickhouse/0.19.2/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.2/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.2/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2754 operator authorino-operator (0.7.0)
  operators/authorino-operator/0.7.0/bundle.Dockerfile
  operators/authorino-operator/0.7.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.7.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.7.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.7.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.7.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.7.0/metadata/annotations.yaml
  operators/authorino-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2761 operator jaeger (1.45.0)
  operators/jaeger/1.45.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.45.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.45.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.45.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.45.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.45.0/metadata/annotations.yaml
  operators/jaeger/1.45.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2765 operator mariadb-operator (0.14.0)
  operators/mariadb-operator/0.14.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.14.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.14.0/metadata/annotations.yaml
  operators/mariadb-operator/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2774 operator project-quay (3.8.7)
  operators/project-quay/3.8.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.7/quayecosystems.crd.yaml
  operators/project-quay/3.8.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2775 operator kogito-operator (1.38.0)
  operators/kogito-operator/1.38.0/Dockerfile
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.38.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.38.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.38.0/metadata/annotations.yaml
  operators/kogito-operator/1.38.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2756 operator limitador-operator (0.5.0)
  operators/limitador-operator/0.5.0/bundle.Dockerfile
  operators/limitador-operator/0.5.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.5.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.5.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.5.0/metadata/annotations.yaml
  operators/limitador-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2778 operator awx-operator (2.2.1)
  operators/awx-operator/2.2.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.2.1/manifests/awx-operator.v2.2.1.clusterserviceversion.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.2.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.2.1/metadata/annotations.yaml
  operators/awx-operator/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2780 operator dynatrace-operator (0.11.2)
  operators/dynatrace-operator/0.11.2/Dockerfile
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.11.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.11.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2782 operator verticadb-operator (1.11.0)
  operators/verticadb-operator/1.11.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/1.11.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.11.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.11.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.11.0/metadata/annotations.yaml
  operators/verticadb-operator/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2769 operator clickhouse (0.19.3)
  operators/clickhouse/0.19.3/clickhouse-operator.v0.19.3.clusterserviceversion.yaml
  operators/clickhouse/0.19.3/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.3/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.19.3/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2771 operator gitlab-operator-kubernetes (0.19.2)
  operators/gitlab-operator-kubernetes/0.19.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2785 operator flink-kubernetes-operator (1.5.0)
  operators/flink-kubernetes-operator/1.5.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.5.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2787 operator [CI] mondoo-operator
  operators/mondoo-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2789 operator external-secrets-operator (0.8.2)
  operators/external-secrets-operator/0.8.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2793 operator mariadb-operator (0.15.0)
  operators/mariadb-operator/0.15.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.15.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.15.0/metadata/annotations.yaml
  operators/mariadb-operator/0.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2792 operator hive-operator (1.2.4132-6dfd1cf)
  operators/hive-operator/1.2.4132-6dfd1cf/hive-operator.v1.2.4132-6dfd1cf.clusterserviceversion.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4132-6dfd1cf/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2794 operator gitlab-runner-operator (1.15.0)
  operators/gitlab-runner-operator/1.15.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.15.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.15.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2799 operator [R] project-quay (3.9.0-nightly.20230524)
  operators/project-quay/3.8.7/quayecosystems.crd.yaml
  operators/project-quay/3.9.0-nightly.20230524/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230524/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2800 operator clickhouse (0.20.1)
  operators/clickhouse/0.20.1/clickhouse-operator.v0.20.1.clusterserviceversion.yaml
  operators/clickhouse/0.20.1/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.1/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.1/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2801 operator mondoo-operator (1.13.3)
  operators/mondoo-operator/1.13.3/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.13.3/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.13.3/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2803 operator cryostat-operator (2.3.0)
  operators/cryostat-operator/2.3.0/Dockerfile
  operators/cryostat-operator/2.3.0/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.0/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.0/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.3.0/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.0/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.3.0/manifests/operator.cryostat.io_clustercryostats.yaml
  operators/cryostat-operator/2.3.0/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.3.0/metadata/annotations.yaml
  operators/cryostat-operator/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2806 operator project-quay (3.9.0-nightly.20230525)
  operators/project-quay/3.9.0-nightly.20230525/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230525/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2798 operator [CI] deployment-validation-operator (0.5.0)
  operators/deployment-validation-operator/0.5.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.5.0/manifests/deploymentvalidationoperator.0.5.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.5.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.5.0/tests/scorecard/config.yaml
  operators/deployment-validation-operator/ci.yaml
Labels: package-validated, installation-validated, do-not-merge/hold

#2810 operator klusterlet (0.11.0)
  operators/klusterlet/0.11.0/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.11.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2813 operator external-secrets-operator (0.8.3)
  operators/external-secrets-operator/0.8.3/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.8.3/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.8.3/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.8.3/metadata/annotations.yaml
  operators/external-secrets-operator/0.8.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2814 operator project-quay (3.9.0-nightly.20230526)
  operators/project-quay/3.9.0-nightly.20230526/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230526/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2818 operator project-quay (3.8.7)
  operators/project-quay/3.8.7/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.7/quayecosystems.crd.yaml
  operators/project-quay/3.8.7/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2819 operator project-quay (3.9.0-nightly.20230527)
  operators/project-quay/3.9.0-nightly.20230527/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230527/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2820 operator project-quay (3.9.0-nightly.20230528)
  operators/project-quay/3.9.0-nightly.20230528/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230528/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2823 operator mariadb-operator (0.15.1)
  operators/mariadb-operator/0.15.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.15.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.15.1/metadata/annotations.yaml
  operators/mariadb-operator/0.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2822 operator project-quay (3.8.8)
  operators/project-quay/3.8.8/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.8/quayecosystems.crd.yaml
  operators/project-quay/3.8.8/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2826 operator project-quay (3.9.0-nightly.20230529)
  operators/project-quay/3.9.0-nightly.20230529/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230529/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2804 operator gitlab-operator-kubernetes (0.19.3)
  operators/gitlab-operator-kubernetes/0.19.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2817 operator clickhouse (0.20.2)
  operators/clickhouse/0.20.2/clickhouse-operator.v0.20.2.clusterserviceversion.yaml
  operators/clickhouse/0.20.2/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.2/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.2/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2824 operator gitlab-operator-kubernetes (0.19.4)
  operators/gitlab-operator-kubernetes/0.19.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.19.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.19.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.19.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2828 operator grafana-operator (4.10.1)
  operators/grafana-operator/4.10.1/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.10.1/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.10.1/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.10.1/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.10.1/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.10.1/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.10.1/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.10.1/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.10.1/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2827 operator project-quay (3.9.0-nightly.20230530)
  operators/project-quay/3.9.0-nightly.20230530/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230530/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2832 operator hive-operator (1.2.4139-ab57166)
  operators/hive-operator/1.2.4139-ab57166/hive-operator.v1.2.4139-ab57166.clusterserviceversion.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4139-ab57166/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4139-ab57166/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2833 operator project-quay (3.9.0-nightly.20230531)
  operators/project-quay/3.9.0-nightly.20230531/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230531/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2829 operator elastic-cloud-eck (2.8.0)
  operators/elastic-cloud-eck/2.8.0/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/elastic-cloud-eck.v2.8.0.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.8.0/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.8.0/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2830 operator clickhouse (0.20.3)
  operators/clickhouse/0.20.3/clickhouse-operator.v0.20.3.clusterserviceversion.yaml
  operators/clickhouse/0.20.3/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.3/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.20.3/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/clickhouse.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2835 operator mondoo-operator (1.14.0)
  operators/mondoo-operator/1.14.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.14.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.14.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2762 operator kuadrant-operator (0.3.0)
  operators/kuadrant-operator/0.3.0/bundle.Dockerfile
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.3.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.3.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.3.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
