Repository k8s-operatorhub/community-operators, pull requests merged in 2023-01, with the labels that each got.

#2115 operator trivy-operator (0.10.0)
  operators/trivy-operator/0.10.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.0/trivy-operator.v0.10.0.clusterserviceversion.yaml
  operators/trivy-operator/0.10.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2116 operator trivy-operator (0.10.1)
  operators/trivy-operator/0.10.1/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.10.1/trivy-operator.v0.10.1.clusterserviceversion.yaml
  operators/trivy-operator/0.10.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2117 operator pulp-operator (1.0.0-alpha.5)
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/pulp-operator.1.0.0-alpha.5.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-alpha.5/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-alpha.5/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-alpha.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2122 operator temporal-operator (0.9.1)
  operators/temporal-operator/0.9.1/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.9.1/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.9.1/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.9.1/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.9.1/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.9.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2123 operator cluster-aas-operator (0.0.4)
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.0.4/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.0.4/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.0.4/metadata/annotations.yaml
  operators/cluster-aas-operator/0.0.4/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2124 operator splunk (2.1.1)
  operators/splunk/2.1.1/bundle.Dockerfile
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.1.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.1.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.1.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.1.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.1.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.1.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.1.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.1.1/metadata/annotations.yaml
  operators/splunk/2.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2125 operator external-secrets-operator (0.7.1)
  operators/external-secrets-operator/0.7.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2128 operator eginnovations-operator (0.0.4)
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.4/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.4/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2129 operator [O] nfs-provisioner-operator (0.0.7)
  operators/nfs-provisioner-operator/0.0.7/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2119 operator [CI] ack-kafka-controller
  operators/ack-kafka-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2118 operator [CI] ack-eventbridge-controller
  operators/ack-eventbridge-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2126 operator percona-server-mongodb-operator (1.13.0)
  operators/percona-server-mongodb-operator/1.13.0/manifests/percona-server-mongodb-operator.v1.13.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated

#2130 operator rabbitmq-cluster-operator (2.1.0)
  operators/rabbitmq-cluster-operator/2.1.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.1.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.1.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2127 operator jaeger (1.41.0)
  operators/jaeger/1.41.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.41.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.41.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.41.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.41.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.41.0/metadata/annotations.yaml
  operators/jaeger/1.41.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2132 operator opentelemetry-operator (0.67.0)
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.67.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.67.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.67.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2133 operator temporal-operator (0.10.0)
  operators/temporal-operator/0.10.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.10.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.10.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.10.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.10.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.10.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2134 operator [N] minio-operator (4.5.6)
  operators/minio-operator/4.5.6/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.6/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.6/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.6/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.5.6/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.6/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.5.6/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.6/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.6/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2136 operator flink-kubernetes-operator (1.3.1)
  operators/flink-kubernetes-operator/1.3.1/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.3.1/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.3.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2138 operator awx-operator (1.1.3)
  operators/awx-operator/1.1.3/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.3/manifests/awx-operator.v1.1.3.clusterserviceversion.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.3/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.3/metadata/annotations.yaml
  operators/awx-operator/1.1.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2143 operator self-node-remediation (0.5.0)
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.5.0/metadata/annotations.yaml
  operators/self-node-remediation/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2142 operator percona-server-mongodb-operator (1.13.1)
  operators/percona-server-mongodb-operator/1.13.1/manifests/percona-server-mongodb-operator.v1.13.1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.13.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2090 operator [N] [CI] loki-operator (0.1.0)
  operators/loki-operator/0.1.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.1.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.1.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.1.0/metadata/annotations.yaml
  operators/loki-operator/0.1.0/tests/scorecard/config.yaml
  operators/loki-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2145 operator kubero-operator (0.0.84)
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.84/metadata/annotations.yaml
  operators/kubero-operator/0.0.84/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2147 operator hazelcast-platform-operator (5.6.0)
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.6.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.6.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2148 operator cert-manager (1.10.2-rc1)
  operators/cert-manager/1.10.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.10.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.10.2-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2149 operator dynatrace-operator (0.10.2)
  operators/dynatrace-operator/0.10.2/Dockerfile
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.10.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.10.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2150 operator verticadb-operator (1.9.0)
  operators/verticadb-operator/1.9.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.9.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.9.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.9.0/metadata/annotations.yaml
  operators/verticadb-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2151 operator datadog-operator (0.8.4)
  operators/datadog-operator/0.8.4/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/0.8.4/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/0.8.4/metadata/annotations.yaml
  operators/datadog-operator/0.8.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2152 operator gitlab-operator-kubernetes (0.15.3)
  operators/gitlab-operator-kubernetes/0.15.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2153 operator gitlab-operator-kubernetes (0.15.2)
  operators/gitlab-operator-kubernetes/0.15.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2154 operator gitlab-operator-kubernetes (0.15.1)
  operators/gitlab-operator-kubernetes/0.15.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2156 operator cert-manager (1.10.2)
  operators/cert-manager/1.10.2/bundle.Dockerfile
  operators/cert-manager/1.10.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.10.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.10.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.10.2/metadata/annotations.yaml
  operators/cert-manager/1.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2157 operator service-binding-operator (1.3.3)
  operators/service-binding-operator/1.3.3/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.3.3/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.3.3/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.3.3/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.3.3/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.3.3/metadata/annotations.yaml
  operators/service-binding-operator/1.3.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2146 operator elastic-cloud-eck (2.6.1)
  operators/elastic-cloud-eck/2.6.1/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/elastic-cloud-eck.v2.6.1.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.6.1/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.1/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2158 operator [N] minio-operator (4.5.7)
  operators/minio-operator/4.5.6/manifests/dup0_console_v1_service.yaml
  operators/minio-operator/4.5.6/manifests/dup1_console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.6/manifests/dup2_console-env_v1_configmap.yaml
  operators/minio-operator/4.5.7/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.7/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.7/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.7/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.7/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.7/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2160 operator [CI] aerospike-kubernetes-operator (2.4.0)
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator-default-ns_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/2.4.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/2.4.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/2.4.0/tests/scorecard/config.yaml
  operators/aerospike-kubernetes-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2159 operator [R] elastic-cloud-eck (2.6.2)
  operators/elastic-cloud-eck/2.6.2/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/elastic-cloud-eck.v2.6.2.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.6.2/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.6.2/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/elastic-cloud-eck.package.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#2161 operator ndmspc-operator (0.1.0)
  operators/ndmspc-operator/0.1.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2162 operator ndmspc-operator (0.1.1)
  operators/ndmspc-operator/0.1.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2163 operator ndmspc-operator (0.1.2)
  operators/ndmspc-operator/0.1.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2164 operator external-secrets-operator (0.7.2)
  operators/external-secrets-operator/0.7.2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.7.2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.7.2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.7.2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.7.2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.7.2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.7.2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.7.2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.7.2/metadata/annotations.yaml
  operators/external-secrets-operator/0.7.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2166 operator ndmspc-operator (0.1.3)
  operators/ndmspc-operator/0.1.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2165 operator hive-operator (1.2.3989-f7faeb1)
  operators/hive-operator/1.2.3989-f7faeb1/hive-operator.v1.2.3989-f7faeb1.clusterserviceversion.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3989-f7faeb1/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2167 operator [N] ndmspc-operator (0.1.3)
  operators/ndmspc-operator/0.0.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.0.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.0.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.0.1/tests/scorecard/config.yaml
  operators/ndmspc-operator/0.1.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.0/tests/scorecard/config.yaml
  operators/ndmspc-operator/0.1.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.1/tests/scorecard/config.yaml
  operators/ndmspc-operator/0.1.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2168 operator keycloak-operator (20.0.3)
  operators/keycloak-operator/20.0.3/bundle.Dockerfile
  operators/keycloak-operator/20.0.3/manifests/keycloak-operator.v20.0.3.clusterserviceversion.yaml
  operators/keycloak-operator/20.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.3/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/20.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2169 operator cert-manager (1.11.0-rc1)
  operators/cert-manager/1.11.0-rc1/bundle.Dockerfile
  operators/cert-manager/1.11.0-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.11.0-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.11.0-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.11.0-rc1/metadata/annotations.yaml
  operators/cert-manager/1.11.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2170 operator kuadrant-operator (0.2.1)
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.2.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.2.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.2.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2172 operator function-mesh (0.10.0)
  operators/function-mesh/0.10.0/bundle.Dockerfile
  operators/function-mesh/0.10.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.10.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.10.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.10.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.10.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.10.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/function-mesh/0.10.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.10.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.10.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.10.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.10.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.10.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.10.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.10.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.10.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.10.0/metadata/annotations.yaml
  operators/function-mesh/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2171 operator kubernetes-imagepuller-operator (1.0.4)
  operators/kubernetes-imagepuller-operator/1.0.4/che.eclipse.org_kubernetesimagepullers_crd.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/controller-manager-metrics-service_v1_service.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/kubernetes-imagepuller-operator.v1.0.4.clusterserviceversion.yaml
  operators/kubernetes-imagepuller-operator/1.0.4/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubernetes-imagepuller-operator/kubernetes-imagepuller-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2173 operator [N] ndmspc-operator (0.1.4)
  operators/ndmspc-operator/0.1.4/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.1.4/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.1.4/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.1.4/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.1.4/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.1.4/metadata/annotations.yaml
  operators/ndmspc-operator/0.1.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2141 operator yaks (0.12.2)
  operators/yaks/0.12.2/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.12.2/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.12.2/yaks.v0.12.2.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2131 operator [CI] instana-agent-operator (2.0.8)
  operators/instana-agent-operator/2.0.8/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.8/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.8/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.8/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.8/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.8/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.8/manifests/webhook-service_v1_service.yaml
  operators/instana-agent-operator/2.0.8/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.8/metadata/dependencies.yaml
  operators/instana-agent-operator/2.0.8/tests/scorecard/config.yaml
  operators/instana-agent-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2174 operator [N] minio-operator (4.5.8)
  operators/minio-operator/4.5.8/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/4.5.8/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/4.5.8/manifests/console_v1_service.yaml
  operators/minio-operator/4.5.8/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/4.5.8/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/4.5.8/manifests/operator_v1_service.yaml
  operators/minio-operator/4.5.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2175 operator aqua (2022.4.8)
  operators/aqua/2022.4.8/bundle.Dockerfile
  operators/aqua/2022.4.8/manifests/aqua-operator.v2022.4.8.clusterserviceversion.yaml
  operators/aqua/2022.4.8/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.8/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.8/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.8/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2176 operator aqua (6.5.9)
  operators/aqua/6.5.9/bundle.Dockerfile
  operators/aqua/6.5.9/manifests/aqua-operator.v6.5.9.clusterserviceversion.yaml
  operators/aqua/6.5.9/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/6.5.9/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/6.5.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2179 operator gitlab-operator-kubernetes (0.11.4)
  operators/gitlab-operator-kubernetes/0.11.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.11.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.11.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.11.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2180 operator ndmspc-operator (0.2.0)
  operators/ndmspc-operator/0.2.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2177 operator gitlab-operator-kubernetes (0.15.5)
  operators/gitlab-operator-kubernetes/0.15.5/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.15.5/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.15.5/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.15.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2181 operator [CI] ack-acm-controller
  operators/ack-acm-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2183 operator ndmspc-operator (0.2.1)
  operators/ndmspc-operator/0.2.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2184 operator kubero-operator (0.0.96)
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.96/metadata/annotations.yaml
  operators/kubero-operator/0.0.96/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2155 operator ublhub-operator (2.0.0-beta.4)
  operators/ublhub-operator/2.0.0-beta.4/bundle.Dockerfile
  operators/ublhub-operator/2.0.0-beta.4/manifests/ublhub-operator.clusterserviceversion.yaml
  operators/ublhub-operator/2.0.0-beta.4/manifests/ublhubs.ublhub.openubl.io-v1.crd.yml
  operators/ublhub-operator/2.0.0-beta.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2185 operator kubero-operator (0.0.97)
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.97/metadata/annotations.yaml
  operators/kubero-operator/0.0.97/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2182 operator mongodb-atlas-kubernetes (1.6.0)
  operators/mongodb-atlas-kubernetes/1.6.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2190 operator ndmspc-operator (0.2.2)
  operators/ndmspc-operator/0.2.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2189 operator hive-operator (1.2.3996-500a742)
  operators/hive-operator/1.2.3996-500a742/hive-operator.v1.2.3996-500a742.clusterserviceversion.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.3996-500a742/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.3996-500a742/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2191 operator kubero-operator (0.0.99)
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.99/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.99/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.99/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.99/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.99/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.99/metadata/annotations.yaml
  operators/kubero-operator/0.0.99/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2192 operator ibm-block-csi-operator-community (1.11.0)
  operators/ibm-block-csi-operator-community/1.11.0/bundle-1.11.0.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.0/manifests/ibm-block-csi-operator.v1.11.0.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2114 operator project-quay (3.8.1)
  operators/project-quay/3.8.1/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.1/quayecosystems.crd.yaml
  operators/project-quay/3.8.1/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2193 operator mondoo-operator (1.11.0)
  operators/mondoo-operator/1.11.0/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.11.0/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.11.0/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2194 operator [CI] portworx (1.10.2)
  operators/portworx/1.10.2/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.2/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.2/portworxoperator.clusterserviceversion.yaml
  operators/portworx/ci.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2197 operator strimzi-kafka-operator (0.33.0)
  operators/strimzi-kafka-operator/0.33.0/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzi-cluster-operator.v0.33.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.0/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.0/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2198 operator awx-operator (1.1.4)
  operators/awx-operator/1.1.4/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.1.4/manifests/awx-operator.v1.1.4.clusterserviceversion.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.1.4/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.1.4/metadata/annotations.yaml
  operators/awx-operator/1.1.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2204 operator ndmspc-operator (0.2.3)
  operators/ndmspc-operator/0.2.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2206 operator flux (0.38.3)
  operators/flux/0.38.3/manifests/alert.crd.yaml
  operators/flux/0.38.3/manifests/bucket.crd.yaml
  operators/flux/0.38.3/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.38.3/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.38.3/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.38.3/manifests/flux.v0.38.3.clusterserviceversion.yaml
  operators/flux/0.38.3/manifests/gitrepository.crd.yaml
  operators/flux/0.38.3/manifests/helmchart.crd.yaml
  operators/flux/0.38.3/manifests/helmrelease.crd.yaml
  operators/flux/0.38.3/manifests/helmrepository.crd.yaml
  operators/flux/0.38.3/manifests/imagepolicy.crd.yaml
  operators/flux/0.38.3/manifests/imagerepository.crd.yaml
  operators/flux/0.38.3/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.38.3/manifests/kustomization.crd.yaml
  operators/flux/0.38.3/manifests/notification-controller.service.yaml
  operators/flux/0.38.3/manifests/ocirepository.crd.yaml
  operators/flux/0.38.3/manifests/provider.crd.yaml
  operators/flux/0.38.3/manifests/receiver.crd.yaml
  operators/flux/0.38.3/manifests/source-controller.service.yaml
  operators/flux/0.38.3/manifests/webhook-receiver.service.yaml
  operators/flux/0.38.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2207 operator gitlab-operator-kubernetes (0.16.0)
  operators/gitlab-operator-kubernetes/0.16.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2205 operator mongodb-atlas-kubernetes (1.6.1)
  operators/mongodb-atlas-kubernetes/1.6.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2211 operator portworx (1.10.3)
  operators/portworx/1.10.3/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.3/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.3/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2210 operator [N] [CI] mariadb-operator (0.6.4)
  operators/mariadb-operator/0.6.4/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.4/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.4/metadata/annotations.yaml
  operators/mariadb-operator/0.6.4/tests/scorecard/config.yaml
  operators/mariadb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2188 operator jaeger (1.41.1)
  operators/jaeger/1.41.1/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.41.1/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.41.1/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.41.1/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.41.1/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.41.1/metadata/annotations.yaml
  operators/jaeger/1.41.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2212 operator camel-k (1.11.1)
  operators/camel-k/1.11.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/camel-k.v1.11.1.clusterserviceversion.yaml
  operators/camel-k/1.11.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.11.1/metadata/annotations.yaml
  operators/camel-k/1.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2213 operator hive-operator (1.2.4002-a78647b)
  operators/hive-operator/1.2.4002-a78647b/hive-operator.v1.2.4002-a78647b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4002-a78647b/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4002-a78647b/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2216 operator knative-operator (1.9.0)
  operators/knative-operator/1.9.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.9.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.9.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.9.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.9.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.9.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.9.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.9.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.9.0/manifests/knative-operator.v1.9.0.clusterserviceversion.yaml
  operators/knative-operator/1.9.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.9.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.9.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.9.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.9.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.9.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.9.0/metadata/annotations.yaml
  operators/knative-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2219 operator [O] self-node-remediation (0.5.0)
  operators/self-node-remediation/0.5.0/manifests/self-node-remediation.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2220 operator gitlab-operator-kubernetes (0.16.1)
  operators/gitlab-operator-kubernetes/0.16.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2222 operator temporal-operator (0.11.0)
  operators/temporal-operator/0.11.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.11.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.11.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.11.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.11.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.11.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
