Repository k8s-operatorhub/community-operators, pull requests merged in 2023-02, with the labels that each got.

#2218 operator cass-operator-community (1.14.0)
  operators/cass-operator-community/1.14.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.14.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.14.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.14.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.14.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.14.0/metadata/annotations.yaml
  operators/cass-operator-community/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2208 operator splunk (2.2.0)
  operators/splunk/2.2.0/bundle.Dockerfile
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.2.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.2.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.2.0/metadata/annotations.yaml
  operators/splunk/2.2.0/tests/scorecard/config.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.2.0/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#2225 operator [CI] seldon-operator
  operators/seldon-operator/ci.yaml
Labels: authorized-changes, installation-validated

#2195 operator project-quay (3.9.0-nightly.20230202)
  operators/project-quay/3.9.0-nightly.20230202/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230202/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2221 operator opentelemetry-operator (0.68.0)
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.68.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.68.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.68.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2239 operator routernetes-operator (0.0.9)
  operators/routernetes-operator/0.0.9/manifests/routernetes-operator-controller-manager-metrics-service_v1_service.yaml
  operators/routernetes-operator/0.0.9/manifests/routernetes-operator-manager-config_v1_configmap.yaml
  operators/routernetes-operator/0.0.9/manifests/routernetes-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/routernetes-operator/0.0.9/manifests/routernetes-operator.clusterserviceversion.yaml
  operators/routernetes-operator/0.0.9/manifests/routernetes.net_routers.yaml
  operators/routernetes-operator/0.0.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2240 operator project-quay (3.9.0-nightly.20230203)
  operators/project-quay/3.9.0-nightly.20230203/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230203/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2229 operator tackle-operator (2.1.3)
  operators/tackle-operator/2.1.3/manifests/tackle-operator.clusterserviceversion.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_addons.yaml
  operators/tackle-operator/2.1.3/manifests/tackle.konveyor.io_tackles.yaml
  operators/tackle-operator/2.1.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2241 operator yaks (0.13.0)
  operators/yaks/0.13.0/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.13.0/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.13.0/yaks.v0.13.0.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2255 operator project-quay (3.9.0-nightly.20230204)
  operators/project-quay/3.9.0-nightly.20230204/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230204/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2256 operator project-quay (3.9.0-nightly.20230205)
  operators/project-quay/3.9.0-nightly.20230205/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230205/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2260 operator mariadb-operator (0.6.5)
  operators/mariadb-operator/0.6.5/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.5/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.5/metadata/annotations.yaml
  operators/mariadb-operator/0.6.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2261 operator trivy-operator (0.11.0)
  operators/trivy-operator/0.11.0/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.0/trivy-operator.v0.11.0.clusterserviceversion.yaml
  operators/trivy-operator/0.11.0/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2262 operator project-quay (3.9.0-nightly.20230206)
  operators/project-quay/3.9.0-nightly.20230206/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230206/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2264 operator mariadb-operator (0.6.6)
  operators/mariadb-operator/0.6.6/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.6/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.6/metadata/annotations.yaml
  operators/mariadb-operator/0.6.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2263 operator hive-operator (1.2.4013-2f697a4)
  operators/hive-operator/1.2.4013-2f697a4/hive-operator.v1.2.4013-2f697a4.clusterserviceversion.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4013-2f697a4/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4013-2f697a4/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2266 operator flux (0.39.0)
  operators/flux/0.39.0/manifests/alert.crd.yaml
  operators/flux/0.39.0/manifests/bucket.crd.yaml
  operators/flux/0.39.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.39.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.39.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.39.0/manifests/flux.v0.39.0.clusterserviceversion.yaml
  operators/flux/0.39.0/manifests/gitrepository.crd.yaml
  operators/flux/0.39.0/manifests/helmchart.crd.yaml
  operators/flux/0.39.0/manifests/helmrelease.crd.yaml
  operators/flux/0.39.0/manifests/helmrepository.crd.yaml
  operators/flux/0.39.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.39.0/manifests/imagerepository.crd.yaml
  operators/flux/0.39.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.39.0/manifests/kustomization.crd.yaml
  operators/flux/0.39.0/manifests/notification-controller.service.yaml
  operators/flux/0.39.0/manifests/ocirepository.crd.yaml
  operators/flux/0.39.0/manifests/provider.crd.yaml
  operators/flux/0.39.0/manifests/receiver.crd.yaml
  operators/flux/0.39.0/manifests/source-controller.service.yaml
  operators/flux/0.39.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.39.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2267 operator project-quay (3.9.0-nightly.20230207)
  operators/project-quay/3.9.0-nightly.20230207/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230207/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2268 operator ovms-operator (1.1.0)
  operators/ovms-operator/1.1.0/Dockerfile
  operators/ovms-operator/1.1.0/manifests/intel.com_model_servers.yaml
  operators/ovms-operator/1.1.0/manifests/openvino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator/1.1.0/manifests/openvino-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator/1.1.0/manifests/openvino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator/1.1.0/manifests/openvino-operator.clusterserviceversion.yaml
  operators/ovms-operator/1.1.0/metadata/annotations.yaml
  operators/ovms-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2269 Remove Synapse Helm Operator
  operators/synapse-helm/0.0.1/bundle.Dockerfile
  operators/synapse-helm/0.0.1/manifests/opdev.io_synapses_crd.yaml
  operators/synapse-helm/0.0.1/manifests/synapse-helm.v0.0.1.clusterserviceversion.yaml
  operators/synapse-helm/0.0.1/metadata/annotations.yaml
  operators/synapse-helm/0.0.1/tests/scorecard/config.yaml
  operators/synapse-helm/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2270 operator synapse-operator (0.4.0)
  operators/synapse-operator/0.4.0/Dockerfile
  operators/synapse-operator/0.4.0/manifests/synapse-operator-controller-manager-metrics-service_v1_service.yaml
  operators/synapse-operator/0.4.0/manifests/synapse-operator-manager-config_v1_configmap.yaml
  operators/synapse-operator/0.4.0/manifests/synapse-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/synapse-operator/0.4.0/manifests/synapse-operator.clusterserviceversion.yaml
  operators/synapse-operator/0.4.0/manifests/synapse.opdev.io_heisenbridges.yaml
  operators/synapse-operator/0.4.0/manifests/synapse.opdev.io_mautrixsignals.yaml
  operators/synapse-operator/0.4.0/manifests/synapse.opdev.io_synapses.yaml
  operators/synapse-operator/0.4.0/metadata/annotations.yaml
  operators/synapse-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2272 operator strimzi-kafka-operator (0.33.1)
  operators/strimzi-kafka-operator/0.33.1/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzi-cluster-operator.v0.33.1.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.1/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.1/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2273 operator project-quay (3.9.0-nightly.20230208)
  operators/project-quay/3.9.0-nightly.20230208/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230208/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2271 operator [N] github-arc-operator (1.0.1)
  operators/github-arc-operator/1.0.1/bundle.Dockerfile
  operators/github-arc-operator/1.0.1/manifests/github-arc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/github-arc-operator/1.0.1/manifests/github-arc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/github-arc-operator/1.0.1/manifests/github-arc-operator.clusterserviceversion.yaml
  operators/github-arc-operator/1.0.1/manifests/github-practice.boxboat.com_actionsrunnercontrollers.yaml
  operators/github-arc-operator/1.0.1/metadata/annotations.yaml
  operators/github-arc-operator/1.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2274 operator rabbitmq-messaging-topology-operator (1.10.1)
  operators/rabbitmq-messaging-topology-operator/1.10.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.10.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2277 operator kogito-operator (1.33.0)
  operators/kogito-operator/1.33.0/Dockerfile
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.33.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.33.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.33.0/metadata/annotations.yaml
  operators/kogito-operator/1.33.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2278 operator project-quay (3.9.0-nightly.20230209)
  operators/project-quay/3.9.0-nightly.20230209/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230209/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2279 operator jaeger (1.42.0)
  operators/jaeger/1.42.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.42.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.42.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.42.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.42.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.42.0/metadata/annotations.yaml
  operators/jaeger/1.42.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2280 operator yaks (0.14.1)
  operators/yaks/0.14.1/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.1/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.1/yaks.v0.14.1.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2288 operator [CI] ndmspc-operator
  operators/ndmspc-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2293 operator project-quay (3.9.0-nightly.20230210)
  operators/project-quay/3.9.0-nightly.20230210/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230210/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2295 operator ndmspc-operator (0.2.5)
  operators/ndmspc-operator/0.2.5/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.5/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.5/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2276 operator [N] [CI] kernel-module-management (1.0.0)
  operators/kernel-module-management/1.0.0/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm-operator-device-plugin_v1_serviceaccount.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm-operator-module-loader_v1_serviceaccount.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/1.0.0/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/1.0.0/metadata/annotations.yaml
  operators/kernel-module-management/1.0.0/tests/scorecard/config.yaml
  operators/kernel-module-management/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2286 operator [CI] ack-route53-controller
  operators/ack-route53-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2301 operator grafana-operator (4.9.0)
  operators/grafana-operator/4.9.0/grafana-operator-controller-manager-metrics-service_v1_service.yaml
  operators/grafana-operator/4.9.0/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/4.9.0/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/4.9.0/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanafolders.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafananotificationchannels.yaml
  operators/grafana-operator/4.9.0/integreatly.org_grafanas.yaml
  operators/grafana-operator/grafana-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2307 operator mariadb-operator (0.6.7)
  operators/mariadb-operator/0.6.7/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.6.7/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.6.7/metadata/annotations.yaml
  operators/mariadb-operator/0.6.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2308 operator project-quay (3.9.0-nightly.20230211)
  operators/project-quay/3.9.0-nightly.20230211/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230211/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2309 operator project-quay (3.9.0-nightly.20230212)
  operators/project-quay/3.9.0-nightly.20230212/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230212/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2311 operator project-quay (3.9.0-nightly.20230213)
  operators/project-quay/3.9.0-nightly.20230213/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230213/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2305 operator [CI] ack-ssm-controller
  operators/ack-ssm-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#2310 operator [N] [CI] ibm-security-verify-directory-operator (23.2.0)
  operators/ibm-security-verify-directory-operator/23.2.0/manifests/ibm-security-verify-directory-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/manifests/ibm.com_ibmsecurityverifydirectories.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/manifests/verify-directory-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/manifests/verify-directory-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/manifests/verify-directory-operator-webhook-service_v1_service.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/metadata/annotations.yaml
  operators/ibm-security-verify-directory-operator/23.2.0/tests/scorecard/config.yaml
  operators/ibm-security-verify-directory-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2313 operator gitlab-runner-operator (1.12.0)
  operators/gitlab-runner-operator/1.12.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.12.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.12.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2317 operator [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2316 operator hive-operator (1.2.4024-afbe42a)
  operators/hive-operator/1.2.4024-afbe42a/hive-operator.v1.2.4024-afbe42a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4024-afbe42a/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4024-afbe42a/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2318 operator project-quay (3.9.0-nightly.20230214)
  operators/project-quay/3.9.0-nightly.20230214/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230214/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2324 operator gitlab-operator-kubernetes (0.16.2)
  operators/gitlab-operator-kubernetes/0.16.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2327 operator project-quay (3.9.0-nightly.20230215)
  operators/project-quay/3.9.0-nightly.20230215/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230215/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2312 operator [N] kernel-module-management (1.0.0)
  operators/kernel-module-management/1.0.0/manifests/kernel-module-management.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2314 operator github-arc-operator (1.0.4)
  operators/github-arc-operator/1.0.4/bundle.Dockerfile
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/github-arc-operator/1.0.4/manifests/github-arc-operator.clusterserviceversion.yaml
  operators/github-arc-operator/1.0.4/manifests/github-practice.boxboat.com_actionsrunnercontrollers.yaml
  operators/github-arc-operator/1.0.4/metadata/annotations.yaml
  operators/github-arc-operator/1.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2329 operator [CI] infinispan
  operators/infinispan/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2332 operator trivy-operator (0.11.1)
  operators/trivy-operator/0.11.1/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.11.1/trivy-operator.v0.11.1.clusterserviceversion.yaml
  operators/trivy-operator/0.11.1/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/trivy-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2331 operator mondoo-operator (1.11.1)
  operators/mondoo-operator/1.11.1/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.11.1/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.11.1/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/mondoo-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2335 operator infinispan (2.3.1)
  operators/infinispan/2.3.1/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.1/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.1/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.1/metadata/annotations.yaml
  operators/infinispan/2.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2339 operator gitlab-operator-kubernetes (0.16.3)
  operators/gitlab-operator-kubernetes/0.16.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.16.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.16.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.16.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2340 operator project-quay (3.9.0-nightly.20230216)
  operators/project-quay/3.9.0-nightly.20230216/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230216/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2341 operator [CI] awx-operator
  operators/awx-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#2342 operator [O] mariadb-operator (0.6.7)
  operators/mariadb-operator/0.6.7/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2343 operator awx-operator (1.2.0)
  operators/awx-operator/1.2.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/1.2.0/manifests/awx-operator.v1.2.0.clusterserviceversion.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/1.2.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/1.2.0/metadata/annotations.yaml
  operators/awx-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2344 operator project-quay (3.9.0-nightly.20230217)
  operators/project-quay/3.9.0-nightly.20230217/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230217/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2349 operator kube-green (0.5.0)
  operators/kube-green/0.5.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.5.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.5.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.5.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.5.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.5.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.5.0/metadata/annotations.yaml
  operators/kube-green/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2350 operator strimzi-kafka-operator (0.33.2)
  operators/strimzi-kafka-operator/0.33.2/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzi-cluster-operator.v0.33.2.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.33.2/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.33.2/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/strimzi-kafka-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2351 operator cluster-manager (0.10.0)
  operators/cluster-manager/0.10.0/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.10.0/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/cluster-manger.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2352 operator klusterlet (0.10.0)
  operators/klusterlet/0.10.0/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.10.0/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/klusterlet.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2353 operator project-quay (3.9.0-nightly.20230220)
  operators/project-quay/3.9.0-nightly.20230220/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230220/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2347 operator appdynamics-operator (23.1.0-test)
  operators/appdynamics-operator/0.4.1/appdynamics-operator.v0.4.1.clusterserviceversion.yaml
  operators/appdynamics-operator/0.4.1/appdynamics.com_adams_crd.yaml
  operators/appdynamics-operator/0.4.1/appdynamics.com_clusteragents_crd.yaml
  operators/appdynamics-operator/0.4.1/appdynamics.com_infravizs_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics-operator.v0.6.10.clusterserviceversion.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_adams_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_clusteragents_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_clustercollectors_crd.yaml
  operators/appdynamics-operator/0.6.10/appdynamics.com_infravizs_crd.yaml
  operators/appdynamics-operator/23.1.0-test/bundle.Dockerfile
  operators/appdynamics-operator/23.1.0-test/manifests/appdynamics-operator.23.1.0-test.clusterserviceversion.yaml
  operators/appdynamics-operator/23.1.0-test/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/23.1.0-test/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/23.1.0-test/metadata/annotations.yaml
  operators/appdynamics-operator/23.1.0-test/tests/scorecard/config.yaml
  operators/appdynamics-operator/appdynamics-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#2355 operator kiali (1.64.0)
  operators/kiali/1.64.0/bundle.Dockerfile
  operators/kiali/1.64.0/manifests/kiali.crd.yaml
  operators/kiali/1.64.0/manifests/kiali.v1.64.0.clusterserviceversion.yaml
  operators/kiali/1.64.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2356 operator hive-operator (1.2.4035-e2fccdf)
  operators/hive-operator/1.2.4035-e2fccdf/hive-operator.v1.2.4035-e2fccdf.clusterserviceversion.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4035-e2fccdf/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2358 operator flux (0.40.0)
  operators/flux/0.40.0/manifests/alert.crd.yaml
  operators/flux/0.40.0/manifests/bucket.crd.yaml
  operators/flux/0.40.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/0.40.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/0.40.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/0.40.0/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/0.40.0/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/0.40.0/manifests/flux.v0.40.0.clusterserviceversion.yaml
  operators/flux/0.40.0/manifests/gitrepository.crd.yaml
  operators/flux/0.40.0/manifests/helmchart.crd.yaml
  operators/flux/0.40.0/manifests/helmrelease.crd.yaml
  operators/flux/0.40.0/manifests/helmrepository.crd.yaml
  operators/flux/0.40.0/manifests/imagepolicy.crd.yaml
  operators/flux/0.40.0/manifests/imagerepository.crd.yaml
  operators/flux/0.40.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/0.40.0/manifests/kustomization.crd.yaml
  operators/flux/0.40.0/manifests/notification-controller.service.yaml
  operators/flux/0.40.0/manifests/ocirepository.crd.yaml
  operators/flux/0.40.0/manifests/provider.crd.yaml
  operators/flux/0.40.0/manifests/receiver.crd.yaml
  operators/flux/0.40.0/manifests/source-controller.service.yaml
  operators/flux/0.40.0/manifests/webhook-receiver.service.yaml
  operators/flux/0.40.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2359 operator project-quay (3.9.0-nightly.20230221)
  operators/project-quay/3.9.0-nightly.20230221/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230221/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2360 operator function-mesh (0.11.0)
  operators/function-mesh/0.11.0/bundle.Dockerfile
  operators/function-mesh/0.11.0/manifests/compute.functionmesh.io_functionmeshes.yaml
  operators/function-mesh/0.11.0/manifests/compute.functionmesh.io_functions.yaml
  operators/function-mesh/0.11.0/manifests/compute.functionmesh.io_sinks.yaml
  operators/function-mesh/0.11.0/manifests/compute.functionmesh.io_sources.yaml
  operators/function-mesh/0.11.0/manifests/function-mesh-controller-manager-metrics-service_v1_service.yaml
  operators/function-mesh/0.11.0/manifests/function-mesh-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/function-mesh/0.11.0/manifests/function-mesh-webhook-service_v1_service.yaml
  operators/function-mesh/0.11.0/manifests/function-mesh.clusterserviceversion.yaml
  operators/function-mesh/0.11.0/manifests/mesh-test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.11.0/manifests/test-auth_v1_secret.yaml
  operators/function-mesh/0.11.0/manifests/test-pulsar_v1_configmap.yaml
  operators/function-mesh/0.11.0/manifests/test-secret_v1_secret.yaml
  operators/function-mesh/0.11.0/manifests/test-sink_v1_configmap.yaml
  operators/function-mesh/0.11.0/manifests/test-source_v1_configmap.yaml
  operators/function-mesh/0.11.0/manifests/test-tls_v1_secret.yaml
  operators/function-mesh/0.11.0/metadata/annotations.yaml
  operators/function-mesh/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2361 operator project-quay (3.8.2)
  operators/project-quay/3.8.2/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.2/quayecosystems.crd.yaml
  operators/project-quay/3.8.2/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2363 operator mariadb-operator (0.7.0)
  operators/mariadb-operator/0.7.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.7.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.7.0/metadata/annotations.yaml
  operators/mariadb-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2364 operator [O] mariadb-operator (0.7.0)
  operators/mariadb-operator/0.7.0/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#2365 operator instana-agent-operator (2.0.10)
  operators/instana-agent-operator/2.0.10/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.10/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.10/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.10/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.10/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.10/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.10/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2368 operator project-quay (3.7.11)
  operators/project-quay/3.7.11/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.7.11/quayecosystems.crd.yaml
  operators/project-quay/3.7.11/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2369 operator ndmspc-operator (0.2.6)
  operators/ndmspc-operator/0.2.6/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.2.6/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.2.6/metadata/annotations.yaml
  operators/ndmspc-operator/0.2.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2362 operator kogito-operator (1.34.0)
  operators/kogito-operator/1.34.0/Dockerfile
  operators/kogito-operator/1.34.0/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.34.0/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.34.0/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.34.0/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.34.0/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.34.0/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.34.0/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.34.0/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.34.0/metadata/annotations.yaml
  operators/kogito-operator/1.34.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2371 operator portworx (1.10.4)
  operators/portworx/1.10.4/core_v1_storagecluster_crd.yaml
  operators/portworx/1.10.4/core_v1_storagenode_crd.yaml
  operators/portworx/1.10.4/portworxoperator.clusterserviceversion.yaml
  operators/portworx/portworx.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2372 operator gitlab-operator-kubernetes (0.17.0)
  operators/gitlab-operator-kubernetes/0.17.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2373 operator project-quay (3.9.0-nightly.20230223)
  operators/project-quay/3.9.0-nightly.20230223/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230223/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2374 operator keycloak-operator (21.0.0)
  operators/keycloak-operator/21.0.0/bundle.Dockerfile
  operators/keycloak-operator/21.0.0/manifests/keycloak-operator.v21.0.0.clusterserviceversion.yaml
  operators/keycloak-operator/21.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.0/manifests/keycloaks.k8s.keycloak.org-v1.yml
  operators/keycloak-operator/21.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2375 operator flink-kubernetes-operator (1.4.0)
  operators/flink-kubernetes-operator/1.4.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.4.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2376 operator project-quay (3.9.0-nightly.20230224)
  operators/project-quay/3.9.0-nightly.20230224/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230224/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2379 operator project-quay (3.9.0-nightly.20230225)
  operators/project-quay/3.9.0-nightly.20230225/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230225/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2380 operator mariadb-operator (0.7.1)
  operators/mariadb-operator/0.7.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.7.1/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.7.1/metadata/annotations.yaml
  operators/mariadb-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2382 operator project-quay (3.9.0-nightly.20230226)
  operators/project-quay/3.9.0-nightly.20230226/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230226/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2383 operator mariadb-operator (0.8.0)
  operators/mariadb-operator/0.8.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.8.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.8.0/metadata/annotations.yaml
  operators/mariadb-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2384 operator druid-operator (1.0.0)
  operators/druid-operator/1.0.0/druid-operator.v1.0.0.clusterserviceversion.yaml
  operators/druid-operator/1.0.0/druid.apache.org_druids.yaml
  operators/druid-operator/druid-operator.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2385 operator project-quay (3.9.0-nightly.20230227)
  operators/project-quay/3.9.0-nightly.20230227/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.0-nightly.20230227/quayregistries.crd.yaml
  operators/project-quay/project-quay.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2387 operator camel-k (1.12.0)
  operators/camel-k/1.12.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/camel-k.v1.12.0.clusterserviceversion.yaml
  operators/camel-k/1.12.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/1.12.0/metadata/annotations.yaml
  operators/camel-k/1.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2381 operator mongodb-atlas-kubernetes (1.7.0)
  operators/mongodb-atlas-kubernetes/1.7.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2388 operator windup-operator (0.0.12)
  operators/windup-operator/0.0.12/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.12/manifests/windup.crd.yaml
  operators/windup-operator/0.0.12/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2389 operator hive-operator (1.2.4041-40c8ac9)
  operators/hive-operator/1.2.4041-40c8ac9/hive-operator.v1.2.4041-40c8ac9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4041-40c8ac9/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/hive.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2378 operator gitlab-operator-kubernetes (0.17.1)
  operators/gitlab-operator-kubernetes/0.17.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.17.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.17.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2390 operator yaks (0.14.2)
  operators/yaks/0.14.2/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.2/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.14.2/yaks.v0.14.2.clusterserviceversion.yaml
  operators/yaks/yaks.package.yaml
Labels: authorized-changes, package-validated, installation-validated

#2348 operator opentelemetry-operator (0.70.0)
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator-webhook-service_v1_service.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry-operator.clusterserviceversion.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry.io_instrumentations.yaml
  operators/opentelemetry-operator/0.70.0/manifests/opentelemetry.io_opentelemetrycollectors.yaml
  operators/opentelemetry-operator/0.70.0/metadata/annotations.yaml
  operators/opentelemetry-operator/0.70.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2391 operator keda (2.9.3)
  operators/keda/2.9.3/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.9.3/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.9.3/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.9.3/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.9.3/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.9.3/manifests/keda.v2.9.3.clusterserviceversion.yaml
  operators/keda/2.9.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#2393 operator verticadb-operator (1.10.0)
  operators/verticadb-operator/1.10.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/1.10.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/1.10.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/1.10.0/metadata/annotations.yaml
  operators/verticadb-operator/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
