Repository k8s-operatorhub/community-operators, pull requests merged in 2023-09, with the labels that each got.

#3145 operator edp-keycloak-operator (1.17.0)
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.17.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.17.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3147 operator mariadb-operator (0.20.0)
  operators/mariadb-operator/0.20.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.20.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.20.0/metadata/annotations.yaml
  operators/mariadb-operator/0.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3150 operator gitlab-operator-kubernetes (0.23.1)
  operators/gitlab-operator-kubernetes/0.23.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3152 operator [CI] jaeger
  operators/jaeger/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3153 operator edp-keycloak-operator (1.17.1)
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.17.1/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.17.1/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3146 operator temporal-operator (0.12.1)
  operators/temporal-operator/0.12.1/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.12.1/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.12.1/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.12.1/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.12.1/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3155 operator grafana-operator (5.4.0)
  operators/grafana-operator/5.4.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3157 operator trivy-operator (0.16.0)
  operators/trivy-operator/0.16.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/manifests/trivy-operator.v0.16.0.clusterserviceversion.yaml
  operators/trivy-operator/0.16.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3159 operator yaks (0.15.1)
  operators/yaks/0.15.1/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.1/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.15.1/manifests/yaks.v0.15.1.clusterserviceversion.yaml
  operators/yaks/0.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3160 operator pulp-operator (1.0.0-beta.1)
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.1/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.1/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3161 operator awx-operator (2.5.2)
  operators/awx-operator/2.5.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.2/manifests/awx-operator.v2.5.2.clusterserviceversion.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.2/metadata/annotations.yaml
  operators/awx-operator/2.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3163 operator gitlab-operator-kubernetes (0.23.2)
  operators/gitlab-operator-kubernetes/0.23.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3177 operator kiali (1.73.0)
  operators/kiali/1.73.0/bundle.Dockerfile
  operators/kiali/1.73.0/manifests/kiali.crd.yaml
  operators/kiali/1.73.0/manifests/kiali.v1.73.0.clusterserviceversion.yaml
  operators/kiali/1.73.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3148 operator [CI] temporal-operator
  operators/temporal-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3182 operator k8gb (0.11.4)
  operators/k8gb/0.11.4/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.11.4/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.11.4/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.11.4/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.11.4/manifests/k8gb.v0.11.4.clusterserviceversion.yaml
  operators/k8gb/0.11.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3183 operator strimzi-kafka-operator (0.37.0)
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzi-cluster-operator.v0.37.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.37.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.37.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3180 operator intel-device-plugins-operator (0.27.1)
  operators/intel-device-plugins-operator/0.27.1/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.27.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.27.1/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.27.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3190 operator project-quay (3.9.1)
  operators/project-quay/3.9.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3191 operator project-quay (3.10.0-nightly.20230911)
  operators/project-quay/3.10.0-nightly.20230911/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230911/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230911/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3192 operator cass-operator-community (1.17.1)
  operators/cass-operator-community/1.17.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.17.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.17.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.17.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.17.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.17.1/metadata/annotations.yaml
  operators/cass-operator-community/1.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3189 operator [N] [CI] sonar-operator (3.1.0)
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonargroups.yaml
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonarpermissiontemplates.yaml
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonarqualitygates.yaml
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonarqualityprofiles.yaml
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonars.yaml
  operators/sonar-operator/3.1.0/manifests/edp.epam.com_sonarusers.yaml
  operators/sonar-operator/3.1.0/manifests/sonar-operator.clusterserviceversion.yaml
  operators/sonar-operator/3.1.0/metadata/annotations.yaml
  operators/sonar-operator/3.1.0/tests/scorecard/config.yaml
  operators/sonar-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3194 operator netobserv-operator (1.0.4)
  operators/netobserv-operator/1.0.4/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.4/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3196 operator [CI] beegfs-csi-driver-operator (1.5.0)
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.5.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.5.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.5.0/tests/scorecard/config.yaml
  operators/beegfs-csi-driver-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3198 operator keycloak-operator (22.0.2)
  operators/keycloak-operator/22.0.2/bundle.Dockerfile
  operators/keycloak-operator/22.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3197 operator project-quay (3.10.0-nightly.20230912)
  operators/project-quay/3.10.0-nightly.20230912/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230912/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230912/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3200 operator grafana-operator (5.4.1)
  operators/grafana-operator/5.4.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3201 operator project-quay (3.8.12)
  operators/project-quay/3.8.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.8.12/manifests/quayecosystems.crd.yaml
  operators/project-quay/3.8.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.8.12/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3203 operator hive-operator (1.2.4270-6e07fdc)
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive-operator.v1.2.4270-6e07fdc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4270-6e07fdc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4270-6e07fdc/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3205 operator gitlab-operator-kubernetes (0.23.3)
  operators/gitlab-operator-kubernetes/0.23.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3207 operator project-quay (3.10.0-nightly.20230913)
  operators/project-quay/3.10.0-nightly.20230913/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230913/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230913/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3208 operator [O] kiali (1.47.0)
  operators/kiali/1.47.0/manifests/kiali.v1.47.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3210 operator keycloak-operator (22.0.3)
  operators/keycloak-operator/22.0.3/bundle.Dockerfile
  operators/keycloak-operator/22.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3216 operator self-node-remediation (0.7.0)
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.7.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.7.0/metadata/annotations.yaml
  operators/self-node-remediation/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3217 operator pubsubplus-eventbroker-operator (1.0.1)
  operators/pubsubplus-eventbroker-operator/1.0.1/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3218 operator awx-operator (2.5.3)
  operators/awx-operator/2.5.3/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.5.3/manifests/awx-operator.v2.5.3.clusterserviceversion.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.5.3/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.5.3/metadata/annotations.yaml
  operators/awx-operator/2.5.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3220 operator project-quay (3.10.0-nightly.20230914)
  operators/project-quay/3.10.0-nightly.20230914/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230914/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230914/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3221 operator [CI] cryostat-operator (2.3.1)
  operators/cryostat-operator/2.3.1/Dockerfile
  operators/cryostat-operator/2.3.1/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.1/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.1/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/2.3.1/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/2.3.1/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/2.3.1/manifests/operator.cryostat.io_clustercryostats.yaml
  operators/cryostat-operator/2.3.1/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/2.3.1/metadata/annotations.yaml
  operators/cryostat-operator/2.3.1/tests/scorecard/config.yaml
  operators/cryostat-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3225 operator project-quay (3.10.0-nightly.20230915)
  operators/project-quay/3.10.0-nightly.20230915/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230915/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230915/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3231 operator kogito-operator (1.44.1)
  operators/kogito-operator/1.44.1/Dockerfile
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitobuilds.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitoinfras.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitoruntimes.yaml
  operators/kogito-operator/1.44.1/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-manager-config_v1_configmap.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kogito-operator/1.44.1/manifests/kogito-operator.clusterserviceversion.yaml
  operators/kogito-operator/1.44.1/metadata/annotations.yaml
  operators/kogito-operator/1.44.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3232 operator postgresql (5.4.2)
  operators/postgresql/5.4.2/Dockerfile
  operators/postgresql/5.4.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.2/metadata/annotations.yaml
  operators/postgresql/5.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3245 operator project-quay (3.10.0-nightly.20230916)
  operators/project-quay/3.10.0-nightly.20230916/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230916/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230916/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3247 operator project-quay (3.10.0-nightly.20230917)
  operators/project-quay/3.10.0-nightly.20230917/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230917/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230917/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3248 operator project-quay (3.10.0-nightly.20230918)
  operators/project-quay/3.10.0-nightly.20230918/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230918/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230918/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3250 operator hive-operator (1.2.4281-64ea4dc)
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive-operator.v1.2.4281-64ea4dc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4281-64ea4dc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4281-64ea4dc/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3251 operator project-quay (3.10.0-nightly.20230919)
  operators/project-quay/3.10.0-nightly.20230919/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230919/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230919/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3252 operator sonataflow-operator (1.44.1)
  operators/sonataflow-operator/1.44.1/manifests/sonataflow-operator-builder-config_v1_configmap.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow-operator-manager-config_v1_configmap.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow-operator.clusterserviceversion.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow.org_sonataflowbuilds.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow.org_sonataflowplatforms.yaml
  operators/sonataflow-operator/1.44.1/manifests/sonataflow.org_sonataflows.yaml
  operators/sonataflow-operator/1.44.1/metadata/annotations.yaml
  operators/sonataflow-operator/1.44.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3256 operator project-quay (3.10.0-nightly.20230920)
  operators/project-quay/3.10.0-nightly.20230920/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230920/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230920/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3257 operator node-maintenance-operator (0.16.0)
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.16.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.16.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3263 operator project-quay (3.10.0-nightly.20230921)
  operators/project-quay/3.10.0-nightly.20230921/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230921/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230921/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3259 operator [N] [CI] fence-agents-remediation (0.2.0)
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.2.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.2.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.2.0/tests/scorecard/config.yaml
  operators/fence-agents-remediation/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3265 operator mongodb-enterprise (1.22.0)
  operators/mongodb-enterprise/1.22.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.22.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.22.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3193 operator infinispan (2.3.4)
  operators/infinispan/2.3.4/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.4/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.4/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.4/metadata/annotations.yaml
  operators/infinispan/2.3.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3269 operator external-secrets-operator (0.9.5)
  operators/external-secrets-operator/0.9.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3270 operator gitlab-operator-kubernetes (0.23.4)
  operators/gitlab-operator-kubernetes/0.23.4/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.23.4/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.23.4/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.23.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3272 operator project-quay (3.10.0-nightly.20230922)
  operators/project-quay/3.10.0-nightly.20230922/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230922/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230922/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3275 operator node-healthcheck-operator (0.6.0)
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.6.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3277 operator snapscheduler (3.3.0)
  operators/snapscheduler/3.3.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.3.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.3.0/metadata/annotations.yaml
  operators/snapscheduler/3.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3279 operator project-quay (3.10.0-nightly.20230923)
  operators/project-quay/3.10.0-nightly.20230923/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230923/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230923/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3214 operator move2kube-operator (0.3.10-rc.0)
  operators/move2kube-operator/0.3.10-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.10-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.10-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.10-rc.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3280 operator redis-operator (0.15.1)
  operators/redis-operator/0.15.1/manifests/redis-operator.v0.15.1.clusterserviceversion.yaml
  operators/redis-operator/0.15.1/manifests/redis.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redisclusters.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redisreplications.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/manifests/redissentinels.redis.redis.opstreelabs.in.crd.yaml
  operators/redis-operator/0.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3283 operator move2kube-operator (0.3.10)
  operators/move2kube-operator/0.3.10/bundle.Dockerfile
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.10/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.10/metadata/annotations.yaml
  operators/move2kube-operator/0.3.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3284 operator project-quay (3.10.0-nightly.20230925)
  operators/project-quay/3.10.0-nightly.20230925/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230925/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230925/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3286 operator hive-operator (1.2.4287-227c259)
  operators/hive-operator/1.2.4287-227c259/manifests/hive-operator.v1.2.4287-227c259.clusterserviceversion.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4287-227c259/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4287-227c259/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3288 operator keda (2.11.2)
  operators/keda/2.11.2/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.11.2/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.11.2/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.11.2/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.11.2/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.11.2/manifests/keda.v2.11.2.clusterserviceversion.yaml
  operators/keda/2.11.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3289 operator project-quay (3.10.0-nightly.20230926)
  operators/project-quay/3.10.0-nightly.20230926/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230926/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230926/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3291 operator trivy-operator (0.16.1)
  operators/trivy-operator/0.16.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/manifests/trivy-operator.v0.16.1.clusterserviceversion.yaml
  operators/trivy-operator/0.16.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3290 operator mondoo-operator (1.16.0)
  operators/mondoo-operator/1.16.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.16.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.16.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.16.0/metadata/annotations.yaml
  operators/mondoo-operator/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3293 operator instana-agent-operator (2.0.17)
  operators/instana-agent-operator/2.0.17/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.17/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.17/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.17/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.17/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.17/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.17/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.17/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3297 operator gitlab-operator-kubernetes (0.24.0)
  operators/gitlab-operator-kubernetes/0.24.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.24.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3299 operator project-quay (3.9.2)
  operators/project-quay/3.9.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3300 operator project-quay (3.10.0-nightly.20230928)
  operators/project-quay/3.10.0-nightly.20230928/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230928/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230928/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3302 operator dapr-kubernetes-operator (0.0.4)
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_components.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_configurations.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_httpendpoints.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_resiliencies.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/dapr.io_subscriptions.yaml
  operators/dapr-kubernetes-operator/0.0.4/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.4/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3303 operator project-quay (3.10.0-nightly.20230929)
  operators/project-quay/3.10.0-nightly.20230929/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230929/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230929/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3301 operator dell-csm-operator (1.3.0)
  operators/dell-csm-operator/1.3.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.3.0/manifests/dell-csm-operator.v1.3.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.3.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3304 operator hpe-csi-operator (2.4.0)
  operators/hpe-csi-operator/2.4.0/Dockerfile
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.v2.4.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3298 operator limitador-operator (0.6.0)
  operators/limitador-operator/0.6.0/bundle.Dockerfile
  operators/limitador-operator/0.6.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.6.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.6.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.6.0/metadata/annotations.yaml
  operators/limitador-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3306 operator project-quay (3.9.2)
  operators/project-quay/3.9.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3308 operator intel-device-plugins-operator (0.28.0)
  operators/intel-device-plugins-operator/0.28.0/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.28.0/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3309 operator project-quay (3.10.0-nightly.20230930)
  operators/project-quay/3.10.0-nightly.20230930/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20230930/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20230930/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
