Repository k8s-operatorhub/community-operators, pull requests merged in 2023-10, with the labels that each got.

#3310 operator project-quay (3.10.0-nightly.20231001)
  operators/project-quay/3.10.0-nightly.20231001/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231001/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231001/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3311 operator project-quay (3.10.0-nightly.20231002)
  operators/project-quay/3.10.0-nightly.20231002/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231002/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231002/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3312 operator deployment-validation-operator (0.7.0)
  operators/deployment-validation-operator/0.7.0/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.0/manifests/deploymentvalidationoperator.0.7.0.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.0/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3315 operator cert-manager (1.13.1-rc1)
  operators/cert-manager/1.13.1-rc1/bundle.Dockerfile
  operators/cert-manager/1.13.1-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.13.1-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager-webhook_v1_configmap.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager_v1_configmap.yaml
  operators/cert-manager/1.13.1-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.13.1-rc1/metadata/annotations.yaml
  operators/cert-manager/1.13.1-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3317 operator gitlab-operator-kubernetes (0.24.1)
  operators/gitlab-operator-kubernetes/0.24.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.24.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.24.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.24.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3318 operator keycloak-operator (22.0.4)
  operators/keycloak-operator/22.0.4/bundle.Dockerfile
  operators/keycloak-operator/22.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3319 operator mondoo-operator (1.17.0)
  operators/mondoo-operator/1.17.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.17.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.17.0/metadata/annotations.yaml
  operators/mondoo-operator/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3321 operator [R] project-quay (3.10.0-nightly.20230913 3.10.0-nightly.20231005 3.9.0-nightly.20230711)
  operators/project-quay/3.10.0-nightly.20230913/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231005/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231005/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231005/metadata/annotations.yaml
  operators/project-quay/3.9.0-nightly.20230711/manifests/quay-operator.clusterserviceversion.yaml
Labels: authorized-changes, allow/operator-recreate

#3320 operator [N] [CI] debezium-operator (2.4.0)
  operators/debezium-operator/2.4.0/bundle.Dockerfile
  operators/debezium-operator/2.4.0/manifests/debezium-operator.v2.4.0.clusterserviceversion.yaml
  operators/debezium-operator/2.4.0/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.4.0/metadata/annotations.yaml
  operators/debezium-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3324 operator [N] debezium-operator (2.4.0)
  operators/debezium-operator/2.4.0/manifests/debezium-operator.v2.4.0.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3325 operator project-quay (3.10.0-nightly.20231006)
  operators/project-quay/3.10.0-nightly.20231006/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231006/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231006/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3328 operator mondoo-operator (1.17.1)
  operators/mondoo-operator/1.17.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.17.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.17.1/metadata/annotations.yaml
  operators/mondoo-operator/1.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3330 operator project-quay (3.10.0-nightly.20231007)
  operators/project-quay/3.10.0-nightly.20231007/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231007/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231007/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3331 operator kube-green (0.5.2)
  operators/kube-green/0.5.2/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.5.2/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.5.2/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.5.2/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.5.2/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.5.2/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.5.2/metadata/annotations.yaml
  operators/kube-green/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3334 operator project-quay (3.10.0-nightly.20231008)
  operators/project-quay/3.10.0-nightly.20231008/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231008/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231008/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3337 operator project-quay (3.10.0-nightly.20231009)
  operators/project-quay/3.10.0-nightly.20231009/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231009/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231009/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3338 operator cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.12.0/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3341 operator hive-operator (1.2.4295-04f2f4f)
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive-operator.v1.2.4295-04f2f4f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4295-04f2f4f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4295-04f2f4f/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3344 operator [O] cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3345 operator [O] klusterlet (0.12.0)
  operators/klusterlet/0.12.0/manifests/klusterlet.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3346 operator project-quay (3.10.0-nightly.20231010)
  operators/project-quay/3.10.0-nightly.20231010/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231010/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231010/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3348 operator [O] klusterlet (0.12.0)
  operators/klusterlet/0.12.0/manifests/klusterlet.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3347 operator [O] cluster-manager (0.12.0)
  operators/cluster-manager/0.12.0/manifests/cluster-manager.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3349 operator move2kube-operator (0.3.11-rc.0)
  operators/move2kube-operator/0.3.11-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.11-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.11-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.11-rc.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3342 operator apicurio-registry (1.1.0-v2.4.12.final)
  operators/apicurio-registry/1.1.0-v2.4.12.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.0-v2.4.12.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.0-v2.4.12.final/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3351 operator awx-operator (2.6.0)
  operators/awx-operator/2.6.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.6.0/manifests/awx-operator.v2.6.0.clusterserviceversion.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.6.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.6.0/metadata/annotations.yaml
  operators/awx-operator/2.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3353 operator project-quay (3.10.0-nightly.20231011)
  operators/project-quay/3.10.0-nightly.20231011/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231011/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231011/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3357 operator ndmspc-operator (0.3.2)
  operators/ndmspc-operator/0.3.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.3.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.3.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.3.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.3.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.3.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.3.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3358 operator ndmspc-operator (0.3.3)
  operators/ndmspc-operator/0.3.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.3.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.3.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.3.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3360 operator project-quay (3.10.0-nightly.20231012)
  operators/project-quay/3.10.0-nightly.20231012/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231012/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231012/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3363 operator datadog-operator (1.2.0)
  operators/datadog-operator/1.2.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.2.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.2.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.2.0/metadata/annotations.yaml
  operators/datadog-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3364 operator splunk (2.4.0)
  operators/splunk/2.4.0/bundle.Dockerfile
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.4.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.4.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.4.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.4.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.4.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.4.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.4.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.4.0/metadata/annotations.yaml
  operators/splunk/2.4.0/tests/scorecard/config.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.4.0/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#3366 operator project-quay (3.10.0-nightly.20231013)
  operators/project-quay/3.10.0-nightly.20231013/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231013/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231013/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3370 operator dapr-kubernetes-operator (0.0.5)
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_components.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_configurations.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_httpendpoints.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_resiliencies.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/dapr.io_subscriptions.yaml
  operators/dapr-kubernetes-operator/0.0.5/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.5/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3369 operator monocle-operator (0.0.2)
  operators/monocle-operator/0.0.2/manifests/monocle-operator-controller-manager-metrics-service_v1_service.yaml
  operators/monocle-operator/0.0.2/manifests/monocle-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/monocle-operator/0.0.2/manifests/monocle-operator-monocle-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/monocle-operator/0.0.2/manifests/monocle-operator-monocle-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/monocle-operator/0.0.2/manifests/monocle-operator.clusterserviceversion.yaml
  operators/monocle-operator/0.0.2/manifests/monocle.monocle.change-metrics.io_monocles.yaml
  operators/monocle-operator/0.0.2/metadata/annotations.yaml
  operators/monocle-operator/0.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3371 operator trivy-operator (0.16.2)
  operators/trivy-operator/0.16.2/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/manifests/trivy-operator.v0.16.2.clusterserviceversion.yaml
  operators/trivy-operator/0.16.2/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3352 operator [CI] ack-cloudwatchlogs-controller
  operators/ack-cloudwatchlogs-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3373 operator mariadb-operator (0.22.0)
  operators/mariadb-operator/0.22.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.22.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.22.0/metadata/annotations.yaml
  operators/mariadb-operator/0.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3374 operator ndmspc-operator (0.4.0)
  operators/ndmspc-operator/0.4.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.4.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.4.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3375 operator project-quay (3.10.0-nightly.20231014)
  operators/project-quay/3.10.0-nightly.20231014/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0-nightly.20231014/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0-nightly.20231014/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3376 operator windup-operator (0.0.22)
  operators/windup-operator/0.0.22/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.22/manifests/windup.crd.yaml
  operators/windup-operator/0.0.22/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3377 operator ndmspc-operator (0.5.0)
  operators/ndmspc-operator/0.5.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.5.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.5.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3379 operator ndmspc-operator (0.6.0)
  operators/ndmspc-operator/0.6.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.6.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.6.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3380 operator external-secrets-operator (0.9.6)
  operators/external-secrets-operator/0.9.6/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.6/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.6/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.6/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3287 operator [N] registry-operator (0.1.3)
  operators/registry-operator/0.1.3/bundle.Dockerfile
  operators/registry-operator/0.1.3/manifests/registry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-manager-config_v1_configmap.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator-webhook-service_v1_service.yaml
  operators/registry-operator/0.1.3/manifests/registry-operator.clusterserviceversion.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_clusterdevfileregistrieslists.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_devfileregistries.yaml
  operators/registry-operator/0.1.3/manifests/registry.devfile.io_devfileregistrieslists.yaml
  operators/registry-operator/0.1.3/metadata/annotations.yaml
  operators/registry-operator/0.1.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3385 operator aerospike-kubernetes-operator (3.1.0)
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.1.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.1.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3386 operator infinispan (2.3.5)
  operators/infinispan/2.3.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.5/metadata/annotations.yaml
  operators/infinispan/2.3.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3388 operator hive-operator (1.2.4306-9e90185)
  operators/hive-operator/1.2.4306-9e90185/manifests/hive-operator.v1.2.4306-9e90185.clusterserviceversion.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4306-9e90185/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4306-9e90185/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3387 operator dynatrace-operator (0.14.0)
  operators/dynatrace-operator/0.14.0/Dockerfile
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3340 operator mongodb-atlas-kubernetes (1.9.0)
  operators/mongodb-atlas-kubernetes/1.9.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3378 operator percona-server-mongodb-operator (1.15.0)
  operators/percona-server-mongodb-operator/1.15.0/manifests/percona-server-mongodb-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3384 operator microcks (1.8.0)
  operators/microcks/1.8.0/manifests/microcks-operator.v1.8.0.clusterserviceversion.yaml
  operators/microcks/1.8.0/manifests/microcksinstall.crd.yaml
  operators/microcks/1.8.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3390 operator kaoto-operator (0.0.9)
  operators/kaoto-operator/0.0.9/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.9/manifests/kaoto-backend_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kaoto-operator/0.0.9/manifests/kaoto-operator.0.0.9.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.9/metadata/annotations.yaml
  operators/kaoto-operator/0.0.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3393 operator strimzi-kafka-operator (0.38.0)
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzi-cluster-operator.v0.38.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.38.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.38.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3394 operator pulp-operator (1.0.0-beta.2)
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.2/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.2/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3398 operator [R] kiali (1.74.0 1.75.0)
  operators/kiali/1.74.0/bundle.Dockerfile
  operators/kiali/1.74.0/manifests/kiali.crd.yaml
  operators/kiali/1.74.0/manifests/kiali.v1.74.0.clusterserviceversion.yaml
  operators/kiali/1.74.0/metadata/annotations.yaml
  operators/kiali/1.75.0/bundle.Dockerfile
  operators/kiali/1.75.0/manifests/kiali.crd.yaml
  operators/kiali/1.75.0/manifests/kiali.v1.75.0.clusterserviceversion.yaml
  operators/kiali/1.75.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3399 operator yaks (0.16.0)
  operators/yaks/0.16.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.16.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.16.0/manifests/yaks.v0.16.0.clusterserviceversion.yaml
  operators/yaks/0.16.0/metadata/annotations.yaml
  operators/yaks/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3401 operator k8gb (0.11.5)
  operators/k8gb/0.11.5/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.11.5/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.11.5/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.11.5/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.11.5/manifests/k8gb.v0.11.5.clusterserviceversion.yaml
  operators/k8gb/0.11.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3400 operator project-quay (3.9.3)
  operators/project-quay/3.9.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3372 operator [CI] sn-operator
  operators/sn-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3397 operator [N] [CI] cloudnative-pg (1.21.0)
  operators/cloudnative-pg/1.21.0/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.21.0/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.21.0/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.21.0/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.21.0/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.21.0/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.21.0/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.21.0/metadata/annotations.yaml
  operators/cloudnative-pg/1.21.0/tests/scorecard/config.yaml
  operators/cloudnative-pg/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3305 operator [R] hpe-csi-operator (1.0.0 1.1.0 1.2.0 1.3.0 1.4.0 1.4.1 2.0.0 2.1.0 2.1.1-0 2.2.0 2.2.1 2.3.0)
  operators/hpe-csi-operator/2.4.0/Dockerfile
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.v2.4.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3354 operator [O] aqua (2022.4.13)
  operators/aqua/2022.4.13/manifests/aqua-operator.v2022.4.13.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3402 operator trivy-operator (0.16.3)
  operators/trivy-operator/0.16.3/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/manifests/trivy-operator.v0.16.3.clusterserviceversion.yaml
  operators/trivy-operator/0.16.3/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3413 operator [CI] pulsar-operator
  operators/pulsar-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3414 operator [CI] bookkeeper-operator
  operators/bookkeeper-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3415 operator [CI] zookeeper-operator
  operators/zookeeper-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3416 operator [CI] pulsar-resources-operator
  operators/pulsar-resources-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3420 operator [CI] function-mesh
  operators/function-mesh/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3418 operator authorino-operator (0.9.0)
  operators/authorino-operator/0.9.0/bundle.Dockerfile
  operators/authorino-operator/0.9.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.9.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.9.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.9.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.9.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.9.0/metadata/annotations.yaml
  operators/authorino-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3426 operator [N] sn-operator (0.3.0-rc.5)
  operators/sn-operator/0.3.0-rc.5/manifests/sn-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3427 operator [N] sn-operator (0.3.0-rc.5)
  operators/sn-operator/0.3.0-rc.5/manifests/sn-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3428 operator external-secrets-operator (0.9.7)
  operators/external-secrets-operator/0.9.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3429 operator [N] sn-operator (0.3.0-rc.5)
  operators/sn-operator/0.3.0-rc.5/manifests/sn-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3430 operator [N] sn-operator (0.3.0-rc.5)
  operators/sn-operator/0.3.0-rc.5/manifests/sn-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3431 operator gitlab-operator-kubernetes (0.25.0)
  operators/gitlab-operator-kubernetes/0.25.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3432 operator [N] sn-operator (0.3.0-rc.5)
  operators/sn-operator/0.3.0-rc.5/manifests/sn-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3436 operator windup-operator (0.0.23)
  operators/windup-operator/0.0.23/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.23/manifests/windup.crd.yaml
  operators/windup-operator/0.0.23/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3435 operator hive-operator (1.2.4325-55a3d51)
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive-operator.v1.2.4325-55a3d51.clusterserviceversion.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4325-55a3d51/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4325-55a3d51/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3437 operator datadog-operator (1.2.1)
  operators/datadog-operator/1.2.1/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.2.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.2.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.2.1/metadata/annotations.yaml
  operators/datadog-operator/1.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3440 operator camel-k (2.1.0)
  operators/camel-k/2.1.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/camel-k.v2.1.0.clusterserviceversion.yaml
  operators/camel-k/2.1.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.1.0/metadata/annotations.yaml
  operators/camel-k/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3441 operator dynatrace-operator (0.14.1)
  operators/dynatrace-operator/0.14.1/Dockerfile
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3442 operator keycloak-operator (22.0.5)
  operators/keycloak-operator/22.0.5/bundle.Dockerfile
  operators/keycloak-operator/22.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/22.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/22.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3444 operator awx-operator (2.7.1)
  operators/awx-operator/2.7.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.7.1/manifests/awx-operator.v2.7.1.clusterserviceversion.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.7.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.7.1/metadata/annotations.yaml
  operators/awx-operator/2.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3446 operator [CI] function-mesh
  operators/function-mesh/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3422 operator flink-kubernetes-operator (1.6.0)
  operators/flink-kubernetes-operator/1.6.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.6.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.6.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3450 operator eginnovations-operator (0.0.6)
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.6/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.6/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3453 operator deployment-validation-operator (0.7.1)
  operators/deployment-validation-operator/0.7.1/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.1/manifests/deploymentvalidationoperator.0.7.1.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.1/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3454 operator [CI] awx-operator
  operators/awx-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3187 operator jaeger (1.49.0)
  operators/jaeger/1.49.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.49.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.49.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.49.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.49.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.49.0/metadata/annotations.yaml
  operators/jaeger/1.49.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3447 operator kuadrant-operator (0.4.0)
  operators/kuadrant-operator/0.4.0/bundle.Dockerfile
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.4.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.4.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.4.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3459 operator knative-operator (1.12.0)
  operators/knative-operator/1.12.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.12.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.12.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.12.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.12.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.12.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.12.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.12.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.12.0/manifests/knative-operator.v1.12.0.clusterserviceversion.yaml
  operators/knative-operator/1.12.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.12.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.12.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.12.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.12.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.12.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.12.0/metadata/annotations.yaml
  operators/knative-operator/1.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3460 operator tempo-operator (0.5.0)
  operators/tempo-operator/0.5.0/bundle.Dockerfile
  operators/tempo-operator/0.5.0/manifests/tempo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-manager-config_v1_configmap.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator-webhook-service_v1_service.yaml
  operators/tempo-operator/0.5.0/manifests/tempo-operator.clusterserviceversion.yaml
  operators/tempo-operator/0.5.0/manifests/tempo.grafana.com_tempostacks.yaml
  operators/tempo-operator/0.5.0/metadata/annotations.yaml
  operators/tempo-operator/0.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3461 operator trivy-operator (0.16.4)
  operators/trivy-operator/0.16.4/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/manifests/trivy-operator.v0.16.4.clusterserviceversion.yaml
  operators/trivy-operator/0.16.4/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.16.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3465 operator kiali (1.76.0)
  operators/kiali/1.76.0/bundle.Dockerfile
  operators/kiali/1.76.0/manifests/kiali.crd.yaml
  operators/kiali/1.76.0/manifests/kiali.v1.76.0.clusterserviceversion.yaml
  operators/kiali/1.76.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3468 operator hive-operator (1.2.4336-412cf72)
  operators/hive-operator/1.2.4336-412cf72/manifests/hive-operator.v1.2.4336-412cf72.clusterserviceversion.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4336-412cf72/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4336-412cf72/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3474 operator [CI] sn-operator
  operators/sn-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3475 operator [CI] pulsar-resources-operator
  operators/pulsar-resources-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3477 operator [R] [CI] pulsar-operator
  operators/pulsar-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3482 operator [CI] external-secrets-operator
  operators/external-secrets-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3458 operator [CI] postgresql (5.4.3)
  operators/postgresql/5.4.3/Dockerfile
  operators/postgresql/5.4.3/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.4.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.4.3/metadata/annotations.yaml
  operators/postgresql/5.4.3/tests/scorecard/config.yaml
  operators/postgresql/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3464 operator [N] [CI] skupper-operator (1.4.3)
  operators/skupper-operator/1.4.3/manifests/skupper-operator.v1.4.3.clusterserviceversion.yaml
  operators/skupper-operator/1.4.3/metadata/annotations.yaml
  operators/skupper-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate
