Repository k8s-operatorhub/community-operators, pull requests merged in 2023-11, with the labels that each got.

#3487 operator [R] pulsar-operator (0.17.0 0.17.6 0.17.8)
  operators/pulsar-operator/0.17.0/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.17.6/manifests/pulsar-operator.clusterserviceversion.yaml
  operators/pulsar-operator/0.17.8/manifests/pulsar-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3486 operator service-binding-operator (1.4.1)
  operators/service-binding-operator/1.4.1/manifests/binding.operators.coreos.com_bindablekinds.yaml
  operators/service-binding-operator/1.4.1/manifests/binding.operators.coreos.com_servicebindings.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-bindablekinds-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-bindablekinds-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-cloud-native-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-clusterworkloadresourcemappings-viewer-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-controller-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-crunchy-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-manager-config_v1_configmap.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-operator.clusterserviceversion.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-opstree-redis-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-percona-mongodb-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-percona-mysql-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-rabbitmq-operator-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/service-binding-operator/1.4.1/manifests/service-binding-webhook-service_v1_service.yaml
  operators/service-binding-operator/1.4.1/manifests/servicebinding.io_clusterworkloadresourcemappings.yaml
  operators/service-binding-operator/1.4.1/manifests/servicebinding.io_servicebindings.yaml
  operators/service-binding-operator/1.4.1/metadata/annotations.yaml
  operators/service-binding-operator/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3490 operator aqua (2022.4.14)
  operators/aqua/2022.4.14/bundle.Dockerfile
  operators/aqua/2022.4.14/manifests/aqua-operator.v2022.4.14.clusterserviceversion.yaml
  operators/aqua/2022.4.14/manifests/aquacloudconnector.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua/2022.4.14/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua/2022.4.14/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3491 operator gitlab-operator-kubernetes (0.25.1)
  operators/gitlab-operator-kubernetes/0.25.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3492 operator stackgres (1.6.0-rc1)
  operators/stackgres/1.6.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.6.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3493 operator project-quay (3.9.4)
  operators/project-quay/3.9.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3495 operator grafana-operator (5.4.2)
  operators/grafana-operator/5.4.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.4.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.4.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.4.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3498 operator [N] skupper-operator (1.4.3)
  operators/skupper-operator/1.4.3/manifests/skupper-operator.v1.4.3.clusterserviceversion.yaml
Labels: authorized-changes, new-operator, allow/operator-recreate

#3501 operator keda (2.12.0)
  operators/keda/2.12.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.12.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.12.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.12.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.12.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.12.0/manifests/keda.v2.12.0.clusterserviceversion.yaml
  operators/keda/2.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3502 operator rabbitmq-messaging-topology-operator (1.12.1)
  operators/rabbitmq-messaging-topology-operator/1.12.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3504 operator infinispan (2.3.6)
  operators/infinispan/2.3.6/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.6/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.6/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.6/metadata/annotations.yaml
  operators/infinispan/2.3.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3505 operator hazelcast-platform-operator (5.10.0)
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.10.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.10.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3506 operator hive-operator (1.2.4345-c636413)
  operators/hive-operator/1.2.4345-c636413/manifests/hive-operator.v1.2.4345-c636413.clusterserviceversion.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4345-c636413/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4345-c636413/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3507 operator kuadrant-operator (0.4.1)
  operators/kuadrant-operator/0.4.1/bundle.Dockerfile
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.4.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.4.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.4.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3509 operator stackgres (1.6.0-rc2)
  operators/stackgres/1.6.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.6.0-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3510 operator move2kube-operator (0.3.11)
  operators/move2kube-operator/0.3.11/bundle.Dockerfile
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.11/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.11/metadata/annotations.yaml
  operators/move2kube-operator/0.3.11/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3484 operator tektoncd-operator (0.68.1)
  operators/tektoncd-operator/0.68.1/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektonchains.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektonhubs.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektoninstallersets.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.68.1/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-config-observability_v1_configmap.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-config-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-config-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator-info_v1_configmap.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-operator_v1_service.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-result-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.68.1/manifests/tekton-result-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.68.1/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.68.1/metadata/annotations.yaml
  operators/tektoncd-operator/0.68.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3516 operator awx-operator (2.7.2)
  operators/awx-operator/2.7.2/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.7.2/manifests/awx-operator.v2.7.2.clusterserviceversion.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.7.2/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.7.2/metadata/annotations.yaml
  operators/awx-operator/2.7.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3518 operator ibm-application-gateway-operator (23.11.0)
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/23.11.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/23.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3519 operator mondoo-operator (1.17.2)
  operators/mondoo-operator/1.17.2/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.17.2/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.17.2/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.17.2/metadata/annotations.yaml
  operators/mondoo-operator/1.17.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3500 operator [CI] ack-cloudfront-controller
  operators/ack-cloudfront-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3513 operator elastic-cloud-eck (2.10.0)
  operators/elastic-cloud-eck/2.10.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3488 operator clickhouse (0.22.0)
  operators/clickhouse/0.22.0/manifests/clickhouse-operator.v0.22.0.clusterserviceversion.yaml
  operators/clickhouse/0.22.0/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.0/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.0/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3438 operator [N] [CI] integration-operator (1.0.0)
  operators/integration-operator/1.0.0/manifests/integration-operator.v1.0.0.clusterserviceversion.yaml
  operators/integration-operator/1.0.0/manifests/integration.rock8s.com_plugs.yaml
  operators/integration-operator/1.0.0/manifests/integration.rock8s.com_sockets.yaml
  operators/integration-operator/1.0.0/metadata/annotations.yaml
  operators/integration-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3521 operator [CI] konveyor-operator
  operators/konveyor-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3523 operator mongodb-enterprise (1.23.0)
  operators/mongodb-enterprise/1.23.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.23.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3526 operator skupper-operator (1.5.0)
  operators/skupper-operator/1.5.0/manifests/skupper-operator.v1.5.0.clusterserviceversion.yaml
  operators/skupper-operator/1.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3528 operator shipwright-operator (0.12.0)
  operators/shipwright-operator/0.12.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.12.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.12.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.12.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.12.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.12.0/metadata/annotations.yaml
  operators/shipwright-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3530 operator [CI] external-secrets-operator
  operators/external-secrets-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3531 operator external-secrets-operator (0.9.9)
  operators/external-secrets-operator/0.9.9/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.9/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.9/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.9/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.9/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3520 operator hpe-csi-operator (2.4.0)
  operators/hpe-csi-operator/2.4.0/Dockerfile
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.v2.4.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3535 operator node-healthcheck-operator (0.6.1)
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.6.1/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.6.1/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.6.1/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3538 operator edp-keycloak-operator (1.18.2)
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.18.2/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.18.2/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.18.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3536 operator yaks (0.17.1)
  operators/yaks/0.17.1/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.1/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.17.1/manifests/yaks.v0.17.1.clusterserviceversion.yaml
  operators/yaks/0.17.1/metadata/annotations.yaml
  operators/yaks/0.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3540 operator edp-keycloak-operator (1.19.0)
  operators/edp-keycloak-operator/1.19.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.19.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.19.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3543 operator pubsubplus-eventbroker-operator (1.0.2)
  operators/pubsubplus-eventbroker-operator/1.0.2/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.2/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.2/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3544 operator dynatrace-operator (0.14.2)
  operators/dynatrace-operator/0.14.2/Dockerfile
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3545 operator deployment-validation-operator (0.7.3)
  operators/deployment-validation-operator/0.7.3/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.3/manifests/deploymentvalidationoperator.0.7.3.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.3/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3546 operator node-maintenance-operator (0.16.1)
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.16.1/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.16.1/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.16.1/metadata/annotations.yaml
  operators/node-maintenance-operator/0.16.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3547 operator fence-agents-remediation (0.2.1)
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.2.1/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.2.1/metadata/annotations.yaml
  operators/fence-agents-remediation/0.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3548 operator gitlab-operator-kubernetes (0.25.2)
  operators/gitlab-operator-kubernetes/0.25.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3550 operator [CI] ack-acmpca-controller
  operators/ack-acmpca-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3551 operator [CI] ack-drs-controller
  operators/ack-drs-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3555 operator gitlab-operator-kubernetes (0.26.0)
  operators/gitlab-operator-kubernetes/0.26.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3557 operator [N] [CI] intel-ethernet-operator (2.0.0)
  operators/intel-ethernet-operator/2.0.0/manifests/ethernet.intel.com_ethernetclusterconfigs.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/ethernet.intel.com_ethernetnodeconfigs.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/flowconfig.intel.com_clusterflowconfigs.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/flowconfig.intel.com_flowconfignodeagentdeployments.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/flowconfig.intel.com_nodeflowconfigs.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-ethernetclusterconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-ethernetclusterconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-ethernetnodeconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-ethernetnodeconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-flowconfignodeagentdeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-flowconfignodeagentdeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-manager-config_v1_configmap.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-nodeflowconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-nodeflowconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator-webhook-service_v1_service.yaml
  operators/intel-ethernet-operator/2.0.0/manifests/intel-ethernet-operator.clusterserviceversion.yaml
  operators/intel-ethernet-operator/2.0.0/metadata/annotations.yaml
  operators/intel-ethernet-operator/2.0.0/tests/scorecard/config.yaml
  operators/intel-ethernet-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3532 operator cc-operator (0.8.0)
  operators/cc-operator/0.8.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.8.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.8.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.8.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.8.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.8.0/metadata/annotations.yaml
  operators/cc-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3558 operator project-quay (3.9.5)
  operators/project-quay/3.9.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3559 operator ndb-operator (1.2.0)
  operators/ndb-operator/1.2.0/bundle.Dockerfile
  operators/ndb-operator/1.2.0/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.2.0/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.2.0/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.2.0/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.2.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3562 operator [CI] registry-operator (0.2.0)
  operators/registry-operator/0.2.0/bundle.Dockerfile
  operators/registry-operator/0.2.0/manifests/registry-operator-controller-manager-metrics-service_v1_service.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-manager-config_v1_configmap.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator-webhook-service_v1_service.yaml
  operators/registry-operator/0.2.0/manifests/registry-operator.clusterserviceversion.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_clusterdevfileregistrieslists.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_devfileregistries.yaml
  operators/registry-operator/0.2.0/manifests/registry.devfile.io_devfileregistrieslists.yaml
  operators/registry-operator/0.2.0/metadata/annotations.yaml
  operators/registry-operator/0.2.0/tests/scorecard/config.yaml
  operators/registry-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3556 operator jaeger (1.51.0)
  operators/jaeger/1.51.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.51.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.51.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.51.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.51.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.51.0/metadata/annotations.yaml
  operators/jaeger/1.51.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3566 operator awx-operator (2.8.0)
  operators/awx-operator/2.8.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.8.0/manifests/awx-operator.v2.8.0.clusterserviceversion.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.8.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.8.0/metadata/annotations.yaml
  operators/awx-operator/2.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3565 operator grafana-operator (5.5.0)
  operators/grafana-operator/5.5.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.5.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.5.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3571 operator mondoo-operator (1.18.0)
  operators/mondoo-operator/1.18.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.18.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.18.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.18.0/metadata/annotations.yaml
  operators/mondoo-operator/1.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3572 operator keycloak-operator (23.0.0)
  operators/keycloak-operator/23.0.0/bundle.Dockerfile
  operators/keycloak-operator/23.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3573 operator [R] konveyor-operator (0.1.1 0.1.2 0.2.0-alpha.1 0.2.0-alpha.2 0.2.0-alpha.3 0.2.1 0.3.0-alpha.1 0.3.0-alpha.2 0.3.0-alpha.3 0.3.0-alpha.4 0.3.0-alpha.5 0.3.0-alpha.6 0.3.0-beta.1.1 0.3.0-beta.1.2 0.3.0-beta.2)
  operators/konveyor-operator/0.1.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.1.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.0-alpha.3/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.2.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.3/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.4/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.5/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-alpha.6/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.1.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.1.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.3.0-beta.2/manifests/konveyor-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#3568 operator [N] [CI] cte-k8s-operator (1.3.2)
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/1.3.2/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/1.3.2/metadata/annotations.yaml
  operators/cte-k8s-operator/1.3.2/tests/scorecard/config.yaml
  operators/cte-k8s-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3574 operator trivy-operator (0.17.0)
  operators/trivy-operator/0.17.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/manifests/trivy-operator.v0.17.0.clusterserviceversion.yaml
  operators/trivy-operator/0.17.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3575 operator grafana-operator (5.5.2)
  operators/grafana-operator/5.5.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.5.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.5.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.5.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3576 operator authorino-operator (0.10.0)
  operators/authorino-operator/0.10.0/bundle.Dockerfile
  operators/authorino-operator/0.10.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.10.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.10.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.10.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.10.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.10.0/metadata/annotations.yaml
  operators/authorino-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3578 operator trivy-operator (0.17.1)
  operators/trivy-operator/0.17.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/manifests/trivy-operator.v0.17.1.clusterserviceversion.yaml
  operators/trivy-operator/0.17.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.17.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3579 operator keycloak-operator (23.0.1)
  operators/keycloak-operator/23.0.1/bundle.Dockerfile
  operators/keycloak-operator/23.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3577 operator trident-operator (23.10.0)
  operators/trident-operator/23.10.0/manifests/trident-operator.v22.10.0.clusterserviceversion.yaml
  operators/trident-operator/23.10.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/23.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3581 operator project-quay (3.10.0)
  operators/project-quay/3.10.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3583 operator postgresql (5.5.0)
  operators/postgresql/5.5.0/Dockerfile
  operators/postgresql/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.0/metadata/annotations.yaml
  operators/postgresql/5.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
