Repository k8s-operatorhub/community-operators, pull requests merged in 2024-02, with the labels that each got.

#3823 operator percona-postgresql-operator (2.3.2)
  operators/percona-postgresql-operator/2.3.2/manifests/percona-postgresql-operator.v2.3.2.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.3.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3832 operator [O] project-quay (3.10.3)
  operators/project-quay/3.10.3/manifests/quay-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3831 operator [N] [CI] leaksignal-operator (1.3.1)
  operators/leaksignal-operator/1.3.1/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.3.1/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.3.1/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.3.1/metadata/annotations.yaml
  operators/leaksignal-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3836 operator clickhouse (0.23.0)
  operators/clickhouse/0.23.0/manifests/clickhouse-operator.v0.23.0.clusterserviceversion.yaml
  operators/clickhouse/0.23.0/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.0/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.0/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3839 operator keycloak-operator (23.0.6)
  operators/keycloak-operator/23.0.6/bundle.Dockerfile
  operators/keycloak-operator/23.0.6/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.6/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3844 operator trivy-operator (0.18.4)
  operators/trivy-operator/0.18.4/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/manifests/trivy-operator.v0.18.4.clusterserviceversion.yaml
  operators/trivy-operator/0.18.4/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3845 operator hive-operator (1.2.4382-0e95d5b)
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive-operator.v1.2.4382-0e95d5b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4382-0e95d5b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4382-0e95d5b/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3851 operator knative-operator (1.13.1)
  operators/knative-operator/1.13.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.13.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.13.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.13.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.13.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.13.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.13.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.13.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.13.1/manifests/knative-operator.v1.13.1.clusterserviceversion.yaml
  operators/knative-operator/1.13.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.13.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.13.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.13.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.13.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.13.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.13.1/metadata/annotations.yaml
  operators/knative-operator/1.13.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3854 operator kaoto-operator (0.0.10)
  operators/kaoto-operator/0.0.10/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.10/manifests/kaoto-operator.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.10/metadata/annotations.yaml
  operators/kaoto-operator/0.0.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3855 operator ndmspc-operator (0.8.0)
  operators/ndmspc-operator/0.8.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.8.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.8.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.8.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.8.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.8.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3858 operator infinispan (2.3.7)
  operators/infinispan/2.3.7/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.3.7/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.3.7/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.3.7/metadata/annotations.yaml
  operators/infinispan/2.3.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3783 operator grafana-operator (5.6.1)
  operators/grafana-operator/5.6.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3860 operator grafana-operator (5.6.2)
  operators/grafana-operator/5.6.2/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.2/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.2/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3861 operator kaoto-operator (0.0.12)
  operators/kaoto-operator/0.0.12/manifests/designer.kaoto.io_kaotoes.yaml
  operators/kaoto-operator/0.0.12/manifests/kaoto-operator.clusterserviceversion.yaml
  operators/kaoto-operator/0.0.12/metadata/annotations.yaml
  operators/kaoto-operator/0.0.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3863 operator trivy-operator (0.18.5)
  operators/trivy-operator/0.18.5/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/manifests/trivy-operator.v0.18.5.clusterserviceversion.yaml
  operators/trivy-operator/0.18.5/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3866 operator external-secrets-operator (0.9.12)
  operators/external-secrets-operator/0.9.12/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.12/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.12/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.12/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3872 operator mariadb-operator (0.25.0)
  operators/mariadb-operator/0.25.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_backups.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_connections.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_databases.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_grants.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_mariadbs.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_maxscales.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_restores.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_sqljobs.yaml
  operators/mariadb-operator/0.25.0/manifests/mariadb.mmontes.io_users.yaml
  operators/mariadb-operator/0.25.0/metadata/annotations.yaml
  operators/mariadb-operator/0.25.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3874 operator grafana-operator (5.6.3)
  operators/grafana-operator/5.6.3/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.6.3/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.6.3/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.6.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3875 operator gitlab-operator-kubernetes (0.28.2)
  operators/gitlab-operator-kubernetes/0.28.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3876 operator ndmspc-operator (0.9.0)
  operators/ndmspc-operator/0.9.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.9.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.9.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3877 operator [CI] ack-efs-controller
  operators/ack-efs-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3878 operator hive-operator (1.2.4386-6f1fd3e)
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive-operator.v1.2.4386-6f1fd3e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4386-6f1fd3e/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3835 operator stackgres (1.8.0)
  operators/stackgres/1.8.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.8.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.8.0/metadata/annotations.yaml
  operators/stackgres/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3879 operator [CI] keda (2.12.1)
  operators/keda/2.12.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.12.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.12.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.12.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.12.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.12.1/manifests/keda.v2.12.1.clusterserviceversion.yaml
  operators/keda/2.12.1/metadata/annotations.yaml
  operators/keda/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3880 operator kiali (1.80.0)
  operators/kiali/1.80.0/bundle.Dockerfile
  operators/kiali/1.80.0/manifests/kiali.crd.yaml
  operators/kiali/1.80.0/manifests/kiali.v1.80.0.clusterserviceversion.yaml
  operators/kiali/1.80.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3882 operator cert-manager (1.14.2-rc1)
  operators/cert-manager/1.14.2-rc1/bundle.Dockerfile
  operators/cert-manager/1.14.2-rc1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.14.2-rc1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.14.2-rc1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.14.2-rc1/metadata/annotations.yaml
  operators/cert-manager/1.14.2-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3884 operator awx-operator (2.12.0)
  operators/awx-operator/2.12.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.12.0/manifests/awx-operator.v2.12.0.clusterserviceversion.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.12.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.12.0/metadata/annotations.yaml
  operators/awx-operator/2.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3885 operator leaksignal-operator (1.6.0)
  operators/leaksignal-operator/1.6.0/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.0/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.0/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.0/manifests/service.yaml
  operators/leaksignal-operator/1.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3898 operator cert-manager (1.14.2)
  operators/cert-manager/1.14.2/bundle.Dockerfile
  operators/cert-manager/1.14.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.14.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.14.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.14.2/metadata/annotations.yaml
  operators/cert-manager/1.14.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3899 operator leaksignal-operator (1.6.1)
  operators/leaksignal-operator/1.6.1/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.1/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.1/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.1/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.1/manifests/service.yaml
  operators/leaksignal-operator/1.6.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3902 operator leaksignal-operator (1.6.2)
  operators/leaksignal-operator/1.6.2/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.2/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.2/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.2/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.2/manifests/service.yaml
  operators/leaksignal-operator/1.6.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3903 operator awx-operator (2.12.1)
  operators/awx-operator/2.12.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.12.1/manifests/awx-operator.v2.12.1.clusterserviceversion.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.12.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.12.1/metadata/annotations.yaml
  operators/awx-operator/2.12.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3910 operator external-secrets-operator (0.9.13)
  operators/external-secrets-operator/0.9.13/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.13/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.13/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.13/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3911 operator verticadb-operator (2.0.2)
  operators/verticadb-operator/2.0.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.0.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.0.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.0.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.0.2/metadata/annotations.yaml
  operators/verticadb-operator/2.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3912 operator gitlab-operator-kubernetes (0.29.0)
  operators/gitlab-operator-kubernetes/0.29.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3859 operator clickhouse (0.23.1)
  operators/clickhouse/0.23.1/manifests/clickhouse-operator.v0.23.1.clusterserviceversion.yaml
  operators/clickhouse/0.23.1/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.1/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.1/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.23.1/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3913 operator netobserv-operator (1.0.5)
  operators/netobserv-operator/1.0.5/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.0.5/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.0.5/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.0.5/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.0.5/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.0.5/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3883 operator metallb-operator (0.14.0)
  operators/metallb-operator/0.14.0/manifests/frr-k8s-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/metallb-operator/0.14.0/manifests/frrk8s.metallb.io_frrconfigurations.yaml
  operators/metallb-operator/0.14.0/manifests/frrk8s.metallb.io_frrnodestates.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-operator-webhook-server-cert_v1_secret.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-operator-webhook-service_v1_service.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-operator.clusterserviceversion.yaml
  operators/metallb-operator/0.14.0/manifests/metallb-webhook-service_v1_service.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_bfdprofiles.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_bgpadvertisements.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_bgppeers.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_communities.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_ipaddresspools.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_l2advertisements.yaml
  operators/metallb-operator/0.14.0/manifests/metallb.io_metallbs.yaml
  operators/metallb-operator/0.14.0/manifests/speaker_v1_serviceaccount.yaml
  operators/metallb-operator/0.14.0/manifests/webhook-server-cert_v1_secret.yaml
  operators/metallb-operator/0.14.0/metadata/annotations.yaml
  operators/metallb-operator/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3905 operator [CI] ack-documentdb-controller
  operators/ack-documentdb-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3904 operator mongodb-atlas-kubernetes (2.1.0)
  operators/mongodb-atlas-kubernetes/2.1.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3914 operator [CI] mongodb-atlas-kubernetes
  operators/mongodb-atlas-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3909 operator [CI] ack-elbv2-controller
  operators/ack-elbv2-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3906 operator [CI] ack-ecs-controller
  operators/ack-ecs-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3916 operator [CI] datadog-operator
  operators/datadog-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3917 operator clickhouse (0.23.2)
  operators/clickhouse/0.23.2/manifests/clickhouse-operator.v0.23.2.clusterserviceversion.yaml
  operators/clickhouse/0.23.2/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.2/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.2/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.23.2/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3920 operator leaksignal-operator (1.6.3)
  operators/leaksignal-operator/1.6.3/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.3/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.3/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.3/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.3/manifests/service.yaml
  operators/leaksignal-operator/1.6.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3922 operator gitlab-operator-kubernetes (0.29.1)
  operators/gitlab-operator-kubernetes/0.29.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3923 operator keycloak-operator (23.0.7)
  operators/keycloak-operator/23.0.7/bundle.Dockerfile
  operators/keycloak-operator/23.0.7/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.7/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3928 operator move2kube-operator (0.3.12-rc.0)
  operators/move2kube-operator/0.3.12-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.12-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.12-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.12-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.12-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.12-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.12-rc.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3929 operator datadog-operator (1.4.1)
  operators/datadog-operator/1.4.1/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.4.1/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.4.1/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.4.1/metadata/annotations.yaml
  operators/datadog-operator/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3930 operator move2kube-operator (0.3.12)
  operators/move2kube-operator/0.3.12/bundle.Dockerfile
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.12/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.12/metadata/annotations.yaml
  operators/move2kube-operator/0.3.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3927 operator dell-csm-operator (1.4.2)
  operators/dell-csm-operator/1.4.2/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.2/manifests/dell-csm-operator.v1.4.2.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.2/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3932 operator hive-operator (1.2.4404-410fed9)
  operators/hive-operator/1.2.4404-410fed9/manifests/hive-operator.v1.2.4404-410fed9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4404-410fed9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4404-410fed9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3933 operator skupper-operator (1.6.0)
  operators/skupper-operator/1.6.0/manifests/skupper-operator.v1.6.0.clusterserviceversion.yaml
  operators/skupper-operator/1.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3937 operator stackgres (1.8.1)
  operators/stackgres/1.8.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.8.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.8.1/metadata/annotations.yaml
  operators/stackgres/1.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3940 operator project-quay (3.10.4)
  operators/project-quay/3.10.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3943 operator [CI] splunk (2.5.1)
  operators/splunk/2.5.1/bundle.Dockerfile
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.5.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.5.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.5.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.5.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.5.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.5.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.5.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.5.1/metadata/annotations.yaml
  operators/splunk/2.5.1/tests/scorecard/config.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.5.1/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
  operators/splunk/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3945 operator beegfs-csi-driver-operator (1.6.0)
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.6.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.6.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3949 operator mondoo-operator (1.21.1)
  operators/mondoo-operator/1.21.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.21.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.21.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.21.1/metadata/annotations.yaml
  operators/mondoo-operator/1.21.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
