Repository k8s-operatorhub/community-operators, pull requests merged in 2024-04, with the labels that each got.

#4117 operator hive-operator (1.2.4420-fe0e302)
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive-operator.v1.2.4420-fe0e302.clusterserviceversion.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4420-fe0e302/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4420-fe0e302/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4122 operator project-quay (3.11.0)
  operators/project-quay/3.11.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4123 operator ibm-application-gateway-operator (24.4.0)
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/24.4.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/24.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4125 operator dynatrace-operator (1.0.0)
  operators/dynatrace-operator/1.0.0/Dockerfile
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4127 operator dapr-kubernetes-operator (0.0.6)
  operators/dapr-kubernetes-operator/0.0.6/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.6/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.6/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4130 operator yaks (0.18.0)
  operators/yaks/0.18.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.18.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.18.0/manifests/yaks.v0.18.0.clusterserviceversion.yaml
  operators/yaks/0.18.0/metadata/annotations.yaml
  operators/yaks/0.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4131 operator trivy-operator (0.19.4)
  operators/trivy-operator/0.19.4/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/manifests/trivy-operator.v0.19.4.clusterserviceversion.yaml
  operators/trivy-operator/0.19.4/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4132 operator ibm-security-verify-access-operator (24.4.0)
  operators/ibm-security-verify-access-operator/24.4.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/24.4.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/24.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4133 operator verticadb-operator (2.1.2)
  operators/verticadb-operator/2.1.2/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.2/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.2/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.2/metadata/annotations.yaml
  operators/verticadb-operator/2.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4140 operator camel-k (2.3.0)
  operators/camel-k/2.3.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/camel-k.v2.3.0.clusterserviceversion.yaml
  operators/camel-k/2.3.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.0/metadata/annotations.yaml
  operators/camel-k/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4141 operator security-profiles-operator (0.8.3)
  operators/security-profiles-operator/0.8.3/manifests/metrics-token_v1_secret.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator-profile_v1_configmap.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.clusterserviceversion.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_apparmorprofiles.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_profilebindings.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_profilerecordings.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_rawselinuxprofiles.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_seccompprofiles.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_securityprofilenodestatuses.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_securityprofilesoperatordaemons.yaml
  operators/security-profiles-operator/0.8.3/manifests/security-profiles-operator.x-k8s.io_selinuxprofiles.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-metrics-client_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-webhook_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.3/manifests/spo-webhook_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.3/manifests/spod_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/security-profiles-operator/0.8.3/manifests/spod_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/security-profiles-operator/0.8.3/manifests/spod_rbac.authorization.k8s.io_v1_role.yaml
  operators/security-profiles-operator/0.8.3/manifests/spod_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/security-profiles-operator/0.8.3/manifests/spod_v1_serviceaccount.yaml
  operators/security-profiles-operator/0.8.3/metadata/annotations.yaml
  operators/security-profiles-operator/0.8.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4085 operator dell-csm-operator (1.4.4)
  operators/dell-csm-operator/1.4.4/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.4/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.4/manifests/dell-csm-operator.v1.4.4.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.4/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4142 operator dapr-kubernetes-operator (0.0.7)
  operators/dapr-kubernetes-operator/0.0.7/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.7/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.7/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4143 operator hive-operator (1.2.4426-fb27114)
  operators/hive-operator/1.2.4426-fb27114/manifests/hive-operator.v1.2.4426-fb27114.clusterserviceversion.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4426-fb27114/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4426-fb27114/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4145 operator [CI] cloudnative-pg
  operators/cloudnative-pg/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4146 operator yaks (0.19.0)
  operators/yaks/0.19.0/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.0/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.0/manifests/yaks.v0.19.0.clusterserviceversion.yaml
  operators/yaks/0.19.0/metadata/annotations.yaml
  operators/yaks/0.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4147 operator jaeger (1.56.0)
  operators/jaeger/1.56.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.56.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.56.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.56.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.56.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.56.0/metadata/annotations.yaml
  operators/jaeger/1.56.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4150 operator awx-operator (2.15.0)
  operators/awx-operator/2.15.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.15.0/manifests/awx-operator.v2.15.0.clusterserviceversion.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.15.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.15.0/metadata/annotations.yaml
  operators/awx-operator/2.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4154 operator cluster-manager (0.13.1)
  operators/cluster-manager/0.13.1/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.13.1/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.13.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4115 operator argocd-operator (0.9.0)
  operators/argocd-operator/0.9.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.9.0/manifests/argocd-operator.v0.9.0.clusterserviceversion.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.9.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4158 operator argocd-operator (0.9.1)
  operators/argocd-operator/0.9.1/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.9.1/manifests/argocd-operator.v0.9.1.clusterserviceversion.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.9.1/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.9.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4161 operator ndmspc-operator (0.20240412.0)
  operators/ndmspc-operator/0.20240412.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20240412.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20240412.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20240412.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4162 operator dapr-kubernetes-operator (0.0.8)
  operators/dapr-kubernetes-operator/0.0.8/manifests/dapr-kubernetes-operator.clusterserviceversion.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprcontrolplanes.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprcruiscontrols.yaml
  operators/dapr-kubernetes-operator/0.0.8/manifests/operator.dapr.io_daprinstances.yaml
  operators/dapr-kubernetes-operator/0.0.8/metadata/annotations.yaml
  operators/dapr-kubernetes-operator/0.0.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4163 operator external-secrets-operator (0.9.15-2)
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.15-2/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.15-2/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.15-2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4164 operator gitlab-operator-kubernetes (0.30.2)
  operators/gitlab-operator-kubernetes/0.30.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4166 operator [R] kiali (1.82.0 1.83.0)
  operators/kiali/1.82.0/bundle.Dockerfile
  operators/kiali/1.82.0/manifests/kiali.crd.yaml
  operators/kiali/1.82.0/manifests/kiali.v1.82.0.clusterserviceversion.yaml
  operators/kiali/1.82.0/metadata/annotations.yaml
  operators/kiali/1.83.0/bundle.Dockerfile
  operators/kiali/1.83.0/manifests/kiali.crd.yaml
  operators/kiali/1.83.0/manifests/kiali.v1.83.0.clusterserviceversion.yaml
  operators/kiali/1.83.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4167 operator hazelcast-platform-operator (5.11.0)
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.11.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4168 operator hive-operator (1.2.4428-ceaafa8)
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive-operator.v1.2.4428-ceaafa8.clusterserviceversion.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4428-ceaafa8/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4428-ceaafa8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4169 operator gitlab-operator-kubernetes (0.30.3)
  operators/gitlab-operator-kubernetes/0.30.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4171 operator keycloak-operator (24.0.3)
  operators/keycloak-operator/24.0.3/bundle.Dockerfile
  operators/keycloak-operator/24.0.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4159 operator [CI] susql-operator (0.0.2)
  operators/susql-operator/0.0.2/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.2/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.2/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.2/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.2/metadata/annotations.yaml
  operators/susql-operator/0.0.2/tests/scorecard/config.yaml
  operators/susql-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4016 operator [CI] trident-operator (24.2.0)
  operators/trident-operator/24.2.0/manifests/trident-operator.v24.2.0.clusterserviceversion.yaml
  operators/trident-operator/24.2.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.2.0/metadata/annotations.yaml
  operators/trident-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4128 operator clickhouse (0.23.5)
  operators/clickhouse/0.23.5/manifests/clickhouse-operator.v0.23.5.clusterserviceversion.yaml
  operators/clickhouse/0.23.5/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.5/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.5/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.23.5/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4135 operator [N] [CI] moodle-operator (0.6.12)
  operators/moodle-operator/0.6.12/manifests/m4e.krestomat.io_moodles.yaml
  operators/moodle-operator/0.6.12/manifests/m4e.krestomat.io_nginxes.yaml
  operators/moodle-operator/0.6.12/manifests/m4e.krestomat.io_phpfpms.yaml
  operators/moodle-operator/0.6.12/manifests/m4e.krestomat.io_routines.yaml
  operators/moodle-operator/0.6.12/manifests/moodle-operator-controller-manager-metrics-service_v1_service.yaml
  operators/moodle-operator/0.6.12/manifests/moodle-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.12/manifests/moodle-operator.clusterserviceversion.yaml
  operators/moodle-operator/0.6.12/metadata/annotations.yaml
  operators/moodle-operator/0.6.12/tests/scorecard/config.yaml
  operators/moodle-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4136 operator [N] [CI] postgres-operator-krestomatio (0.3.7)
  operators/postgres-operator-krestomatio/0.3.7/manifests/postgres-operator-controller-manager-metrics-service_v1_service.yaml
  operators/postgres-operator-krestomatio/0.3.7/manifests/postgres-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/postgres-operator-krestomatio/0.3.7/manifests/postgres-operator.clusterserviceversion.yaml
  operators/postgres-operator-krestomatio/0.3.7/manifests/postgres.krestomat.io_postgres.yaml
  operators/postgres-operator-krestomatio/0.3.7/metadata/annotations.yaml
  operators/postgres-operator-krestomatio/0.3.7/tests/scorecard/config.yaml
  operators/postgres-operator-krestomatio/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4137 operator [N] [CI] keydb-operator (0.3.7)
  operators/keydb-operator/0.3.7/manifests/keydb-operator-controller-manager-metrics-service_v1_service.yaml
  operators/keydb-operator/0.3.7/manifests/keydb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keydb-operator/0.3.7/manifests/keydb-operator.clusterserviceversion.yaml
  operators/keydb-operator/0.3.7/manifests/keydb.krestomat.io_keydbs.yaml
  operators/keydb-operator/0.3.7/metadata/annotations.yaml
  operators/keydb-operator/0.3.7/tests/scorecard/config.yaml
  operators/keydb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4138 operator [N] [CI] nfs-operator (0.4.7)
  operators/nfs-operator/0.4.7/manifests/nfs-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-operator/0.4.7/manifests/nfs-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.7/manifests/nfs-operator.clusterserviceversion.yaml
  operators/nfs-operator/0.4.7/manifests/nfs.krestomat.io_ganeshas.yaml
  operators/nfs-operator/0.4.7/manifests/nfs.krestomat.io_routines.yaml
  operators/nfs-operator/0.4.7/metadata/annotations.yaml
  operators/nfs-operator/0.4.7/tests/scorecard/config.yaml
  operators/nfs-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4175 operator mondoo-operator (11.0.0)
  operators/mondoo-operator/11.0.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/11.0.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/11.0.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/11.0.0/metadata/annotations.yaml
  operators/mondoo-operator/11.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4176 operator susql-operator (0.0.3)
  operators/susql-operator/0.0.3/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.3/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.3/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.3/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.3/metadata/annotations.yaml
  operators/susql-operator/0.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4178 operator susql-operator (0.0.4)
  operators/susql-operator/0.0.4/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.4/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.4/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.4/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.4/metadata/annotations.yaml
  operators/susql-operator/0.0.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4177 operator hpe-csi-operator (2.4.2)
  operators/hpe-csi-operator/2.4.2/Dockerfile
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator.v2.4.2.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.2/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.4.2/metadata/annotations.yaml
  operators/hpe-csi-operator/2.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4179 operator external-secrets-operator (0.9.16)
  operators/external-secrets-operator/0.9.16/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.16/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.16/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.16/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.16/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4183 operator susql-operator (0.0.5)
  operators/susql-operator/0.0.5/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.5/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.5/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.5/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.5/metadata/annotations.yaml
  operators/susql-operator/0.0.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4185 operator moodle-operator (0.6.17)
  operators/moodle-operator/0.6.17/manifests/m4e.krestomat.io_moodles.yaml
  operators/moodle-operator/0.6.17/manifests/m4e.krestomat.io_nginxes.yaml
  operators/moodle-operator/0.6.17/manifests/m4e.krestomat.io_phpfpms.yaml
  operators/moodle-operator/0.6.17/manifests/m4e.krestomat.io_routines.yaml
  operators/moodle-operator/0.6.17/manifests/moodle-operator-controller-manager-metrics-service_v1_service.yaml
  operators/moodle-operator/0.6.17/manifests/moodle-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.17/manifests/moodle-operator.clusterserviceversion.yaml
  operators/moodle-operator/0.6.17/metadata/annotations.yaml
  operators/moodle-operator/0.6.17/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4187 operator keydb-operator (0.3.13)
  operators/keydb-operator/0.3.13/manifests/keydb-operator-controller-manager-metrics-service_v1_service.yaml
  operators/keydb-operator/0.3.13/manifests/keydb-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keydb-operator/0.3.13/manifests/keydb-operator.clusterserviceversion.yaml
  operators/keydb-operator/0.3.13/manifests/keydb.krestomat.io_keydbs.yaml
  operators/keydb-operator/0.3.13/metadata/annotations.yaml
  operators/keydb-operator/0.3.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4188 operator nfs-operator (0.4.12)
  operators/nfs-operator/0.4.12/manifests/nfs-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-operator/0.4.12/manifests/nfs-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.12/manifests/nfs-operator.clusterserviceversion.yaml
  operators/nfs-operator/0.4.12/manifests/nfs.krestomat.io_ganeshas.yaml
  operators/nfs-operator/0.4.12/manifests/nfs.krestomat.io_routines.yaml
  operators/nfs-operator/0.4.12/metadata/annotations.yaml
  operators/nfs-operator/0.4.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4186 operator postgres-operator-krestomatio (0.3.12)
  operators/postgres-operator-krestomatio/0.3.12/manifests/postgres-operator-controller-manager-metrics-service_v1_service.yaml
  operators/postgres-operator-krestomatio/0.3.12/manifests/postgres-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/postgres-operator-krestomatio/0.3.12/manifests/postgres-operator.clusterserviceversion.yaml
  operators/postgres-operator-krestomatio/0.3.12/manifests/postgres.krestomat.io_postgres.yaml
  operators/postgres-operator-krestomatio/0.3.12/metadata/annotations.yaml
  operators/postgres-operator-krestomatio/0.3.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4189 operator susql-operator (0.0.6)
  operators/susql-operator/0.0.6/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.6/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.6/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.6/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.6/metadata/annotations.yaml
  operators/susql-operator/0.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4144 operator [N] lms-moodle-operator (0.4.5)
  operators/lms-moodle-operator/0.4.5/manifests/lms-moodle-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lms-moodle-operator/0.4.5/manifests/lms-moodle-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lms-moodle-operator/0.4.5/manifests/lms-moodle-operator.clusterserviceversion.yaml
  operators/lms-moodle-operator/0.4.5/manifests/lms.krestomat.io_lmsmoodles.yaml
  operators/lms-moodle-operator/0.4.5/manifests/lms.krestomat.io_lmsmoodletemplates.yaml
  operators/lms-moodle-operator/0.4.5/metadata/annotations.yaml
  operators/lms-moodle-operator/0.4.5/metadata/dependencies.yaml
  operators/lms-moodle-operator/0.4.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3807 3641: made stale issues never close
  .github/workflows/stale_issues.yaml
Labels: dco-failed

#3919 operator tektoncd-operator (0.70.0)
  operators/tektoncd-operator/0.70.0/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektonchains.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektonhubs.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektoninstallersets.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.70.0/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-config-observability_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-config-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-config-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-controller-config-leader-election_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-info_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-webhook-config-leader-election_v1_configmap.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-operator_v1_service.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-result-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.70.0/manifests/tekton-result-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.70.0/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.70.0/metadata/annotations.yaml
  operators/tektoncd-operator/0.70.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4191 operator move2kube-operator (0.3.13)
  operators/move2kube-operator/0.3.13/bundle.Dockerfile
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.13/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.13/metadata/annotations.yaml
  operators/move2kube-operator/0.3.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4190 operator dell-csm-operator (1.5.0)
  operators/dell-csm-operator/1.5.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.5.0/manifests/dell-csm-operator.v1.5.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.5.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4193 operator trivy-operator (0.20.0)
  operators/trivy-operator/0.20.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/manifests/trivy-operator.v0.20.0.clusterserviceversion.yaml
  operators/trivy-operator/0.20.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4194 operator gitlab-operator-kubernetes (0.31.0)
  operators/gitlab-operator-kubernetes/0.31.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4196 operator deployment-validation-operator (0.7.6)
  operators/deployment-validation-operator/0.7.6/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.6/manifests/deploymentvalidationoperator.0.7.6.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.6/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4198 operator hive-operator (1.2.4436-44323bc)
  operators/hive-operator/1.2.4436-44323bc/manifests/hive-operator.v1.2.4436-44323bc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4436-44323bc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4436-44323bc/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4203 operator [CI] debezium-operator
  operators/debezium-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4202 operator debezium-operator (2.6.0-final)
  operators/debezium-operator/2.6.0-final/bundle.Dockerfile
  operators/debezium-operator/2.6.0-final/manifests/debezium-operator.v2.6.0-final.clusterserviceversion.yaml
  operators/debezium-operator/2.6.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.6.0-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4204 operator susql-operator (0.0.7)
  operators/susql-operator/0.0.7/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.7/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.7/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.7/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.7/metadata/annotations.yaml
  operators/susql-operator/0.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4205 operator debezium-operator (2.6.1-final)
  operators/debezium-operator/2.6.1-final/bundle.Dockerfile
  operators/debezium-operator/2.6.1-final/manifests/debezium-operator.v2.6.1-final.clusterserviceversion.yaml
  operators/debezium-operator/2.6.1-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.6.1-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4209 operator stackgres (1.10.0-rc1)
  operators/stackgres/1.10.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.10.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.10.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4210 operator awx-operator (2.16.0)
  operators/awx-operator/2.16.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.16.0/manifests/awx-operator.v2.16.0.clusterserviceversion.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.16.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.16.0/metadata/annotations.yaml
  operators/awx-operator/2.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4212 operator trivy-operator (0.20.1)
  operators/trivy-operator/0.20.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/manifests/trivy-operator.v0.20.1.clusterserviceversion.yaml
  operators/trivy-operator/0.20.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.20.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4213 operator yaks (0.19.1)
  operators/yaks/0.19.1/manifests/instances.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.1/manifests/tests.yaks.citrusframework.org.crd.yaml
  operators/yaks/0.19.1/manifests/yaks.v0.19.1.clusterserviceversion.yaml
  operators/yaks/0.19.1/metadata/annotations.yaml
  operators/yaks/0.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4219 operator susql-operator (0.0.8)
  operators/susql-operator/0.0.8/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.8/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.8/metadata/annotations.yaml
  operators/susql-operator/0.0.8/metadata/dependencies.yaml
  operators/susql-operator/0.0.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4218 operator mongodb-atlas-kubernetes (2.2.2)
  operators/mongodb-atlas-kubernetes/2.2.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4206 operator [R] instana-agent-operator (2.0.19 2.0.27)
  operators/instana-agent-operator/2.0.19/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.19/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.19/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.19/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.19/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.19/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.19/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.19/tests/scorecard/config.yaml
  operators/instana-agent-operator/2.0.27/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.27/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.27/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.27/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.27/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.27/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.27/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.27/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4221 operator kernel-module-management (2.1.0)
  operators/kernel-module-management/2.1.0/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.1.0/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.1.0/metadata/annotations.yaml
  operators/kernel-module-management/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4222 operator kernel-module-management-hub (2.1.0)
  operators/kernel-module-management-hub/2.1.0/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.1.0/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.1.0/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.1.0/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.1.0/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.1.0/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.1.0/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4224 operator [O] kernel-module-management (2.1.0)
  operators/kernel-module-management/2.1.0/manifests/kernel-module-management.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4226 operator pubsubplus-eventbroker-operator (1.0.3)
  operators/pubsubplus-eventbroker-operator/1.0.3/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.0.3/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.0.3/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.0.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4227 operator susql-operator (0.0.9)
  operators/susql-operator/0.0.9/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.9/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.9/metadata/annotations.yaml
  operators/susql-operator/0.0.9/metadata/dependencies.yaml
  operators/susql-operator/0.0.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4228 operator cluster-aas-operator (0.1.4)
  operators/cluster-aas-operator/0.1.4/manifests/argo_cd_cluser_rb.yaml
  operators/cluster-aas-operator/0.1.4/manifests/argo_cd_cluster_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-manager-config_v1_configmap.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-repo-bridge.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator-webhook-service_v1_service.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster-aas-operator.clusterserviceversion.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster_templates_user_ct_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/cluster_templates_user_role.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplateinstances.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplatequotas.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplates.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_clustertemplatesetup.yaml
  operators/cluster-aas-operator/0.1.4/manifests/clustertemplate.openshift.io_config.yaml
  operators/cluster-aas-operator/0.1.4/metadata/annotations.yaml
  operators/cluster-aas-operator/0.1.4/metadata/dependencies.yaml
  operators/cluster-aas-operator/0.1.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4229 operator [R] kubero-operator (0.0.99)
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.84/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.84/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.84/metadata/annotations.yaml
  operators/kubero-operator/0.0.84/tests/scorecard/config.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.96/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.96/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.96/metadata/annotations.yaml
  operators/kubero-operator/0.0.96/tests/scorecard/config.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.97/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.97/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.97/metadata/annotations.yaml
  operators/kubero-operator/0.0.97/tests/scorecard/config.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.98/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.98/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.98/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.98/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.98/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.98/metadata/annotations.yaml
  operators/kubero-operator/0.0.98/tests/scorecard/config.yaml
  operators/kubero-operator/0.0.99/manifests/kubero-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate, allow/force-release

#4234 operator gitlab-operator-kubernetes (0.31.1)
  operators/gitlab-operator-kubernetes/0.31.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4242 operator susql-operator (0.0.13)
  operators/susql-operator/0.0.13/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.13/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.13/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.13/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.13/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.13/metadata/annotations.yaml
  operators/susql-operator/0.0.13/metadata/dependencies.yaml
  operators/susql-operator/0.0.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4245 operator [CI] kaoto-operator
  operators/kaoto-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4248 operator mondoo-operator (11.1.1)
  operators/mondoo-operator/11.1.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/11.1.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/11.1.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/11.1.1/metadata/annotations.yaml
  operators/mondoo-operator/11.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4249 operator hpe-ezmeral-csi-operator (1.0.11)
  operators/hpe-ezmeral-csi-operator/1.0.11/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.11/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.11/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.11/manifests/hpe-ezmeral-csi-operator.v1.0.11.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.11/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4250 operator awx-operator (2.16.1)
  operators/awx-operator/2.16.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.16.1/manifests/awx-operator.v2.16.1.clusterserviceversion.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.16.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.16.1/metadata/annotations.yaml
  operators/awx-operator/2.16.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4251 operator hive-operator (1.2.4441-fdbfaf0)
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive-operator.v1.2.4441-fdbfaf0.clusterserviceversion.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4441-fdbfaf0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
