Repository k8s-operatorhub/community-operators, pull requests merged in 2024-12, with the labels that each got.

#5379 operator kyverno-operator (1.13.1)
  operators/kyverno-operator/1.13.1/manifests/kyverno-operator.configmap.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno-operator.configmap_metrics.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno-operator.rbac.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno-operator.service_v1.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno-operator.v1.13.1.clusterserviceversion.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_cleanuppolicies.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_clustercleanuppolicies.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_clusterpolicies.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_globalcontextentries.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_policies.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_policyexceptions.yaml
  operators/kyverno-operator/1.13.1/manifests/kyverno.io_updaterequests.yaml
  operators/kyverno-operator/1.13.1/manifests/reports.kyverno.io_clusterephemeralreports.yaml
  operators/kyverno-operator/1.13.1/manifests/reports.kyverno.io_ephemeralreports.yaml
  operators/kyverno-operator/1.13.1/manifests/wgpolicyk8s.io_clusterpolicyreports.yaml
  operators/kyverno-operator/1.13.1/manifests/wgpolicyk8s.io_policyreports.yaml
  operators/kyverno-operator/1.13.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5381 operator clickhouse (0.24.1)
  operators/clickhouse/0.24.1/manifests/clickhouse-operator.v0.24.1.clusterserviceversion.yaml
  operators/clickhouse/0.24.1/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.1/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.1/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.1/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5390 operator keycloak-operator (26.0.7)
  operators/keycloak-operator/26.0.7/bundle.Dockerfile
  operators/keycloak-operator/26.0.7/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.7/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.7/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5391 operator [R] debezium-operator (2.6.0-final 2.7.0-final 3.0.0-final)
  operators/debezium-operator/2.6.0-final/manifests/debezium-operator.v2.6.0-final.clusterserviceversion.yaml
  operators/debezium-operator/2.7.0-final/manifests/debezium-operator.v2.7.0-final.clusterserviceversion.yaml
  operators/debezium-operator/3.0.0-final/manifests/debezium-operator.v3.0.0-final.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#5392 operator [N] [CI] apicurio-api-controller (0.0.1)
  operators/apicurio-api-controller/0.0.1/bundle.Dockerfile
  operators/apicurio-api-controller/0.0.1/manifests/apicurio-api-controller.clusterserviceversion.yaml
  operators/apicurio-api-controller/0.0.1/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-api-controller/0.0.1/metadata/annotations.yaml
  operators/apicurio-api-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5394 operator hawtio-operator (1.2.0)
  operators/hawtio-operator/1.2.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.2.0/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.2.0/metadata/annotations.yaml
  operators/hawtio-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5396 operator external-secrets-operator (0.11.0)
  operators/external-secrets-operator/0.11.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_clustergenerators.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_stssessiontokens.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.11.0/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.11.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.11.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5398 operator [O] debezium-operator (2.6.1-final)
  operators/debezium-operator/2.6.1-final/manifests/debezium-operator.v2.6.1-final.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5399 operator stackgres (1.15.0-rc1)
  operators/stackgres/1.15.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.15.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5403 operator clickhouse (0.24.2)
  operators/clickhouse/0.24.2/manifests/clickhouse-operator.v0.24.2.clusterserviceversion.yaml
  operators/clickhouse/0.24.2/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.2/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.2/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.2/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5406 operator dynatrace-operator (1.4.0)
  operators/dynatrace-operator/1.4.0/Dockerfile
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.0/manifests/install-config_v1_configmap.yaml
  operators/dynatrace-operator/1.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5409 operator cte-k8s-operator (1.5.2)
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/1.5.2/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/1.5.2/metadata/annotations.yaml
  operators/cte-k8s-operator/1.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5418 operator [CI] infinispan
  operators/infinispan/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5422 operator stackgres (1.15.0-rc2)
  operators/stackgres/1.15.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.15.0-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5423 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5424 operator gitlab-operator-kubernetes (1.7.2)
  operators/gitlab-operator-kubernetes/1.7.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5432 operator hive-operator (1.2.4672-af54e2f)
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive-operator.v1.2.4672-af54e2f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4672-af54e2f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4672-af54e2f/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5438 operator infinispan (2.4.7)
  operators/infinispan/2.4.7/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.7/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.7/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.7/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.7/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.7/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.7/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.7/metadata/annotations.yaml
  operators/infinispan/2.4.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5441 operator nri-plugins-operator (0.8.0)
  operators/nri-plugins-operator/0.8.0/manifests/config.nri_balloonspolicies.yaml
  operators/nri-plugins-operator/0.8.0/manifests/config.nri_nriplugindeployments.yaml
  operators/nri-plugins-operator/0.8.0/manifests/config.nri_templatepolicies.yaml
  operators/nri-plugins-operator/0.8.0/manifests/config.nri_topologyawarepolicies.yaml
  operators/nri-plugins-operator/0.8.0/manifests/nri-plugins-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nri-plugins-operator/0.8.0/manifests/nri-plugins-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nri-plugins-operator/0.8.0/manifests/nri-plugins-operator.clusterserviceversion.yaml
  operators/nri-plugins-operator/0.8.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nri-plugins-operator/0.8.0/metadata/annotations.yaml
  operators/nri-plugins-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5442 operator strimzi-kafka-operator (0.45.0)
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzi-cluster-operator.v0.45.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.45.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.45.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5443 operator [CI] strimzi-kafka-operator
  operators/strimzi-kafka-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5445 operator elastic-cloud-eck (2.16.0)
  operators/elastic-cloud-eck/2.16.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5450 operator project-quay (3.10.7)
  operators/project-quay/3.10.7/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.7/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5452 operator [CI] argocd-operator
  operators/argocd-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5453 operator flux-operator (0.12.0)
  operators/flux-operator/0.12.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.12.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.12.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.12.0/metadata/annotations.yaml
  operators/flux-operator/0.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5454 operator eginnovations-operator (0.0.9)
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.9/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5455 operator mongodb-atlas-kubernetes (2.6.0)
  operators/mongodb-atlas-kubernetes/2.6.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5458 operator postgresql (5.7.2)
  operators/postgresql/5.7.2/Dockerfile
  operators/postgresql/5.7.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.2/metadata/annotations.yaml
  operators/postgresql/5.7.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5459 operator project-quay (3.13.2)
  operators/project-quay/3.13.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5460 operator project-quay (3.9.9)
  operators/project-quay/3.9.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5465 operator ibm-security-verify-access-operator (24.12.0)
  operators/ibm-security-verify-access-operator/24.12.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/24.12.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/24.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5457 operator infinispan (2.4.8)
  operators/infinispan/2.4.8/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.8/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.8/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.8/metadata/annotations.yaml
  operators/infinispan/2.4.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5467 operator argocd-operator (0.13.0)
  operators/argocd-operator/0.13.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.13.0/manifests/argocd-operator.v0.13.0.clusterserviceversion.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.13.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5468 operator gitlab-operator-kubernetes (1.8.0)
  operators/gitlab-operator-kubernetes/1.8.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5463 operator [CI] verticadb-operator (25.1.0-0)
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.1.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.1.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.1.0-0/metadata/annotations.yaml
  operators/verticadb-operator/25.1.0-0/tests/scorecard/config.yaml
  operators/verticadb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5469 operator project-quay (3.12.6)
  operators/project-quay/3.12.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5431 operator [CI] splunk (2.7.0)
  operators/splunk/2.7.0/bundle.Dockerfile
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.7.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.7.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.7.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.7.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.7.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.7.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.7.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.7.0/metadata/annotations.yaml
  operators/splunk/2.7.0/tests/scorecard/config.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.7.0/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
  operators/splunk/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5470 operator gitlab-runner-operator (1.32.0)
  operators/gitlab-runner-operator/1.32.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.32.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5471 operator aerospike-kubernetes-operator (3.4.1)
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.4.1/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/3.4.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5472 operator [O] aerospike-kubernetes-operator (3.4.1)
  operators/aerospike-kubernetes-operator/3.4.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5473 operator kernel-module-management (2.2.1)
  operators/kernel-module-management/2.2.1/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.2.1/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.2.1/metadata/annotations.yaml
  operators/kernel-module-management/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5474 operator kernel-module-management-hub (2.2.1)
  operators/kernel-module-management-hub/2.2.1/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.2.1/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.2.1/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.2.1/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.2.1/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.2.1/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.2.1/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5466 operator [CI] mongodb-enterprise (1.30.0)
  operators/mongodb-enterprise/1.30.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.30.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.30.0/tests/scorecard/config.yaml
  operators/mongodb-enterprise/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5475 operator quay-api-operator (1.1.1)
  operators/quay-api-operator/1.1.1/manifests/quay-api-operator-controller-manager-metrics-service_v1_service.yaml
  operators/quay-api-operator/1.1.1/manifests/quay-api-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/quay-api-operator/1.1.1/manifests/quay-api-operator.clusterserviceversion.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_apitokens.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_applications.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_defaultperms.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_dockertokens.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_firstusers.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_manifestlabels.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_messages.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_notifications.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_organizationprunes.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_organizations.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_proxycaches.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_quotas.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_repositories.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_repositorymirrors.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_repositoryprunes.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_robots.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_tags.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_teamldaps.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_teamoidcs.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_teams.yaml
  operators/quay-api-operator/1.1.1/manifests/quay.herve4m.github.io_users.yaml
  operators/quay-api-operator/1.1.1/metadata/annotations.yaml
  operators/quay-api-operator/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5482 operator nexus-operator (3.3.0)
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusblobstores.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexuscleanuppolicies.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexusscripts.yaml
  operators/nexus-operator/3.3.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.3.0/manifests/nexus-operator-webhook-service_v1_service.yaml
  operators/nexus-operator/3.3.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.3.0/metadata/annotations.yaml
  operators/nexus-operator/3.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5485 operator stackgres (1.14.2)
  operators/stackgres/1.14.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.2/metadata/annotations.yaml
  operators/stackgres/1.14.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5488 operator gitlab-operator-kubernetes (1.8.1)
  operators/gitlab-operator-kubernetes/1.8.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
