Repository k8s-operatorhub/community-operators, pull requests merged in 2024-05, with the labels that each got.

#4247 operator mongodb-enterprise (1.25.0)
  operators/mongodb-enterprise/1.25.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.25.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.25.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4252 operator [N] [CI] keycloak-permissions-operator (1.3.0)
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator-controller-manager-metrics-svc_v1_service.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak-permissions-operator.clusterserviceversion.yaml
  operators/keycloak-permissions-operator/1.3.0/manifests/keycloak.nerc.mghpcc.org_keycloakauthorizations.yaml
  operators/keycloak-permissions-operator/1.3.0/metadata/annotations.yaml
  operators/keycloak-permissions-operator/1.3.0/tests/scorecard/config.yaml
  operators/keycloak-permissions-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4254 operator knative-operator (1.14.0)
  operators/knative-operator/1.14.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.14.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.14.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.14.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.14.0/manifests/knative-operator.v1.14.0.clusterserviceversion.yaml
  operators/knative-operator/1.14.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.14.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.14.0/metadata/annotations.yaml
  operators/knative-operator/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4255 operator external-secrets-operator (0.9.17)
  operators/external-secrets-operator/0.9.17/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.17/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.17/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.17/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.17/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4258 operator apicurio-registry (1.1.2-v2.5.11.final)
  operators/apicurio-registry/1.1.2-v2.5.11.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.2-v2.5.11.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.2-v2.5.11.final/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4257 operator cte-k8s-operator (1.4.13)
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/1.4.13/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/1.4.13/metadata/annotations.yaml
  operators/cte-k8s-operator/1.4.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4259 operator mariadb-operator (0.28.0)
  operators/mariadb-operator/0.28.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.28.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.28.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.28.0/metadata/annotations.yaml
  operators/mariadb-operator/0.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4261 operator kubero-operator (0.0.159)
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberomails.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberomemcacheds.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberorabbitmqs.yaml
  operators/kubero-operator/0.0.159/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.0.159/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.0.159/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.0.159/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.0.159/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.0.159/metadata/annotations.yaml
  operators/kubero-operator/0.0.159/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4263 operator mariadb-operator (0.28.1)
  operators/mariadb-operator/0.28.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.28.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.28.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.28.1/metadata/annotations.yaml
  operators/mariadb-operator/0.28.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4264 operator hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4266 operator [R] hazelcast-platform-operator (5.0.0 5.1.0 5.10.0 5.11.0 5.2.0 5.3.0 5.4.0 5.5.0 5.6.0 5.7.0 5.8.0 5.9.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4274 operator dns-operator (0.2.0)
  operators/dns-operator/0.2.0/manifests/dns-operator-controller-manager-metrics-service_v1_service.yaml
  operators/dns-operator/0.2.0/manifests/dns-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dns-operator/0.2.0/manifests/dns-operator.clusterserviceversion.yaml
  operators/dns-operator/0.2.0/manifests/kuadrant.io_dnsrecords.yaml
  operators/dns-operator/0.2.0/manifests/kuadrant.io_managedzones.yaml
  operators/dns-operator/0.2.0/metadata/annotations.yaml
  operators/dns-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4275 operator limitador-operator (0.8.0)
  operators/limitador-operator/0.8.0/bundle.Dockerfile
  operators/limitador-operator/0.8.0/manifests/limitador-operator-controller-manager-metrics-service_v1_service.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.8.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.8.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.8.0/metadata/annotations.yaml
  operators/limitador-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4281 operator camel-k (2.3.1)
  operators/camel-k/2.3.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/camel-k.v2.3.1.clusterserviceversion.yaml
  operators/camel-k/2.3.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.3.1/metadata/annotations.yaml
  operators/camel-k/2.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4313 operator hive-operator (1.2.4446-e11a23b)
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive-operator.v1.2.4446-e11a23b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4446-e11a23b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4446-e11a23b/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4315 operator kiali (1.84.0)
  operators/kiali/1.84.0/bundle.Dockerfile
  operators/kiali/1.84.0/manifests/kiali.crd.yaml
  operators/kiali/1.84.0/manifests/kiali.v1.84.0.clusterserviceversion.yaml
  operators/kiali/1.84.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4280 operator jaeger (1.57.0)
  operators/jaeger/1.57.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.57.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.57.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.57.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.57.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.57.0/metadata/annotations.yaml
  operators/jaeger/1.57.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4318 operator hpe-ezmeral-csi-operator (1.0.12)
  operators/hpe-ezmeral-csi-operator/1.0.12/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.12/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/manifests/hpe-ezmeral-csi-operator.v1.0.12.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4322 operator keycloak-permissions-operator (1.4.1)
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator-controller-manager-metrics-svc_v1_service.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak-permissions-operator.clusterserviceversion.yaml
  operators/keycloak-permissions-operator/1.4.1/manifests/keycloak.nerc.mghpcc.org_keycloakauthorizations.yaml
  operators/keycloak-permissions-operator/1.4.1/metadata/annotations.yaml
  operators/keycloak-permissions-operator/1.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4323 operator dynatrace-operator (1.1.0)
  operators/dynatrace-operator/1.1.0/Dockerfile
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4325 operator hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4314 operator [N] [CI] bpfman-operator (0.4.1)
  operators/bpfman-operator/0.4.1/bundle.Dockerfile
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.4.1/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.4.1/metadata/annotations.yaml
  operators/bpfman-operator/0.4.1/metadata/dependencies.yaml
  operators/bpfman-operator/0.4.1/tests/scorecard/config.yaml
  operators/bpfman-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4330 operator infinispan (2.4.1)
  operators/infinispan/2.4.1/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.1/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.1/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.1/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.1/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.1/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.1/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.1/metadata/annotations.yaml
  operators/infinispan/2.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4331 operator skupper-operator (1.7.0)
  operators/skupper-operator/1.7.0/manifests/skupper-operator.v1.7.0.clusterserviceversion.yaml
  operators/skupper-operator/1.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4332 operator snapscheduler (3.4.0)
  operators/snapscheduler/3.4.0/manifests/snapscheduler-controller-manager-metrics-service_v1_service.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler-manager-config_v1_configmap.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler.backube_snapshotschedules.yaml
  operators/snapscheduler/3.4.0/manifests/snapscheduler.clusterserviceversion.yaml
  operators/snapscheduler/3.4.0/metadata/annotations.yaml
  operators/snapscheduler/3.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4333 operator gitlab-operator-kubernetes (0.31.2)
  operators/gitlab-operator-kubernetes/0.31.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4334 operator mongodb-atlas-kubernetes (2.3.0)
  operators/mongodb-atlas-kubernetes/2.3.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4335 operator keycloak-operator (24.0.4)
  operators/keycloak-operator/24.0.4/bundle.Dockerfile
  operators/keycloak-operator/24.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4329 operator [CI] ibm-block-csi-operator-community (1.11.2)
  operators/ibm-block-csi-operator-community/1.11.2/bundle-1.11.2.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.2/manifests/ibm-block-csi-operator.v1.11.2.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.2/metadata/annotations.yaml
  operators/ibm-block-csi-operator-community/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4340 operator hive-operator (1.2.4451-83aedb9)
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive-operator.v1.2.4451-83aedb9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4451-83aedb9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4451-83aedb9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4344 operator external-secrets-operator (0.9.18)
  operators/external-secrets-operator/0.9.18/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.18/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.18/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.18/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.18/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4346 operator [CI] verticadb-operator
  operators/verticadb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4350 operator strimzi-kafka-operator (0.41.0)
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzi-cluster-operator.v0.41.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.41.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.41.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4351 operator mondoo-operator (11.2.0)
  operators/mondoo-operator/11.2.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/11.2.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/11.2.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/11.2.0/metadata/annotations.yaml
  operators/mondoo-operator/11.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4353 operator flux (2.3.0)
  operators/flux/2.3.0/manifests/alert.crd.yaml
  operators/flux/2.3.0/manifests/bucket.crd.yaml
  operators/flux/2.3.0/manifests/cluster-reconciler-flux-system.clusterrolebinding.yaml
  operators/flux/2.3.0/manifests/crd-controller-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/crd-controller-flux-system.clusterrolebinding.yaml
  operators/flux/2.3.0/manifests/flux-edit-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/flux-view-flux-system.clusterrole.yaml
  operators/flux/2.3.0/manifests/flux.v2.3.0.clusterserviceversion.yaml
  operators/flux/2.3.0/manifests/gitrepository.crd.yaml
  operators/flux/2.3.0/manifests/helmchart.crd.yaml
  operators/flux/2.3.0/manifests/helmrelease.crd.yaml
  operators/flux/2.3.0/manifests/helmrepository.crd.yaml
  operators/flux/2.3.0/manifests/imagepolicy.crd.yaml
  operators/flux/2.3.0/manifests/imagerepository.crd.yaml
  operators/flux/2.3.0/manifests/imageupdateautomation.crd.yaml
  operators/flux/2.3.0/manifests/kustomization.crd.yaml
  operators/flux/2.3.0/manifests/notification-controller.service.yaml
  operators/flux/2.3.0/manifests/ocirepository.crd.yaml
  operators/flux/2.3.0/manifests/provider.crd.yaml
  operators/flux/2.3.0/manifests/receiver.crd.yaml
  operators/flux/2.3.0/manifests/source-controller.service.yaml
  operators/flux/2.3.0/manifests/webhook-receiver.service.yaml
  operators/flux/2.3.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4357 operator rabbitmq-messaging-topology-operator (1.14.1)
  operators/rabbitmq-messaging-topology-operator/1.14.1/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_operatorpolicies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.14.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4358 operator project-quay (3.12.0-nightly.20240516)
  operators/project-quay/3.12.0-nightly.20240516/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240516/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240516/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4359 operator rabbitmq-cluster-operator (2.9.0)
  operators/rabbitmq-cluster-operator/2.9.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.9.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.9.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4360 operator edp-keycloak-operator (1.21.0)
  operators/edp-keycloak-operator/1.21.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.21.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.21.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.21.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4362 operator datadog-operator (1.6.0)
  operators/datadog-operator/1.6.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.6.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.6.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.6.0/metadata/annotations.yaml
  operators/datadog-operator/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4361 operator knative-operator (1.14.1)
  operators/knative-operator/1.14.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.1/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.1/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.1/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.14.1/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.14.1/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.14.1/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.14.1/manifests/knative-operator.v1.14.1.clusterserviceversion.yaml
  operators/knative-operator/1.14.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.1/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.14.1/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.14.1/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.14.1/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.14.1/metadata/annotations.yaml
  operators/knative-operator/1.14.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4363 operator gitlab-operator-kubernetes (1.0.0)
  operators/gitlab-operator-kubernetes/1.0.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4364 operator project-quay (3.12.0-nightly.20240517)
  operators/project-quay/3.12.0-nightly.20240517/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240517/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240517/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4367 operator project-quay (3.12.0-nightly.20240518)
  operators/project-quay/3.12.0-nightly.20240518/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240518/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240518/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4368 operator project-quay (3.12.0-nightly.20240519)
  operators/project-quay/3.12.0-nightly.20240519/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240519/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240519/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4369 operator ibm-block-csi-operator-community (1.11.3)
  operators/ibm-block-csi-operator-community/1.11.3/bundle-1.11.3.Dockerfile
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.11.3/manifests/ibm-block-csi-operator.v1.11.3.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.11.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4370 operator project-quay (3.12.0-nightly.20240520)
  operators/project-quay/3.12.0-nightly.20240520/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240520/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240520/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4374 operator trivy-operator (0.21.0)
  operators/trivy-operator/0.21.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/manifests/trivy-operator.v0.21.0.clusterserviceversion.yaml
  operators/trivy-operator/0.21.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4230 operator gitlab-runner-operator (1.25.0)
  operators/gitlab-runner-operator/1.25.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-gitlab-runner-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4377 operator hive-operator (1.2.4459-f910c9b)
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive-operator.v1.2.4459-f910c9b.clusterserviceversion.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4459-f910c9b/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4459-f910c9b/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4382 operator trivy-operator (0.21.1)
  operators/trivy-operator/0.21.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/manifests/trivy-operator.v0.21.1.clusterserviceversion.yaml
  operators/trivy-operator/0.21.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.21.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4383 operator project-quay (3.12.0-nightly.20240521)
  operators/project-quay/3.12.0-nightly.20240521/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240521/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240521/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4337 operator argocd-operator (0.10.0)
  operators/argocd-operator/0.10.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.10.0/manifests/argocd-operator.v0.10.0.clusterserviceversion.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.10.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4388 operator aerospike-kubernetes-operator (3.3.0)
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.3.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.3.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4389 operator postgresql (5.5.2)
  operators/postgresql/5.5.2/Dockerfile
  operators/postgresql/5.5.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.2/metadata/annotations.yaml
  operators/postgresql/5.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4390 operator project-quay (3.12.0-nightly.20240522)
  operators/project-quay/3.12.0-nightly.20240522/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240522/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240522/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4391 operator awx-operator (2.17.0)
  operators/awx-operator/2.17.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.17.0/manifests/awx-operator.v2.17.0.clusterserviceversion.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.17.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.17.0/metadata/annotations.yaml
  operators/awx-operator/2.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4393 operator project-quay (3.12.0-nightly.20240523)
  operators/project-quay/3.12.0-nightly.20240523/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240523/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240523/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4397 operator fence-agents-remediation (0.4.0)
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation-webhook-service_v1_service.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.4.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.4.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4398 operator gitlab-operator-kubernetes (1.0.1)
  operators/gitlab-operator-kubernetes/1.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4399 operator project-quay (3.12.0-nightly.20240524)
  operators/project-quay/3.12.0-nightly.20240524/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240524/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240524/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4400 operator [CI] instana-agent-operator
  operators/instana-agent-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4347 operator [R] instana-agent-operator (2.0.30 2.0.31)
  operators/instana-agent-operator/2.0.30/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.30/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.30/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.30/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.30/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.30/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.30/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.30/tests/scorecard/config.yaml
  operators/instana-agent-operator/2.0.31/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.0.31/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.0.31/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.0.31/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.0.31/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.0.31/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.0.31/metadata/annotations.yaml
  operators/instana-agent-operator/2.0.31/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4401 operator project-quay (3.12.0-nightly.20240525)
  operators/project-quay/3.12.0-nightly.20240525/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240525/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240525/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4403 operator project-quay (3.12.0-nightly.20240526)
  operators/project-quay/3.12.0-nightly.20240526/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240526/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240526/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4407 operator project-quay (3.12.0-nightly.20240527)
  operators/project-quay/3.12.0-nightly.20240527/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240527/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240527/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4386 operator layer7-operator (1.0.6)
  operators/layer7-operator/1.0.6/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.0.6/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.0.6/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.0.6/metadata/annotations.yaml
  operators/layer7-operator/1.0.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4387 operator ovms-operator (1.2.0)
  operators/ovms-operator/1.2.0/Dockerfile
  operators/ovms-operator/1.2.0/manifests/intel.com_model_servers.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator.clusterserviceversion.yaml
  operators/ovms-operator/1.2.0/metadata/annotations.yaml
  operators/ovms-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4412 operator project-quay (3.12.0-nightly.20240528)
  operators/project-quay/3.12.0-nightly.20240528/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240528/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240528/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4413 operator netobserv-operator (1.6.0-community)
  operators/netobserv-operator/1.6.0-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.0-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.0-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.0-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.0-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.0-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.0-community/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4416 operator kiali (1.85.0)
  operators/kiali/1.85.0/bundle.Dockerfile
  operators/kiali/1.85.0/manifests/kiali.crd.yaml
  operators/kiali/1.85.0/manifests/kiali.v1.85.0.clusterserviceversion.yaml
  operators/kiali/1.85.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4421 operator infinispan (2.4.2)
  operators/infinispan/2.4.2/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.2/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.2/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.2/metadata/annotations.yaml
  operators/infinispan/2.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4426 operator instana-agent-operator (2.1.0)
  operators/instana-agent-operator/2.1.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.0/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.0/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.0/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.0/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4420 operator [O] project-quay (3.11.1)
  operators/project-quay/3.11.1/manifests/quay-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4427 operator hive-operator (1.2.4461-97686bb)
  operators/hive-operator/1.2.4461-97686bb/manifests/hive-operator.v1.2.4461-97686bb.clusterserviceversion.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4461-97686bb/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4461-97686bb/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4428 operator hawtio-operator (1.1.0)
  operators/hawtio-operator/1.1.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.1.0/manifests/hawtio-operator.v1.1.0.clusterserviceversion.yaml
  operators/hawtio-operator/1.1.0/metadata/annotations.yaml
  operators/hawtio-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4429 operator project-quay (3.12.0-nightly.20240530)
  operators/project-quay/3.12.0-nightly.20240530/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240530/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240530/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4433 operator mondoo-operator (11.2.1)
  operators/mondoo-operator/11.2.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/11.2.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/11.2.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/11.2.1/metadata/annotations.yaml
  operators/mondoo-operator/11.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4431 operator susql-operator (0.0.16)
  operators/susql-operator/0.0.16/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.16/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.16/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.16/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.16/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.16/metadata/annotations.yaml
  operators/susql-operator/0.0.16/metadata/dependencies.yaml
  operators/susql-operator/0.0.16/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
