Repository k8s-operatorhub/community-operators, pull requests merged in 2024-08, with the labels that each got.

#4774 operator instana-agent-operator (2.1.5)
  operators/instana-agent-operator/2.1.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.5/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.5/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.5/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.5/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.5/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4773 operator hpe-csi-operator (2.5.0)
  operators/hpe-csi-operator/2.5.0/Dockerfile
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator.v2.5.0.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.0/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.0/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4778 operator hpe-csi-operator (2.5.1)
  operators/hpe-csi-operator/2.5.1/Dockerfile
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator.v2.5.1.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.1/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.1/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4781 operator pubsubplus-eventbroker-operator (1.1.1)
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4782 operator keda (2.14.1)
  operators/keda/2.14.1/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.14.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.14.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.14.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.14.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.14.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.14.1/manifests/keda.v2.14.1.clusterserviceversion.yaml
  operators/keda/2.14.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4783 operator trustify-operator (0.1.0-alpha.5)
  operators/trustify-operator/0.1.0-alpha.5/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.5/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4784 operator external-secrets-operator (0.10.0)
  operators/external-secrets-operator/0.10.0/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.0/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.0/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.0/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4785 operator hive-operator (1.2.4552-bf2d689)
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive-operator.v1.2.4552-bf2d689.clusterserviceversion.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4552-bf2d689/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4552-bf2d689/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4809 operator [CI] gitlab-operator-kubernetes
  operators/gitlab-operator-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4828 operator splunk (2.6.0)
  operators/splunk/2.6.0/bundle.Dockerfile
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.6.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.6.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.6.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.6.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.6.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.6.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.6.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.6.0/metadata/annotations.yaml
  operators/splunk/2.6.0/tests/scorecard/config.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.6.0/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#4787 operator cc-operator (0.9.0)
  operators/cc-operator/0.9.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.9.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.9.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.9.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.9.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.9.0/metadata/annotations.yaml
  operators/cc-operator/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4832 operator hpe-ezmeral-csi-operator (1.0.15)
  operators/hpe-ezmeral-csi-operator/1.0.15/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator.v1.0.15.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4831 operator camel-k (2.4.0)
  operators/camel-k/2.4.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/camel-k.v2.4.0.clusterserviceversion.yaml
  operators/camel-k/2.4.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.4.0/metadata/annotations.yaml
  operators/camel-k/2.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4835 operator grafana-operator (5.12.0)
  operators/grafana-operator/5.12.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.12.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.12.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4839 operator gitlab-operator-kubernetes (1.2.2)
  operators/gitlab-operator-kubernetes/1.2.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4841 operator instana-agent-operator (2.1.6)
  operators/instana-agent-operator/2.1.6/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.6/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.6/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.6/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.6/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.6/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.6/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4842 operator [CI] bpfman-operator (0.5.0)
  operators/bpfman-operator/0.5.0/bundle.Dockerfile
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.0/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.0/metadata/annotations.yaml
  operators/bpfman-operator/0.5.0/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.0/tests/scorecard/config.yaml
  operators/bpfman-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4844 operator dynatrace-operator (1.2.2)
  operators/dynatrace-operator/1.2.2/Dockerfile
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4833 operator [CI] layer7-operator (1.0.7)
  operators/layer7-operator/1.0.7/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.0.7/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.0.7/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.0.7/metadata/annotations.yaml
  operators/layer7-operator/1.0.7/tests/scorecard/config.yaml
  operators/layer7-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4508 operator [N] [CI] krateo-installer (0.0.1)
  operators/krateo-installer/0.0.1/bundle.Dockerfile
  operators/krateo-installer/0.0.1/manifests/installer.krateo.io_installers.yaml
  operators/krateo-installer/0.0.1/manifests/krateo-installer-controller-manager-metrics-service_v1_service.yaml
  operators/krateo-installer/0.0.1/manifests/krateo-installer-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/krateo-installer/0.0.1/manifests/krateo-installer.clusterserviceversion.yaml
  operators/krateo-installer/0.0.1/metadata/annotations.yaml
  operators/krateo-installer/0.0.1/tests/scorecard/config.yaml
  operators/krateo-installer/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4834 operator jaeger (1.59.0)
  operators/jaeger/1.59.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.59.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.59.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.59.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.59.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.59.0/metadata/annotations.yaml
  operators/jaeger/1.59.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4847 operator jaeger (1.60.0)
  operators/jaeger/1.60.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.60.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.60.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.60.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.60.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.60.0/metadata/annotations.yaml
  operators/jaeger/1.60.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4850 operator keda (2.15.0)
  operators/keda/2.15.0/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.15.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.15.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.15.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.15.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.15.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.15.0/manifests/keda.v2.15.0.clusterserviceversion.yaml
  operators/keda/2.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4858 operator [CI] ack-wafv2-controller
  operators/ack-wafv2-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4860 operator [CI] ack-ses-controller
  operators/ack-ses-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4861 operator verticadb-operator (2.2.0)
  operators/verticadb-operator/2.2.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.2.0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.2.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.2.0/metadata/annotations.yaml
  operators/verticadb-operator/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4865 operator keda (2.15.1)
  operators/keda/2.15.1/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.15.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.15.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.15.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.15.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.15.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.15.1/manifests/keda.v2.15.1.clusterserviceversion.yaml
  operators/keda/2.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4856 operator clickhouse (0.23.7)
  operators/clickhouse/0.23.7/manifests/clickhouse-operator.v0.23.7.clusterserviceversion.yaml
  operators/clickhouse/0.23.7/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.7/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.7/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.23.7/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4862 operator [CI] ack-apigateway-controller
  operators/ack-apigateway-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4870 operator hive-operator (1.2.4564-bdf9d08)
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive-operator.v1.2.4564-bdf9d08.clusterserviceversion.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4564-bdf9d08/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4564-bdf9d08/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4871 operator [CI] ack-athena-controller
  operators/ack-athena-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4872 operator [CI] ack-cognitoidentity-controller
  operators/ack-cognitoidentity-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4873 operator [CI] ack-ebs-controller
  operators/ack-ebs-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4874 operator [CI] ack-recyclebin-controller
  operators/ack-recyclebin-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#4849 operator percona-postgresql-operator (2.4.1)
  operators/percona-postgresql-operator/2.4.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/percona-postgresql-operator.v2.4.1.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4879 operator gitlab-operator-kubernetes (1.3.0)
  operators/gitlab-operator-kubernetes/1.3.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4881 operator flux-operator (0.8.0)
  operators/flux-operator/0.8.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.8.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.8.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.8.0/metadata/annotations.yaml
  operators/flux-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4848 operator dell-csm-operator (1.6.0)
  operators/dell-csm-operator/1.6.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.0/manifests/dell-csm-operator.v1.6.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.6.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4885 operator hive-operator (1.2.4568-b3eca52)
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive-operator.v1.2.4568-b3eca52.clusterserviceversion.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4568-b3eca52/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4568-b3eca52/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4887 operator bpfman-operator (0.5.1)
  operators/bpfman-operator/0.5.1/bundle.Dockerfile
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.1/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.1/metadata/annotations.yaml
  operators/bpfman-operator/0.5.1/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4890 operator datadog-operator (1.8.0)
  operators/datadog-operator/1.8.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.8.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.8.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.8.0/metadata/annotations.yaml
  operators/datadog-operator/1.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4894 operator gitlab-runner-operator (1.28.1)
  operators/gitlab-runner-operator/1.28.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.28.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.28.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4895 operator gitlab-operator-kubernetes (1.3.1)
  operators/gitlab-operator-kubernetes/1.3.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4897 operator project-quay (3.11.4)
  operators/project-quay/3.11.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4900 operator project-quay (3.12.1)
  operators/project-quay/3.12.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4901 operator [CI] netobserv-operator (1.6.2-community)
  operators/netobserv-operator/1.6.2-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.2-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.2-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.2-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.2-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.2-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.2-community/metadata/annotations.yaml
  operators/netobserv-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4903 operator strimzi-kafka-operator (0.43.0)
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzi-cluster-operator.v0.43.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.43.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.43.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4905 operator trustify-operator (0.1.0-alpha.6)
  operators/trustify-operator/0.1.0-alpha.6/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.6/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4908 operator susql-operator (0.0.24)
  operators/susql-operator/0.0.24/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.24/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.24/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.24/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.24/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.24/metadata/annotations.yaml
  operators/susql-operator/0.0.24/metadata/dependencies.yaml
  operators/susql-operator/0.0.24/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4904 operator mongodb-enterprise (1.27.0)
  operators/mongodb-enterprise/1.27.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.27.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.27.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4909 operator move2kube-operator (0.3.14)
  operators/move2kube-operator/0.3.14/bundle.Dockerfile
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.14/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.14/metadata/annotations.yaml
  operators/move2kube-operator/0.3.14/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4911 operator trustify-operator (0.1.0-alpha.7)
  operators/trustify-operator/0.1.0-alpha.7/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.7/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.7/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4913 operator hive-operator (1.2.4574-1ec27ad)
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive-operator.v1.2.4574-1ec27ad.clusterserviceversion.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4574-1ec27ad/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4574-1ec27ad/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4915 operator knative-operator (1.15.4)
  operators/knative-operator/1.15.4/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.4/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.4/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.4/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.4/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.15.4/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.15.4/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.15.4/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.15.4/manifests/knative-operator.v1.15.4.clusterserviceversion.yaml
  operators/knative-operator/1.15.4/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.4/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.4/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.4/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.4/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.15.4/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.15.4/metadata/annotations.yaml
  operators/knative-operator/1.15.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4917 operator stackgres (1.13.0-rc1)
  operators/stackgres/1.13.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.13.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.13.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4869 operator instana-agent-operator (2.1.7)
  operators/instana-agent-operator/2.1.7/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.7/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.7/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.7/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.7/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.7/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.7/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4920 operator [R] susql-operator (0.0.14 0.0.16 0.0.17 0.0.18 0.0.19 0.0.20 0.0.21 0.0.22 0.0.24 0.0.26)
  operators/susql-operator/0.0.1/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.1/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.2/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.2/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.2/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.2/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.2/metadata/annotations.yaml
  operators/susql-operator/0.0.2/tests/scorecard/config.yaml
  operators/susql-operator/0.0.26/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.26/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.26/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.26/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.26/metadata/annotations.yaml
  operators/susql-operator/0.0.26/tests/scorecard/config.yaml
  operators/susql-operator/0.0.3/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.3/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.3/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.3/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.3/metadata/annotations.yaml
  operators/susql-operator/0.0.3/tests/scorecard/config.yaml
  operators/susql-operator/0.0.4/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.4/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.4/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.4/metadata/annotations.yaml
  operators/susql-operator/0.0.4/tests/scorecard/config.yaml
  operators/susql-operator/0.0.5/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.5/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.5/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.5/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.5/metadata/annotations.yaml
  operators/susql-operator/0.0.5/tests/scorecard/config.yaml
  operators/susql-operator/0.0.6/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.6/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.6/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.6/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.6/metadata/annotations.yaml
  operators/susql-operator/0.0.6/tests/scorecard/config.yaml
  operators/susql-operator/0.0.7/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.7/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.7/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.7/metadata/annotations.yaml
  operators/susql-operator/0.0.7/tests/scorecard/config.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.8/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.8/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.8/metadata/annotations.yaml
  operators/susql-operator/0.0.8/metadata/dependencies.yaml
  operators/susql-operator/0.0.8/tests/scorecard/config.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.9/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.9/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.9/metadata/annotations.yaml
  operators/susql-operator/0.0.9/metadata/dependencies.yaml
  operators/susql-operator/0.0.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4923 operator external-secrets-operator (0.10.1)
  operators/external-secrets-operator/0.10.1/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.1/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.1/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.1/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4891 operator percona-xtradb-cluster-operator (1.15.0)
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/percona-xtradb-cluster-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4889 operator wildfly (1.1.0)
  operators/wildfly/1.1.0/bundle.Dockerfile
  operators/wildfly/1.1.0/manifests/wildfly-operator.v1.1.0.clusterserviceversion.yaml
  operators/wildfly/1.1.0/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/1.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4886 operator [N] [CI] nacos-operator (0.0.1)
  operators/nacos-operator/0.0.1/manifests/nacos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nacos-operator/0.0.1/manifests/nacos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nacos-operator/0.0.1/manifests/nacos-operator-webhook-service_v1_service.yaml
  operators/nacos-operator/0.0.1/manifests/nacos-operator.v0.0.1.clusterserviceversion.yaml
  operators/nacos-operator/0.0.1/manifests/nacos.yunweizhan.com.cn_nacosclusters.yaml
  operators/nacos-operator/0.0.1/manifests/nacos.yunweizhan.com.cn_nacosstandalones.yaml
  operators/nacos-operator/0.0.1/metadata/annotations.yaml
  operators/nacos-operator/0.0.1/tests/scorecard/config.yaml
  operators/nacos-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4928 operator [CI] mariadb-operator (0.30.0)
  operators/mariadb-operator/0.30.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.30.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.30.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.30.0/metadata/annotations.yaml
  operators/mariadb-operator/0.30.0/tests/scorecard/config.yaml
  operators/mariadb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4929 operator skupper-operator (1.8.0)
  operators/skupper-operator/1.8.0/manifests/skupper-operator.v1.8.0.clusterserviceversion.yaml
  operators/skupper-operator/1.8.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4934 operator [CI] registry-operator
  operators/registry-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated
