Repository k8s-operatorhub/community-operators, pull requests merged in 2024-11, with the labels that each got.

#5236 operator gitlab-operator-kubernetes (1.6.0)
  operators/gitlab-operator-kubernetes/1.6.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5237 operator keycloak-operator (26.0.5)
  operators/keycloak-operator/26.0.5/bundle.Dockerfile
  operators/keycloak-operator/26.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5239 operator percona-server-mongodb-operator (1.17.0)
  operators/percona-server-mongodb-operator/1.17.0/manifests/percona-server-mongodb-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.17.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5240 operator percona-xtradb-cluster-operator (1.15.1)
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/percona-xtradb-cluster-operator.v1.15.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5243 operator beegfs-csi-driver-operator (1.7.0)
  operators/beegfs-csi-driver-operator/1.7.0/manifests/beegfs-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/beegfs-csi-driver-operator/1.7.0/manifests/beegfs-csi-driver-operator-manager-config_v1_configmap.yaml
  operators/beegfs-csi-driver-operator/1.7.0/manifests/beegfs-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/beegfs-csi-driver-operator/1.7.0/manifests/beegfs-csi-driver-operator.clusterserviceversion.yaml
  operators/beegfs-csi-driver-operator/1.7.0/manifests/beegfs.csi.netapp.com_beegfsdrivers.yaml
  operators/beegfs-csi-driver-operator/1.7.0/metadata/annotations.yaml
  operators/beegfs-csi-driver-operator/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5244 operator stackgres (1.14.0)
  operators/stackgres/1.14.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.0/metadata/annotations.yaml
  operators/stackgres/1.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5246 operator [R] marin3r (0.11.1 0.12.3 0.13.1)
  operators/marin3r/0.11.1/bundle.Dockerfile
  operators/marin3r/0.11.1/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.11.1/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.11.1/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.11.1/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.11.1/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.11.1/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.11.1/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.11.1/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.11.1/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.11.1/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.11.1/metadata/annotations.yaml
  operators/marin3r/0.11.1/tests/scorecard/config.yaml
  operators/marin3r/0.12.3/bundle.Dockerfile
  operators/marin3r/0.12.3/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.12.3/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.12.3/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.12.3/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.12.3/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.12.3/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.12.3/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.12.3/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.12.3/metadata/annotations.yaml
  operators/marin3r/0.12.3/tests/scorecard/config.yaml
  operators/marin3r/0.13.1/bundle.Dockerfile
  operators/marin3r/0.13.1/manifests/marin3r-controller-manager-metrics-service_v1_service.yaml
  operators/marin3r/0.13.1/manifests/marin3r-manager-config_v1_configmap.yaml
  operators/marin3r/0.13.1/manifests/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/marin3r/0.13.1/manifests/marin3r-webhook-service_v1_service.yaml
  operators/marin3r/0.13.1/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  operators/marin3r/0.13.1/manifests/marin3r.3scale.net_envoyconfigs.yaml
  operators/marin3r/0.13.1/manifests/marin3r.clusterserviceversion.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_discoveryservices.yaml
  operators/marin3r/0.13.1/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  operators/marin3r/0.13.1/metadata/annotations.yaml
  operators/marin3r/0.13.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#5248 operator project-quay (3.12.4)
  operators/project-quay/3.12.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5250 operator camel-k (2.5.0)
  operators/camel-k/2.5.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/camel-k.v2.5.0.clusterserviceversion.yaml
  operators/camel-k/2.5.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.5.0/metadata/annotations.yaml
  operators/camel-k/2.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5253 operator trident-operator (24.10.0)
  operators/trident-operator/24.10.0/manifests/trident-operator.v24.10.0.clusterserviceversion.yaml
  operators/trident-operator/24.10.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5252 operator hive-operator (1.2.4658-c13e207)
  operators/hive-operator/1.2.4658-c13e207/manifests/hive-operator.v1.2.4658-c13e207.clusterserviceversion.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4658-c13e207/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4658-c13e207/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5255 operator cluster-manager (0.15.1)
  operators/cluster-manager/0.15.1/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.15.1/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5256 operator klusterlet (0.15.1)
  operators/klusterlet/0.15.1/manifests/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.15.1/manifests/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/0.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5258 operator [CI] instaslice-operator (0.0.2)
  operators/instaslice-operator/0.0.2/manifests/inference.redhat.com_instaslices.yaml
  operators/instaslice-operator/0.0.2/manifests/instaslice-operator-controller-manager-metrics-service_v1_service.yaml
  operators/instaslice-operator/0.0.2/manifests/instaslice-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instaslice-operator/0.0.2/manifests/instaslice-operator-webhook-service_v1_service.yaml
  operators/instaslice-operator/0.0.2/manifests/instaslice-operator.clusterserviceversion.yaml
  operators/instaslice-operator/0.0.2/metadata/annotations.yaml
  operators/instaslice-operator/0.0.2/tests/scorecard/config.yaml
  operators/instaslice-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5260 operator [O] instaslice-operator (0.0.2)
  operators/instaslice-operator/0.0.2/manifests/instaslice-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5261 operator project-quay (3.13.0)
  operators/project-quay/3.13.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5262 operator skupper-operator (1.8.2)
  operators/skupper-operator/1.8.2/manifests/skupper-operator.v1.8.2.clusterserviceversion.yaml
  operators/skupper-operator/1.8.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5249 operator [CI] loki-operator (0.7.0)
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.7.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.7.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.7.0/metadata/annotations.yaml
  operators/loki-operator/0.7.0/tests/scorecard/config.yaml
  operators/loki-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5277 operator mariadb-operator (0.36.0)
  operators/mariadb-operator/0.36.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.36.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.36.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.36.0/metadata/annotations.yaml
  operators/mariadb-operator/0.36.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5281 operator datadog-operator (1.10.0)
  operators/datadog-operator/1.10.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.10.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.10.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.10.0/metadata/annotations.yaml
  operators/datadog-operator/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5282 operator keda (2.16.0)
  operators/keda/2.16.0/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.16.0/manifests/eventing.keda.sh_clustercloudeventsources.yaml
  operators/keda/2.16.0/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.16.0/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.16.0/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.16.0/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.16.0/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.16.0/manifests/keda.v2.16.0.clusterserviceversion.yaml
  operators/keda/2.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5288 operator kube-green (0.6.0)
  operators/kube-green/0.6.0/manifests/kube-green-aggregate-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-config_v1_configmap.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/kube-green/0.6.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.6.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.6.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.6.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.6.0/metadata/annotations.yaml
  operators/kube-green/0.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5287 operator hive-operator (1.2.4664-00f84cc)
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive-operator.v1.2.4664-00f84cc.clusterserviceversion.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4664-00f84cc/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4664-00f84cc/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5293 operator kiali (2.1.0)
  operators/kiali/2.1.0/bundle.Dockerfile
  operators/kiali/2.1.0/manifests/kiali.crd.yaml
  operators/kiali/2.1.0/manifests/kiali.v2.1.0.clusterserviceversion.yaml
  operators/kiali/2.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5294 operator loki-operator (0.7.1)
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.7.1/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.7.1/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.7.1/metadata/annotations.yaml
  operators/loki-operator/0.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5297 operator [CI] victoriametrics-operator
  operators/victoriametrics-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5247 operator grafana-operator (5.15.1)
  operators/grafana-operator/5.15.1/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.15.1/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.15.1/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5299 operator gitlab-operator-kubernetes (1.6.1)
  operators/gitlab-operator-kubernetes/1.6.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5298 operator [N] [CI] datasance-pot-operator (3.4.7)
  operators/datasance-pot-operator/3.4.7/manifests/datasance-iofog-operator.clusterserviceversion.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_clusterrole.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_role.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_rolebinding.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance.com-controlplanes_crd.yaml
  operators/datasance-pot-operator/3.4.7/metadata/annotations.yaml
  operators/datasance-pot-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5292 operator [N] [CI] kyverno-operator (1.12.6)
  operators/kyverno-operator/1.12.6/manifests/kyverno-operator.configmap.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno-operator.configmap_metrics.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno-operator.service_v1.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno-operator.v1.12.6.clusterserviceversion.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_admissionreports.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_backgroundscanreports.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_cleanuppolicies.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_clusteradmissionreports.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_clusterbackgroundscanreports.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_clustercleanuppolicies.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_clusterpolicies.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_globalcontextentries.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_policies.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_policyexceptions.yaml
  operators/kyverno-operator/1.12.6/manifests/kyverno.io_updaterequests.yaml
  operators/kyverno-operator/1.12.6/manifests/reports.kyverno.io_clusterephemeralreports.yaml
  operators/kyverno-operator/1.12.6/manifests/reports.kyverno.io_ephemeralreports.yaml
  operators/kyverno-operator/1.12.6/manifests/wgpolicyk8s.io_clusterpolicyreports.yaml
  operators/kyverno-operator/1.12.6/manifests/wgpolicyk8s.io_policyreports.yaml
  operators/kyverno-operator/1.12.6/metadata/annotations.yaml
  operators/kyverno-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5302 operator layer7-operator (1.1.0)
  operators/layer7-operator/1.1.0/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.1.0/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.1.0/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.1.0/metadata/annotations.yaml
  operators/layer7-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5303 operator elastic-cloud-eck (2.15.0)
  operators/elastic-cloud-eck/2.15.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5301 operator [CI] datasance-pot-operator (3.4.9)
  operators/datasance-pot-operator/3.4.9/manifests/datasance-iofog-operator.clusterserviceversion.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_clusterrole.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_role.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_rolebinding.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance.com-controlplanes_crd.yaml
  operators/datasance-pot-operator/3.4.9/metadata/annotations.yaml
  operators/datasance-pot-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5278 operator mongodb-enterprise (1.29.0)
  operators/mongodb-enterprise/1.29.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.29.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.29.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5306 operator authorino-operator (0.13.1)
  operators/authorino-operator/0.13.1/bundle.Dockerfile
  operators/authorino-operator/0.13.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.13.1/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.13.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.13.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.13.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.13.1/metadata/annotations.yaml
  operators/authorino-operator/0.13.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5307 operator authorino-operator (0.14.0)
  operators/authorino-operator/0.14.0/bundle.Dockerfile
  operators/authorino-operator/0.14.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.14.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.14.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.14.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.14.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.14.0/metadata/annotations.yaml
  operators/authorino-operator/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5308 operator quay-api-operator (1.0.0)
  operators/quay-api-operator/1.0.0/manifests/quay-api-operator-controller-manager-metrics-service_v1_service.yaml
  operators/quay-api-operator/1.0.0/manifests/quay-api-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/quay-api-operator/1.0.0/manifests/quay-api-operator.clusterserviceversion.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_apitokens.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_applications.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_defaultperms.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_dockertokens.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_firstusers.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_manifestlabels.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_messages.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_notifications.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_organizations.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_proxycaches.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_quotas.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_repositories.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_repositorymirrors.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_robots.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_tags.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_teamldaps.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_teamoidcs.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_teams.yaml
  operators/quay-api-operator/1.0.0/manifests/quay.herve4m.github.io_users.yaml
  operators/quay-api-operator/1.0.0/metadata/annotations.yaml
  operators/quay-api-operator/1.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5312 operator edp-keycloak-operator (1.23.0)
  operators/edp-keycloak-operator/1.23.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.23.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.23.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5314 operator hive-operator (1.2.4668-3ccd44d)
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive-operator.v1.2.4668-3ccd44d.clusterserviceversion.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4668-3ccd44d/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4668-3ccd44d/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5318 operator kyverno-operator (1.13.0)
  operators/kyverno-operator/1.13.0/manifests/kyverno-operator.configmap.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno-operator.configmap_metrics.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno-operator.rbac.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno-operator.service_v1.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno-operator.v1.13.0.clusterserviceversion.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_cleanuppolicies.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_clustercleanuppolicies.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_clusterpolicies.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_globalcontextentries.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_policies.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_policyexceptions.yaml
  operators/kyverno-operator/1.13.0/manifests/kyverno.io_updaterequests.yaml
  operators/kyverno-operator/1.13.0/manifests/reports.kyverno.io_clusterephemeralreports.yaml
  operators/kyverno-operator/1.13.0/manifests/reports.kyverno.io_ephemeralreports.yaml
  operators/kyverno-operator/1.13.0/manifests/wgpolicyk8s.io_clusterpolicyreports.yaml
  operators/kyverno-operator/1.13.0/manifests/wgpolicyk8s.io_policyreports.yaml
  operators/kyverno-operator/1.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5320 operator instana-agent-operator (2.1.10)
  operators/instana-agent-operator/2.1.10/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.10/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.10/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.10/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.10/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.10/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.10/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5330 operator gitlab-runner-operator (1.30.2)
  operators/gitlab-runner-operator/1.30.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5331 operator hawtio-operator (1.1.1)
  operators/hawtio-operator/1.1.1/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.1.1/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.1.1/metadata/annotations.yaml
  operators/hawtio-operator/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5321 operator percona-postgresql-operator (2.5.0)
  operators/percona-postgresql-operator/2.5.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/percona-postgresql-operator.v2.5.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5327 operator gitlab-runner-operator (1.31.0)
  operators/gitlab-runner-operator/1.31.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.31.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5335 operator gitlab-operator-kubernetes (1.7.0)
  operators/gitlab-operator-kubernetes/1.7.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5338 operator keycloak-operator (26.0.6)
  operators/keycloak-operator/26.0.6/bundle.Dockerfile
  operators/keycloak-operator/26.0.6/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.6/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.6/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5345 operator external-secrets-operator (0.10.7)
  operators/external-secrets-operator/0.10.7/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_stssessiontokens.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.7/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.7/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.7/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5346 operator kernel-module-management (2.2.0)
  operators/kernel-module-management/2.2.0/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.2.0/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.2.0/metadata/annotations.yaml
  operators/kernel-module-management/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5347 operator kernel-module-management-hub (2.2.0)
  operators/kernel-module-management-hub/2.2.0/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.2.0/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.2.0/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.2.0/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.2.0/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.2.0/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.2.0/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5350 operator stackgres (1.14.1)
  operators/stackgres/1.14.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.1/metadata/annotations.yaml
  operators/stackgres/1.14.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5352 operator authorino-operator (0.15.0)
  operators/authorino-operator/0.15.0/bundle.Dockerfile
  operators/authorino-operator/0.15.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.15.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.15.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.15.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.15.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.15.0/metadata/annotations.yaml
  operators/authorino-operator/0.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5354 operator authorino-operator (0.15.1)
  operators/authorino-operator/0.15.1/bundle.Dockerfile
  operators/authorino-operator/0.15.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.15.1/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.15.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.15.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.15.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.15.1/metadata/annotations.yaml
  operators/authorino-operator/0.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5355 operator authorino-operator (0.16.0)
  operators/authorino-operator/0.16.0/bundle.Dockerfile
  operators/authorino-operator/0.16.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.16.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.16.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.16.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.16.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.16.0/metadata/annotations.yaml
  operators/authorino-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5356 operator project-quay (3.12.5)
  operators/project-quay/3.12.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5351 operator tektoncd-operator (0.74.0)
  operators/tektoncd-operator/0.74.0/manifests/config-logging_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_manualapprovalgates.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektonchains.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektonconfigs.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektondashboards.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektonhubs.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektoninstallersets.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektonpipelines.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektonresults.yaml
  operators/tektoncd-operator/0.74.0/manifests/operator.tekton.dev_tektontriggers.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-config-defaults_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-config-observability_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-config-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-config-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-controller-config-leader-election_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_role.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-info_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-info_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-webhook-certs_v1_secret.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-webhook-config-leader-election_v1_configmap.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator-webhook_v1_service.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-operator_v1_service.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-result-read-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tektoncd-operator/0.74.0/manifests/tekton-result-read-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tektoncd-operator/0.74.0/manifests/tektoncd-operator.clusterserviceversion.yaml
  operators/tektoncd-operator/0.74.0/metadata/annotations.yaml
  operators/tektoncd-operator/0.74.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5365 operator quay-api-operator (1.1.0)
  operators/quay-api-operator/1.1.0/manifests/quay-api-operator-controller-manager-metrics-service_v1_service.yaml
  operators/quay-api-operator/1.1.0/manifests/quay-api-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/quay-api-operator/1.1.0/manifests/quay-api-operator.clusterserviceversion.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_apitokens.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_applications.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_defaultperms.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_dockertokens.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_firstusers.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_manifestlabels.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_messages.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_notifications.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_organizationprunes.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_organizations.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_proxycaches.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_quotas.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_repositories.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_repositorymirrors.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_repositoryprunes.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_robots.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_tags.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_teamldaps.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_teamoidcs.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_teams.yaml
  operators/quay-api-operator/1.1.0/manifests/quay.herve4m.github.io_users.yaml
  operators/quay-api-operator/1.1.0/metadata/annotations.yaml
  operators/quay-api-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5366 operator gitlab-operator-kubernetes (1.7.1)
  operators/gitlab-operator-kubernetes/1.7.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5369 operator postgresql (5.7.1)
  operators/postgresql/5.7.1/Dockerfile
  operators/postgresql/5.7.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.1/metadata/annotations.yaml
  operators/postgresql/5.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5376 operator [CI] debezium-operator
  operators/debezium-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated
