Repository k8s-operatorhub/community-operators, pull requests merged in 2024-07, with the labels that each got.

#4581 operator gitlab-operator-kubernetes (1.1.1)
  operators/gitlab-operator-kubernetes/1.1.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4582 operator project-quay (3.12.0-nightly.20240701)
  operators/project-quay/3.12.0-nightly.20240701/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240701/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240701/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4586 operator instana-agent-operator (2.1.2)
  operators/instana-agent-operator/2.1.2/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.2/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.2/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.2/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.2/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.2/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4589 operator susql-operator (0.0.21)
  operators/susql-operator/0.0.21/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.21/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.21/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.21/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.21/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.21/metadata/annotations.yaml
  operators/susql-operator/0.0.21/metadata/dependencies.yaml
  operators/susql-operator/0.0.21/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4588 operator project-quay (3.12.0-nightly.20240702)
  operators/project-quay/3.12.0-nightly.20240702/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240702/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240702/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4590 operator debezium-operator (2.7.0-final)
  operators/debezium-operator/2.7.0-final/bundle.Dockerfile
  operators/debezium-operator/2.7.0-final/manifests/debezium-operator.v2.7.0-final.clusterserviceversion.yaml
  operators/debezium-operator/2.7.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.7.0-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4592 operator awx-operator (2.19.1)
  operators/awx-operator/2.19.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.19.1/manifests/awx-operator.v2.19.1.clusterserviceversion.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.19.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.19.1/metadata/annotations.yaml
  operators/awx-operator/2.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4593 operator pubsubplus-eventbroker-operator (1.1.0)
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4595 operator project-quay (3.12.0-nightly.20240703)
  operators/project-quay/3.12.0-nightly.20240703/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240703/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240703/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4597 operator nri-plugins-operator (0.7.0)
  operators/nri-plugins-operator/0.7.0/manifests/config.nri_balloonspolicies.yaml
  operators/nri-plugins-operator/0.7.0/manifests/config.nri_nriplugindeployments.yaml
  operators/nri-plugins-operator/0.7.0/manifests/config.nri_templatepolicies.yaml
  operators/nri-plugins-operator/0.7.0/manifests/config.nri_topologyawarepolicies.yaml
  operators/nri-plugins-operator/0.7.0/manifests/nri-plugins-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nri-plugins-operator/0.7.0/manifests/nri-plugins-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nri-plugins-operator/0.7.0/manifests/nri-plugins-operator.clusterserviceversion.yaml
  operators/nri-plugins-operator/0.7.0/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nri-plugins-operator/0.7.0/metadata/annotations.yaml
  operators/nri-plugins-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4598 operator k8gb (0.13.0)
  operators/k8gb/0.13.0/manifests/dnsendpoints.externaldns.k8s.io.customresourcedefinition.yaml
  operators/k8gb/0.13.0/manifests/gslbs.k8gb.absa.oss.customresourcedefinition.yaml
  operators/k8gb/0.13.0/manifests/k8gb-coredns.configmap.yaml
  operators/k8gb/0.13.0/manifests/k8gb-coredns.service.yaml
  operators/k8gb/0.13.0/manifests/k8gb.v0.13.0.clusterserviceversion.yaml
  operators/k8gb/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4599 operator gitlab-runner-operator (1.26.0)
  operators/gitlab-runner-operator/1.26.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4601 operator [CI] victoriametrics-operator
  operators/victoriametrics-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4603 operator project-quay (3.12.0-nightly.20240704)
  operators/project-quay/3.12.0-nightly.20240704/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240704/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240704/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4568 operator [N] [CI] trustify-operator (0.1.0-alpha.1)
  operators/trustify-operator/0.1.0-alpha.1/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.1/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.1/metadata/annotations.yaml
  operators/trustify-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4607 operator [CI] trustify-operator
  operators/trustify-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4606 operator netobserv-operator (1.6.1-community)
  operators/netobserv-operator/1.6.1-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.1-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.1-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.1-community/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4608 operator trivy-operator (0.22.0)
  operators/trivy-operator/0.22.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/manifests/trivy-operator.v0.22.0.clusterserviceversion.yaml
  operators/trivy-operator/0.22.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.22.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4604 operator trustify-operator (0.1.0-alpha.2)
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4610 operator [O] trustify-operator (0.1.0-alpha.2)
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustify-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4609 operator [R] [CI] victoriametrics-operator (0.46.2)
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmagents.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmalertmanagers.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmalerts.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmauths.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmclusters.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmnodescrapes.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmpodscrapes.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmprobes.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmrules.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmscrapeconfigs.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmservicescrapes.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmsingles.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmstaticscrapes.yaml
  operators/victoriametrics-operator/0.46.2/manifests/operator.victoriametrics.com_vmusers.yaml
  operators/victoriametrics-operator/0.46.2/manifests/victoriametrics-operator.clusterserviceversion.yaml
  operators/victoriametrics-operator/0.46.2/manifests/vm-webhook-service_v1_service.yaml
  operators/victoriametrics-operator/0.46.2/metadata/annotations.yaml
  operators/victoriametrics-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4612 operator flux-operator (0.7.0)
  operators/flux-operator/0.7.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.7.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.7.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.7.0/metadata/annotations.yaml
  operators/flux-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4613 operator [O] [CI] trustify-operator (0.1.0-alpha.2)
  operators/trustify-operator/0.1.0-alpha.2/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/ci.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4614 operator gitlab-runner-operator (1.26.1)
  operators/gitlab-runner-operator/1.26.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4615 operator gitlab-runner-operator (1.26.2)
  operators/gitlab-runner-operator/1.26.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4600 operator percona-postgresql-operator (2.4.0)
  operators/percona-postgresql-operator/2.4.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/percona-postgresql-operator.v2.4.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4617 operator cryostat-operator (3.0.0)
  operators/cryostat-operator/3.0.0/Dockerfile
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator-cryostat-namespaced_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator-cryostat_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator-manager-config_v1_configmap.yaml
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator-oauth-client_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator-webhook-service_v1_service.yaml
  operators/cryostat-operator/3.0.0/manifests/cryostat-operator.clusterserviceversion.yaml
  operators/cryostat-operator/3.0.0/manifests/operator.cryostat.io_cryostats.yaml
  operators/cryostat-operator/3.0.0/metadata/annotations.yaml
  operators/cryostat-operator/3.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4619 operator project-quay (3.12.0-nightly.20240706)
  operators/project-quay/3.12.0-nightly.20240706/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240706/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240706/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4620 operator external-secrets-operator (0.9.20)
  operators/external-secrets-operator/0.9.20/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.20/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.20/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.20/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.20/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4621 operator project-quay (3.12.0-nightly.20240707)
  operators/project-quay/3.12.0-nightly.20240707/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240707/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240707/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4622 operator project-quay (3.12.0-nightly.20240708)
  operators/project-quay/3.12.0-nightly.20240708/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240708/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240708/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4627 operator trustify-operator (0.1.0-alpha.3)
  operators/trustify-operator/0.1.0-alpha.3/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.3/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4629 operator susql-operator (0.0.22)
  operators/susql-operator/0.0.22/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.22/manifests/susql-operator-susql-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/susql-operator/0.0.22/manifests/susql-operator-susql-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.22/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.22/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.22/metadata/annotations.yaml
  operators/susql-operator/0.0.22/metadata/dependencies.yaml
  operators/susql-operator/0.0.22/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4630 operator project-quay (3.12.0-nightly.20240709)
  operators/project-quay/3.12.0-nightly.20240709/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240709/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240709/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4632 operator trident-operator (24.6.0)
  operators/trident-operator/24.6.0/manifests/trident-operator.v24.6.0.clusterserviceversion.yaml
  operators/trident-operator/24.6.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4634 operator project-quay (3.12.0-nightly.20240710)
  operators/project-quay/3.12.0-nightly.20240710/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240710/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240710/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4635 operator strimzi-kafka-operator (0.42.0)
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzi-cluster-operator.v0.42.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.42.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.42.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4637 operator gitlab-operator-kubernetes (1.1.2)
  operators/gitlab-operator-kubernetes/1.1.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4638 operator project-quay (3.12.0-nightly.20240711)
  operators/project-quay/3.12.0-nightly.20240711/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240711/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240711/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4639 operator infinispan (2.4.3)
  operators/infinispan/2.4.3/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.3/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.3/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.3/metadata/annotations.yaml
  operators/infinispan/2.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4643 operator project-quay (3.12.0-nightly.20240712)
  operators/project-quay/3.12.0-nightly.20240712/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240712/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240712/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4645 operator trustify-operator (0.1.0-alpha.4)
  operators/trustify-operator/0.1.0-alpha.4/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.4/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4631 operator percona-server-mongodb-operator (1.16.1)
  operators/percona-server-mongodb-operator/1.16.1/manifests/percona-server-mongodb-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4646 operator project-quay (3.12.0-nightly.20240713)
  operators/project-quay/3.12.0-nightly.20240713/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240713/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240713/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4648 operator project-quay (3.12.0-nightly.20240714)
  operators/project-quay/3.12.0-nightly.20240714/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240714/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240714/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4650 operator project-quay (3.12.0-nightly.20240715)
  operators/project-quay/3.12.0-nightly.20240715/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240715/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240715/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4655 operator cass-operator-community (1.21.1)
  operators/cass-operator-community/1.21.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.21.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.21.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.21.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.21.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.21.1/metadata/annotations.yaml
  operators/cass-operator-community/1.21.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4657 operator hive-operator (1.2.4511-1fce770)
  operators/hive-operator/1.2.4511-1fce770/manifests/hive-operator.v1.2.4511-1fce770.clusterserviceversion.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4511-1fce770/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4511-1fce770/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4658 operator project-quay (3.12.0-nightly.20240716)
  operators/project-quay/3.12.0-nightly.20240716/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0-nightly.20240716/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0-nightly.20240716/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4662 operator mongodb-atlas-kubernetes (2.4.0)
  operators/mongodb-atlas-kubernetes/2.4.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4663 operator skupper-operator (1.7.3)
  operators/skupper-operator/1.7.3/manifests/skupper-operator.v1.7.3.clusterserviceversion.yaml
  operators/skupper-operator/1.7.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4671 operator stackgres (1.12.0-rc1)
  operators/stackgres/1.12.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.12.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.12.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4670 operator grafana-operator (5.10.0)
  operators/grafana-operator/5.10.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.10.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.10.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4676 operator keycloak-operator (25.0.2)
  operators/keycloak-operator/25.0.2/bundle.Dockerfile
  operators/keycloak-operator/25.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/25.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/25.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4684 operator argocd-operator (0.11.0)
  operators/argocd-operator/0.11.0/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.11.0/manifests/argocd-operator.v0.11.0.clusterserviceversion.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.11.0/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4688 operator gitlab-operator-kubernetes (1.2.0)
  operators/gitlab-operator-kubernetes/1.2.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4690 operator dynatrace-operator (1.2.1)
  operators/dynatrace-operator/1.2.1/Dockerfile
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4691 operator hive-operator (1.2.4532-cddd4f9)
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive-operator.v1.2.4532-cddd4f9.clusterserviceversion.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4532-cddd4f9/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4532-cddd4f9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4692 operator stackgres (1.12.0)
  operators/stackgres/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.12.0/metadata/annotations.yaml
  operators/stackgres/1.12.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4687 operator gitlab-runner-operator (1.27.0)
  operators/gitlab-runner-operator/1.27.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.27.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4694 operator project-quay (3.12.0)
  operators/project-quay/3.12.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4570 Remove falcon operator as it is no longer supported
  operators/falcon-operator/0.3.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.3.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.3.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.3.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.3.1/metadata/annotations.yaml
  operators/falcon-operator/0.3.1/tests/scorecard/config.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.4.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.4.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.4.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.4.0/metadata/annotations.yaml
  operators/falcon-operator/0.4.0/tests/scorecard/config.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.1/metadata/annotations.yaml
  operators/falcon-operator/0.5.1/tests/scorecard/config.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.2/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.2/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.2/metadata/annotations.yaml
  operators/falcon-operator/0.5.2/tests/scorecard/config.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.3/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.3/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.3/metadata/annotations.yaml
  operators/falcon-operator/0.5.3/tests/scorecard/config.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.4/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.4/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.4/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.4/metadata/annotations.yaml
  operators/falcon-operator/0.5.4/tests/scorecard/config.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/0.5.5/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/0.5.5/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/0.5.5/metadata/annotations.yaml
  operators/falcon-operator/0.5.5/tests/scorecard/config.yaml
  operators/falcon-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4375 operator intel-device-plugins-operator (0.30.0)
  operators/intel-device-plugins-operator/0.30.0/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.30.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.30.0/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.30.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4735 operator move2kube-operator (0.3.14-rc.0)
  operators/move2kube-operator/0.3.14-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.14-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.14-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.14-rc.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4743 operator [O] intel-device-plugins-operator (0.30.0)
  operators/intel-device-plugins-operator/0.30.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4745 operator [R] [CI] konveyor-operator
  operators/konveyor-operator/0.5.0-alpha.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.5.0-alpha.1/manifests/tackle.konveyor.io_addons.yaml
  operators/konveyor-operator/0.5.0-alpha.1/manifests/tackle.konveyor.io_extensions.yaml
  operators/konveyor-operator/0.5.0-alpha.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/konveyor-operator/0.5.0-alpha.1/manifests/tackle.konveyor.io_tasks.yaml
  operators/konveyor-operator/0.5.0-alpha.1/metadata/annotations.yaml
  operators/konveyor-operator/0.5.0-beta.1/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.5.0-beta.1/manifests/tackle.konveyor.io_addons.yaml
  operators/konveyor-operator/0.5.0-beta.1/manifests/tackle.konveyor.io_extensions.yaml
  operators/konveyor-operator/0.5.0-beta.1/manifests/tackle.konveyor.io_tackles.yaml
  operators/konveyor-operator/0.5.0-beta.1/manifests/tackle.konveyor.io_tasks.yaml
  operators/konveyor-operator/0.5.0-beta.1/metadata/annotations.yaml
  operators/konveyor-operator/0.5.0-beta.2/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.5.0-beta.2/manifests/tackle.konveyor.io_addons.yaml
  operators/konveyor-operator/0.5.0-beta.2/manifests/tackle.konveyor.io_extensions.yaml
  operators/konveyor-operator/0.5.0-beta.2/manifests/tackle.konveyor.io_tackles.yaml
  operators/konveyor-operator/0.5.0-beta.2/manifests/tackle.konveyor.io_tasks.yaml
  operators/konveyor-operator/0.5.0-beta.2/metadata/annotations.yaml
  operators/konveyor-operator/0.5.0-beta.3/manifests/konveyor-operator.clusterserviceversion.yaml
  operators/konveyor-operator/0.5.0-beta.3/manifests/tackle.konveyor.io_addons.yaml
  operators/konveyor-operator/0.5.0-beta.3/manifests/tackle.konveyor.io_extensions.yaml
  operators/konveyor-operator/0.5.0-beta.3/manifests/tackle.konveyor.io_tackles.yaml
  operators/konveyor-operator/0.5.0-beta.3/manifests/tackle.konveyor.io_tasks.yaml
  operators/konveyor-operator/0.5.0-beta.3/metadata/annotations.yaml
  operators/konveyor-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#4746 operator self-node-remediation (0.9.0)
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.9.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.9.0/metadata/annotations.yaml
  operators/self-node-remediation/0.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4747 operator gitlab-operator-kubernetes (1.2.1)
  operators/gitlab-operator-kubernetes/1.2.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4748 operator edp-keycloak-operator (1.22.0)
  operators/edp-keycloak-operator/1.22.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.22.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.22.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4752 operator knative-operator (1.15.0)
  operators/knative-operator/1.15.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.15.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.15.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.15.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.15.0/manifests/knative-operator.v1.15.0.clusterserviceversion.yaml
  operators/knative-operator/1.15.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.15.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.15.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.15.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.15.0/metadata/annotations.yaml
  operators/knative-operator/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4756 operator kiali (1.88.0)
  operators/kiali/1.88.0/bundle.Dockerfile
  operators/kiali/1.88.0/manifests/kiali.crd.yaml
  operators/kiali/1.88.0/manifests/kiali.v1.88.0.clusterserviceversion.yaml
  operators/kiali/1.88.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4757 operator hazelcast-platform-operator (5.13.0)
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.13.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4760 operator gitlab-runner-operator (1.27.1)
  operators/gitlab-runner-operator/1.27.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.27.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.27.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4761 operator cert-manager (1.15.2)
  operators/cert-manager/1.15.2/bundle.Dockerfile
  operators/cert-manager/1.15.2/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.15.2/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.15.2/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.15.2/metadata/annotations.yaml
  operators/cert-manager/1.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4765 operator [CI] mondoo-operator
  operators/mondoo-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4769 operator mongodb-atlas-kubernetes (2.4.1)
  operators/mongodb-atlas-kubernetes/2.4.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
