Repository k8s-operatorhub/community-operators, pull requests merged in 2024-01, with the labels that each got.

#3702 operator awx-operator (2.10.0)
  operators/awx-operator/2.10.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.10.0/manifests/awx-operator.v2.10.0.clusterserviceversion.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.10.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.10.0/metadata/annotations.yaml
  operators/awx-operator/2.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3701 operator [CI] ack-organizations-controller
  operators/ack-organizations-controller/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, installation-skipped

#3704 operator trivy-operator (0.18.0)
  operators/trivy-operator/0.18.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/manifests/trivy-operator.v0.18.0.clusterserviceversion.yaml
  operators/trivy-operator/0.18.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3685 operator [N] [CI] nri-plugins-operator (0.3.2)
  operators/nri-plugins-operator/0.3.2/manifests/config.nri_balloonspolicies.yaml
  operators/nri-plugins-operator/0.3.2/manifests/config.nri_nriplugindeployments.yaml
  operators/nri-plugins-operator/0.3.2/manifests/config.nri_templatepolicies.yaml
  operators/nri-plugins-operator/0.3.2/manifests/config.nri_topologyawarepolicies.yaml
  operators/nri-plugins-operator/0.3.2/manifests/nri-plugins-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nri-plugins-operator/0.3.2/manifests/nri-plugins-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nri-plugins-operator/0.3.2/manifests/nri-plugins-operator.clusterserviceversion.yaml
  operators/nri-plugins-operator/0.3.2/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nri-plugins-operator/0.3.2/metadata/annotations.yaml
  operators/nri-plugins-operator/0.3.2/tests/scorecard/config.yaml
  operators/nri-plugins-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3711 operator temporal-operator (0.12.2)
  operators/temporal-operator/0.12.2/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.12.2/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.12.2/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.12.2/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.12.2/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.12.2/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.12.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3712 operator temporal-operator (0.13.0)
  operators/temporal-operator/0.13.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.13.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.13.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.13.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.13.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.13.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3713 operator temporal-operator (0.13.1)
  operators/temporal-operator/0.13.1/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.13.1/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.13.1/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.13.1/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.13.1/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.13.1/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.13.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3714 operator temporal-operator (0.13.2)
  operators/temporal-operator/0.13.2/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.13.2/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.13.2/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.13.2/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.13.2/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.13.2/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.13.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3715 operator temporal-operator (0.13.3)
  operators/temporal-operator/0.13.3/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.13.3/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.13.3/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.13.3/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.13.3/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.13.3/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.13.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3716 operator temporal-operator (0.14.0)
  operators/temporal-operator/0.14.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.14.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.14.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.14.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.14.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.14.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3718 operator temporal-operator (0.15.0)
  operators/temporal-operator/0.15.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.15.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.15.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.15.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.15.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.15.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.15.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3719 operator camel-k (2.2.0)
  operators/camel-k/2.2.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/camel-k.v2.2.0.clusterserviceversion.yaml
  operators/camel-k/2.2.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.2.0/metadata/annotations.yaml
  operators/camel-k/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3720 operator mondoo-operator (1.19.1)
  operators/mondoo-operator/1.19.1/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.19.1/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.1/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.19.1/metadata/annotations.yaml
  operators/mondoo-operator/1.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3623 operator clickhouse (0.22.2)
  operators/clickhouse/0.22.2/manifests/clickhouse-operator.v0.22.2.clusterserviceversion.yaml
  operators/clickhouse/0.22.2/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.2/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.2/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.22.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3722 operator keycloak-operator (23.0.4)
  operators/keycloak-operator/23.0.4/bundle.Dockerfile
  operators/keycloak-operator/23.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3723 operator temporal-operator (0.15.1)
  operators/temporal-operator/0.15.1/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.15.1/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.15.1/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.15.1/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.15.1/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.15.1/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.15.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3724 operator temporal-operator (0.15.2)
  operators/temporal-operator/0.15.2/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.15.2/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.15.2/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.15.2/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.15.2/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.15.2/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.15.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3725 operator temporal-operator (0.15.3)
  operators/temporal-operator/0.15.3/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.15.3/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.15.3/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.15.3/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.15.3/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.15.3/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.15.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3726 operator temporal-operator (0.15.4)
  operators/temporal-operator/0.15.4/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.15.4/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.15.4/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.15.4/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.15.4/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.15.4/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.15.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3727 operator mondoo-operator (1.19.2)
  operators/mondoo-operator/1.19.2/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.19.2/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.2/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.19.2/metadata/annotations.yaml
  operators/mondoo-operator/1.19.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3728 operator temporal-operator (0.16.0)
  operators/temporal-operator/0.16.0/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.16.0/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.16.0/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.16.0/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.16.0/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.16.0/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3729 operator temporal-operator (0.16.1)
  operators/temporal-operator/0.16.1/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.16.1/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.16.1/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.16.1/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.16.1/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.16.1/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3731 operator temporal-operator (0.16.2)
  operators/temporal-operator/0.16.2/manifests/temporal-operator-webhook-service_v1_service.yaml
  operators/temporal-operator/0.16.2/manifests/temporal-operator.clusterserviceversion.yaml
  operators/temporal-operator/0.16.2/manifests/temporal.io_temporalclusterclients.yaml
  operators/temporal-operator/0.16.2/manifests/temporal.io_temporalclusters.yaml
  operators/temporal-operator/0.16.2/manifests/temporal.io_temporalnamespaces.yaml
  operators/temporal-operator/0.16.2/manifests/temporal.io_temporalworkerprocesses.yaml
  operators/temporal-operator/0.16.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3651 operator [CI] ibm-security-verify-access-operator (23.12.0)
  operators/ibm-security-verify-access-operator/23.12.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/23.12.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/23.12.0/tests/scorecard/config.yaml
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3739 operator [CI] trivy-operator (0.18.1)
  operators/trivy-operator/0.18.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/manifests/trivy-operator.v0.18.1.clusterserviceversion.yaml
  operators/trivy-operator/0.18.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.1/metadata/annotations.yaml
  operators/trivy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3744 operator aerospike-kubernetes-operator (3.2.1)
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.2.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3749 operator nexus-operator (3.1.0)
  operators/nexus-operator/3.1.0/manifests/edp.epam.com_nexuses.yaml
  operators/nexus-operator/3.1.0/manifests/edp.epam.com_nexusrepositories.yaml
  operators/nexus-operator/3.1.0/manifests/edp.epam.com_nexusroles.yaml
  operators/nexus-operator/3.1.0/manifests/edp.epam.com_nexusscripts.yaml
  operators/nexus-operator/3.1.0/manifests/edp.epam.com_nexususers.yaml
  operators/nexus-operator/3.1.0/manifests/nexus-operator-webhook-service_v1_service.yaml
  operators/nexus-operator/3.1.0/manifests/nexus-operator.clusterserviceversion.yaml
  operators/nexus-operator/3.1.0/metadata/annotations.yaml
  operators/nexus-operator/3.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3750 operator edp-keycloak-operator (1.20.0)
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.20.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.20.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3752 operator gitlab-operator-kubernetes (0.27.1)
  operators/gitlab-operator-kubernetes/0.27.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3754 operator verticadb-operator (2.0.1)
  operators/verticadb-operator/2.0.1/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.0.1/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.0.1/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.0.1/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.0.1/metadata/annotations.yaml
  operators/verticadb-operator/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3755 operator mondoo-operator (1.19.3)
  operators/mondoo-operator/1.19.3/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.19.3/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.3/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.19.3/metadata/annotations.yaml
  operators/mondoo-operator/1.19.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3664 remove the bpfd-operator
  operators/bpfd-operator/0.2.0/bundle.Dockerfile
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-config_v1_configmap.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-controller-manager-metrics-service_v1_service.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-daemon_v1_serviceaccount.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd-operator.clusterserviceversion.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_bpfprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_tcprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_tracepointprograms.yaml
  operators/bpfd-operator/0.2.0/manifests/bpfd.io_xdpprograms.yaml
  operators/bpfd-operator/0.2.0/metadata/annotations.yaml
  operators/bpfd-operator/0.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3706 operator prometheus (0.70.0)
  operators/prometheus/0.70.0/bundle.Dockerfile
  operators/prometheus/0.70.0/bundle.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_alertmanagerconfigs.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_alertmanagers.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_podmonitors.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_probes.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_prometheusagents.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_prometheuses.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_prometheusrules.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_scrapeconfigs.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_servicemonitors.yaml
  operators/prometheus/0.70.0/manifests/monitoring.coreos.com_thanosrulers.yaml
  operators/prometheus/0.70.0/manifests/prometheus-operator_v1_service.yaml
  operators/prometheus/0.70.0/manifests/prometheusoperator.clusterserviceversion.yaml
  operators/prometheus/0.70.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3734 operator microcks (1.8.1)
  operators/microcks/1.8.1/manifests/microcks-operator.v1.8.1.clusterserviceversion.yaml
  operators/microcks/1.8.1/manifests/microcksinstall.crd.yaml
  operators/microcks/1.8.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3753 operator dell-csm-operator (1.4.0)
  operators/dell-csm-operator/1.4.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.0/manifests/dell-csm-operator.v1.4.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3697 operator [O] mariadb-operator (0.24.0)
  operators/mariadb-operator/0.24.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.24.0/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3759 operator hive-operator (1.2.4360-de169dd)
  operators/hive-operator/1.2.4360-de169dd/manifests/hive-operator.v1.2.4360-de169dd.clusterserviceversion.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4360-de169dd/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4360-de169dd/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3762 operator deployment-validation-operator (0.7.4)
  operators/deployment-validation-operator/0.7.4/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.4/manifests/deploymentvalidationoperator.0.7.4.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.4/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3763 operator debezium-operator (2.5.0)
  operators/debezium-operator/2.5.0/bundle.Dockerfile
  operators/debezium-operator/2.5.0/manifests/debezium-operator.v2.5.0.clusterserviceversion.yaml
  operators/debezium-operator/2.5.0/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3765 operator project-quay (3.10.2)
  operators/project-quay/3.10.2/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.2/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3764 operator jaeger (1.53.0)
  operators/jaeger/1.53.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.53.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.53.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.53.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.53.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.53.0/metadata/annotations.yaml
  operators/jaeger/1.53.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3766 operator elastic-cloud-eck (2.11.0)
  operators/elastic-cloud-eck/2.11.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3768 operator trivy-operator (0.18.2)
  operators/trivy-operator/0.18.2/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/manifests/trivy-operator.v0.18.2.clusterserviceversion.yaml
  operators/trivy-operator/0.18.2/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3772 operator pulp-operator (1.0.0-beta.4)
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-manager-config_v1_configmap.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/pulp-operator.clusterserviceversion.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulpbackups.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulprestores.yaml
  operators/pulp-operator/1.0.0-beta.4/manifests/repo-manager.pulpproject.org_pulps.yaml
  operators/pulp-operator/1.0.0-beta.4/metadata/annotations.yaml
  operators/pulp-operator/1.0.0-beta.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3774 operator skupper-operator (1.5.3)
  operators/skupper-operator/1.5.3/manifests/skupper-operator.v1.5.3.clusterserviceversion.yaml
  operators/skupper-operator/1.5.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3778 operator [CI] ndb-operator (1.3.0)
  operators/ndb-operator/1.3.0/bundle.Dockerfile
  operators/ndb-operator/1.3.0/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.3.0/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.3.0/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.3.0/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.3.0/metadata/annotations.yaml
  operators/ndb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#3781 operator gitlab-operator-kubernetes (0.28.0)
  operators/gitlab-operator-kubernetes/0.28.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3784 operator windup-operator (0.0.25)
  operators/windup-operator/0.0.25/manifests/windup-operator.clusterserviceversion.yaml
  operators/windup-operator/0.0.25/manifests/windup.crd.yaml
  operators/windup-operator/0.0.25/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3787 operator ndmspc-operator (0.7.0)
  operators/ndmspc-operator/0.7.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.7.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.7.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.7.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.7.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.7.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3788 operator hive-operator (1.2.4366-df65e7e)
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive-operator.v1.2.4366-df65e7e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4366-df65e7e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4366-df65e7e/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3779 operator [O] ndb-operator (1.3.0)
  operators/ndb-operator/1.3.0/metadata/annotations.yaml
Labels: allow/serious-changes-to-existing, allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3790 operator rabbitmq-cluster-operator (2.7.0)
  operators/rabbitmq-cluster-operator/2.7.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.7.0/manifests/crds.yaml
  operators/rabbitmq-cluster-operator/2.7.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3791 operator mondoo-operator (1.19.4)
  operators/mondoo-operator/1.19.4/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.19.4/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.19.4/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.19.4/metadata/annotations.yaml
  operators/mondoo-operator/1.19.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3794 operator eginnovations-operator (0.0.7)
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.7/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3799 operator mondoo-operator (1.20.0)
  operators/mondoo-operator/1.20.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.20.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.20.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.20.0/metadata/annotations.yaml
  operators/mondoo-operator/1.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3795 operator percona-postgresql-operator (2.3.1)
  operators/percona-postgresql-operator/2.3.1/manifests/percona-postgresql-operator.v2.3.1.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.3.1/metadata/annotations.yaml
  operators/percona-postgresql-operator/2.3.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3776 operator [N] [CI] ceph-s3-operator (0.3.6)
  operators/ceph-s3-operator/0.3.6/bundle.Dockerfile
  operators/ceph-s3-operator/0.3.6/manifests/ceph-s3-operator-controller-manager-config_v1_secret.yaml
  operators/ceph-s3-operator/0.3.6/manifests/ceph-s3-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ceph-s3-operator/0.3.6/manifests/ceph-s3-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ceph-s3-operator/0.3.6/manifests/ceph-s3-operator-webhook-service_v1_service.yaml
  operators/ceph-s3-operator/0.3.6/manifests/ceph-s3-operator.clusterserviceversion.yaml
  operators/ceph-s3-operator/0.3.6/manifests/s3.snappcloud.io_s3buckets.yaml
  operators/ceph-s3-operator/0.3.6/manifests/s3.snappcloud.io_s3userclaims.yaml
  operators/ceph-s3-operator/0.3.6/manifests/s3.snappcloud.io_s3users.yaml
  operators/ceph-s3-operator/0.3.6/metadata/annotations.yaml
  operators/ceph-s3-operator/0.3.6/tests/scorecard/config.yaml
  operators/ceph-s3-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#3803 operator ndmspc-operator (0.7.3)
  operators/ndmspc-operator/0.7.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.7.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.7.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.7.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.7.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.7.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.7.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3804 operator ndmspc-operator (0.7.4)
  operators/ndmspc-operator/0.7.4/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.7.4/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.7.4/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.7.4/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.7.4/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.7.4/metadata/annotations.yaml
  operators/ndmspc-operator/0.7.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3818 operator keycloak-operator (23.0.5)
  operators/keycloak-operator/23.0.5/bundle.Dockerfile
  operators/keycloak-operator/23.0.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/23.0.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/23.0.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3822 operator trivy-operator (0.18.3)
  operators/trivy-operator/0.18.3/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/manifests/trivy-operator.v0.18.3.clusterserviceversion.yaml
  operators/trivy-operator/0.18.3/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.18.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3819 operator elastic-cloud-eck (2.11.1)
  operators/elastic-cloud-eck/2.11.1/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.11.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3824 operator awx-operator (2.11.0)
  operators/awx-operator/2.11.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.11.0/manifests/awx-operator.v2.11.0.clusterserviceversion.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.11.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.11.0/metadata/annotations.yaml
  operators/awx-operator/2.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3825 operator kuadrant-operator (0.6.1)
  operators/kuadrant-operator/0.6.1/bundle.Dockerfile
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-dnsrecord-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-dnsrecord-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnshealthcheckprobes.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_dnsrecords.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_managedzones.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.6.1/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.6.1/metadata/annotations.yaml
  operators/kuadrant-operator/0.6.1/metadata/dependencies.yaml
  operators/kuadrant-operator/0.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3826 operator project-quay (3.10.3)
  operators/project-quay/3.10.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3827 operator kernel-module-management (2.0.1)
  operators/kernel-module-management/2.0.1/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.0.1/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.0.1/metadata/annotations.yaml
  operators/kernel-module-management/2.0.1/metadata/dependencies.yaml
  operators/kernel-module-management/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3828 operator kernel-module-management-hub (2.0.1)
  operators/kernel-module-management-hub/2.0.1/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.0.1/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.0.1/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.1/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.0.1/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.0.1/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.1/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.0.1/metadata/dependencies.yaml
  operators/kernel-module-management-hub/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3830 operator rabbitmq-messaging-topology-operator (1.13.0)
  operators/rabbitmq-messaging-topology-operator/1.13.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_bindings.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_exchanges.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_federations.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_operatorpolicies.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_permissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_policies.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_queues.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_schemareplications.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_shovels.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_superstreams.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_topicpermissions.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_users.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.com_vhosts.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/manifests/rabbitmq.webhook-service.yaml
  operators/rabbitmq-messaging-topology-operator/1.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
