Repository k8s-operatorhub/community-operators, pull requests merged in 2024-10, with the labels that each got.

#5090 operator flux-operator (0.10.0)
  operators/flux-operator/0.10.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.10.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.10.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.10.0/metadata/annotations.yaml
  operators/flux-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5091 operator [O] intel-device-plugins-operator (0.31.0)
  operators/intel-device-plugins-operator/0.31.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5093 operator project-quay (3.11.6)
  operators/project-quay/3.11.6/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.6/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.6/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5081 operator cc-operator (0.10.0)
  operators/cc-operator/0.10.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.10.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.10.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.10.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.10.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.10.0/metadata/annotations.yaml
  operators/cc-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5082 operator [N] [CI] simple-authenticator (0.1.8)
  operators/simple-authenticator/0.1.8/bundle.Dockerfile
  operators/simple-authenticator/0.1.8/manifests/authenticator.snappcloud.io_basicauthenticators.yaml
  operators/simple-authenticator/0.1.8/manifests/simple-authenticator.clusterserviceversion.yaml
  operators/simple-authenticator/0.1.8/manifests/simpleauthenticator-controller-manager-metrics-service_v1_service.yaml
  operators/simple-authenticator/0.1.8/manifests/simpleauthenticator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/simple-authenticator/0.1.8/manifests/simpleauthenticator-webhook-service_v1_service.yaml
  operators/simple-authenticator/0.1.8/metadata/annotations.yaml
  operators/simple-authenticator/0.1.8/tests/scorecard/config.yaml
  operators/simple-authenticator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5095 operator mongodb-enterprise (1.28.0)
  operators/mongodb-enterprise/1.28.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.28.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5097 operator openshift-node-upgrade-mutex-operator (0.2.15)
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.15/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5098 operator limitador-operator (0.11.0)
  operators/limitador-operator/0.11.0/manifests/limitador-operator-manager-config_v1_configmap.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator-metrics_v1_service.yaml
  operators/limitador-operator/0.11.0/manifests/limitador-operator.clusterserviceversion.yaml
  operators/limitador-operator/0.11.0/manifests/limitador.kuadrant.io_limitadors.yaml
  operators/limitador-operator/0.11.0/metadata/annotations.yaml
  operators/limitador-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5099 operator authorino-operator (0.13.0)
  operators/authorino-operator/0.13.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-operator-metrics_v1_service.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.13.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.13.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.13.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.13.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.13.0/metadata/annotations.yaml
  operators/authorino-operator/0.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5101 operator kuadrant-operator (0.11.0)
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-manager-config_v1_configmap.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator-metrics_v1_service.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant-operator.clusterserviceversion.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_authpolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_dnspolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_kuadrants.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_ratelimitpolicies.yaml
  operators/kuadrant-operator/0.11.0/manifests/kuadrant.io_tlspolicies.yaml
  operators/kuadrant-operator/0.11.0/metadata/annotations.yaml
  operators/kuadrant-operator/0.11.0/metadata/dependencies.yaml
  operators/kuadrant-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5096 operator cert-manager (1.16.0-beta.0)
  operators/cert-manager/1.16.0-beta.0/bundle.Dockerfile
  operators/cert-manager/1.16.0-beta.0/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-cainjector_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.16.0-beta.0/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.16.0-beta.0/metadata/annotations.yaml
  operators/cert-manager/1.16.0-beta.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5102 operator project-quay (3.12.3)
  operators/project-quay/3.12.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5106 operator keycloak-operator (26.0.0)
  operators/keycloak-operator/26.0.0/bundle.Dockerfile
  operators/keycloak-operator/26.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5037 operator jaeger (1.61.0)
  operators/jaeger/1.61.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.61.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.61.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.61.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.61.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.61.0/metadata/annotations.yaml
  operators/jaeger/1.61.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5108 operator mariadb-operator (0.34.0)
  operators/mariadb-operator/0.34.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.34.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.34.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.34.0/metadata/annotations.yaml
  operators/mariadb-operator/0.34.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5109 operator [O] mariadb-operator (0.34.0)
  operators/mariadb-operator/0.34.0/manifests/mariadb-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5110 operator instana-agent-operator (2.1.9)
  operators/instana-agent-operator/2.1.9/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.9/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.9/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.9/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.9/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.9/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.9/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.9/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5113 operator datadog-operator (1.9.0)
  operators/datadog-operator/1.9.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.9.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator/1.9.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.9.0/metadata/annotations.yaml
  operators/datadog-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5114 operator hive-operator (1.2.4638-56d6d64)
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive-operator.v1.2.4638-56d6d64.clusterserviceversion.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4638-56d6d64/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4638-56d6d64/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5121 operator cert-manager (1.16.1)
  operators/cert-manager/1.16.1/bundle.Dockerfile
  operators/cert-manager/1.16.1/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.16.1/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager-cainjector_v1_service.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.16.1/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.16.1/metadata/annotations.yaml
  operators/cert-manager/1.16.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5123 operator jaeger (1.62.0)
  operators/jaeger/1.62.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.62.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.62.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.62.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.62.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.62.0/metadata/annotations.yaml
  operators/jaeger/1.62.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5124 operator verticadb-operator (24.4.0-0)
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/24.4.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/24.4.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/24.4.0-0/metadata/annotations.yaml
  operators/verticadb-operator/24.4.0-0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5126 operator gitlab-operator-kubernetes (1.4.2)
  operators/gitlab-operator-kubernetes/1.4.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5128 operator infinispan (2.4.5)
  operators/infinispan/2.4.5/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.5/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.5/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.5/metadata/annotations.yaml
  operators/infinispan/2.4.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5077 operator [N] [CI] wandb-operator (1.0.0)
  operators/wandb-operator/1.0.0/manifests/apps.wandb.com_weightsandbiases.yaml
  operators/wandb-operator/1.0.0/manifests/operator.clusterserviceversion.yaml
  operators/wandb-operator/1.0.0/metadata/annotations.yaml
  operators/wandb-operator/1.0.0/tests/scorecard/config.yaml
  operators/wandb-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5107 operator dell-csm-operator (1.6.1)
  operators/dell-csm-operator/1.6.1/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.6.1/manifests/dell-csm-operator.v1.6.1.clusterserviceversion.yaml
  operators/dell-csm-operator/1.6.1/metadata/annotations.yaml
  operators/dell-csm-operator/1.6.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5173 operator grafana-operator (5.14.0)
  operators/grafana-operator/5.14.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.14.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.14.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5175 operator dynatrace-operator (1.3.1)
  operators/dynatrace-operator/1.3.1/Dockerfile
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5176 operator debezium-operator (2.7.3-final)
  operators/debezium-operator/2.7.3-final/bundle.Dockerfile
  operators/debezium-operator/2.7.3-final/manifests/debezium-operator.v2.7.3-final.clusterserviceversion.yaml
  operators/debezium-operator/2.7.3-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.7.3-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5177 operator debezium-operator (3.0.0-final)
  operators/debezium-operator/3.0.0-final/bundle.Dockerfile
  operators/debezium-operator/3.0.0-final/manifests/debezium-operator.v3.0.0-final.clusterserviceversion.yaml
  operators/debezium-operator/3.0.0-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/3.0.0-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5178 operator hive-operator (1.2.4644-365f074)
  operators/hive-operator/1.2.4644-365f074/manifests/hive-operator.v1.2.4644-365f074.clusterserviceversion.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4644-365f074/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4644-365f074/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5179 operator bpfman-operator (0.5.2)
  operators/bpfman-operator/0.5.2/bundle.Dockerfile
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.2/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.2/metadata/annotations.yaml
  operators/bpfman-operator/0.5.2/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5185 operator [N] wandb-operator (1.0.0)
  operators/wandb-operator/1.0.0/bundle.Dockerfile
  operators/wandb-operator/1.0.0/manifests/wandb-operator-manager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/wandb-operator/1.0.0/manifests/wandb-operator-manager_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/wandb-operator/1.0.0/manifests/wandb-operator.clusterserviceversion.yaml
  operators/wandb-operator/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5189 operator aerospike-kubernetes-operator (3.4.0)
  operators/aerospike-kubernetes-operator/3.4.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.4.0/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/3.4.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5174 operator clickhouse (0.24.0)
  operators/clickhouse/0.24.0/manifests/clickhouse-operator.v0.24.0.clusterserviceversion.yaml
  operators/clickhouse/0.24.0/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.0/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.0/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.0/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5191 operator keycloak-operator (26.0.1)
  operators/keycloak-operator/26.0.1/bundle.Dockerfile
  operators/keycloak-operator/26.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5192 operator postgresql (5.7.0)
  operators/postgresql/5.7.0/Dockerfile
  operators/postgresql/5.7.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.0/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.0/metadata/annotations.yaml
  operators/postgresql/5.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5194 operator gitlab-runner-operator (1.30.0)
  operators/gitlab-runner-operator/1.30.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5193 operator bpfman-operator (0.5.4)
  operators/bpfman-operator/0.5.4/bundle.Dockerfile
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.4/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.4/metadata/annotations.yaml
  operators/bpfman-operator/0.5.4/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5196 operator intel-device-plugins-operator (0.31.1)
  operators/intel-device-plugins-operator/0.31.1/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.31.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.31.1/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.31.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5197 operator move2kube-operator (0.3.15-rc.0)
  operators/move2kube-operator/0.3.15-rc.0/bundle.Dockerfile
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.15-rc.0/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.15-rc.0/metadata/annotations.yaml
  operators/move2kube-operator/0.3.15-rc.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5199 operator gitlab-runner-operator (1.30.1)
  operators/gitlab-runner-operator/1.30.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5201 operator kubero-operator (0.1.5)
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberoapps.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberobuilds.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberocouchdbs.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberoelasticsearches.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberoes.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberokafkas.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberomails.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberomemcacheds.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberomongodbs.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberomysqls.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberopipelines.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberopostgresqls.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberoprometheuses.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberorabbitmqs.yaml
  operators/kubero-operator/0.1.5/manifests/application.kubero.dev_kuberoredis.yaml
  operators/kubero-operator/0.1.5/manifests/kubero-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubero-operator/0.1.5/manifests/kubero-operator-manager-config_v1_configmap.yaml
  operators/kubero-operator/0.1.5/manifests/kubero-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubero-operator/0.1.5/manifests/kubero-operator.clusterserviceversion.yaml
  operators/kubero-operator/0.1.5/metadata/annotations.yaml
  operators/kubero-operator/0.1.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5203 operator hazelcast-platform-operator (5.14.0)
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_flows.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_vectorcollections.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.14.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5204 operator hive-operator (1.2.4650-531d549)
  operators/hive-operator/1.2.4650-531d549/manifests/hive-operator.v1.2.4650-531d549.clusterserviceversion.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4650-531d549/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4650-531d549/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5207 operator kiali (2.0.0)
  operators/kiali/2.0.0/bundle.Dockerfile
  operators/kiali/2.0.0/manifests/kiali.crd.yaml
  operators/kiali/2.0.0/manifests/kiali.v2.0.0.clusterserviceversion.yaml
  operators/kiali/2.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5214 operator knative-operator (1.16.0)
  operators/knative-operator/1.16.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.16.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.16.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.16.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.16.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.16.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.16.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.16.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.16.0/manifests/knative-operator.v1.16.0.clusterserviceversion.yaml
  operators/knative-operator/1.16.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.16.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.16.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.16.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.16.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.16.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.16.0/metadata/annotations.yaml
  operators/knative-operator/1.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5216 operator keycloak-operator (26.0.2)
  operators/keycloak-operator/26.0.2/bundle.Dockerfile
  operators/keycloak-operator/26.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5217 operator mariadb-operator (0.35.0)
  operators/mariadb-operator/0.35.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.35.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.35.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.35.0/metadata/annotations.yaml
  operators/mariadb-operator/0.35.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5218 operator dynatrace-operator (1.3.2)
  operators/dynatrace-operator/1.3.2/Dockerfile
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5224 operator stackgres (1.14.0-rc1)
  operators/stackgres/1.14.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.14.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5225 operator mariadb-operator (0.35.1)
  operators/mariadb-operator/0.35.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.35.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.35.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.35.1/metadata/annotations.yaml
  operators/mariadb-operator/0.35.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5227 operator external-secrets-operator (0.10.5)
  operators/external-secrets-operator/0.10.5/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_githubaccesstokens.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_uuids.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.10.5/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.10.5/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.10.5/metadata/annotations.yaml
  operators/external-secrets-operator/0.10.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5230 operator mongodb-atlas-kubernetes (2.5.0)
  operators/mongodb-atlas-kubernetes/2.5.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5229 operator hive-operator (1.2.4654-3268a18)
  operators/hive-operator/1.2.4654-3268a18/manifests/hive-operator.v1.2.4654-3268a18.clusterserviceversion.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4654-3268a18/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4654-3268a18/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5231 operator keycloak-operator (26.0.4)
  operators/keycloak-operator/26.0.4/bundle.Dockerfile
  operators/keycloak-operator/26.0.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5233 operator strimzi-kafka-operator (0.44.0)
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimzi-cluster-operator.v0.44.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.44.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.44.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5235 operator stackgres (1.14.0-rc2)
  operators/stackgres/1.14.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.14.0-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5184 operator [N] [CI] instaslice-operator (0.0.1)
  operators/instaslice-operator/0.0.1/manifests/inference.codeflare.dev_instaslices.yaml
  operators/instaslice-operator/0.0.1/manifests/instaslice-operator-controller-manager-metrics-service_v1_service.yaml
  operators/instaslice-operator/0.0.1/manifests/instaslice-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instaslice-operator/0.0.1/manifests/instaslice-operator-webhook-service_v1_service.yaml
  operators/instaslice-operator/0.0.1/manifests/instaslice-operator.clusterserviceversion.yaml
  operators/instaslice-operator/0.0.1/metadata/annotations.yaml
  operators/instaslice-operator/0.0.1/tests/scorecard/config.yaml
  operators/instaslice-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate
