Repository k8s-operatorhub/community-operators, pull requests merged in 2024-03, with the labels that each got.

#3953 operator self-node-remediation (0.8.0)
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-manager-config_v1_configmap.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation-webhook-service_v1_service.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.clusterserviceversion.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationconfigs.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediations.yaml
  operators/self-node-remediation/0.8.0/manifests/self-node-remediation.medik8s.io_selfnoderemediationtemplates.yaml
  operators/self-node-remediation/0.8.0/metadata/annotations.yaml
  operators/self-node-remediation/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3956 operator [O] pulsar-operator (0.17.10)
  operators/pulsar-operator/0.17.10/manifests/pulsar-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3957 operator [O] bookkeeper-operator (0.17.10)
  operators/bookkeeper-operator/0.17.10/manifests/bookkeeper-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3958 operator [O] zookeeper-operator (0.17.10)
  operators/zookeeper-operator/0.17.10/manifests/zookeeper-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3961 operator [O] pulsar-operator (0.17.10)
  operators/pulsar-operator/0.17.10/manifests/pulsar-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3959 operator [O] zookeeper-operator (0.17.10)
  operators/zookeeper-operator/0.17.10/manifests/zookeeper-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#3962 operator keycloak-operator (24.0.0)
  operators/keycloak-operator/24.0.0/bundle.Dockerfile
  operators/keycloak-operator/24.0.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3963 operator mariadb-operator (0.26.0)
  operators/mariadb-operator/0.26.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.26.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.26.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.26.0/metadata/annotations.yaml
  operators/mariadb-operator/0.26.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3966 operator kiali (1.81.0)
  operators/kiali/1.81.0/bundle.Dockerfile
  operators/kiali/1.81.0/manifests/kiali.crd.yaml
  operators/kiali/1.81.0/manifests/kiali.v1.81.0.clusterserviceversion.yaml
  operators/kiali/1.81.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3967 operator keycloak-operator (24.0.1)
  operators/keycloak-operator/24.0.1/bundle.Dockerfile
  operators/keycloak-operator/24.0.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3968 operator cluster-manager (0.13.0)
  operators/cluster-manager/0.13.0/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.13.0/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3969 operator klusterlet (0.13.0)
  operators/klusterlet/0.13.0/manifests/klusterlet.clusterserviceversion.yaml
  operators/klusterlet/0.13.0/manifests/operator.open-cluster-management.io_klusterlets.yaml
  operators/klusterlet/0.13.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3971 operator kernel-module-management (2.0.2)
  operators/kernel-module-management/2.0.2/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.0.2/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.0.2/metadata/annotations.yaml
  operators/kernel-module-management/2.0.2/metadata/dependencies.yaml
  operators/kernel-module-management/2.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3972 operator kernel-module-management-hub (2.0.2)
  operators/kernel-module-management-hub/2.0.2/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.0.2/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.0.2/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.2/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.0.2/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.0.2/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.0.2/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.0.2/metadata/dependencies.yaml
  operators/kernel-module-management-hub/2.0.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3975 operator postgresql (5.5.1)
  operators/postgresql/5.5.1/Dockerfile
  operators/postgresql/5.5.1/licenses/TERMS
  operators/postgresql/5.5.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.5.1/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.5.1/metadata/annotations.yaml
  operators/postgresql/5.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3981 operator gitlab-operator-kubernetes (0.29.2)
  operators/gitlab-operator-kubernetes/0.29.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3982 operator node-healthcheck-operator (0.7.0)
  operators/node-healthcheck-operator/0.7.0/manifests/node-healthcheck-controller-manager-metrics-service_v1_service.yaml
  operators/node-healthcheck-operator/0.7.0/manifests/node-healthcheck-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-healthcheck-operator/0.7.0/manifests/node-healthcheck-operator.clusterserviceversion.yaml
  operators/node-healthcheck-operator/0.7.0/manifests/node-healthcheck-webhook-service_v1_service.yaml
  operators/node-healthcheck-operator/0.7.0/manifests/remediation.medik8s.io_nodehealthchecks.yaml
  operators/node-healthcheck-operator/0.7.0/metadata/annotations.yaml
  operators/node-healthcheck-operator/0.7.0/metadata/dependencies.yaml
  operators/node-healthcheck-operator/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3984 operator datadog-operator (1.4.2)
  operators/datadog-operator/1.4.2/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.4.2/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.4.2/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.4.2/metadata/annotations.yaml
  operators/datadog-operator/1.4.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3992 operator mariadb-operator (0.27.0)
  operators/mariadb-operator/0.27.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.27.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.27.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.27.0/metadata/annotations.yaml
  operators/mariadb-operator/0.27.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3998 operator verticadb-operator (2.1.0)
  operators/verticadb-operator/2.1.0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/2.1.0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/2.1.0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/2.1.0/metadata/annotations.yaml
  operators/verticadb-operator/2.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3999 operator stackgres (1.9.0-rc1)
  operators/stackgres/1.9.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.9.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.9.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.9.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3983 operator dell-csm-operator (1.4.3)
  operators/dell-csm-operator/1.4.3/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.3/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.4.3/manifests/dell-csm-operator.v1.4.3.clusterserviceversion.yaml
  operators/dell-csm-operator/1.4.3/metadata/annotations.yaml
  operators/dell-csm-operator/1.4.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4001 operator apicurio-registry (1.1.1-v2.5.9.final)
  operators/apicurio-registry/1.1.1-v2.5.9.final/bundle.Dockerfile
  operators/apicurio-registry/1.1.1-v2.5.9.final/manifests/apicurio-registry-operator.clusterserviceversion.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/manifests/registry.apicur.io_apicurioregistries.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/metadata/annotations.yaml
  operators/apicurio-registry/1.1.1-v2.5.9.final/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4003 operator hive-operator (1.2.4408-9c5806a)
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive-operator.v1.2.4408-9c5806a.clusterserviceversion.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4408-9c5806a/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4408-9c5806a/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4005 operator ndmspc-operator (0.10.0)
  operators/ndmspc-operator/0.10.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.10.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.10.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4010 operator ndmspc-operator (0.10.2)
  operators/ndmspc-operator/0.10.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.10.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.10.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4011 operator deployment-validation-operator (0.7.5)
  operators/deployment-validation-operator/0.7.5/manifests/deploymentvalidationoperator-service.yaml
  operators/deployment-validation-operator/0.7.5/manifests/deploymentvalidationoperator.0.7.5.clusterserviceversion.yaml
  operators/deployment-validation-operator/0.7.5/metadata/annotations.yaml
  operators/deployment-validation-operator/0.7.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4012 operator strimzi-kafka-operator (0.40.0)
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkamirrormakers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimzi-cluster-operator.v0.40.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.40.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.40.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4013 operator awx-operator (2.13.0)
  operators/awx-operator/2.13.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.13.0/manifests/awx-operator.v2.13.0.clusterserviceversion.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.13.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.13.0/metadata/annotations.yaml
  operators/awx-operator/2.13.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4018 operator grafana-operator (5.7.0)
  operators/grafana-operator/5.7.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.7.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.7.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.7.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4019 operator percona-xtradb-cluster-operator (1.14.0)
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/percona-xtradb-cluster-operator.v1.14.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4021 operator authorino-operator (0.11.0)
  operators/authorino-operator/0.11.0/bundle.Dockerfile
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.0/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.11.0/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.11.0/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.0/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.11.0/metadata/annotations.yaml
  operators/authorino-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4022 operator authorino-operator (0.11.1)
  operators/authorino-operator/0.11.1/bundle.Dockerfile
  operators/authorino-operator/0.11.1/manifests/authorino-authconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-authconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-manager-k8s-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-operator.clusterserviceversion.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/authorino-operator/0.11.1/manifests/authorino-webhooks_v1_service.yaml
  operators/authorino-operator/0.11.1/manifests/authorino.kuadrant.io_authconfigs.yaml
  operators/authorino-operator/0.11.1/manifests/manager-config_v1_configmap.yaml
  operators/authorino-operator/0.11.1/manifests/operator.authorino.kuadrant.io_authorinos.yaml
  operators/authorino-operator/0.11.1/metadata/annotations.yaml
  operators/authorino-operator/0.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4025 operator ndmspc-operator (0.11.0)
  operators/ndmspc-operator/0.11.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4026 operator awx-operator (2.13.1)
  operators/awx-operator/2.13.1/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.13.1/manifests/awx-operator.v2.13.1.clusterserviceversion.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.13.1/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.13.1/metadata/annotations.yaml
  operators/awx-operator/2.13.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4027 operator ndmspc-operator (0.11.1)
  operators/ndmspc-operator/0.11.1/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.1/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.1/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4028 operator ndmspc-operator (0.11.2)
  operators/ndmspc-operator/0.11.2/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.2/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.2/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4029 operator ndmspc-operator (0.11.3)
  operators/ndmspc-operator/0.11.3/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.3/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.3/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4033 operator aerospike-kubernetes-operator (3.2.2)
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/3.2.2/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/3.2.2/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/3.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4034 operator trivy-operator (0.19.0)
  operators/trivy-operator/0.19.0/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/manifests/trivy-operator.v0.19.0.clusterserviceversion.yaml
  operators/trivy-operator/0.19.0/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4035 operator nri-plugins-operator (0.4.1)
  operators/nri-plugins-operator/0.4.1/manifests/config.nri_balloonspolicies.yaml
  operators/nri-plugins-operator/0.4.1/manifests/config.nri_nriplugindeployments.yaml
  operators/nri-plugins-operator/0.4.1/manifests/config.nri_templatepolicies.yaml
  operators/nri-plugins-operator/0.4.1/manifests/config.nri_topologyawarepolicies.yaml
  operators/nri-plugins-operator/0.4.1/manifests/nri-plugins-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nri-plugins-operator/0.4.1/manifests/nri-plugins-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nri-plugins-operator/0.4.1/manifests/nri-plugins-operator.clusterserviceversion.yaml
  operators/nri-plugins-operator/0.4.1/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nri-plugins-operator/0.4.1/metadata/annotations.yaml
  operators/nri-plugins-operator/0.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4024 operator fence-agents-remediation (0.3.0)
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-manager-config_v1_configmap.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation-webhook-service_v1_service.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.clusterserviceversion.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediations.yaml
  operators/fence-agents-remediation/0.3.0/manifests/fence-agents-remediation.medik8s.io_fenceagentsremediationtemplates.yaml
  operators/fence-agents-remediation/0.3.0/metadata/annotations.yaml
  operators/fence-agents-remediation/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4023 operator node-maintenance-operator (0.17.0)
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-controller-manager-metrics-service_v1_service.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator-webhook-service_v1_service.yaml
  operators/node-maintenance-operator/0.17.0/manifests/node-maintenance-operator.clusterserviceversion.yaml
  operators/node-maintenance-operator/0.17.0/manifests/nodemaintenance.medik8s.io_nodemaintenances.yaml
  operators/node-maintenance-operator/0.17.0/metadata/annotations.yaml
  operators/node-maintenance-operator/0.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4038 operator hive-operator (1.2.4416-fba8d52)
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive-operator.v1.2.4416-fba8d52.clusterserviceversion.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4416-fba8d52/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4416-fba8d52/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4039 operator debezium-operator (2.5.1)
  operators/debezium-operator/2.5.1/bundle.Dockerfile
  operators/debezium-operator/2.5.1/manifests/debezium-operator.v2.5.1.clusterserviceversion.yaml
  operators/debezium-operator/2.5.1/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4042 operator [O] debezium-operator (2.5.1)
  operators/debezium-operator/2.5.1/manifests/debezium-operator.v2.5.1.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#4044 operator ndmspc-operator (0.11.4)
  operators/ndmspc-operator/0.11.4/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.4/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.4/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.4/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.4/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.4/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.4/metadata/dependencies.yaml
  operators/ndmspc-operator/0.11.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4045 operator infinispan (2.4.0)
  operators/infinispan/2.4.0/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.0/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.0/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.0/metadata/annotations.yaml
  operators/infinispan/2.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#3934 operator wildfly (1.0.0)
  operators/wildfly/1.0.0/bundle.Dockerfile
  operators/wildfly/1.0.0/manifests/wildfly-operator.v1.0.0.clusterserviceversion.yaml
  operators/wildfly/1.0.0/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/1.0.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#3947 operator clickhouse (0.23.3)
  operators/clickhouse/0.23.3/manifests/clickhouse-operator.v0.23.3.clusterserviceversion.yaml
  operators/clickhouse/0.23.3/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.3/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.3/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.23.3/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.23.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4046 operator ndmspc-operator (0.11.5)
  operators/ndmspc-operator/0.11.5/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.5/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.5/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.5/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.5/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.5/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4048 operator ndmspc-operator (0.11.6)
  operators/ndmspc-operator/0.11.6/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.11.6/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.11.6/metadata/annotations.yaml
  operators/ndmspc-operator/0.11.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4050 operator debezium-operator (2.5.2-final)
  operators/debezium-operator/2.5.2-final/bundle.Dockerfile
  operators/debezium-operator/2.5.2-final/manifests/debezium-operator.v2.5.2-final.clusterserviceversion.yaml
  operators/debezium-operator/2.5.2-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.2-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4052 operator trivy-operator (0.19.1)
  operators/trivy-operator/0.19.1/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/manifests/trivy-operator.v0.19.1.clusterserviceversion.yaml
  operators/trivy-operator/0.19.1/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4055 operator debezium-operator (2.5.3-final)
  operators/debezium-operator/2.5.3-final/bundle.Dockerfile
  operators/debezium-operator/2.5.3-final/manifests/debezium-operator.v2.5.3-final.clusterserviceversion.yaml
  operators/debezium-operator/2.5.3-final/manifests/debeziumservers.debezium.io-v1.crd.yml
  operators/debezium-operator/2.5.3-final/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4057 operator mongodb-atlas-kubernetes (2.2.0)
  operators/mongodb-atlas-kubernetes/2.2.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4056 operator ceph-s3-operator (0.3.7)
  operators/ceph-s3-operator/0.3.7/manifests/ceph-s3-operator-controller-manager-config_v1_secret.yaml
  operators/ceph-s3-operator/0.3.7/manifests/ceph-s3-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ceph-s3-operator/0.3.7/manifests/ceph-s3-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ceph-s3-operator/0.3.7/manifests/ceph-s3-operator-webhook-service_v1_service.yaml
  operators/ceph-s3-operator/0.3.7/manifests/ceph-s3-operator.clusterserviceversion.yaml
  operators/ceph-s3-operator/0.3.7/manifests/s3.snappcloud.io_s3buckets.yaml
  operators/ceph-s3-operator/0.3.7/manifests/s3.snappcloud.io_s3userclaims.yaml
  operators/ceph-s3-operator/0.3.7/manifests/s3.snappcloud.io_s3users.yaml
  operators/ceph-s3-operator/0.3.7/metadata/annotations.yaml
  operators/ceph-s3-operator/0.3.7/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4060 operator stackgres (1.9.0)
  operators/stackgres/1.9.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.9.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.9.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.9.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.9.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.9.0/metadata/annotations.yaml
  operators/stackgres/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4017 operator hpe-csi-operator (2.4.1)
  operators/hpe-csi-operator/2.4.1/Dockerfile
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator.v2.4.1.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.1/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.4.1/metadata/annotations.yaml
  operators/hpe-csi-operator/2.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4069 operator keycloak-operator (24.0.2)
  operators/keycloak-operator/24.0.2/bundle.Dockerfile
  operators/keycloak-operator/24.0.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/24.0.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/24.0.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4047 operator grafana-operator (5.8.0)
  operators/grafana-operator/5.8.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.8.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.8.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.8.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4070 operator [CI] grafana-operator
  operators/grafana-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4072 operator hive-operator (1.2.4418-eb5403f)
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive-operator.v1.2.4418-eb5403f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4418-eb5403f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4418-eb5403f/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4073 operator gitlab-operator-kubernetes (0.30.0)
  operators/gitlab-operator-kubernetes/0.30.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4075 operator mondoo-operator (1.21.2)
  operators/mondoo-operator/1.21.2/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.21.2/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.21.2/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.21.2/metadata/annotations.yaml
  operators/mondoo-operator/1.21.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4076 operator awx-operator (2.14.0)
  operators/awx-operator/2.14.0/manifests/awx-operator-awx-manager-config_v1_configmap.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator-controller-manager-metrics-service_v1_service.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/awx-operator/2.14.0/manifests/awx-operator.v2.14.0.clusterserviceversion.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxbackups.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxmeshingresses.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxrestores.yaml
  operators/awx-operator/2.14.0/manifests/awx.ansible.com_awxs.yaml
  operators/awx-operator/2.14.0/metadata/annotations.yaml
  operators/awx-operator/2.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4077 operator datadog-operator (1.5.0)
  operators/datadog-operator/1.5.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator/1.5.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator/1.5.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator/1.5.0/metadata/annotations.yaml
  operators/datadog-operator/1.5.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4071 operator [N] [CI] customized-user-remediation (0.1.0)
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation-controller-manager-metrics-service_v1_service.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation-ext-remediation_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation-webhook-service_v1_service.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation.clusterserviceversion.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation.medik8s.io_customizeduserremediationconfigs.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation.medik8s.io_customizeduserremediations.yaml
  operators/customized-user-remediation/0.1.0/manifests/customized-user-remediation.medik8s.io_customizeduserremediationtemplates.yaml
  operators/customized-user-remediation/0.1.0/metadata/annotations.yaml
  operators/customized-user-remediation/0.1.0/tests/scorecard/config.yaml
  operators/customized-user-remediation/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4074 operator [CI] elastic-cloud-eck (2.12.0)
  operators/elastic-cloud-eck/2.12.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.0/metadata/annotations.yaml
  operators/elastic-cloud-eck/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4079 operator elastic-cloud-eck (2.12.1)
  operators/elastic-cloud-eck/2.12.1/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4054 operator [N] [CI] susql-operator (0.0.1)
  operators/susql-operator/0.0.1/ci.yaml
  operators/susql-operator/0.0.1/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.1/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.1/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.1/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.1/metadata/annotations.yaml
  operators/susql-operator/0.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#4020 operator microcks (1.9.0)
  operators/microcks/1.9.0/manifests/microcks-operator.v1.9.0.clusterserviceversion.yaml
  operators/microcks/1.9.0/manifests/microcksinstall.crd.yaml
  operators/microcks/1.9.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4068 remove mattermost-operator
  operators/mattermost-operator/0.5.0/manifests/clusterinstallations.mattermost.com.crd.yaml
  operators/mattermost-operator/0.5.0/manifests/mattermost-operator.v0.5.0.clusterserviceversion.yaml
  operators/mattermost-operator/0.5.0/metadata/annotations.yaml
  operators/mattermost-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#4083 operator trivy-operator (0.19.2)
  operators/trivy-operator/0.19.2/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/manifests/trivy-operator.v0.19.2.clusterserviceversion.yaml
  operators/trivy-operator/0.19.2/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4084 operator gitlab-operator-kubernetes (0.30.1)
  operators/gitlab-operator-kubernetes/0.30.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4086 operator trivy-operator (0.19.3)
  operators/trivy-operator/0.19.3/manifests/clustercompliancereports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/clusterconfigauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/clusterinfraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/clusterrbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/clustersbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/clustervulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/configauditreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/exposedsecretreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/infraassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/rbacassessmentreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/sbomreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/manifests/trivy-operator.v0.19.3.clusterserviceversion.yaml
  operators/trivy-operator/0.19.3/manifests/vulnerabilityreports.v1alpha1.aquasecurity.github.io.crd.yaml
  operators/trivy-operator/0.19.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#4087 operator mondoo-operator (1.22.0)
  operators/mondoo-operator/1.22.0/manifests/k8s.mondoo.com_mondooauditconfigs.yaml
  operators/mondoo-operator/1.22.0/manifests/k8s.mondoo.com_mondoooperatorconfigs.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-k8s-resources-scanning_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-k8s-resources-scanning_v1_serviceaccount.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-manager-config_v1_configmap.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator-webhook_v1_serviceaccount.yaml
  operators/mondoo-operator/1.22.0/manifests/mondoo-operator.clusterserviceversion.yaml
  operators/mondoo-operator/1.22.0/metadata/annotations.yaml
  operators/mondoo-operator/1.22.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4088 operator cass-operator-community (1.19.1)
  operators/cass-operator-community/1.19.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.19.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.19.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.19.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.19.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.19.1/metadata/annotations.yaml
  operators/cass-operator-community/1.19.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4089 operator jaeger (1.55.0)
  operators/jaeger/1.55.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.55.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.55.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.55.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.55.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.55.0/metadata/annotations.yaml
  operators/jaeger/1.55.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4100 operator nri-plugins-operator (0.5.1)
  operators/nri-plugins-operator/0.5.1/manifests/config.nri_balloonspolicies.yaml
  operators/nri-plugins-operator/0.5.1/manifests/config.nri_nriplugindeployments.yaml
  operators/nri-plugins-operator/0.5.1/manifests/config.nri_templatepolicies.yaml
  operators/nri-plugins-operator/0.5.1/manifests/config.nri_topologyawarepolicies.yaml
  operators/nri-plugins-operator/0.5.1/manifests/nri-plugins-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nri-plugins-operator/0.5.1/manifests/nri-plugins-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nri-plugins-operator/0.5.1/manifests/nri-plugins-operator.clusterserviceversion.yaml
  operators/nri-plugins-operator/0.5.1/manifests/topology.node.k8s.io_noderesourcetopologies.yaml
  operators/nri-plugins-operator/0.5.1/metadata/annotations.yaml
  operators/nri-plugins-operator/0.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#4113 operator external-secrets-operator (0.9.14)
  operators/external-secrets-operator/0.9.14/manifests/external-secrets-operator-manager-config_v1_configmap.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets-operator.clusterserviceversion.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_clusterexternalsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_clustersecretstores.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_externalsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_pushsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/external-secrets.io_secretstores.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_acraccesstokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_ecrauthorizationtokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_fakes.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_gcraccesstokens.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_passwords.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_vaultdynamicsecrets.yaml
  operators/external-secrets-operator/0.9.14/manifests/generators.external-secrets.io_webhooks.yaml
  operators/external-secrets-operator/0.9.14/manifests/operator.external-secrets.io_operatorconfigs.yaml
  operators/external-secrets-operator/0.9.14/metadata/annotations.yaml
  operators/external-secrets-operator/0.9.14/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
