Repository k8s-operatorhub/community-operators, pull requests merged in 2025-05, with the labels that each got.

#6054 operator ibm-security-verify-access-operator (25.4.0)
  operators/ibm-security-verify-access-operator/25.4.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/25.4.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/25.4.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6037 operator [N] [CI] apicurio-registry-3 (3.0.7)
  operators/apicurio-registry-3/3.0.7/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.7/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.7/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.7/metadata/annotations.yaml
  operators/apicurio-registry-3/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#6056 operator cert-manager (1.16.5)
  operators/cert-manager/1.16.5/bundle.Dockerfile
  operators/cert-manager/1.16.5/manifests/acme.cert-manager.io_challenges.yaml
  operators/cert-manager/1.16.5/manifests/acme.cert-manager.io_orders.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-cainjector_v1_service.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-cluster-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-edit_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-view_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager-webhook_v1_service.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.clusterserviceversion.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_certificaterequests.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_certificates.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_clusterissuers.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager.io_issuers.yaml
  operators/cert-manager/1.16.5/manifests/cert-manager_v1_service.yaml
  operators/cert-manager/1.16.5/metadata/annotations.yaml
  operators/cert-manager/1.16.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6100 operator strimzi-kafka-operator (0.46.0)
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkabridges.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkaconnectors.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkaconnects.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkamirrormaker2s.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkanodepools.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkarebalances.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkas.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkatopics.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/kafkausers.kafka.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzi-cluster-operator.v0.46.0.clusterserviceversion.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimziclusteroperator.configmap.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzientityoperator.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzikafkabroker.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzikafkaclient.clusterrole.yaml
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzipodsets.core.strimzi.io.crd.yaml
  operators/strimzi-kafka-operator/0.46.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6101 operator keycloak-operator (26.2.3)
  operators/keycloak-operator/26.2.3/bundle.Dockerfile
  operators/keycloak-operator/26.2.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6058 operator [N] [CI] mongodb-kubernetes (1.0.0)
  operators/mongodb-kubernetes/1.0.0/bundle.Dockerfile
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.0.0/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.0.0/tests/scorecard/config.yaml
  operators/mongodb-kubernetes/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5982 operator [CI] alloydb-omni-operator (1.4.0)
  operators/alloydb-omni-operator/1.4.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.4.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.4.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.4.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.4.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#6102 operator pubsubplus-eventbroker-operator (1.3.0)
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6105 operator gitlab-operator-kubernetes (1.12.2)
  operators/gitlab-operator-kubernetes/1.12.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6107 operator ndb-operator (1.8.1)
  operators/ndb-operator/1.8.1/bundle.Dockerfile
  operators/ndb-operator/1.8.1/manifests/mysql.oracle.com_ndbclusters.yaml
  operators/ndb-operator/1.8.1/manifests/ndb-operator-svc_v1_service.yaml
  operators/ndb-operator/1.8.1/manifests/ndb-operator-webhook-service_v1_service.yaml
  operators/ndb-operator/1.8.1/manifests/ndb-operator.clusterserviceversion.yaml
  operators/ndb-operator/1.8.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6108 operator [O] project-quay (3.10.10)
  operators/project-quay/3.10.10/manifests/quay-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#6109 operator hawtio-operator (1.3.0)
  operators/hawtio-operator/1.3.0/manifests/hawt.io_hawtios.yaml
  operators/hawtio-operator/1.3.0/manifests/hawtio-operator.clusterserviceversion.yaml
  operators/hawtio-operator/1.3.0/metadata/annotations.yaml
  operators/hawtio-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6106 operator wildfly (1.1.2)
  operators/wildfly/1.1.2/manifests/wildfly-operator.v1.1.2.clusterserviceversion.yaml
  operators/wildfly/1.1.2/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/1.1.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6111 operator keycloak-operator (26.2.4)
  operators/keycloak-operator/26.2.4/bundle.Dockerfile
  operators/keycloak-operator/26.2.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6116 operator cass-operator-community (1.24.0)
  operators/cass-operator-community/1.24.0/manifests/cass-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cass-operator-community/1.24.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.24.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.24.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.24.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.24.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.24.0/manifests/control.k8ssandra.io_scheduledtasks.yaml
  operators/cass-operator-community/1.24.0/metadata/annotations.yaml
  operators/cass-operator-community/1.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6117 operator gitlab-runner-operator (1.36.0)
  operators/gitlab-runner-operator/1.36.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.36.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6120 operator instana-agent-operator (2.1.24)
  operators/instana-agent-operator/2.1.24/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.24/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.24/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.24/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.24/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.24/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.24/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.24/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6123 operator hive-operator (1.2.4814-4bc5b48)
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive-operator.v1.2.4814-4bc5b48.clusterserviceversion.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4814-4bc5b48/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4814-4bc5b48/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6124 operator [O] strimzi-kafka-operator (0.46.0)
  operators/strimzi-kafka-operator/0.46.0/manifests/strimzi-cluster-operator.v0.46.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#6125 operator intel-device-plugins-operator (0.32.1)
  operators/intel-device-plugins-operator/0.32.1/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.32.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6152 operator flux-operator (0.20.0)
  operators/flux-operator/0.20.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.20.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.20.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.20.0/metadata/annotations.yaml
  operators/flux-operator/0.20.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6166 operator mongodb-kubernetes (1.0.1)
  operators/mongodb-kubernetes/1.0.1/bundle.Dockerfile
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.0.1/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6177 operator stackgres (1.16.2)
  operators/stackgres/1.16.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.2/metadata/annotations.yaml
  operators/stackgres/1.16.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6182 operator gitlab-operator-kubernetes (2.0.0)
  operators/gitlab-operator-kubernetes/2.0.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6183 operator gitlab-runner-operator (1.37.0)
  operators/gitlab-runner-operator/1.37.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.37.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6184 operator grafana-operator (5.18.0)
  operators/grafana-operator/5.18.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.18.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.18.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.18.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6185 operator postgresql (5.8.2)
  operators/postgresql/5.8.2/Dockerfile
  operators/postgresql/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.8.2/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.8.2/metadata/annotations.yaml
  operators/postgresql/5.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6187 operator edp-keycloak-operator (1.26.0)
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.26.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.26.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.26.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6188 operator edp-keycloak-operator (1.27.1)
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.27.1/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.27.1/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.27.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6189 operator [R] multi-nic-cni-operator (1.0.3 1.0.4 1.0.5 1.1.0 1.2.0 1.2.1 1.2.2 1.2.3 1.2.4 1.2.5 1.2.6 1.2.7 1.3.0)
  operators/multi-nic-cni-operator/1.0.3/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.4/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.0.5/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.1.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.1/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.2/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.3/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.7/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#6190 operator project-quay (3.13.5)
  operators/project-quay/3.13.5/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.5/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6191 operator project-quay (3.14.1)
  operators/project-quay/3.14.1/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.14.1/manifests/quayregistries.crd.yaml
  operators/project-quay/3.14.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6194 operator kiali (2.10.0)
  operators/kiali/2.10.0/bundle.Dockerfile
  operators/kiali/2.10.0/manifests/kiali.crd.yaml
  operators/kiali/2.10.0/manifests/kiali.v2.10.0.clusterserviceversion.yaml
  operators/kiali/2.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6198 operator [O] postgresql (5.8.2)
  operators/postgresql/5.8.2/manifests/postgresoperator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#6200 operator gitlab-operator-kubernetes (2.0.1)
  operators/gitlab-operator-kubernetes/2.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6196 operator dell-csm-operator (1.9.0)
  operators/dell-csm-operator/1.9.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.9.0/manifests/dell-csm-operator.v1.9.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.9.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6203 operator mongodb-kubernetes (1.1.0)
  operators/mongodb-kubernetes/1.1.0/bundle.Dockerfile
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb.com_mongodbsearch.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.1.0/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.1.0/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.1.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6214 operator ibm-block-csi-operator-community (1.12.3)
  operators/ibm-block-csi-operator-community/1.12.3/bundle-1.12.3.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.3/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.3/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.3/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.3/manifests/ibm-block-csi-operator.v1.12.3.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6217 operator multi-nic-cni-operator (1.2.4)
  operators/multi-nic-cni-operator/1.2.4/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.4/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.4/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6218 operator multi-nic-cni-operator (1.2.5)
  operators/multi-nic-cni-operator/1.2.5/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.5/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.5/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.5/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6219 operator multi-nic-cni-operator (1.2.6)
  operators/multi-nic-cni-operator/1.2.6/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.6/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.6/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.6/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6221 operator instana-agent-operator (2.1.25)
  operators/instana-agent-operator/2.1.25/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.25/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.25/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.25/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.25/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.25/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.25/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.25/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6222 operator multi-nic-cni-operator (1.3.0)
  operators/multi-nic-cni-operator/1.3.0/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-controller-manager-metrics-service_v1_service.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.3.0/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.3.0/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6251 operator keycloak-operator (26.2.5)
  operators/keycloak-operator/26.2.5/bundle.Dockerfile
  operators/keycloak-operator/26.2.5/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.2.5/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.5/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.2.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6254 operator stackgres (1.16.3)
  operators/stackgres/1.16.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.3/metadata/annotations.yaml
  operators/stackgres/1.16.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6276 operator apicurio-registry-3 (3.0.8)
  operators/apicurio-registry-3/3.0.8/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.8/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.8/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6278 operator openshift-node-upgrade-mutex-operator (0.2.66)
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.66/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6280 operator keda (2.17.1)
  operators/keda/2.17.1/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.17.1/manifests/eventing.keda.sh_clustercloudeventsources.yaml
  operators/keda/2.17.1/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.17.1/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.17.1/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.17.1/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.17.1/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.17.1/manifests/keda.v2.17.1.clusterserviceversion.yaml
  operators/keda/2.17.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
