Repository k8s-operatorhub/community-operators, pull requests merged in 2025-03, with the labels that each got.

#5816 operator instana-agent-operator (2.1.20)
  operators/instana-agent-operator/2.1.20/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.20/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.20/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.20/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.20/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.20/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.20/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.20/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5818 operator shipwright-operator (0.15.2)
  operators/shipwright-operator/0.15.2/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.15.2/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.15.2/metadata/annotations.yaml
  operators/shipwright-operator/0.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5819 operator [CI] galaxy-operator (2024.5.8)
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-controller-manager-metrics-service_v1_service.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-galaxy-operator-config_v1_configmap.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator.clusterserviceversion.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxies.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxybackups.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxyrestores.yaml
  operators/galaxy-operator/2024.5.8/metadata/annotations.yaml
  operators/galaxy-operator/2024.5.8/tests/scorecard/config.yaml
  operators/galaxy-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5820 operator infinispan (2.4.11)
  operators/infinispan/2.4.11/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.11/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.11/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.11/metadata/annotations.yaml
  operators/infinispan/2.4.11/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5821 operator postgresql (5.7.4)
  operators/postgresql/5.7.4/Dockerfile
  operators/postgresql/5.7.4/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.4/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.4/metadata/annotations.yaml
  operators/postgresql/5.7.4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5823 operator project-quay (3.12.8)
  operators/project-quay/3.12.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5829 operator project-quay (3.11.9)
  operators/project-quay/3.11.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5832 operator [O] galaxy-operator (2024.5.8)
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#5831 operator project-quay (3.10.9)
  operators/project-quay/3.10.9/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.9/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5837 operator mongodb-atlas-kubernetes (2.8.0)
  operators/mongodb-atlas-kubernetes/2.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5838 operator trident-operator (24.10.1)
  operators/trident-operator/24.10.1/manifests/trident-operator.v24.10.1.clusterserviceversion.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/24.10.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/24.10.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5843 operator move2kube-operator (0.3.15)
  operators/move2kube-operator/0.3.15/bundle.Dockerfile
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator-controller-manager-metrics-service_v1_service.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube-operator.clusterserviceversion.yaml
  operators/move2kube-operator/0.3.15/manifests/move2kube.konveyor.io_move2kubes.yaml
  operators/move2kube-operator/0.3.15/metadata/annotations.yaml
  operators/move2kube-operator/0.3.15/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5840 operator stackgres (1.15.2)
  operators/stackgres/1.15.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.2/metadata/annotations.yaml
  operators/stackgres/1.15.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5846 operator trustify-operator (0.1.0-alpha.9)
  operators/trustify-operator/0.1.0-alpha.9/manifests/trustifies.org.trustify-v1.crd.yml
  operators/trustify-operator/0.1.0-alpha.9/manifests/trustify-operator.clusterserviceversion.yaml
  operators/trustify-operator/0.1.0-alpha.9/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5839 operator mongodb-enterprise (1.32.0)
  operators/mongodb-enterprise/1.32.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.32.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.32.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.32.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5848 operator [N] galaxy-operator (1.0.0-alpha.4)
  operators/galaxy-operator/1.0.0-alpha.4/manifests/pulp-operator.1.0.0-alpha.4.clusterserviceversion.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-controller-manager-metrics-service_v1_service.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-galaxy-operator-config_v1_configmap.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy-operator.clusterserviceversion.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxies.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxybackups.yaml
  operators/galaxy-operator/2024.5.8/manifests/galaxy.ansible.com_galaxyrestores.yaml
  operators/galaxy-operator/2024.5.8/metadata/annotations.yaml
  operators/galaxy-operator/2024.5.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5852 operator kernel-module-management (2.3.0)
  operators/kernel-module-management/2.3.0/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm-operator-manager-config_v1_configmap.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.3.0/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.3.0/metadata/annotations.yaml
  operators/kernel-module-management/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5853 operator kernel-module-management-hub (2.3.0)
  operators/kernel-module-management-hub/2.3.0/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.3.0/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.3.0/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.3.0/manifests/kmm-operator-hub-manager-config_v1_configmap.yaml
  operators/kernel-module-management-hub/2.3.0/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.3.0/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.3.0/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5859 operator hive-operator (1.2.4731-41f153f)
  operators/hive-operator/1.2.4731-41f153f/manifests/hive-operator.v1.2.4731-41f153f.clusterserviceversion.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4731-41f153f/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4731-41f153f/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5864 operator aerospike-kubernetes-operator (4.0.1)
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/4.0.1/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/4.0.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/4.0.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5866 operator trident-operator (25.2.1)
  operators/trident-operator/25.2.1/manifests/trident-operator.v25.2.1.clusterserviceversion.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5867 operator gitlab-operator-kubernetes (1.10.2)
  operators/gitlab-operator-kubernetes/1.10.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5868 operator hazelcast-platform-operator (5.15.0)
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_flows.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_vectorcollections.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.15.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5869 operator keycloak-operator (26.1.4)
  operators/keycloak-operator/26.1.4/bundle.Dockerfile
  operators/keycloak-operator/26.1.4/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.4/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.4/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5871 operator project-quay (3.9.10)
  operators/project-quay/3.9.10/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.10/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.10/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5872 operator cass-operator-community (1.23.1)
  operators/cass-operator-community/1.23.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.23.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.23.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.23.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.23.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.23.1/metadata/annotations.yaml
  operators/cass-operator-community/1.23.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5875 operator flux-operator (0.18.0)
  operators/flux-operator/0.18.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.18.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.18.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.18.0/metadata/annotations.yaml
  operators/flux-operator/0.18.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5877 operator loki-operator (0.8.0)
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-manager-config_v1_configmap.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator-webhook-service_v1_service.yaml
  operators/loki-operator/0.8.0/manifests/loki-operator.clusterserviceversion.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_alertingrules.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_lokistacks.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_recordingrules.yaml
  operators/loki-operator/0.8.0/manifests/loki.grafana.com_rulerconfigs.yaml
  operators/loki-operator/0.8.0/metadata/annotations.yaml
  operators/loki-operator/0.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5879 operator flink-kubernetes-operator (1.10.0)
  operators/flink-kubernetes-operator/1.10.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink.apache.org_flinkstatesnapshots.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.10.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.10.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5880 operator verticadb-operator (25.2.0-0)
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_eventtriggers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticaautoscalers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticadbs.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticareplicators.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticarestorepointsqueries.yaml
  operators/verticadb-operator/25.2.0-0/manifests/vertica.com_verticascrutinizers.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-manager-config_v1_configmap.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-metrics-service_v1_service.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-openshift-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-openshift-cluster-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator-webhook-service_v1_service.yaml
  operators/verticadb-operator/25.2.0-0/manifests/verticadb-operator.clusterserviceversion.yaml
  operators/verticadb-operator/25.2.0-0/metadata/annotations.yaml
  operators/verticadb-operator/25.2.0-0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5881 operator flink-kubernetes-operator (1.11.0)
  operators/flink-kubernetes-operator/1.11.0/bundle.Dockerfile
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-kubernetes-operator.clusterserviceversion.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-operator-config_v1_configmap.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-operator-webhook-secret_v1_secret.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinkdeployments.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinksessionjobs.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink.apache.org_flinkstatesnapshots.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink_rbac.authorization.k8s.io_v1_role.yaml
  operators/flink-kubernetes-operator/1.11.0/manifests/flink_v1_serviceaccount.yaml
  operators/flink-kubernetes-operator/1.11.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5883 operator kiali (2.7.1)
  operators/kiali/2.7.1/bundle.Dockerfile
  operators/kiali/2.7.1/manifests/kiali.crd.yaml
  operators/kiali/2.7.1/manifests/kiali.v2.7.1.clusterserviceversion.yaml
  operators/kiali/2.7.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5884 operator hive-operator (1.2.4738-b19773e)
  operators/hive-operator/1.2.4738-b19773e/manifests/hive-operator.v1.2.4738-b19773e.clusterserviceversion.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4738-b19773e/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4738-b19773e/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5887 operator gitlab-runner-operator (1.35.0)
  operators/gitlab-runner-operator/1.35.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.35.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5847 operator edp-keycloak-operator (1.25.0)
  operators/edp-keycloak-operator/1.25.0/manifests/client-secret-authorization-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.25.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.25.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.25.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5878 operator percona-postgresql-operator (2.6.0)
  operators/percona-postgresql-operator/2.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator/2.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5891 operator cass-operator-community (1.23.2)
  operators/cass-operator-community/1.23.2/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.23.2/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.23.2/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.23.2/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.23.2/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.23.2/metadata/annotations.yaml
  operators/cass-operator-community/1.23.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5892 operator gitlab-operator-kubernetes (1.11.0)
  operators/gitlab-operator-kubernetes/1.11.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5894 operator stackgres (1.16.0-rc1)
  operators/stackgres/1.16.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.16.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5870 operator clickhouse (0.24.5)
  operators/clickhouse/0.24.5/manifests/clickhouse-operator.v0.24.5.clusterserviceversion.yaml
  operators/clickhouse/0.24.5/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.5/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.5/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.5/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5897 operator openshift-node-upgrade-mutex-operator (0.2.59)
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.59/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5900 operator cluster-manager (0.16.0)
  operators/cluster-manager/0.16.0/manifests/cluster-manager.clusterserviceversion.yaml
  operators/cluster-manager/0.16.0/manifests/operator.open-cluster-management.io_clustermanagers.yaml
  operators/cluster-manager/0.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5907 operator mariadb-operator (0.38.0)
  operators/mariadb-operator/0.38.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.38.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.38.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.38.0/metadata/annotations.yaml
  operators/mariadb-operator/0.38.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5909 operator hive-operator (1.2.4746-d25e0db)
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive-operator.v1.2.4746-d25e0db.clusterserviceversion.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4746-d25e0db/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4746-d25e0db/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5910 operator gitlab-operator-kubernetes (1.11.1)
  operators/gitlab-operator-kubernetes/1.11.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5911 operator instana-agent-operator (2.1.21)
  operators/instana-agent-operator/2.1.21/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.21/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.21/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.21/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.21/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.21/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.21/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.21/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5912 operator skupper-operator (1.8.4)
  operators/skupper-operator/1.8.4/manifests/skupper-operator.v1.8.4.clusterserviceversion.yaml
  operators/skupper-operator/1.8.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5914 operator stackgres (1.16.0-rc2)
  operators/stackgres/1.16.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.16.0-rc2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5954 operator openshift-node-upgrade-mutex-operator (0.2.60)
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.60/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
