Repository k8s-operatorhub/community-operators, pull requests merged in 2025-08, with the labels that each got.

#6653 operator [O] flux (2.3.0)
  operators/flux/2.3.0/manifests/flux.v2.3.0.clusterserviceversion.yaml
Labels: allow/operator-version-overwrite, authorized-changes, package-validated, installation-validated

#6658 operator clickhouse (0.25.3)
  operators/clickhouse/0.25.3/manifests/clickhouse-operator.v0.25.3.clusterserviceversion.yaml
  operators/clickhouse/0.25.3/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.25.3/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.25.3/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.25.3/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.25.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6659 operator stackgres (1.17.1)
  operators/stackgres/1.17.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.17.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.17.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.17.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.17.1/metadata/annotations.yaml
  operators/stackgres/1.17.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6660 operator flux-operator (0.27.0)
  operators/flux-operator/0.27.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.27.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.27.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.27.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.27.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.27.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.27.0/metadata/annotations.yaml
  operators/flux-operator/0.27.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6661 operator ibm-block-csi-operator-community (1.12.5)
  operators/ibm-block-csi-operator-community/1.12.5/bundle-1.12.5.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.5/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.5/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.5/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.5/manifests/ibm-block-csi-operator.v1.12.5.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.5/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6663 operator instana-agent-operator (2.1.33)
  operators/instana-agent-operator/2.1.33/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.33/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.33/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.33/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.33/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.33/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6668 operator mariadb-operator (25.8.3)
  operators/mariadb-operator/25.8.3/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.3/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.3/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.3/metadata/annotations.yaml
  operators/mariadb-operator/25.8.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6669 operator project-quay (3.9.14)
  operators/project-quay/3.9.14/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.14/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.14/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6681 operator kiali (2.14.0)
  operators/kiali/2.14.0/bundle.Dockerfile
  operators/kiali/2.14.0/manifests/kiali.crd.yaml
  operators/kiali/2.14.0/manifests/kiali.v2.14.0.clusterserviceversion.yaml
  operators/kiali/2.14.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6686 operator gitlab-operator-kubernetes (2.2.2)
  operators/gitlab-operator-kubernetes/2.2.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6690 operator apicurio-registry-3 (3.0.12)
  operators/apicurio-registry-3/3.0.12/bundle.Dockerfile
  operators/apicurio-registry-3/3.0.12/manifests/apicurio-registry-3.clusterserviceversion.yaml
  operators/apicurio-registry-3/3.0.12/manifests/registry.apicur.io_apicurioregistries3.yaml
  operators/apicurio-registry-3/3.0.12/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6670 operator project-quay (3.10.13)
  operators/project-quay/3.10.13/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.13/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.13/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6692 operator project-quay (3.14.4)
  operators/project-quay/3.14.4/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.14.4/manifests/quayregistries.crd.yaml
  operators/project-quay/3.14.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6750 operator hive-operator (1.2.4902-4929f16)
  operators/hive-operator/1.2.4902-4929f16/manifests/hive-operator.v1.2.4902-4929f16.clusterserviceversion.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4902-4929f16/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4902-4929f16/metadata/annotations.yaml
  operators/hive-operator/1.2.4902-4929f16/release-config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6759 operator gitlab-operator-kubernetes (2.2.3)
  operators/gitlab-operator-kubernetes/2.2.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6764 operator percona-xtradb-cluster-operator (1.18.0)
  operators/percona-xtradb-cluster-operator/1.18.0/manifests/percona-xtradb-cluster-operator.v1.18.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.18.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.18.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.18.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.18.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6767 operator [R] bookkeeper-operator (0.17.0 0.17.10 0.17.6 0.17.8 0.17.9) - Request change bookkeeper operator display name
  operators/bookkeeper-operator/0.17.0/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.17.10/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.17.6/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.17.8/manifests/bookkeeper-operator.clusterserviceversion.yaml
  operators/bookkeeper-operator/0.17.9/manifests/bookkeeper-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#6768 operator [R] zookeeper-operator (0.17.0 0.17.10 0.17.6 0.17.8 0.17.9)
  operators/zookeeper-operator/0.17.0/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.17.10/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.17.6/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.17.8/manifests/zookeeper-operator.clusterserviceversion.yaml
  operators/zookeeper-operator/0.17.9/manifests/zookeeper-operator.clusterserviceversion.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#6678 operator rabbitmq-cluster-operator (2.16.0)
  operators/rabbitmq-cluster-operator/2.16.0/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.16.0/manifests/rabbitmq-cluster-operator.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.16.0/manifests/rabbitmq.com_rabbitmqcluster.yaml
  operators/rabbitmq-cluster-operator/2.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6755 operator grafana-operator (5.19.4)
  operators/grafana-operator/5.19.4/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.19.4/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanalibrarypanels.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanamutetimings.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.19.4/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.19.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6776 operator gitlab-operator-kubernetes (2.3.0)
  operators/gitlab-operator-kubernetes/2.3.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.3.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6775 operator rabbitmq-cluster-operator (2.16.1)
  operators/rabbitmq-cluster-operator/2.16.1/bundle.Dockerfile
  operators/rabbitmq-cluster-operator/2.16.1/manifests/rabbitmq-cluster-operator.clusterserviceversion.yaml
  operators/rabbitmq-cluster-operator/2.16.1/manifests/rabbitmq.com_rabbitmqcluster.yaml
  operators/rabbitmq-cluster-operator/2.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6679 operator rabbitmq-messaging-topology-operator (1.17.3)
  operators/rabbitmq-messaging-topology-operator/1.17.3/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq-messaging-topology-operator.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_binding.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_exchange.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_federation.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_operatorpolicy.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_permission.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_policy.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_queue.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_schemareplication.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_shovel.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_superstream.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_topicpermission.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_user.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/manifests/rabbitmq.com_vhost.yml
  operators/rabbitmq-messaging-topology-operator/1.17.3/metadata/annotations.yaml
  operators/rabbitmq-messaging-topology-operator/1.17.3/metadata/dependencies.yaml
Labels: authorized-changes, package-validated, installation-validated
