Repository k8s-operatorhub/community-operators, pull requests merged in 2025-01, with the labels that each got.

#5492 operator [R] layer7-operator (1.1.1)
  operators/layer7-operator/1.1.1/manifests/layer7-operator-controller-manager-metrics-service_v1_service.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-manager-config_v1_configmap.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator-webhook-service_v1_service.yaml
  operators/layer7-operator/1.1.1/manifests/layer7-operator.clusterserviceversion.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_gateways.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_l7apis.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_l7portals.yaml
  operators/layer7-operator/1.1.1/manifests/security.brcmlabs.com_repositories.yaml
  operators/layer7-operator/1.1.1/metadata/annotations.yaml
  operators/layer7-operator/1.1.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#5462 operator [CI] percona-xtradb-cluster-operator (1.16.0)
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/percona-xtradb-cluster-operator.v1.16.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.0/metadata/annotations.yaml
  operators/percona-xtradb-cluster-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5493 operator percona-xtradb-cluster-operator (1.16.1)
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/percona-xtradb-cluster-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator/1.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5499 operator openshift-node-upgrade-mutex-operator (0.2.34)
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.34/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5501 operator gitlab-operator-kubernetes (1.8.2)
  operators/gitlab-operator-kubernetes/1.8.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5495 operator lbconfig-operator (0.5.1)
  operators/lbconfig-operator/0.5.1/manifests/lb.lbconfig.carlosedp.com_externalloadbalancers.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-externalloadbalancer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-externalloadbalancer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-manager-config_v1_configmap.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lbconfig-operator/0.5.1/manifests/lbconfig-operator.clusterserviceversion.yaml
  operators/lbconfig-operator/0.5.1/metadata/annotations.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/config.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/01-assert.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/10-create-elb.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/create-externalloadbalancer/11-assert.yaml
  operators/lbconfig-operator/0.5.1/tests/scorecard/kuttl/kuttl-test.yaml
Labels: authorized-changes, package-validated, installation-validated

#5504 operator instana-agent-operator (2.1.12)
  operators/instana-agent-operator/2.1.12/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.12/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.12/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.12/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.12/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.12/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.12/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.12/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5505 operator skupper-operator (1.8.3)
  operators/skupper-operator/1.8.3/manifests/skupper-operator.v1.8.3.clusterserviceversion.yaml
  operators/skupper-operator/1.8.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5136 operator [N] [CI] oracle-database-operator (1.1.0)
  operators/oracle-database-operator/1.1.0/manifests/apex-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/cdb1-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_autonomouscontainerdatabases.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_autonomousdatabasebackups.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_autonomousdatabaserestores.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_autonomousdatabases.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_cdbs.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_dataguardbrokers.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_dbcssystems.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_oraclerestdataservices.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_pdbs.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_shardingdatabases.yaml
  operators/oracle-database-operator/1.1.0/manifests/database.oracle.com_singleinstancedatabases.yaml
  operators/oracle-database-operator/1.1.0/manifests/db-admin-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/freedb-admin-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/observability.oracle.com_databaseobservers.yaml
  operators/oracle-database-operator/1.1.0/manifests/oracle-database-operator-controller-manager-metrics-service_v1_service.yaml
  operators/oracle-database-operator/1.1.0/manifests/oracle-database-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oracle-database-operator/1.1.0/manifests/oracle-database-operator-webhook-service_v1_service.yaml
  operators/oracle-database-operator/1.1.0/manifests/oracle-database-operator.clusterserviceversion.yaml
  operators/oracle-database-operator/1.1.0/manifests/ords-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/pdb1-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/prebuiltdb-admin-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/manifests/sidb-sa_v1_serviceaccount.yaml
  operators/oracle-database-operator/1.1.0/manifests/use-sidb-scc_rbac.authorization.k8s.io_v1_role.yaml
  operators/oracle-database-operator/1.1.0/manifests/use-sidb-scc_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/oracle-database-operator/1.1.0/manifests/xedb-admin-secret_v1_secret.yaml
  operators/oracle-database-operator/1.1.0/metadata/annotations.yaml
  operators/oracle-database-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5514 operator instana-agent-operator (2.1.13)
  operators/instana-agent-operator/2.1.13/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.13/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.13/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.13/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.13/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.13/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.13/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.13/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5515 operator keycloak-operator (26.0.8)
  operators/keycloak-operator/26.0.8/bundle.Dockerfile
  operators/keycloak-operator/26.0.8/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.0.8/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.8/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.0.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5516 operator stackgres (1.14.3)
  operators/stackgres/1.14.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.3/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.3/metadata/annotations.yaml
  operators/stackgres/1.14.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5517 operator hive-operator (1.2.4682-406d6ca)
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive-operator.v1.2.4682-406d6ca.clusterserviceversion.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4682-406d6ca/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4682-406d6ca/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5523 operator instana-agent-operator (2.1.14)
  operators/instana-agent-operator/2.1.14/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.14/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.14/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.14/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.14/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.14/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.14/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.14/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5548 operator gitlab-operator-kubernetes (1.8.3)
  operators/gitlab-operator-kubernetes/1.8.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5549 operator keycloak-operator (26.1.0)
  operators/keycloak-operator/26.1.0/bundle.Dockerfile
  operators/keycloak-operator/26.1.0/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.0/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.0/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5552 operator grafana-operator (5.16.0)
  operators/grafana-operator/5.16.0/manifests/grafana-operator-manager-config_v1_configmap.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator-operator-metrics-service_v1_service.yaml
  operators/grafana-operator/5.16.0/manifests/grafana-operator.clusterserviceversion.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanaalertrulegroups.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanacontactpoints.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanadashboards.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanadatasources.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanafolders.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafananotificationpolicies.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafananotificationtemplates.yaml
  operators/grafana-operator/5.16.0/manifests/grafana.integreatly.org_grafanas.yaml
  operators/grafana-operator/5.16.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5556 operator gitlab-operator-kubernetes (1.9.0)
  operators/gitlab-operator-kubernetes/1.9.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5557 operator kube-green (0.7.0)
  operators/kube-green/0.7.0/manifests/kube-green-controller-manager-metrics-service_v1_service.yaml
  operators/kube-green/0.7.0/manifests/kube-green-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kube-green/0.7.0/manifests/kube-green-webhook-service_v1_service.yaml
  operators/kube-green/0.7.0/manifests/kube-green.clusterserviceversion.yaml
  operators/kube-green/0.7.0/manifests/kube-green.com_sleepinfos.yaml
  operators/kube-green/0.7.0/metadata/annotations.yaml
  operators/kube-green/0.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5560 operator kiali (2.4.0)
  operators/kiali/2.4.0/bundle.Dockerfile
  operators/kiali/2.4.0/manifests/kiali.crd.yaml
  operators/kiali/2.4.0/manifests/kiali.v2.4.0.clusterserviceversion.yaml
  operators/kiali/2.4.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5562 operator hive-operator (1.2.4686-553c6c2)
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive-operator.v1.2.4686-553c6c2.clusterserviceversion.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4686-553c6c2/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4686-553c6c2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5566 operator susql-operator (0.0.33)
  operators/susql-operator/0.0.33/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-labelgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-labelgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.33/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.33/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.33/metadata/annotations.yaml
  operators/susql-operator/0.0.33/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5568 operator stackgres (1.15.0-rc3)
  operators/stackgres/1.15.0-rc3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.0-rc3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.0-rc3/metadata/annotations.yaml
  operators/stackgres/1.15.0-rc3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5569 operator elastic-cloud-eck (2.16.1)
  operators/elastic-cloud-eck/2.16.1/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/elastic-cloud-eck.clusterserviceversion.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elastic-cloud-eck/2.16.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5571 operator project-quay (3.13.3)
  operators/project-quay/3.13.3/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.13.3/manifests/quayregistries.crd.yaml
  operators/project-quay/3.13.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5572 operator openshift-node-upgrade-mutex-operator (0.2.38)
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.38/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5573 operator postgresql (5.7.3)
  operators/postgresql/5.7.3/Dockerfile
  operators/postgresql/5.7.3/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/postgresql/5.7.3/manifests/postgresoperator.clusterserviceversion.yaml
  operators/postgresql/5.7.3/metadata/annotations.yaml
  operators/postgresql/5.7.3/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5608 operator jaeger (1.65.0)
  operators/jaeger/1.65.0/manifests/jaeger-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jaeger/1.65.0/manifests/jaeger-operator-metrics_v1_service.yaml
  operators/jaeger/1.65.0/manifests/jaeger-operator-webhook-service_v1_service.yaml
  operators/jaeger/1.65.0/manifests/jaeger-operator.clusterserviceversion.yaml
  operators/jaeger/1.65.0/manifests/jaegertracing.io_jaegers.yaml
  operators/jaeger/1.65.0/manifests/prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operators/jaeger/1.65.0/manifests/prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/jaeger/1.65.0/metadata/annotations.yaml
  operators/jaeger/1.65.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5609 operator gitlab-operator-kubernetes (1.9.1)
  operators/gitlab-operator-kubernetes/1.9.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5606 operator percona-server-mongodb-operator (1.19.0)
  operators/percona-server-mongodb-operator/1.19.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.0/metadata/annotations.yaml
Labels: package-validated, installation-validated

#5611 operator cc-operator (0.12.0)
  operators/cc-operator/0.12.0/manifests/cc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cc-operator/0.12.0/manifests/cc-operator-manager-config_v1_configmap.yaml
  operators/cc-operator/0.12.0/manifests/cc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cc-operator/0.12.0/manifests/cc-operator.clusterserviceversion.yaml
  operators/cc-operator/0.12.0/manifests/confidentialcontainers.org_ccruntimes.yaml
  operators/cc-operator/0.12.0/metadata/annotations.yaml
  operators/cc-operator/0.12.0/tests/scorecard/config.yaml
Labels: package-validated, installation-validated

#5614 operator knative-operator (1.17.0)
  operators/knative-operator/1.17.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.17.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.17.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.17.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.17.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.17.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.17.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.17.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.17.0/manifests/knative-operator.v1.17.0.clusterserviceversion.yaml
  operators/knative-operator/1.17.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.17.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.17.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.17.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.17.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.17.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.17.0/metadata/annotations.yaml
  operators/knative-operator/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5615 operator hive-operator (1.2.4693-ec3bc72)
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive-operator.v1.2.4693-ec3bc72.clusterserviceversion.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4693-ec3bc72/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4693-ec3bc72/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5616 operator mariadb-operator (0.37.0)
  operators/mariadb-operator/0.37.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.37.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.37.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.37.0/metadata/annotations.yaml
  operators/mariadb-operator/0.37.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5619 operator mariadb-operator (0.37.1)
  operators/mariadb-operator/0.37.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/0.37.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/0.37.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/0.37.1/metadata/annotations.yaml
  operators/mariadb-operator/0.37.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5621 operator stackgres (1.15.0-rc4)
  operators/stackgres/1.15.0-rc4/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.0-rc4/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.0-rc4/metadata/annotations.yaml
  operators/stackgres/1.15.0-rc4/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5622 operator [CI] ndmspc-operator (0.20250131.0)
  operators/ndmspc-operator/0.20250131.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20250131.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20250131.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20250131.0/tests/scorecard/config.yaml
  operators/ndmspc-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated
