Repository k8s-operatorhub/community-operators, pull requests merged in 2025-07, with the labels that each got.

#6448 operator moodle-operator (0.6.31)
  operators/moodle-operator/0.6.31/manifests/m4e.krestomat.io_moodles.yaml
  operators/moodle-operator/0.6.31/manifests/m4e.krestomat.io_nginxes.yaml
  operators/moodle-operator/0.6.31/manifests/m4e.krestomat.io_phpfpms.yaml
  operators/moodle-operator/0.6.31/manifests/m4e.krestomat.io_routines.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-controller-manager-metrics-service_v1_service.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-moodle-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-moodle-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-nginx-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-nginx-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-phpfpm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-phpfpm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-routine-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator-routine-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/moodle-operator/0.6.31/manifests/moodle-operator.clusterserviceversion.yaml
  operators/moodle-operator/0.6.31/metadata/annotations.yaml
  operators/moodle-operator/0.6.31/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6450 operator postgres-operator-krestomatio (0.3.25)
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres-operator-controller-manager-metrics-service_v1_service.yaml
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres-operator-postgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres-operator-postgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres-operator.clusterserviceversion.yaml
  operators/postgres-operator-krestomatio/0.3.25/manifests/postgres.krestomat.io_postgres.yaml
  operators/postgres-operator-krestomatio/0.3.25/metadata/annotations.yaml
  operators/postgres-operator-krestomatio/0.3.25/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6449 operator nfs-operator (0.4.25)
  operators/nfs-operator/0.4.25/manifests/nfs-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator-ganesha-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator-ganesha-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator-routine-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator-routine-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nfs-operator/0.4.25/manifests/nfs-operator.clusterserviceversion.yaml
  operators/nfs-operator/0.4.25/manifests/nfs.krestomat.io_ganeshas.yaml
  operators/nfs-operator/0.4.25/manifests/nfs.krestomat.io_routines.yaml
  operators/nfs-operator/0.4.25/metadata/annotations.yaml
  operators/nfs-operator/0.4.25/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6456 operator mongodb-atlas-kubernetes (2.9.1)
  operators/mongodb-atlas-kubernetes/2.9.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.9.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6459 operator trident-operator (25.6.0)
  operators/trident-operator/25.6.0/manifests/trident-operator.v25.6.0.clusterserviceversion.yaml
  operators/trident-operator/25.6.0/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.6.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.6.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6460 operator hive-operator (1.2.4868-45ae912)
  operators/hive-operator/1.2.4868-45ae912/manifests/hive-operator.v1.2.4868-45ae912.clusterserviceversion.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4868-45ae912/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4868-45ae912/metadata/annotations.yaml
  operators/hive-operator/1.2.4868-45ae912/release-config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6462 operator hpe-ezmeral-csi-operator (1.0.18)
  operators/hpe-ezmeral-csi-operator/1.0.18/Dockerfile
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator.v1.0.18.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6336 operator percona-server-mongodb-operator (1.20.1)
  operators/percona-server-mongodb-operator/1.20.1/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.20.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.20.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.20.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.20.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6469 operator instana-agent-operator (2.1.28)
  operators/instana-agent-operator/2.1.28/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.28/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.28/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.28/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.28/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.28/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.28/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.28/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6468 operator mongodb-kubernetes (1.2.0)
  operators/mongodb-kubernetes/1.2.0/bundle.Dockerfile
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_clustermongodbroles.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_mongodbsearch.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.2.0/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.2.0/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6470 operator argocd-operator (0.14.1)
  operators/argocd-operator/0.14.1/manifests/argocd-operator-controller-manager-metrics-service_v1_service.yaml
  operators/argocd-operator/0.14.1/manifests/argocd-operator-manager-config_v1_configmap.yaml
  operators/argocd-operator/0.14.1/manifests/argocd-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/argocd-operator/0.14.1/manifests/argocd-operator-webhook-service_v1_service.yaml
  operators/argocd-operator/0.14.1/manifests/argocd-operator.v0.14.1.clusterserviceversion.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_applications.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_applicationsets.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_appprojects.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_argocdexports.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_argocds.yaml
  operators/argocd-operator/0.14.1/manifests/argoproj.io_notificationsconfigurations.yaml
  operators/argocd-operator/0.14.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6471 operator flux-operator (0.24.0)
  operators/flux-operator/0.24.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.24.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.24.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.24.0/metadata/annotations.yaml
  operators/flux-operator/0.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6475 operator netobserv-operator (1.6.3-community)
  operators/netobserv-operator/1.6.3-community/manifests/flows.netobserv.io_flowcollectors.yaml
  operators/netobserv-operator/1.6.3-community/manifests/flows.netobserv.io_flowmetrics.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-manager-config_v1_configmap.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-metrics-service_v1_service.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-operator.clusterserviceversion.yaml
  operators/netobserv-operator/1.6.3-community/manifests/netobserv-webhook-service_v1_service.yaml
  operators/netobserv-operator/1.6.3-community/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6484 operator keda (2.17.2)
  operators/keda/2.17.2/manifests/eventing.keda.sh_cloudeventsources.yaml
  operators/keda/2.17.2/manifests/eventing.keda.sh_clustercloudeventsources.yaml
  operators/keda/2.17.2/manifests/keda.sh_clustertriggerauthentications.yaml
  operators/keda/2.17.2/manifests/keda.sh_kedacontrollers.yaml
  operators/keda/2.17.2/manifests/keda.sh_scaledjobs.yaml
  operators/keda/2.17.2/manifests/keda.sh_scaledobjects.yaml
  operators/keda/2.17.2/manifests/keda.sh_triggerauthentications.yaml
  operators/keda/2.17.2/manifests/keda.v2.17.2.clusterserviceversion.yaml
  operators/keda/2.17.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6486 operator multi-nic-cni-operator (1.2.8)
  operators/multi-nic-cni-operator/1.2.8/bundle.Dockerfile
  operators/multi-nic-cni-operator/1.2.8/manifests/multi-nic-cni-operator-manager-config_v1_configmap.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multi-nic-cni-operator.clusterserviceversion.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_cidrs.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_configs.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_deviceclasses.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_hostinterfaces.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_ippools.yaml
  operators/multi-nic-cni-operator/1.2.8/manifests/multinic.fms.io_multinicnetworks.yaml
  operators/multi-nic-cni-operator/1.2.8/metadata/annotations.yaml
  operators/multi-nic-cni-operator/1.2.8/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6487 operator susql-operator (0.0.34)
  operators/susql-operator/0.0.34/manifests/susql-operator-controller-manager-metrics-service_v1_service.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator-labelgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator-labelgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/susql-operator/0.0.34/manifests/susql-operator.clusterserviceversion.yaml
  operators/susql-operator/0.0.34/manifests/susql.ibm.com_labelgroups.yaml
  operators/susql-operator/0.0.34/metadata/annotations.yaml
  operators/susql-operator/0.0.34/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6489 operator kernel-module-management-hub (2.4.1)
  operators/kernel-module-management-hub/2.4.1/manifests/hub.kmm.sigs.x-k8s.io_managedclustermodules.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kernel-module-management-hub.clusterserviceversion.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kmm-operator-hub-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kmm-operator-hub-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kmm-operator-hub-webhook-service_v1_service.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kmm.sigs.x-k8s.io_modulebuildsignconfigs.yaml
  operators/kernel-module-management-hub/2.4.1/manifests/kmm.sigs.x-k8s.io_moduleimagesconfigs.yaml
  operators/kernel-module-management-hub/2.4.1/metadata/annotations.yaml
  operators/kernel-module-management-hub/2.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6488 operator kernel-module-management (2.4.1)
  operators/kernel-module-management/2.4.1/manifests/kernel-module-management.clusterserviceversion.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm-operator-controller-metrics-service_v1_service.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm-operator-webhook-service_v1_service.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm.sigs.x-k8s.io_modulebuildsignconfigs.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm.sigs.x-k8s.io_moduleimagesconfigs.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm.sigs.x-k8s.io_modules.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm.sigs.x-k8s.io_nodemodulesconfigs.yaml
  operators/kernel-module-management/2.4.1/manifests/kmm.sigs.x-k8s.io_preflightvalidations.yaml
  operators/kernel-module-management/2.4.1/metadata/annotations.yaml
  operators/kernel-module-management/2.4.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6492 operator instana-agent-operator (2.1.29)
  operators/instana-agent-operator/2.1.29/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.29/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.29/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.29/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.29/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.29/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.29/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.29/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6481 operator wildfly (1.1.3)
  operators/wildfly/1.1.3/manifests/wildfly-operator.v1.1.3.clusterserviceversion.yaml
  operators/wildfly/1.1.3/manifests/wildflyservers.wildfly.org.crd.yaml
  operators/wildfly/1.1.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6496 operator [N] [CI] infisical-operator (0.9.4)
  operators/infisical-operator/0.9.4/bundle.Dockerfile
  operators/infisical-operator/0.9.4/manifests/infisical-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infisical-operator/0.9.4/manifests/infisical-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infisical-operator/0.9.4/manifests/infisical-operator.clusterserviceversion.yaml
  operators/infisical-operator/0.9.4/manifests/secrets.infisical.com_clustergenerators.yaml
  operators/infisical-operator/0.9.4/manifests/secrets.infisical.com_infisicaldynamicsecrets.yaml
  operators/infisical-operator/0.9.4/manifests/secrets.infisical.com_infisicalpushsecrets.yaml
  operators/infisical-operator/0.9.4/manifests/secrets.infisical.com_infisicalsecrets.yaml
  operators/infisical-operator/0.9.4/metadata/annotations.yaml
  operators/infisical-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#6498 operator edp-keycloak-operator (1.28.0)
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-clusterkeycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloak-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloak-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakauthflow-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakauthflow-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclient-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclient-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclientscope-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakclientscope-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealm-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealm-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmcomponent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmgroup-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmgroup-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmidentityprovider-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrole-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrole-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmrolebatch-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmuser-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-keycloakrealmuser-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.28.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.28.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.28.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6500 operator rabbitmq-messaging-topology-operator (1.15.0)
  operators/rabbitmq-messaging-topology-operator/1.15.0/bundle.Dockerfile
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq-messaging-topology-operator.clusterserviceversion.yaml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_binding.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_exchange.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_federation.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_operatorpolicy.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_permission.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_policy.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_queue.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_schemareplication.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_shovel.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_superstream.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_topicpermission.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_user.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/manifests/rabbitmq.com_vhost.yml
  operators/rabbitmq-messaging-topology-operator/1.15.0/metadata/annotations.yaml
  operators/rabbitmq-messaging-topology-operator/1.15.0/metadata/dependencies.yaml
Labels: authorized-changes, package-validated, installation-validated

#6521 operator stackgres (1.17.0-rc1)
  operators/stackgres/1.17.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.17.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.17.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.17.0-rc1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6525 operator infinispan (2.4.14)
  operators/infinispan/2.4.14/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.14/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.14/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.14/metadata/annotations.yaml
  operators/infinispan/2.4.14/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6526 operator [R] project-quay (3.15.0 3.9.12)
  operators/project-quay/3.15.0/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.15.0/manifests/quayregistries.crd.yaml
  operators/project-quay/3.15.0/metadata/annotations.yaml
  operators/project-quay/3.9.12/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.9.12/manifests/quayregistries.crd.yaml
  operators/project-quay/3.9.12/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, allow/operator-recreate

#6533 operator instana-agent-operator (2.1.30)
  operators/instana-agent-operator/2.1.30/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.30/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.30/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.30/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.30/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.30/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6534 operator [CI] hive-operator
  operators/hive-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#6537 operator gitlab-operator-kubernetes (2.2.0)
  operators/gitlab-operator-kubernetes/2.2.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6538 operator splunk (2.8.1)
  operators/splunk/2.8.1/bundle.Dockerfile
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk/2.8.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk/2.8.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk/2.8.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk/2.8.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk/2.8.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk/2.8.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk/2.8.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk/2.8.1/metadata/annotations.yaml
  operators/splunk/2.8.1/tests/scorecard/config.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/00-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/00-deploy-clustermanager.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/01-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/01-deploy-indexercluster.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/02-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/02-deploy-searchheadcluster.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/03-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/04-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/05-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/clustered-deployment-c3/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/kuttl-test.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/00-deploy-clustermanager.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/01-deploy-indexercluster.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/02-clustermanager-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m1/03-indexercluster-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/00-deploy-clustermanager.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/01-deploy-indexercluster.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/02-deploy-searchheadcluster.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/03-clustermanager-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/04-indexercluster-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/multisite-cluster-deployment-m4/05-searchheadcluster-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s1/00-install-service-account.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s1/01-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s1/01-install-standalone.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s1/02-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s1/02-standalone-remove-finalizer.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s3/00-assert.yaml
  operators/splunk/2.8.1/tests/scorecard/kuttl/standalone-deployment-s3/00-install-standalone.yaml
Labels: authorized-changes, package-validated, installation-validated

#6544 operator stackgres (1.17.0)
  operators/stackgres/1.17.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.17.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.17.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.17.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.17.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.17.0/metadata/annotations.yaml
  operators/stackgres/1.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6540 fix(ISV-6142) Fix broken links created by automation.
  .github/workflows/command_merge.yaml
  .github/workflows/operator_ci.yaml
  .github/workflows/operator_test.yaml
Labels: allow/ci-changes

#6547 operator infinispan (2.4.15)
  operators/infinispan/2.4.15/manifests/infinispan-operator-manager-config_v1_configmap.yaml
  operators/infinispan/2.4.15/manifests/infinispan-operator.clusterserviceversion.yaml
  operators/infinispan/2.4.15/manifests/infinispan.org_backups.yaml
  operators/infinispan/2.4.15/manifests/infinispan.org_batches.yaml
  operators/infinispan/2.4.15/manifests/infinispan.org_caches.yaml
  operators/infinispan/2.4.15/manifests/infinispan.org_infinispans.yaml
  operators/infinispan/2.4.15/manifests/infinispan.org_restores.yaml
  operators/infinispan/2.4.15/metadata/annotations.yaml
  operators/infinispan/2.4.15/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6565 operator dynatrace-operator (1.6.1)
  operators/dynatrace-operator/1.6.1/Dockerfile
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.6.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.6.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6567 operator mariadb-operator (25.8.0)
  operators/mariadb-operator/25.8.0/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.0/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.0/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.0/metadata/annotations.yaml
  operators/mariadb-operator/25.8.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6590 operator instana-agent-operator (2.1.31)
  operators/instana-agent-operator/2.1.31/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.31/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.31/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.31/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.31/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.31/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.31/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.31/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.31/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6591 operator gitlab-operator-kubernetes (2.2.1)
  operators/gitlab-operator-kubernetes/2.2.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6628 operator quay-api-operator (1.2.0)
  operators/quay-api-operator/1.2.0/manifests/quay-api-operator-controller-manager-metrics-service_v1_service.yaml
  operators/quay-api-operator/1.2.0/manifests/quay-api-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/quay-api-operator/1.2.0/manifests/quay-api-operator.clusterserviceversion.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_apitokens.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_applications.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_defaultperms.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_dockertokens.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_firstusers.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_manifestlabels.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_messages.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_notifications.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_organizationprunes.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_organizations.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_proxycaches.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_quotas.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_repositories.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_repositorymirrors.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_repositoryprunes.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_robots.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_tags.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_teamldaps.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_teamoidcs.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_teams.yaml
  operators/quay-api-operator/1.2.0/manifests/quay.herve4m.github.io_users.yaml
  operators/quay-api-operator/1.2.0/metadata/annotations.yaml
  operators/quay-api-operator/1.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6629 operator keycloak-operator (26.3.2)
  operators/keycloak-operator/26.3.2/bundle.Dockerfile
  operators/keycloak-operator/26.3.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.3.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.3.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.3.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#6632 operator alloydb-omni-operator (1.5.0)
  operators/alloydb-omni-operator/1.5.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.5.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.dbadmin.goog_userdefinedauthentications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_instanceuserdefinedauthentications.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.5.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.5.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.5.0/metadata/dependencies.yaml
Labels: authorized-changes, package-validated, installation-validated

#6634 operator mariadb-operator (25.8.1)
  operators/mariadb-operator/25.8.1/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.1/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.1/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.1/metadata/annotations.yaml
  operators/mariadb-operator/25.8.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6635 operator knative-operator (1.19.0)
  operators/knative-operator/1.19.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.19.0/manifests/knative-eventing-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.19.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.19.0/manifests/knative-eventing-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.19.0/manifests/knative-operator-config-logging_v1_configmap.yaml
  operators/knative-operator/1.19.0/manifests/knative-operator-config-observability_v1_configmap.yaml
  operators/knative-operator/1.19.0/manifests/knative-operator-operator-webhook-certs_v1_secret.yaml
  operators/knative-operator/1.19.0/manifests/knative-operator-operator-webhook_v1_service.yaml
  operators/knative-operator/1.19.0/manifests/knative-operator.v1.19.0.clusterserviceversion.yaml
  operators/knative-operator/1.19.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.19.0/manifests/knative-serving-operator-aggregated-stable_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.19.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/knative-operator/1.19.0/manifests/knative-serving-operator-aggregated_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/knative-operator/1.19.0/manifests/knativeeventings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.19.0/manifests/knativeservings.operator.knative.dev.crd.yaml
  operators/knative-operator/1.19.0/metadata/annotations.yaml
  operators/knative-operator/1.19.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6494 operator shipwright-operator (0.16.0)
  operators/shipwright-operator/0.16.0/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  operators/shipwright-operator/0.16.0/manifests/shipwright-operator-manager-config_v1_configmap.yaml
  operators/shipwright-operator/0.16.0/manifests/shipwright-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/shipwright-operator/0.16.0/manifests/shipwright-operator-metrics-service_v1_service.yaml
  operators/shipwright-operator/0.16.0/manifests/shipwright-operator.clusterserviceversion.yaml
  operators/shipwright-operator/0.16.0/metadata/annotations.yaml
  operators/shipwright-operator/0.16.0/tests/scorecard/config.yaml
Labels: package-validated, installation-validated

#6493 operator [CI] shipwright-operator
  operators/shipwright-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#6640 operator mariadb-operator (25.8.2)
  operators/mariadb-operator/25.8.2/manifests/helm.mariadb.mmontes.io_mariadboperators.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_backups.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_connections.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_databases.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_grants.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_mariadbs.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_maxscales.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_physicalbackups.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_restores.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_sqljobs.yaml
  operators/mariadb-operator/25.8.2/manifests/k8s.mariadb.com_users.yaml
  operators/mariadb-operator/25.8.2/manifests/mariadb-operator.clusterserviceversion.yaml
  operators/mariadb-operator/25.8.2/metadata/annotations.yaml
  operators/mariadb-operator/25.8.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#6643 operator project-quay (3.12.11)
  operators/project-quay/3.12.11/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.12.11/manifests/quayregistries.crd.yaml
  operators/project-quay/3.12.11/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated
