Repository k8s-operatorhub/community-operators, pull requests merged in 2025-02, with the labels that each got.

#5623 operator stackgres (1.15.0)
  operators/stackgres/1.15.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.0/metadata/annotations.yaml
  operators/stackgres/1.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5624 operator eginnovations-operator (0.0.10)
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.10/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.10/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5618 operator dell-csm-operator (1.8.0)
  operators/dell-csm-operator/1.8.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator/1.8.0/manifests/dell-csm-operator.v1.8.0.clusterserviceversion.yaml
  operators/dell-csm-operator/1.8.0/metadata/annotations.yaml
  operators/dell-csm-operator/1.8.0/tests/scorecard/config.yaml
Labels: package-validated, installation-validated

#5554 operator [N] oracle-database-operator (1.1.0)
  operators/oracle-database-operator/1.1.0/manifests/oracle-database-operator.clusterserviceversion.yaml
Labels: package-validated, installation-validated, new-operator, allow/operator-recreate

#5626 operator instana-agent-operator (2.1.15)
  operators/instana-agent-operator/2.1.15/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.15/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.15/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.15/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.15/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.15/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.15/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.15/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5631 operator instana-agent-operator (2.1.16)
  operators/instana-agent-operator/2.1.16/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.16/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.16/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.16/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.16/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.16/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.16/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.16/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5630 operator keycloak-operator (26.1.1)
  operators/keycloak-operator/26.1.1/bundle.Dockerfile
  operators/keycloak-operator/26.1.1/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.1/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.1/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5632 operator ibm-block-csi-operator-community (1.12.1)
  operators/ibm-block-csi-operator-community/1.12.1/bundle-1.12.1.Dockerfile
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator-community/1.12.1/manifests/ibm-block-csi-operator.v1.12.1.clusterserviceversion.yaml
  operators/ibm-block-csi-operator-community/1.12.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5635 operator mongodb-atlas-kubernetes (2.7.0)
  operators/mongodb-atlas-kubernetes/2.7.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5634 operator ibm-application-gateway-operator (25.2.0)
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/25.2.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/25.2.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5638 operator project-quay (3.11.8)
  operators/project-quay/3.11.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.11.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.11.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5644 operator edp-keycloak-operator (1.24.0)
  operators/edp-keycloak-operator/1.24.0/manifests/client-secret-authorization-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/client-secret-policy-sample_v1_secret.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/edp-keycloak-operator-manager-config_v1_configmap.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/edp-keycloak-operator.clusterserviceversion.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_clusterkeycloakrealms.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_clusterkeycloaks.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakauthflows.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakclients.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakclientscopes.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmcomponents.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmgroups.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmidentityproviders.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmrolebatches.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmroles.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealms.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloakrealmusers.yaml
  operators/edp-keycloak-operator/1.24.0/manifests/v1.edp.epam.com_keycloaks.yaml
  operators/edp-keycloak-operator/1.24.0/metadata/annotations.yaml
  operators/edp-keycloak-operator/1.24.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5648 operator aerospike-kubernetes-operator (4.0.0)
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator/4.0.0/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator/4.0.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator/4.0.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5653 operator project-quay (3.10.8)
  operators/project-quay/3.10.8/manifests/quay-operator.clusterserviceversion.yaml
  operators/project-quay/3.10.8/manifests/quayregistries.crd.yaml
  operators/project-quay/3.10.8/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5628 operator [N] [CI] alloydb-omni-operator (1.3.0)
  operators/alloydb-omni-operator/1.3.0/bundle.Dockerfile
  operators/alloydb-omni-operator/1.3.0/manifests/alloydb-omni-operator.clusterserviceversion.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_backups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbclusters.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_dbinstances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_pgbouncers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_replications.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_restores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.dbadmin.goog_switchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_backuprepositories.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_createstandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_deletestandbyjobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_failovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackupplans.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancebackups.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instancerestores.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instances.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_instanceswitchovers.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_lrojobs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_replicationconfigs.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/alloydbomni.internal.dbadmin.goog_sidecars.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/fleet-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-controller-manager-metrics-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/alloydb-omni-operator/1.3.0/manifests/local-webhook-service_v1_service.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/annotations.yaml
  operators/alloydb-omni-operator/1.3.0/metadata/dependencies.yaml
  operators/alloydb-omni-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5658 operator openshift-node-upgrade-mutex-operator (0.2.53)
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator-service_v1_service.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-node-upgrade-mutex-operator.clusterserviceversion.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutexrules.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutexrunconfigs.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/manifests/openshift-optional.skrzypek.io_mutextargets.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/metadata/annotations.yaml
  operators/openshift-node-upgrade-mutex-operator/0.2.53/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5661 operator camel-k (2.5.1)
  operators/camel-k/2.5.1/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/camel-k.v2.5.1.clusterserviceversion.yaml
  operators/camel-k/2.5.1/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/kameletbindings.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.5.1/metadata/annotations.yaml
  operators/camel-k/2.5.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5662 operator ndmspc-operator (0.20250209.0)
  operators/ndmspc-operator/0.20250209.0/manifests/apps.ndmspc.io_ndmspcconfigs.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-manager-config_v1_configmap.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ndmspc-operator/0.20250209.0/manifests/ndmspc-operator.clusterserviceversion.yaml
  operators/ndmspc-operator/0.20250209.0/metadata/annotations.yaml
  operators/ndmspc-operator/0.20250209.0/metadata/dependency.yaml
  operators/ndmspc-operator/0.20250209.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5657 operator [CI] mongodb-enterprise (1.31.0)
  operators/mongodb-enterprise/1.31.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.31.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.31.0/tests/scorecard/config.yaml
  operators/mongodb-enterprise/ci.yaml
Labels: authorized-changes, package-validated, installation-validated

#5666 operator keycloak-operator (26.1.2)
  operators/keycloak-operator/26.1.2/bundle.Dockerfile
  operators/keycloak-operator/26.1.2/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.2/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.2/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5667 operator gitlab-runner-operator (1.33.0)
  operators/gitlab-runner-operator/1.33.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.33.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5665 operator [N] kubearmor-operator (1.5.2)
  operators/kubearmor-operator/1.5.2/bundle.Dockerfile
  operators/kubearmor-operator/1.5.2/manifests/kubearmor-operator.clusterserviceversion.yaml
  operators/kubearmor-operator/1.5.2/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator/1.5.2/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5669 operator intel-device-plugins-operator (0.32.0)
  operators/intel-device-plugins-operator/0.32.0/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_dlbdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_fpgadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_iaadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/fpga.intel.com_acceleratorfunctions.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/fpga.intel.com_fpgaregions.yaml
  operators/intel-device-plugins-operator/0.32.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.32.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5670 operator hive-operator (1.2.4703-02f3f00)
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive-operator.v1.2.4703-02f3f00.clusterserviceversion.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_checkpoints.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterclaims.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeploymentcustomizations.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeployments.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterdeprovisions.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterimagesets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterpools.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterprovisions.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterrelocates.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_clusterstates.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_dnszones.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_hiveconfigs.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_machinepoolnameleases.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_machinepools.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_selectorsyncidentityproviders.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_selectorsyncsets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_syncidentityproviders.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hive.openshift.io_syncsets.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_clustersyncleases.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_clustersyncs.yaml
  operators/hive-operator/1.2.4703-02f3f00/manifests/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  operators/hive-operator/1.2.4703-02f3f00/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5673 operator gitlab-operator-kubernetes (1.9.2)
  operators/gitlab-operator-kubernetes/1.9.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5679 operator instana-agent-operator (2.1.17)
  operators/instana-agent-operator/2.1.17/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.17/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.17/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.17/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.17/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.17/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.17/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.17/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5680 operator dynatrace-operator (1.4.1)
  operators/dynatrace-operator/1.4.1/Dockerfile
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5681 operator instana-agent-operator (2.1.18)
  operators/instana-agent-operator/2.1.18/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.18/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.18/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.18/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.18/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.18/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.18/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.18/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5672 operator [N] accuknox-operator (0.7.1)
  operators/accuknox-operator/0.7.1/manifests/accuknox-operator.clusterserviceversion.yaml
  operators/accuknox-operator/0.7.1/manifests/operator.accuknox.com_accuknoxconfigs.yaml
  operators/accuknox-operator/0.7.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5682 operator cass-operator-community (1.23.0)
  operators/cass-operator-community/1.23.0/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator-community/1.23.0/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator-community/1.23.0/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator-community/1.23.0/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator-community/1.23.0/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator-community/1.23.0/metadata/annotations.yaml
  operators/cass-operator-community/1.23.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5688 operator mongodb-atlas-kubernetes (2.7.1)
  operators/mongodb-atlas-kubernetes/2.7.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5727 operator stackgres (1.15.1)
  operators/stackgres/1.15.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.1/metadata/annotations.yaml
  operators/stackgres/1.15.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5625 operator trustee-operator (0.3.0)
  operators/trustee-operator/0.3.0/manifests/confidentialcontainers.org_kbsconfigs.yaml
  operators/trustee-operator/0.3.0/manifests/trustee-operator-controller-manager-metrics-service_v1_service.yaml
  operators/trustee-operator/0.3.0/manifests/trustee-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/trustee-operator/0.3.0/manifests/trustee-operator.clusterserviceversion.yaml
  operators/trustee-operator/0.3.0/metadata/annotations.yaml
  operators/trustee-operator/0.3.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5729 operator instana-agent-operator (2.1.19)
  operators/instana-agent-operator/2.1.19/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.19/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.19/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.19/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.19/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.19/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.19/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.19/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5731 operator camel-k (2.6.0)
  operators/camel-k/2.6.0/manifests/builds.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/camel-k.v2.6.0.clusterserviceversion.yaml
  operators/camel-k/2.6.0/manifests/camelcatalogs.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationkits.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationplatforms.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrationprofiles.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/integrations.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/kamelets.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/manifests/pipes.camel.apache.org.crd.yaml
  operators/camel-k/2.6.0/metadata/annotations.yaml
  operators/camel-k/2.6.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5732 operator flux-operator (0.14.0)
  operators/flux-operator/0.14.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.14.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.14.0/metadata/annotations.yaml
  operators/flux-operator/0.14.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5730 operator bpfman-operator (0.5.6)
  operators/bpfman-operator/0.5.6/bundle.Dockerfile
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfnsprogram-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfnsprogram-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfprogram-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-bpfprogram-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-config_v1_configmap.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-daemon_v1_serviceaccount.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-operator-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-operator.clusterserviceversion.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-privileged-scc_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman-user_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfapplications.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfnsapplications.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_bpfprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_fentryprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_fexitprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_kprobeprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcxnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tcxprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_tracepointprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_uprobensprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_uprobeprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_xdpnsprograms.yaml
  operators/bpfman-operator/0.5.6/manifests/bpfman.io_xdpprograms.yaml
  operators/bpfman-operator/0.5.6/metadata/annotations.yaml
  operators/bpfman-operator/0.5.6/metadata/dependencies.yaml
  operators/bpfman-operator/0.5.6/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5684 operator clickhouse (0.24.3)
  operators/clickhouse/0.24.3/manifests/clickhouse-operator.v0.24.3.clusterserviceversion.yaml
  operators/clickhouse/0.24.3/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.3/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.3/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.3/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5745 operator gitlab-runner-operator (1.34.0)
  operators/gitlab-runner-operator/1.34.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.34.0/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5734 operator [N] [CI] perses-operator (0.1.1)
  operators/perses-operator/0.1.1/manifests/perses-operator-controller-manager-metrics-service_v1_service.yaml
  operators/perses-operator/0.1.1/manifests/perses-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/perses-operator/0.1.1/manifests/perses-operator.clusterserviceversion.yaml
  operators/perses-operator/0.1.1/manifests/perses.dev_perses.yaml
  operators/perses-operator/0.1.1/manifests/perses.dev_persesdashboards.yaml
  operators/perses-operator/0.1.1/manifests/perses.dev_persesdatasources.yaml
  operators/perses-operator/0.1.1/metadata/annotations.yaml
  operators/perses-operator/0.1.1/tests/scorecard/config.yaml
  operators/perses-operator/ci.yaml
Labels: authorized-changes, package-validated, installation-validated, new-operator, allow/operator-recreate

#5789 operator flux-operator (0.15.0)
  operators/flux-operator/0.15.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.15.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.15.0/metadata/annotations.yaml
  operators/flux-operator/0.15.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5790 operator gitlab-operator-kubernetes (1.10.0)
  operators/gitlab-operator-kubernetes/1.10.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5796 operator clickhouse (0.24.4)
  operators/clickhouse/0.24.4/manifests/clickhouse-operator.v0.24.4.clusterserviceversion.yaml
  operators/clickhouse/0.24.4/manifests/clickhouseinstallations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.4/manifests/clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.4/manifests/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
  operators/clickhouse/0.24.4/manifests/clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
  operators/clickhouse/0.24.4/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5798 operator percona-server-mongodb-operator (1.19.1)
  operators/percona-server-mongodb-operator/1.19.1/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator/1.19.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator/1.19.1/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5802 operator flux-operator (0.16.0)
  operators/flux-operator/0.16.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.16.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.16.0/metadata/annotations.yaml
  operators/flux-operator/0.16.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5805 operator gitlab-operator-kubernetes (1.10.1)
  operators/gitlab-operator-kubernetes/1.10.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5808 operator hpe-csi-operator (2.5.2)
  operators/hpe-csi-operator/2.5.2/Dockerfile
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-hpecsidriver-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-hpecsidriver-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator.v2.5.2.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.2/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.2/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.2/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#2951 operator [N] yugabyte-operator (0.0.1)
  operators/yugabyte-operator/0.0.1/manifests/yugabytedb-operator.v0.0.1.clusterserviceversion.yaml
Labels: new-operator, allow/operator-recreate

#5813 operator flux-operator (0.17.0)
  operators/flux-operator/0.17.0/manifests/flux-operator.clusterserviceversion.yaml
  operators/flux-operator/0.17.0/manifests/flux-operator.service.yaml
  operators/flux-operator/0.17.0/manifests/fluxinstances.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/fluxreports.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/resourcesetinputproviders.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/manifests/resourcesets.fluxcd.controlplane.io.crd.yaml
  operators/flux-operator/0.17.0/metadata/annotations.yaml
  operators/flux-operator/0.17.0/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated

#5812 operator keycloak-operator (26.1.3)
  operators/keycloak-operator/26.1.3/bundle.Dockerfile
  operators/keycloak-operator/26.1.3/manifests/keycloak-operator.clusterserviceversion.yaml
  operators/keycloak-operator/26.1.3/manifests/keycloakrealmimports.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.3/manifests/keycloaks.k8s.keycloak.org-v1.crd.yml
  operators/keycloak-operator/26.1.3/metadata/annotations.yaml
Labels: authorized-changes, package-validated, installation-validated

#5814 operator cloudnative-pg (1.25.1)
  operators/cloudnative-pg/1.25.1/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-database-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-database-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-publication-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-publication-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-subscription-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-subscription-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.25.1/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_clusterimagecatalogs.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_databases.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_imagecatalogs.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_publications.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.25.1/manifests/postgresql.cnpg.io_subscriptions.yaml
  operators/cloudnative-pg/1.25.1/metadata/annotations.yaml
  operators/cloudnative-pg/1.25.1/tests/scorecard/config.yaml
Labels: authorized-changes, package-validated, installation-validated
